﻿@{
    ViewBag.Title = "FOCFulfillment - About Us";
    Layout = "_LayoutGuests";
}
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
<style>

    .reviewer-box {
        text-align: center; /* Center the image horizontally */
        margin-bottom: 20px; /* Add some spacing between divs */
    }

        .reviewer-box img {
            max-height: 300px; /* Set a common maximum height for all images */
            width: auto; /* Make the images responsive */
        }

        section, .section-t-space {padding-top:20px !important;}
</style>
</head>
<body>
    <div class="container">
        <div class="text-left pt-1">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1 class="text-capitalize mx-2">About Us</h1>
            </div>
        </div>
    </div>
    <!-- Fresh Vegetable Section Start -->
    <section class="fresh-vegetable-section ">
        <div class="container-fluid-lg">
            <div class="row gx-xl-5 gy-xl-0 g-3 ratio_148_1">
                <div class="col-xl-12 col-12">
                    <div class="fresh-contain p-center-left">
                        <div>
                             <div class="delivery-list">
                                <p class="text-content">
                                    Welcome to FOC, your trusted partner in the world of dropshipping! At FOC, we understand the challenges and complexities that come with running a successful dropshipping business. That's why we have made it our mission to provide you with top-notch services and support to help you thrive in this competitive industry.
                                </p> 
                                <p class="text-content">
                                    With years of experience in the e-commerce and Shopify training space, we have gained valuable insights into what it takes to succeed. We have carefully curated a team of experts who are passionate about helping you streamline your operations and maximize your profits.
                                </p>
                                <p class="text-content">
                                    Our fulfillment services are second to none. We have partnered with reliable suppliers and manufacturers to ensure that your products are sourced, stored, and shipped with utmost care and efficiency. From order processing to inventory management, we handle everything so you can focus on what you do best – growing your business.
                                </p>
                                <p class="text-contain">
                                    Transparency and communication are at the core of our values. We believe in building strong relationships with our clients, and we are committed to providing you with real-time updates and insights into your fulfillment process. Our user-friendly dashboard lets you easily track your orders, monitor inventory levels, and access detailed reports to make informed business decisions.
                                </p>
                                <p class="text-contain">
                                    But our commitment to your success doesn't stop there. We offer comprehensive training resources and educational materials to help you sharpen your skills and stay ahead of the curve. Our Shopify trainings are designed to empower you with the knowledge and strategies needed to drive traffic, convert customers, and scale your business to new heights.
                                </p>
                                <p class="text-contain">
                                    At FOC, we are more than just a fulfillment service provider – we are your trusted partner on this exciting journey. We are here to support you every step of the way, providing personalized assistance and guidance tailored to your unique needs.
                                </p>
                                <p class="text-contain">
                                    Join the FOC family today and experience the difference of working with a brand that truly cares about your success. Together, let's unlock the full potential of your dropshipping business and achieve remarkable results.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fresh Vegetable Section End -->
    <!-- Client Section Start -->
    <section class="client-section section-lg-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="about-us-title text-center">
                        <h4>What We Do</h4>
                        <h2 class="center">We are Trusted by Clients</h2>
                    </div>

                    <div class="slider-3_1 product-wrapper">
                        <div>
                            <div class="clint-contain">
                                <div class="client-icon">
                                    <img src="https://themes.pixelstrap.com/fastkart/assets/svg/3/work.svg" class="blur-up lazyload" alt="">
                                </div>
                                <h2>10</h2>
                                <h4>International Shopify Dropshipping</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus metus ac tellus laoreet maximus. Etiam nulla tellus, tincidunt quis mauris non, dignissim.
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="clint-contain">
                                <div class="client-icon">
                                    <img src="https://themes.pixelstrap.com/fastkart/assets/svg/3/buy.svg" class="blur-up lazyload" alt="">
                                </div>
                                <h2>80 K+</h2>
                                <h4>Local Shopify Dropshipping</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus metus ac tellus laoreet maximus. Etiam nulla tellus, tincidunt quis mauris non, dignissim.
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="clint-contain">
                                <div class="client-icon">
                                    <img src="https://themes.pixelstrap.com/fastkart/assets/svg/3/user.svg" class="blur-up lazyload" alt="">
                                </div>
                                <h2>90%</h2>
                                <h4>Amazon Private Label</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus metus ac tellus laoreet maximus. Etiam nulla tellus, tincidunt quis mauris non, dignissim. consectetur adipiscing elit. Sed faucibus metus ac

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Section End -->
  
    <!-- Review Section Start -->
    <section class="review-section section-lg-space">
        <div class="container-fluid">
            <div class="about-us-title text-center">
                <h4 class="text-content">Latest Testimonals</h4>
                <h2 class="center">What people say</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="slider-4-half product-wrapper">
                        <div>
                            <div class="reviewer-box">
                                @*  <div class="reviewer-box">
                                <div class="reviewer-image">
                                <img src="~/assets/images/review/64e511a09042c_reviewtwo-768x1032.png" class="blur-up lazyload" alt="">
                                </div>
                                </div>
                                *@
                                 <img src="~/assets/images/review/64e511a09042c_reviewtwo-768x1032.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                            <img src="~/assets/images/review/64e515ea4178c_review7-768x1111.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e516a93da52_review9-768x1111.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e517bcebbfd_review11-768x997.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e518d3d457e_review14-768x1104.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e519e46ebfe_review17-768x1090.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51a4429d93_review18-768x1087.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51be20a041_review22-768x1105.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51be20a041_review22-768x1105.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51c54eb3dc_review23-768x1108.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51ca71d8eb_review24-768x1083.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51cd90401a_review25-768x1116.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51d3e18789_review26-768x1111.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51de2e737a_review27-768x1108.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51e1894b6f_review28-768x1116.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51e4b4d58c_review29-768x1112.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51e9e2e394_review30-768x1094.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51edbbe808_review31-768x1092.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51f0c0ccc7_review32-768x1093.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51f54582a5_review33-768x1101.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e51f94ee514_review34-768x520.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>

                        <div>
                            <div class="reviewer-box">
                                <img src="~/assets/images/review/64e559de99d6c_reviewsone-768x1092.png" class="blur-up lazyload" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Review Section End -->
   
    <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                    <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="location-list">
                        <div class="search-input">
                            <input type="search" class="form-control" placeholder="Search Your Area">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="disabled-box">
                            <h6>Select a Location</h6>
                        </div>

                        <ul class="location-select custom-height">
                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Alabama</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Arizona</h6>
                                    <span>Min: $150</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>California</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Colorado</h6>
                                    <span>Min: $140</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Florida</h6>
                                    <span>Min: $160</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Georgia</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Kansas</h6>
                                    <span>Min: $170</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Minnesota</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>New York</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Washington</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Modal End -->
    <!-- Deal Box Modal Start -->
    <div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                        <p class="mt-1 text-content">Recommended deals for you.</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="deal-offer-box">
                        <ul class="deal-offer-list">
                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-2">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-3">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal Box Modal End -->
    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="setting-box">
            <div class="theme-setting-2">
                <div class="theme-box">
                    <ul>
                        <li>
                            <div class="setting-name">
                                <h4>Color</h4>
                            </div>
                            <div class="theme-setting-button color-picker">
                                <form class="form-control">
                                    <label for="colorPick" class="form-label mb-0">Theme Color</label>
                                    <input type="color" class="form-control form-control-color" id="colorPick"
                                           value="#0da487" title="Choose your color">
                                </form>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>Dark</h4>
                            </div>
                            <div class="theme-setting-button">
                                <button class="btn btn-2 outline" id="darkButton">Dark</button>
                                <button class="btn btn-2 unline" id="lightButton">Light</button>
                            </div>
                        </li>

                        <li>
                            <div class="setting-name">
                                <h4>RTL</h4>
                            </div>
                            <div class="theme-setting-button rtl">
                                <button class="btn btn-2 rtl-unline">LTR</button>
                                <button class="btn btn-2 rtl-outline">RTL</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->

</body>


