﻿@{
    ViewBag.Title = "FOCFulfillment - Authorization Failed";
    Layout = "_LayoutGuests";
}

<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <h3>You don't have permissions to perform this action.</h3>
            <p></p>
            <p>Please contact your administrator if you are having trouble.</p>
        </div>
    </div>
</div>

