﻿@{
    Layout = "_LayoutGuests";
    ViewBag.Title = "FOCFulfillment - China Sourcing";
}
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
    <link href="https://fonts.cdnfonts.com/css/womby" rel="stylesheet">
</head>
<div>
    <div class="local-china-1 container-fluid text-center">
        <div class="row local-china-1-text animate-heading">
            <h1>China Sourcing</h1>
        </div>
        <div class="row">
            <div class="ivan-button-align text-center landing-button">
                <span class="vc_1696599893716">
                    <a asp-action="Quotation" asp-controller="Seller" class="dt-sc-button button-3d " data-wow-delay="0ms" data-wow-iteration="1">Get a Quote</a>
                </span>
            </div>
        </div>



    </div>
    <div class="local-china-2 container-fluid text-center">
        <div class=" container">


            @* <div class="row" >
            <div class="col animate-heading-2">
            <h2>Local Sourcing</h2>
            </div>
            </div> *@
            <div class="row">
                <div class="col">
                    <p>
                        FOC will help you source bulk inventory from China to gain the highest level of margins. We are providing the most cost-effecting solution by making it possible to you to get premium quality product from Chinese factories directly added in your inventory in the lowest prices that you did not imagine. No need to worry about language barriers and quality control issues, when we have built relations with Chinese manufacturers to ensure the success of your Dropshipping business.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="local-china-3 container-fluid text-left">
        <div class=" container">


            <div class="row">
                <div class="col animate-heading-4 text-center">
                    <h2>Why do you need this</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row local-3-row">
                        <div class="col">

                            <h2>1.</h2>
                            <p>
                                Cost-Effective Products: China is known for its competitive manufacturing costs, which can result in lower product prices. This can be especially attractive for customers looking for scaling their business to the next level.
                            </p>
                        </div>
                        <div class="col">
                            <h2>2.</h2>
                            <p>
                                Wide Product Variety: China offers a vast range of products that no one can find in Pakistan, first mover advantage making it easier to sell a variety of items in your Dropshipping store, catering to a broader customer base.
                            </p>
                        </div>
                        <div class="col">
                            <h2>3.</h2>
                            <p>
                                Scalability: China's vast production capacity allows you to scale your Dropshipping business in competitive budget easily as your customer base grows.
                            </p>
                        </div>

                    </div>

                    <div class="row local-3-row justify-content-center">
                        <div class="col-sm-4">
                            <h2>4.</h2>
                            <p>
                                Global Shipping: China has well-established international shipping networks, making it possible to reach customers in Pakistan efficiently.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h2>5.</h2>
                            <p>
                                Customization and Private Labeling: Chinese suppliers often offer customization and private labeling services, allowing you to create unique products or build your brand.
                            </p>
                        </div>
                        @* <div class="col">
                        <h2>6.</h2>
                        <p>
                        Market-Specific Products: Local sourcing allows you to offer region-specific or culturally relevant products that can be attractive to your target market.
                        </p>
                        </div> *@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>