﻿@{
    Layout = "_LayoutGuests";
    ViewBag.Title = "FOCFulfillment - Fulfillment";
}
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
    <link href="https://fonts.cdnfonts.com/css/womby" rel="stylesheet">

</head>
<div>
    <div class="local-china-1 container-fluid text-center ">
        <div class="row local-china-1-text animate-heading">
            <h1>Fulfillment</h1>
        </div>
    </div>



</div>
<div class="local-china-2 container-fluid text-center fulfill-1">
    <div class=" container">


        @* <div class="row" >
        <div class="col animate-heading-2">
        <h2>Local Sourcing</h2>
        </div>
        </div> *@
        <div class="row">
            <div class="col">
                <p style="
    max-width: 900px;
">
                    The FOCF Fulfillment Monthly subscription fee is 3,500 PKR and we provide the lowest delivery charges and product prices, also we have employed a huge team of support members to ensure that the return ratio remains under 15%.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="local-china-3 container-fluid text-center fulfill-h-p">
    <div class=" container animate-heading-4">

        <div class="row">
            <div class="container">
                <img style="max-width:980px; width:-webkit-fill-available" src="/assets/images/landing-page/Landing-page-workflow.jpeg">
            </div>
     
            <div class=" justify-content-center local-3-row fulfill-2-row mt-4">


                <h2>Step 1</h2>
                <p>
                    You placed an order in your dashboard
                </p>
            </div>
            <div class=" local-3-row fulfill-2-row">



                <h2>step 2</h2>
                <p>
                    As soon as your order is placed our support staff calls the customer for order confirmation, if the order is confirmed, the product will be packed, labeled and shipped to the customer the same day.
                </p>

            </div>
            <div class=" local-3-row fulfill-2-row">

                <h2>step 3</h2>
                <p>
                    If a customer doesn’t picks up the call, he will be called 2-3 times the first day, and again 2-3 times the second day, Along with WhatsApp messages, Even If there is a 10% chance of order confirmation our support staff will ensure that it gets confirmed so that you are not charged for an avoidable failed delivery.
                </p>
            </div>



            <div class=" local-3-row fulfill-2-row">

                <h2>step 4</h2>
                <p>
                    : After trying for two days if the order doesn’t gets confirmed its cancelled without any charges as it got cancelled on call, There was no delivery attempt hence there will be no negative charges
                </p>
            </div>
            <div class=" local-3-row fulfill-2-row">

                <h2>step 5</h2>
                <p>
                    On confirmed orders the Tracking is shared with the customer the very next day, All of his concerns regarding product and delivery are cleared, Customer communication is important as it reduces the failed deliveries, We have employed the whole support staff for this purpose to ensure the customer is fully satisfied, well taken care of as the biggest hurdle in local market is huge returns/failed deliveries.
                </p>
            </div>
            <div class=" local-3-row fulfill-2-row">
                <h2>step 6</h2>
                <p>
                    You will receive payment from us after a week as soon as the courier clears our payment, We offer quick withdrawals so that your cash flow is not hurt, And you can repeat 2-3 payment cycles in a month, In this way even with a very small inventory you are able to withdraw your investment along with profits every week.
                    </br>
                    </br>
                    We focus a lot on Top notch customer services, Quick Re stock of inventories and Fast withdrawals so that Our customers can start with lowest investment.
                </p>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid fulfill-3 text-center">
    <div class="row fulfill-2-row animate-heading-5">
        <div>
            <h2>
                Delivery Charges

            </h2>
        </div>
        <div>
            <p>
                We Only charge from our members what couriers charge us, We don’t keep profits in delivery to maximize our members profit as delivery charges can have huge impact on your profitability. our delivery charges will be 200Pkr below 1kg on every order.

            </p>
        </div>

    </div>
</div>
