﻿@{
    Layout = "_LayoutGuests";
    ViewBag.Title = "FOCFulfillment - Guidelines";
}
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
</head>
<div class="container">
    <div class="text-left pt-1">
        <div class="row login-heading local-china-1-text animate-heading-6">
            <h1 class="text-capitalize">Guidelines</h1>
        </div>
    </div>
</div>
<br />

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h3 class="blog-detail d-block text-center text-dark">FOCFulfillment channel</h3>
            <br />
            <div class="slick-initialized">
                    <div class="blog-box">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/v0t0iuuPzTA?si=x8HRmpGKqGvKx_i4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="blog-detail d-block text-center text-dark">How to source product for amazon</h3>
            <br />
            <div class="slick-initialized">
                    <div class="blog-box">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/t1QuYXcPgPE?si=y7rGuMxCtgdUmo04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
            </div>             
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            <h3 class="blog-detail d-block text-center mt-3 text-dark">Intro to shopify dropshipping training</h3>
            <br />
            <div class="slick-initialized mt-2">
                <div class="blog-box">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fK86RQo2t_Q?si=Vzya4uGjQbwoFh06" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="blog-detail d-block text-center text-dark">Campaign analysis of my store with actual data for Interest targeting campaigns</h3>
            <br />
            <div class="slick-initialized">
                <div class="blog-box">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mpar_dXSkRQ?si=-fkZcGqY8Kpa1y_F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />