﻿@{
    ViewBag.Title = "FOCFulfillment";
    Layout = "_LayoutGuests";
}
<head>
    <link rel="stylesheet" href="../assets/css/landing-page.css">
    <link href="https://fonts.cdnfonts.com/css/womby" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/path/to/parallax.js"></script>

    <style>
        header .navbar {
            padding-top: 10px;
        }
        .font{
            font-weight:bold;
        }
    </style>
</head>
<div>
    @* data-image-src="https://bachao.pk/wp-content/uploads/2016/09/man-phone-pen.jpg" *@
    @* <div class="row bg-image parallax-window data-parallax="  scroll" > *@
    <div class="row bg-image parallax-window" data-parallax="scroll" style="background-color:black;">
        <div class="col container">
            <div class="row landing-heading animate-heading">
                <h1>
                    We are expert in sourcing products from Local manufacturers &
                    <span class="">Chinese</span>
                    factories in best possible rates and deliver it to your customers in <span class="">shortest time.</span>
                </h1>
            </div>
            <div class="row">
                <div class="ivan-button-align text-center landing-button">
                    <span class="vc_1696599893716">
                        <a asp-action="Quotation" asp-controller="Seller" class="dt-sc-button button-3d " data-wow-delay="0ms" data-wow-iteration="1">Get a Quote</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="continer-fluid landing-2-main">
        <div class="row landing-2">
            <div class="col landing-cols">
                <div class="row" style=" padding-left: 20px;">
                    <iframe width="1000" height="562.5" src="https://www.youtube.com/embed/7AN4jKTJtbE?si=yduMpSkZ-hGaVCud" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col landing-cols-2">
                <div class="vc_col-sm-9 vc_col-md-6 wpb_column vc_column_container  wow  fadeInUp vc_custom_1698491715473  animated" data-wow-delay="150ms" data-wow-iteration="1" style="visibility: visible; animation-delay: 150ms; animation-iteration-count: 1;">
                    <div class="wpb_wrapper">
                        <div class="ivan-title-main vc_1696678530388 " data-wow-delay="0ms" data-wow-iteration="1">
                            <div class="ivan-title-wrapper  left">
                                <div class="title-wrapper  default-display animate-heading-2">
                                    <h6 class="sub">WHAT WE DO</h6>
                                    <h2 class="title-heading"><span class="underline-text-color2">WHO ARE WE.</span></h2>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_text_column  wpb_content_element-1 ">
                            <div class="wpb_wrapper">
                                <p>FOC believes in empowering all the new & established entrepreneurs by providing sourcing & fulfillment services, for building successful Shopify businesses. Our expertise lies in sourcing top quality products from Local manufacturers & Chinese factories at the very best rates, and deliver to exceptional customers on their doorsteps in responsive & fastest ways. Our commitment is to enable our vendors to achieve high-profit margins and success in the e-commerce landscape. </p>
                            </div>
                        </div>
                        <div class="vc_empty_space" style="height: 40px"><span class="vc_empty_space_inner"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#ededed;" class="container-fluid text-center animate-heading-4">
        <div class="landing-service">


            <div class="row">
                <h2>
                    How our Fulfillment services work
                </h2>
            </div>
            <div class="row container-fluid d-flex">
                <div class="row container" style="">
                    <div class="col ps-5 pt-3">
                        <p class="ps-5 font">
                            We believe in providing solutions to all your delayed shipping problems with excellence. We are responsive to make couple of phone calls before &amp; after delivering to all your customers to ensure lowest return ratio. Our delivery network is fast, reliable and deliver your orders with safety. Our main focus is to maximize your profits through our operations and be there to respond to your problems 24/7.
                        </p>
                    </div>
                    <div class="landing-service-image col">
                        <img src="/assets/images/landing-page/foc-img-3.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="landing-workflow animate-heading-1 container-fluid text-center">
            <div class="row">
                <h2>FOC workflow</h2>
            </div>
            <div class="row">
                <div>
                    <img src="/assets/images/landing-page/Landing-page-workflow.jpeg">
                </div>
                <div>
                    <p>Hunt products from Daraz  Get a quotation from FOC  Order test inventory for Rs. 10,000    We buy from local manufacturers in lowest possible rates  Manage & handle stock  Orders Filfillment  Inventory restock in 2-3 days  Source from China for highest profits margins.  </p>
                </div>
            </div>
        </div>
    </div>

    <div class="landing-5" style="background-color:#ededed;">
        <div style="margin-left: auto;margin-right: auto;max-width: fit-content;">
            <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="container-fluid vc_row row wpb_row vc_row-fluid vc_custom_1535664220910 vc_row-no-padding vc_row-o-equal-height vc_row-flex" style="position: relative; box-sizing: border-box; max-width: 1903px;">
                <div class="col-sm-4 wpb_column vc_column_container  wow  fadeInUp vc_custom_1491393101822" data-wow-delay="0ms" data-wow-iteration="1" style="visibility: visible; animation-delay: 0ms; animation-iteration-count: 1;">
                    <div class="wpb_wrapper-div">

                        <div class="wpb_text_column wpb_content_element-h animate-heading-1 ">
                            <div class="wpb_wrapper">
                                <h3>Sourcing in genuine wholesale price</h3>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element-h ">
                            <div class="wpb_wrapper">
                                <p>
                                    Hunt a product from Daraz or any local channel. We will buy it for you in the lowest price and make the stock available swiftly in our warehouse in just 2 to 3 days. We believe in dealing with quality producers, whether be in local market or in China.
                                </p>

                            </div>
                        </div>
                    </div> <!-- END .wpb_wrapper -->
                </div> <!-- END  wpb_column vc_column_container  wow animated fadeInUp -->

                <div class="col-sm-4 wpb_column vc_column_container  wow  fadeInUp vc_custom_1535664203757" data-wow-delay="200ms" data-wow-iteration="1" style="visibility: visible; animation-delay: 200ms; animation-iteration-count: 1;">
                    <div class="wpb_wrapper-div">

                        <div class="wpb_text_column wpb_content_element-h animate-heading-1">
                            <div class="wpb_wrapper">
                                <h3>Fastest and lowest rates Shipping</h3>
                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element-h ">
                            <div class="wpb_wrapper">
                                <p>
                                    We have built a shipping network with the best & most reliable courier services in Pakistan to provide the fastest deliveries with lowest charges to all customers. We won’t charge you any additional amount and will give you the same delivery rates that we get from courier services.
                                </p>

                            </div>
                        </div>
                    </div> <!-- END .wpb_wrapper -->
                </div> <!-- END  wpb_column vc_column_container  wow animated fadeInUp -->

                <div class="col-sm-4  wpb_column vc_column_container  wow  fadeInUp vc_custom_1491393120559" data-wow-delay="400ms" data-wow-iteration="1" style="visibility: visible; animation-delay: 400ms; animation-iteration-count: 1;">
                    <div class="wpb_wrapper-div">
                        <div class="wpb_text_column wpb_content_element-h animate-heading-1">
                            <div class="wpb_wrapper">
                                <h3>Automated portal to place orders</h3>

                            </div>
                        </div>
                        <div class="wpb_text_column wpb_content_element-h ">
                            <div class="wpb_wrapper">
                                <p>
                                    We have designed automated portal that will connect with your shopify store and you can place order with a single click to avoid any hustle. Our portal is also synced with all courier partners to give real time delivery status for all your orders.
                                </p>

                            </div>
                        </div>

                    </div> <!-- END .wpb_wrapper -->
                </div> <!-- END  wpb_column vc_column_container  wow animated fadeInUp -->
            </div>
            <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="container-fluid vc_row row wpb_row vc_row-fluid vc_custom_1535664228672 vc_row-no-padding vc_row-o-equal-height vc_row-flex" style="position: relative; box-sizing: border-box; max-width: 1903px;">
                <div class="col-sm-4 wpb_column vc_column_container  wow  fadeInUp vc_custom_1491393128784  animated" data-wow-delay="0ms" data-wow-iteration="1" style="visibility: visible; animation-delay: 0ms; animation-iteration-count: 1;">
                    <div class="wpb_wrapper-div">

                        <div class="wpb_text_column wpb_content_element-h animate-heading-1">
                            <div class="wpb_wrapper">
                                <h3>Confirmations before & after Order dispatch</h3>

                            </div>
                        </div>

                        <div class="wpb_text_column wpb_content_element-h ">
                            <div class="wpb_wrapper">
                                <p>
                                    To ensure lowest return ratio, we make calls to customers 2-3 times on your behalf to confirm their availability. We share order tracking with the customer as soon as order is dispatched to give customers real time updates on their shipments. You can also track shipments on our portal as soon as they are dispatched.
                                </p>
                            </div>
                        </div>

                    </div> <!-- END .wpb_wrapper -->
                </div> <!-- END  wpb_column vc_column_container  wow animated fadeInUp -->

                <div class="col-sm-4 wpb_column vc_column_container  wow  fadeInUp vc_custom_1535664213871  animated" data-wow-delay="200ms" data-wow-iteration="1" style="visibility: visible; animation-delay: 200ms; animation-iteration-count: 1;">
                    <div class="wpb_wrapper-div">

                        <div class="wpb_text_column wpb_content_element-h animate-heading-1">
                            <div class="wpb_wrapper">
                                <h3>NO CHARGES ON CANCELLED ORDER </h3>
                            </div>
                        </div>

                        <div class="wpb_text_column wpb_content_element-h ">
                            <div class="wpb_wrapper">
                                <p>
                                    If any customer is doubtful about the order confirmation and not ready to accept it, we cancel the order to avoid returns & delivery charges that may cause a loss to your business. Unlike other fulfillment services, we won’t charge you delivery cost for any cancelled order.
                                </p>

                            </div>
                        </div>

                    </div> <!-- END .wpb_wrapper -->
                </div> <!-- END  wpb_column vc_column_container  wow animated fadeInUp -->

                <div class="col-sm-4 wpb_column vc_column_container  wow  fadeInUp vc_custom_1491393139757  animated" data-wow-delay="400ms" data-wow-iteration="1" style="visibility: visible; animation-delay: 400ms; animation-iteration-count: 1;">
                    <div class="wpb_wrapper-div">

                        <div class="wpb_text_column wpb_content_element-h animate-heading-1">
                            <div class="wpb_wrapper">
                                <h3>Restock inventory in 2-3 days</h3>

                            </div>
                        </div>

                        <div class="wpb_text_column wpb_content_element-h ">
                            <div class="wpb_wrapper">
                                <p>You can start with low inventory as we restock quickly. This will allow you to invest as low as PKR 10,000 to test the profitability of product. Reorder the next inventory and we will get it stocked in our warehouse in just 2-3 days. </p>

                            </div>
                        </div>

                    </div> <!-- END .wpb_wrapper -->
                </div> <!-- END  wpb_column vc_column_container  wow animated fadeInUp -->
            </div>
            <div class="col-sm-4 offset-md-4 wpb_column vc_column_container  wow  fadeInUp vc_custom_1491393139757  animated" data-wow-delay="400ms" data-wow-iteration="1" style="visibility: visible; animation-delay: 400ms; animation-iteration-count: 1;">
                <div class="wpb_wrapper-div" style="padding-right: 10% !important;padding-left: 7% !important;">
                    <div class="wpb_text_column wpb_content_element-h animate-heading-1">
                        <div class="wpb_wrapper">
                            <h3>
                                Weekly withdrawals

                            </h3>

                        </div>
                    </div>

                    <div class="wpb_text_column wpb_content_element-h">
                        <div class="wpb_wrapper">
                            <p>We provide safe & secure withdrawals directly to your bank account on weekly basis, so you could quickly recover your investments through your profits. To make it simple, you can request withdrawal on our portal with just one click. </p>

                        </div>
                    </div>

                </div> <!-- END .wpb_wrapper -->
            </div>
        </div>
    </div>

    <section class="faq-box-contain ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="p-3 mb-4 text-center landing-faq-heading animate-heading-4">
                        <h2 style="color:#0da487">Frequently Asked <span class="underline-text-color2">Questions</span></h2>
                    </div>
                    <div class="faq-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How FOCFulfillment Works?<i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We offer the lowest wholesale prices locally and from china, All you have to do is just order the inventory we will buy the inventory for you, Fulfill the orders, handle customer support, Handle Returns, Provide top notch delivery services with a guaranteed  return rate under 15%.
                                        </p>
                                        <p>
                                            Our minimum order Value is just 10,000 PKR, We re-stock within 2-3 days so that you don’t have to buy a huge inventory.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How To Start Working With FOCFulfillment?
                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            You can get a Quotation of your product from us, You will receive the guaranteed lowest possible wholesale price within 24 hrs., You can order the inventory with as low as 10,000 PKR to your door step If you want to fulfill the orders yourself, OR even better we can store the inventory for you and also do the fulfillment for you.
                                            The inventory re-stock time is just 2-3 days.
                                            The quotation charges are 1000 PKR so that only serious members ask for a quotation, As soon as you order the inventory the quotation Fee will be refunded right away.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        Can You Explain How Do FOCFulfillment Fulfill my orders?
                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The FOCFulfillment Monthly subscription fee is 3500 PKR  and we provide the lowest delivery charges and product prices, Also we have employed a huge team of support members to ensure that the return ratio remains under 15%.
                                            <br>
                                            <b> Step 1:</b> You placed an order in your dashboard.
                                            <br>
                                            <b> Step 2:</b> As soon as your order is placed our support staff calls the customer for order confirmation, If the order is confirmed, The product will be packed, labeled and shipped to the customer the same day.
                                            <br>
                                            <b> Step 3:</b> If a customer doesn’t picks up the call, he will be called 2-3 times the first day, and again 2-3 times the second day, Along with WhatsApp messages, Even If there is a 10% chance of order confirmation our support staff will ensure that it gets confirmed so that You are not charged for an avoidable failed delivery.
                                            <br>
                                            <b> Step 4:</b> After trying for two days if the order doesn’t gets confirmed its cancelled without any charges as it got cancelled on call, There was no delivery attempt hence there will be no negative charges
                                            <br>
                                            <b> Step 5:</b> On confirmed orders the Tracking is shared with the customer the very next day, All of his concerns regarding product and delivery are cleared, Customer communication is important as it reduces the failed deliveries, We have employed the whole support staff for this purpose to ensure the customer is fully satisfied, well taken care of as the biggest hurdle in local market is huge returns/failed deliveries.
                                            <br>
                                            <b> Step 6:</b> You will receive payment from us after a week as soon as the courier clears our payment, We offer quick withdrawals so that your cash flow is not hurt, And you can repeat 2-3 payment cycles in a month, In this way even with a very small inventory you are able to withdraw your investment along with profits every week.
                                            <br>
                                            We focus alot on Top notch customer services, Quick Re stock of inventories and Fast withdrawals so that Our customers can start with  lowest investment.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="true"
                                            aria-controls="collapseFour">
                                        If I order the inventory in how many days It will be Re-stocked at FOCFulfillment?
                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Inventories are re stocked in 2-3 days, You can order a small inventory, sell it, re stock, sell and re stock, you can repeat this cycle for at least 2-3 times a month.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                        What is the Minimum Budget I should have to order the inventory locally?<i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The minimum order value is 10,000 pkr, We kept it at lowest possible so that you can order your inventories even if you are limited on budget.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        What is FOCFulfillment Delivery Charges?
                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            We Only charge from our members what couriers charge us, We don’t keep profits in delivery to maximize our members profit as delivery charges can have huge impact on your profitability.
                                            our delivery charges will be 200Pkr below 1kg on every order.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSeven" aria-expanded="true"
                                            aria-controls="collapseSeven">
                                        Will I be Charged for Orders getting cancelled on Calls?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse"
                                     aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            No, you will not be charged for orders getting cancelled on calls.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        Can I put my brand name on packaging?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Yes you can print your brand name, or can even insert Gift Cards in every order to build a brand presence, Your parcels will be delivered by your brand name.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        What is an Average Delivery Time for FOCFulfillment?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Orders are delivers within 3-5 days, Normally in cities the average delivery time is within 2-3 days.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                        Do I Need to Open the Courier Accounts?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            No, You don’t need to open the courier accounts we will handle all the shipments, The whole purpose of FOCFulfillment is to provide you the top notch A TO Z services, All you need to do is just order the inventory and rest everything will be taken care by us.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEleven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        Does FOCFulfillment handle Returns ?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Yes, A customer can return the parcel back to us if its faulty, damaged or wrong product, But its very less likely as we check each and every parcel before delivering to the customer to ensure its in perfect condition and is exactly the product which customer ordered for.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwelve">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                        How do I receive the Payments ?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            You will receive the payments as soon as the courier settles the amounts every week, We don’t hold payments of our members as we know cash flow is very important in this business.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThirteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                        How Can I get my Inventory from China?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            You can also order inventory from china  and it will be delivered to your  door step or you can again use  own fulfillment channel, Here is the Step by Step process
                                            <br>
                                            <b>Step 1:</b> Take a quotation from us for china the quotation fee is 5,000 pkr which will be refunded back to you once your order the inventory, We will give you the lowest ever possible end to end cost from China to Pakistan.
                                            <br>
                                            <b>Step 2:</b> You can either fulfill yourself or you can use our fulfillment channel and have the inventory deliver to our warehouse.
                                            <br>
                                            <b>A tip:</b> If you are already selling a product for at least a month then its ideal to take the quotation of your product from us for China to maximize your profits, We have some times observed even 200% more profits as compared to local Sourcing, But do keep in mind that product should be small and light so that its Air Shippable as it takes 15-20 days for the inventory to reach via AIR.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFourteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                        How Long Does it take for my Inventory to Reach from China to Pakistan?
                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            <b>Via AIR:</b>  It takes 15-20 Days
                                            <br>
                                            <b>Via Sea:</b>  It takes 2 months approx.
                                            <br>
                                            Currently the Air shipping rate is 11$/kg and Sea shipping is 4$/kg, As you can see there is a huge difference in freight cost between sea and air but sea shipping takes way more time then air, It all depends upon your budget and product, If your product is seasonal or has shorter life span we would recommend air shipping rather then sea but for products in which you have consistent sales for at least 2 months you can use the sea shipping option.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFifteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                        Do I need to Pay the Custom and clear my inventory at port?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            No, It will be done by us, All you need to do is just wait for your shipment to arrive.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSixteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                        What is the Minimum Budget I should have to order the inventory from China?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            You should have at least 90k to 1 lac PKR in order to order the inventory from China.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        What is an Average Delivery Time for FOCFulfillment?

                                        <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Orders are delivers within 3-5 days, Normally in cities the average delivery time is within 2-3 days.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>