﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Layout = "_LayoutForGuidelines";
    ViewBag.Title = "FOCFulfillment - Local Sourcing";
    Layout = "_LayoutGuests";
}
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
   
    <link href="https://fonts.cdnfonts.com/css/womby" rel="stylesheet">
    
</head>
<div>
    <div class="local-china-1 container-fluid text-center">
        <div class="row local-china-1-text animate-heading">
            <h1>Local Sourcing</h1>
         </div>
        <div class="row">
            <div class="ivan-button-align text-center landing-button">
                <span class="vc_1696599893716">
                    <a asp-action="Quotation" asp-controller="Seller" class="dt-sc-button button-3d " data-wow-delay="0ms" data-wow-iteration="1">Get a Quote</a>
                </span>
            </div>
        </div>



    </div>
    <div class="local-china-2 container-fluid text-center">
        <div class=" container">

        
        @* <div class="row" >
            <div class="col animate-heading-2">
                <h2>Local Sourcing</h2>
            </div>
        </div> *@
        <div class="row">
            <div class="col">
                <p>
                    Sourcing your inventory from local market will help you gain higher profit margins. FOC will help you buy the premium quality products in genuine wholesale price, and we will take care of the fulfillment by offering the lowest delivery charges in market. FOC believes in making the entire process hassle-free and effortless for you. Your satisfaction is our commitment.
                </p>
            </div>
        </div>
        </div>
    </div>
    <div class="local-china-3 container-fluid text-left">
        <div class=" container">


            <div class="row">
                <div class="col animate-heading-4 text-center">
                    <h2>Why do you need this:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row local-3-row">
                        <div class="col">
                    
                    <h2>1.</h2>
                    <p>
                        Faster Shipping Times: When you source products locally, you can get the inventory restock in 2 to 3 days in order to deliver them to your customers more quickly. This can lead to higher customer satisfaction and potentially more repeat business.
                    </p>
                        </div>
                        <div class="col">
                    <h2>2.</h2>
                    <p>
                    Lower Shipping Costs: Domestic shipping is typically cheaper than international shipping, which can help you save on shipping expenses and make your prices more competitive.
                    </p>
                        </div>
                        <div class="col">
                    <h2>3.</h2>
                    <p>
                    Improved Quality Control: When you have a local source for your products, it's easier to maintain quality control and ensure that the products meet your standards.
                    </p>
                        </div>
                        
                    </div>

                    <div class="row local-3-row">
                        <div class="col">
                    <h2>4.</h2>
                    <p>
                    Better Communication: Dealing with local suppliers can lead to smoother communication, which can be crucial in resolving any issues or making custom orders.
                    </p>
                        </div>
                        <div class="col">
                    <h2>5.</h2>
                    <p>
                    Inventory Management: Having local wholesale inventory can give you better control over stock levels by chosing FOC and reduce the risk of running out of popular items.
                    </p>
                    </div>
                        <div class="col">
                    <h2>6.</h2>
                    <p>
                    Market-Specific Products: Local sourcing allows you to offer region-specific or culturally relevant products that can be attractive to your target market.
                    </p>
                        </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

