﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Dear <b>{{UserName}}</b>,
        <br />
        <br />
        This is to inform you that your account has been disabled due to negative balance. Your current balance is Rs -/ {{Amount}}. 
        <br>
        Please contact FOC support at 0327-8860192 to reactivate your account. Thanks
        <br />
    </p>
    <br />
    <p class="signature">Best Regards,<br>FOCFulfillment</p>
</body>
</html>