﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Hello <b>{{UserName}}</b>,
        <br />
        <br />
        This is to inform you that your account as been disabled. Please contact<a href="{{Link}}" style="color:#0da487"> support@focfulfillment.com</a>
        <br />
    </p>
    <br />
    <p class="signature">Best Regards,<br>FOCFulfillment</p>
</body>
</html>