﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Hello <b>{{UserName}}</b>,
        <br />
        <br />
        This is to inform you that your account as been enabled. Please <a href="{{Link}}" style="color:#0da487"><b>Click Here</b></a> to login
        <br />
    </p>
    <br />
    <p class="signature">Best Regards,<br>FOCFulfillment</p>

</body>
</html>