﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/bootstrap.css">
    <style>
        /* Add some basic styling here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .forgot-password-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            text-align: center;
        }

        input[type="email"] {
            height:25px;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right:10px;
        }

        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="forgot-password-form">
        <h2>Forgot Password</h2>
        <p>Enter your email address to reset your password.</p>
        <form action="UpdateSellerPassword" method="POST">
            <input type="email" name="email" placeholder="Enter your email address" style="height:25px;margin-right:10px;" required>
            <a href="{{Link}}" style="background-color: #0da487; color: white; padding: 10px; text-decoration: none; border-radius: 5px;">Reset Password</a>
            <br />
            <p class="signature">Best Regards,<br>FOCFulfillment</p>
        </form>
    </div>
</body>
</html>
