﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <p>
        Hello <b>{{UserName}}</b>,
        <br />
        <br />
        Welcome to FOCFulfillment!
        <br />
        Thank you for registering yourself with Us. Please<a href="{{Link}}" style="color:#0da487"> <b>Click Here</b> </a> to verify your email address.
    </p>
    <p class="signature">Best Regards,<br>FOCFulfillment</p>
</body>
</html> 