﻿@using LocalDropshipping.Web.Data.Entities;
@model List<InventoryAssign>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Product Name</th>
                <th>Store Name</th>
                <th>Quantity</th>
                <th>Price In PKR</th>
                <th>Comments</th>
            </tr>
        </thead>
    </table>

    <div id="inventoryTable">
        <table class="table table-striped">
            <tbody>
                @foreach (var assign in Model)
                {
                    <tr>
                        <td>
                            <input type="radio" name="selectedForms" value="" />
                            <input type="hidden" id="UserId" name="UserId" value="@assign.UserId" />
                            <input type="hidden" id="ProductId" name="ProductId" value="@assign.ProductId" />
                            <input type="hidden" id="Id" name="Id" value="@assign.Id" />
                            <input type="hidden" id="Sourcing" name="Sourcing" value="@assign.Sourcing" />
                            <input type="hidden" id="VariantId" name="VariantId" value="@assign.VariantId" />
                        </td>
                        @* <td>
                            <div class="searchContainer">
                                <input type="search" placeholder="Search Product Name" class="form-control productNameInput" name="ProductName" value="@assign.ProductName" />
                            </div>
                            <ul class="searchResults" style="display: none;"></ul>
                        </td> *@
                        <td>
                            <div class="searchContainer">
                                <ul class="searchResults" style="display: none;"></ul>
                                <input type="search" placeholder="Search Product Name" class="form-control productNameInput" name="ProductName" value="@assign.ProductName" />
                            </div>
                            
                        </td>
                        <td>
                            <input type="text" placeholder="Store Name" class="form-control" name="StoreName" value="@assign.StoreName" readonly />
                            <input type="hidden" class="storeName" value="@assign.StoreName" />
                        </td>
                        <td>
                            <input type="number" placeholder="Quantity" class="form-control" name="Quantity" value="@assign.Quantity" readonly />
                        </td>
                        <td>
                            <input type="number" placeholder="Price" class="form-control" name="Price" value="@assign.Price" readonly />
                        </td>
                        <td>
                            <textarea placeholder="Comments" class="form-control large-textarea" cols="20" name="comments" readonly>@assign.Comments</textarea>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a id="addNewRow" class="add-new-link">Add New</a>
</div>

<style>
    .add-new-link {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 800;
        text-decoration: underline;
        cursor: pointer;
        display: inline-block;
        color: var(--theme-color);
    }

    .large-textarea {
        height: 70px;
        width: calc(100% - 0px);
    }

  /*   .searchContainer {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .searchResults {
        position: absolute;
        z-index: 1;
        top: 40%;
        left: 65px;
        background-color: #fff;
        border-radius: 3px;
        width: 50%;
        max-height: 200px;
        overflow-y: auto;
        padding: 0;
        margin: 5px 0 0 0;
        display: none;
    }

    .searchResults li {
        list-style: none;
        padding: 4px 8px;
        cursor: pointer;
    }

    .searchResults div {
        padding: 10px 3px;
        font-weight: 700;
    }

    .searchResults div:hover {
        background-color: #f0f0f0;
        color: var(--theme-color);
    } */


    .searchContainer {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .searchResults {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: -5px;
        background-color: #fff;
        border-radius: 3px;
        max-height: 200px;
        overflow-y: auto;
        max-width: 420px;
        padding: 0;
        margin: 5px 0 0 0;
        background-color: #f8f8f8;
        display: none;
        box-shadow: 1px 8px 15px #bab8b8;
    }

        .searchResults li {
            list-style: none;
            padding: 4px 8px;
            cursor: pointer;
        }

        .searchResults div {
            padding: 10px 3px;
            font-weight: 700;
        }

            .searchResults div:hover {
                background-color: #f0f0f0;
                color: var(--theme-color);
            }

</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>
    $(document).ready(function () {

        $('input[type="search"]').css('width', 'auto');

        $('input[type=radio][name=selectedForms]').change(function () {
            $('input[type="text"], input[type="number"], textarea').prop('readonly', true);
            $('input[type="search"]').removeAttr('readonly');
            if (this.checked) {
                $(this).closest('tr').find('input[type="text"], input[type="number"], textarea').prop('readonly', false);
                $(this).closest('tr').find('[name="StoreName"]').prop('readonly', true);
            }
        });

        $('#addNewRow').on('click', function () {
            var storeName = $('#inventoryTable table tbody tr:first-child .storeName').val();
            var userId = $('#inventoryTable table tbody tr:first-child input[name="UserId"]').val(); 

            var newRow = `
                <tr>
                    <td>
                         <input type="radio" name="selectedForms" value="" />
                         <input type="hidden" id="UserId" name="UserId" value="${userId}" /> 
                         <input type="hidden" id="ProductId" name="ProductId" value="" />
                         <input type="hidden" id="Id" name="Id" value="" />
                         <input type="hidden" id="VariantId" name="VariantId" value="" />
                         <input type="hidden" id="Sourcing" name="Sourcing" value="" />
                   </td>
                    <td>
                        <div class="searchContainer">
                            <ul class="searchResults" style="display: none;"></ul>
                            <input type="search" placeholder="Search Product Name" name="ProductName" class="form-control productNameInput" value="" />
                        </div>
                        
                    </td>
                    <td>
                        <input type="text" readonly placeholder="Store Name" name="StoreName" class="form-control" value="${storeName}" />
                    </td>
                    <td>
                        <input type="number" placeholder="Quantity" name="Quantity" class="form-control" value="" />
                    </td>
                    <td>
                        <input type="number" placeholder="Price" name="Price" class="form-control" value="" />
                    </td>
                    <td>
                        <textarea placeholder="Comments" class="form-control" cols="20" name="comments"></textarea>
                    </td>
                </tr>`;

            $('#inventoryTable table tbody').append(newRow);
        })

        $('#inventoryTable').on('click', '.searchResults li', function () {
            var productName = $(this).text();
            var productId = $(this).attr('data-product-id');
            var Sourcing = $(this).attr('data-sourcing');
            var userId = $(this).closest('tr').find('[name="UserId"]').val();

            $(this).closest('tr').find('.productNameInput').val(productName);
            $(this).closest('tr').find('[name="ProductId"]').val(productId);
            $(this).closest('tr').find('[name="Sourcing"]').val(Sourcing);
            $(this).closest('tr').find('[name="UserId"]').val(userId);

            $(this).closest('.searchResults').hide();
        });

        $('#inventoryTable').on('keyup', '.productNameInput', function () {
            var currentRow = $(this).closest('tr');
            var searchText = $(this).val();
            var searchResults = currentRow.find('.searchResults');
            var userId = currentRow.find('[name="UserId"]').val();

            if (searchText.length >= 3) {
                $.ajax({
                    url: '/Admin/SearchProduct',
                    data: { name: searchText, userId: userId },
                    method: 'GET',
                    success: function (response) {
                        searchResults.empty();
                        if (response && response.length) {
                            response.forEach(function (product) {
                                var li = $('<li>').text(product.name).css('cursor', 'pointer').attr('data-product-id', product.id).attr('data-sourcing', product.sourcing)
                                var newListItem = $('<div>').append(li);
                                searchResults.append(newListItem);
                            });

                            searchResults.show();
                        } else {
                            searchResults.hide();
                        }
                    },
                    error: function (error) {
                        console.error('Error while fetching product names.');
                    }
                });
            } else {
                searchResults.hide();
            }
        });

        $('#sellerForm').on('submit', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();
            var selectedForm = $('input[type=radio][name=selectedForms]:checked').closest('tr');
            $.ajax({
                type: 'POST',
                url: '/Admin/AddInventory',
                data: selectedForm.find('input, textarea').serialize(),
                success: function (response) {
                    window.location.href = '/Admin/GetAllSellers';
                },
                error: function (error) {
                    console.error('Error occurred while submitting the form:', error);
                }
            });
        });

        var dataExists = @Model.Count > 0 ? true : false;
        if (dataExists) {
            $('#addNewRow').show();
        }
    });
</script>


    