﻿@using LocalDropshipping.Web.Data.Entities;
@model List<InventoryHistory>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Assign Date</th>
                <th>Price</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.AssignQuantity</td>
                    <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                    <td>@($"Rs.{item.Price:N0}")/-</td>
                    <td>@item.Comments</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@* <style>
    .table-bordered th, .table-bordered td {
        border: 0.5px solid #dddddd;
    }
</style> *@
