﻿@using Newtonsoft.Json;
@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Enums;
@{
    var currentUserData = (User)Context.Items["CurrentUser"];
}
<!DOCTYPE html>
<html lang="en" style="background-color:#f8f8f8;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/assets/images/favicon/1.png" type="image/x-icon">
    <title>@ViewBag.Title</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    @* For Logout vModal *@
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/style.css">
    <style>
        .custom-input {
            position: relative;
        }

            .custom-input input[type="password"] {
                padding-right: 30px;
            }

            .custom-input i#toggle-password {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                padding-bottom: 18px;
            }

        .cursor-Pointer {
            cursor: pointer;
        }

        marquee {
            font-size: 17px;
            font-weight: 400;
            color: #0da487;
            font-family: sans-serif;
        }

        .navbar-nav .nav-item .nav-link {
            font-size: 16px !important;
            color: #222;
            letter-spacing: 1px;
            padding: 12px 15px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

        @@media screen and (max-width:1440px) and (min-width:1200px){
            .navbar-nav .nav-item .nav-link{
                font-size: 16px !important;
                padding: 12px 7px !important;
            }
        }





            .navbar-nav .nav-item .nav-link:hover {
                color: #0da487;
                transition: all 0.3s ease;
            }

        .dropdown-menu .dropdown-item {
            color: #000;
            opacity: 0.6;
            font-size: 15px;
            padding: 7px 9px 11px 10px;
            background: transparent;
            font-weight: 500;
            border-top: 0px;
        }

            .dropdown-menu .dropdown-item:hover {
                letter-spacing: 0.1em;
                color: #0DA487;
            }

        .navbar-expand-xl .navbar-nav .dropdown-menu {
            box-shadow: -1px 0 10px 0 rgba(34,34,34,0.07), 5px 20px 40px 0 rgba(34,34,34,0.04);
            background-color: #fff;
            border-color: #fff;
            padding: 18px;
            border-radius: 10px;
            position: absolute;
        }

        .dropdown-toggle::after {
            display: inline-block;
            margin-left: 0.155em;
            vertical-align: 0em;
            content: "";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            border-top: 0em solid;
            border-right: 0em solid transparent;
        }

        .navbar-expand-xl {
            padding-bottom: 20px;
        }

        header .header-top {
            padding: 3px 0px 1px 0px !important;
        }

        header .navbar.navbar-expand-xl .navbar-nav .nav-link::before {
            content: "" !important;
        }

        header .navbar.navbar-expand-xl .navbar-nav .nav-link{
            font-size: 16px;
            font-weight: 600;
        }



       
    </style>


</head>

<body>
    <!-- Header Start -->
    <header>
        <!--class="pb-0 fixed-header" -->
        <div class="header-top">
            <div class="">
                <div class="row" style=" padding: 4px 0px 0px 0px;">
                    <div class="col-12 col-lg-12 col-xxl-12 col-md-12">
                        <marquee style="color:white">
                            Join us today and experience a new level of dropshipping excellence. We’re dedicated to helping you and your customers achieve dropshipping success like never before. Our mission is to provide top-notch Fulfillment services that empower your business to thrive in the world of e-commerce. We are focused on Efficient Fulfillment, Best-in-Class Courier Services, Quality Control that meets highest standards, Reduced Return Ratio and Competitive Pricing. When you choose FOC Fulfillment, you're not just getting a fulfillment partner – you're getting a dedicated team committed to your success. We're here to support your business every step of the way.
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-nav top-header sticky-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">
                            <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
                                    data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                                <span class="navbar-toggler-icon">
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>
                            <a href="https://www.focfulfillment.com/" class="web-logo nav-logo">
                                <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                            </a>
                            <div class="header-nav-middle">
                                <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                                    <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                        <div class="offcanvas-header navbar-shadow">
                                            <h5>Menu</h5>
                                            <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body justify-content-center" style="height:48px;">
                                            <ul class="navbar-nav" style="">
                                                <li class="nav-item">
                                                    <h3> <a href="https://www.focfulfillment.com/" class="nav-link">Home</a></h3>
                                                </li>
                                                <li class="nav-item txtColor ">
                                                    <h3>  <a class="nav-link" asp-action="ChinaSourcing" asp-controller="Public">China sourcing</a> </h3>
                                                </li>
                                                <li class="nav-item txtColor new-nav-item">

                                                    <h3>  <a class="nav-link" asp-action="LocalSourcing" asp-controller="Public">Local Sourcing</a> </h3>
                                                </li>
                                                <li class="nav-item txtColor ">
                                                    <h3> <a class="nav-link txtColor" asp-action="FulFillment" asp-controller="Public">Fulfillment</a> </h3>
                                                </li>
                                                <li class="nav-item ">
                                                    <h3>  <a class="nav-link" asp-action="Login" asp-controller="Seller">Membership Login</a> </h3>
                                                </li>
                                                <li class="nav-item txtColor ">
                                                    <h3> <a class="nav-link txtColor" asp-action="ContactUs" asp-controller="Seller">Contact</a> </h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rightside-box">
                                <div class="search-full">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>
                                        <input type="text" class="form-control search-type" placeholder="Search here..">
                                        <span class="input-group-text close-search">
                                            <i data-feather="x" class="font-light"></i>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section Start -->
    @RenderBody()
    <!-- About Section End -->
    <!-- Footer Section Start -->
    <footer class="section-t-space">
        <div class="container-fluid">
            <div class="service-section">
                <div class="row g-3">
                    <div class="col-12">
                    </div>
                </div>
            </div>

            <div class="main-footer section-b-space section-t-space container">
                <div class="row g-md-4 g-3">
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-logo">
                            <div class="theme-logo">
                                <a>
                                    <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                                </a>
                            </div>

                            <div class="footer-logo-contain">
                                <p>
                                    We are a friendly bar serving a variety of cocktails, wines and beers. Our bar is a
                                    perfect place for a couple.
                                </p>


                            </div>
                        </div>
                    </div>



                    <div class="col-xl-4 col-lg-2 col-sm-3">
                        <div class="footer-title">
                            <h4>Quick Links</h4>
                        </div>

                        <div class="footer-contain">
                            <ul>
                                <li>
                                    <a asp-controller="Public" asp-action="AboutUs" class="text-content">About us</a>
                                </li>

                                <li>
                                    <a asp-controller="Seller" asp-action="ContactUs" class="text-content">Contact Us</a>
                                </li>

                                <li>
                                    <a asp-controller="Public" asp-action="TermAndCondition" class="text-content">Terms and Conditions</a>
                                </li>

                                <li>
                                    <a asp-controller="Public" asp-action="PrivacyPolicy" class="text-content">Privacy & Policy</a>
                                </li>

                                <li>
                                    <a asp-controller="Public" asp-action="Faq" class="text-content">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-title">
                            <h4>Contact Us</h4>
                        </div>

                        <div class="footer-contact">
                            <ul>
                                <li>
                                    <div class="footer-number">
                                        <i data-feather="phone"></i>
                                        <div class="contact-number">
                                            <h6 class="text-content">Hotline 24/7 :</h6>
                                            <h5>+92 327 8860192</h5>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="footer-number">
                                        <i data-feather="mail"></i>
                                        <div class="contact-number">
                                            <h6 class="text-content">Email Address :</h6>
                                            <h5>support@focfulfillment.com</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-footer section-small-space">
                <div class="reserve">
                    <h6 class="text-content">©2023 FOCFulfillment All rights reserved</h6>
                </div>

                <div class="payment">
                </div>

                <div class="social-link">
                    <h6 class="text-content">Stay connected :</h6>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/fountainofcraftofficial?mibextid=9R9pXO" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@@fountainofcraft" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tiktok.com/@@fountainofcraft?_t=8gCpFY9XNPW&_r=1" target="_blank">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- Footer Section End -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Log Out Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <form asp-action="SellerLogout" asp-controller="Seller">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                            <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->

    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather/feather.min.js"></script>
    <script src="~/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/slick/slick-animation.min.js"></script>
    <script src="~/assets/js/slick/custom_slick.js"></script>
    <!-- Quantity js -->
    <script src="~/assets/js/quantity-2.js"></script>

    <!-- sidebar open js -->
    <script src="~/assets/js/filter-sidebar.js"></script>

    <!-- script js -->
    <script src="~/assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="~/assets/js/theme-setting.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>

        if (window.innerWidth > 768) {
            $('.nav-item.dropdown').hover(function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            }, function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            });

            $('.nav-item.dropdown > .nav-link').click(function () {
                return false;
            });
        }
        function redirectToNewArrival() {
            var redirectURL = "FilterPage?newArrivals=true";
            window.location.href = redirectURL;
        }
        function redirectToBestSeller() {
            var redirectURL = "FilterPage?bestSellers=true";
            window.location.href = redirectURL;
        }
        function redirectToTopRated() {
            var redirectURL = "FilterPage?topRated=true";
            window.location.href = redirectURL;
        }
        function redirectTo100To999() {
            var redirectURL = "FilterPage?minPrice=100&maxPrice=999";
            window.location.href = redirectURL;
        }
        function redirectTo1000To1999() {
            var redirectURL = "FilterPage?minPrice=1000&maxPrice=1999";
            window.location.href = redirectURL;
        }
        function redirectTo2000To2999() {
            var redirectURL = "FilterPage?minPrice=2000&maxPrice=2999";
            window.location.href = redirectURL;
        }
        function redirectTo3000To3999() {
            var redirectURL = "FilterPage?minPrice=3000&maxPrice=3999";
            window.location.href = redirectURL;
        }
        function redirectTo4000To4999() {
            var redirectURL = "FilterPage?minPrice=4000&maxPrice=4999";
            window.location.href = redirectURL;
        }
        function redirectTo5000To9999() {
            var redirectURL = "FilterPage?minPrice=5000&maxPrice=9999";
            window.location.href = redirectURL;
        }

        $(".cartBtn").mouseover(function () {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Seller/GetCartItems',
                success: function (data) {
                    $('#exampleModal').html(data);
                    $('#exampleModal').modal({
                        backdrop: false
                    });
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
        function UpdateUI(quantity, price, discountedPrice, variantId) {
            $('.data-pprice').text('Rs ' + price + '/-');
            $('.data-pdprice').text('Rs ' + discountedPrice + '/-');
            $.ajax(
                {
                    async: true,
                    type: "GET",
                    contentType: false,
                    processData: false,
                    url: "/Admin/ProductVariantImageSlider/" + variantId,
                    success: function (data) {
                        console.dir(data);
                        $('#sliderContainer').html(data);
                        $('.product-main').slick({
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            arrows: false,
                            fade: true,
                            asNavFor: '.left-slider-image'
                        });

                        $('.left-slider-image').slick({
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            asNavFor: '.product-main',
                            dots: false,
                            focusOnSelect: true,
                            // vertical: false,
                            responsive: [{
                                breakpoint: 1400,
                                settings: {
                                    vertical: false,
                                }
                            },
                            {
                                breakpoint: 992,
                                settings: {
                                    vertical: false,
                                }
                            },
                            {
                                breakpoint: 768,
                                settings: {
                                    vertical: false,
                                }
                            }, {
                                breakpoint: 430,
                                settings: {
                                    slidesToShow: 3,
                                    vertical: false,
                                }
                            },
                            ]
                        });
                    },
                    error: function () {
                        alert("This Specific Variant Does Not Exist");
                    }
                }
            );
        }

    </script>
</body>
</html>
