﻿@using LocalDropshipping.Web.Data.Entities;
@{
    Layout = null;
    var currentUserData = (User)Context.Items["CurrentUser"];

}
<!DOCTYPE html>
<html lang="en" style="background-color:#f8f8f8">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
    @* <title>Seller Dashboard</title> *@
    <title>@ViewBag.Title</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/remixicon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/style.css">
    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">

    <!-- ratio css -->
    @* <link rel="stylesheet" type="text/css" href="~/backend-assets/css/ratio.css"> *@
    <!-- Plugins css -->
    @* <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/scrollbar.css"> *@
    @* <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/animate.css"> *@

    @* For Modal Run *@
    @* <link rel="stylesheet" type="text/css" href="~/backend-assets/css/style.css"> *@

    @* <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css"> *@
    @*     <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/bootstrap.css">
    *@
    @* <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/themify.css" rel="stylesheet"> *@

    @* For Logout vModal *@
    @* <link rel="stylesheet" type="text/css" href="~/backend-assets/css/style.css"> *@
    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!--DatePicker Css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .nav-pills .nav-item .nav-link:after {
            height: 0px !important;
        }

        .nav-pills {
            border-bottom: none;
        }

        .daterangepicker .drp-buttons .drp-selected .applyBtn {
            background-color: #0DA487;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            margin-top: 5px;
            padding: 2px 4px;
        }


        .daterangepicker .drp-buttons .drp-selected .cancelBtn {
            background-color: #333;
            color: #000000;
            font-size: 14px;
            font-weight: 500;
            padding: 2px 4px;
        }

        .daterangepicker td.active {
            background-color: #0DA487;
        }

            .daterangepicker td.active:hover {
                background-color: #0DA487;
                border-color: transparent;
                color: #fff;
            }

        .cursor-Pointer {
            cursor: pointer;
        }


        select .form-select option:hover {
            background-color: #0DA487;
        }

        .navbar-nav .nav-item .nav-link {
            font-size: 17px;
            color: #222;
            letter-spacing: 1px;
            padding: 12px 19px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            .navbar-nav .nav-item .nav-link:hover {
                color: #0da487;
                transition: all 0.3s ease;
            }

        .dropdown-menu .dropdown-item {
            color: #000;
            opacity: 0.6;
            font-size: 15px;
            padding: 7px 9px 11px 10px;
            background: transparent;
            font-weight: 500;
            border-top: 0px;
        }

            .dropdown-menu .dropdown-item:hover {
                letter-spacing: 0.1em;
                color: #0DA487;
            }

        .navbar-expand-xl .navbar-nav .dropdown-menu {
            box-shadow: -1px 0 10px 0 rgba(34,34,34,0.07), 5px 20px 40px 0 rgba(34,34,34,0.04);
            background-color: #fff;
            border-color: #fff;
            padding: 18px;
            border-radius: 10px;
            position: absolute;
        }

        .dropdown-toggle::after {
            display: inline-block;
            margin-left: 0.155em;
            vertical-align: 0em;
            content: "";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            border-top: 0em solid;
            border-right: 0em solid transparent;
        }

        .navbar-expand-xl {
            padding-bottom: 20px;
        }

        header .header-top {
            padding: 5px 0px 1px 0px !important;
        }

        header .navbar.navbar-expand-xl .navbar-nav .nav-link::before {
            content: "" !important;
        }

        header .navbar.navbar-expand-xl .navbar-nav .drop-down-toogle-arw::before {
            content: "" !important;
        }

        marquee {
            font-size: 17px;
            font-weight: 400;
            font-family: sans-serif;
        }
        .seller-dashboard-header{
            padding-bottom:0px !important;
        }

        header .top-nav{
            padding: 24px 0 15px;
        }
    </style>
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    <header class="pb-md-4 pb-0 seller-dashboard-header">
        <div class="header-top">
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xxl-12 col-md-12">
                        <marquee style="color: white" id="myMarquee">We’re dedicated to helping you and your customers achieve dropshipping success like never before. Our mission is to provide top-notch Fulfillment services that empower your business to thrive in the world of e-commerce. We are focused on Efficient Fulfillment, Best-in-Class Courier Services, Quality Control that meets highest standards, Reduced Return Ratio and Competitive Pricing. When you choose FOC Fulfillment, you're not just getting a fulfillment partner – you're getting a dedicated team committed to your success. We're here to support your business every step of the way.</marquee>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-nav top-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">

                            <button class="btn left-dashboard-show btn-md fw-bold d-block mb-4 d-lg-none">
                                <span class="navbar-toggler-icon">
                                    <i class="fa-solid fa-bars pt-4"></i>
                                </span>
                            </button>
                            <a href="https://www.focfulfillment.com/" class="web-logo nav-logo">
                                <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                            </a>
                            <div class="header-nav-middle">
                                <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                                    <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                        <div class="offcanvas-header navbar-shadow">
                                            <h5>Menu</h5>
                                            <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body justify-content-center" style="height:48px;">
                                            <ul class="navbar-nav" style="">
                                               @*  <li class="nav-item">
                                                    <h3> <a href="https://www.focfulfillment.com/" class="nav-link">Home</a></h3>
                                                </li> *@
                                                <li class="nav-item txtColor ">
                                                    <h3>  <a class="nav-link txtColor" asp-action="SellerDashboard" asp-controller="Seller">Dashboard</a> </h3>
                                                </li>
                                                <li class="nav-item">
                                                    <h3> <a class="nav-link" asp-action="Shop" asp-controller="Seller">Shop</a></h3>
                                                </li>
                                                @*  <li class="nav-item">
                                                <h3>
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                data-bs-toggle="dropdown">Shop</a>
                                                </h3>

                                                <ul class="dropdown-menu">
                                                <li>
                                                <a class="dropdown-item" href="#" onclick="redirectToNewArrival()">
                                                New Arrivals
                                                </a>
                                                </li>
                                                <li>
                                                <a class="dropdown-item" href="#" onclick="redirectToBestSeller()">
                                                Best Sellers
                                                </a>
                                                </li>
                                                <li>
                                                <a class="dropdown-item" href="#" onclick="redirectToTopRated()">
                                                Top Rated
                                                </a>
                                                </li>
                                                </ul>
                                                </li> *@

                                                <li class="nav-item">
                                                    <h3> <a class="nav-link" asp-action="Catalog" asp-controller="Seller">Catalog</a> </h3>
                                                </li>
                                                <li class="nav-item ">
                                                    <h3>  <a class="nav-link" asp-action="Guidelines" asp-controller="Public">Guidelines</a> </h3>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rightside-box">
                                <div class="search-full">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>
                                        <input type="text" class="form-control search-type" placeholder="Search here..">
                                        <span class="input-group-text close-search">
                                            <i data-feather="x" class="font-light"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="right-side-menu">
                                    <li class="right-side">
                                        <a asp-controller="Seller" asp-action="ContactUs" class="btn p-0 position-relative header-wishlist mt-2">
                                            <div class="delivery-icon">
                                                <i data-feather="phone-call"></i>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="right-side">
                                        <a asp-action="Wishlist" asp-controller="Seller" id="wishListTab" class="btn p-0 position-relative header-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>

                                    @Html.Partial("_ShoppingCart")
                                    <li class="right-side onhover-dropdown">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon cursor-Pointer">
                                                <i data-feather="user"></i>
                                            </div>

                                        </div>

                                        <div class="onhover-div onhover-div-login">
                                            <ul class="user-box-name">
                                                <li class="product-box-contain">
                                                    <a asp-action="SellerDashboard" asp-controller="Seller">Dashboard</a>
                                                </li>

                                                <li class="product-box-contain">
                                                    <a asp-action="Shop" asp-controller="Seller">Shop</a>
                                                </li>
                                                <li class="product-box-contain">
                                                    <a asp-action="Wishlist" asp-controller="Seller">Wishlist</a>
                                                </li>
                                                <li class="product-box-contain d-md-none d-lg-done">
                                                    <a asp-action="Cart" asp-controller="Seller">View Cart</a>
                                                </li>
                                    </li>
                                    <li class="product-box-contain">
                                        <i></i>
                                        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                           href="javascript:void(0)">
                                            Logout
                                        </a>
                                    </li>
                                    <li class="product-box-contain">
                                        @* <a href="sign-up.html">Register</a> *@
                                    </li>
                                </ul>
                            </div>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </header>
    <!-- Header End -->



 
    <br />
    <!-- User Dashboard Section Start -->
    <section class="user-dashboard-section section-b-space" style="padding-top: 0px;">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-3 col-lg-3">
                    <div class="dashboard-left-sidebar">
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        @* Image Box Div *@
                        <div class="close-button d-flex d-lg-none">
                            <button class="close-sidebar">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <div class="profile-box">
                            <div class="cover-image">
                                <img src="../assets/images/inner-page/cover-img.jpg" class="img-fluid blur-up lazyload"
                                     alt="">

                            </div>
                            <div class="profile-contain">
                                <div class="profile-image">
                                    <div class="position-relative">
                                        <img src="../ProfileImages/default-profile-image.svg   "
                                             class="blur-up lazyload update_img" alt="">
                                    </div>
                                </div>

                                <div class="profile-name">
                                    <h3>@(currentUserData.Fullname.Length > 0 ? char.ToUpper(currentUserData.Fullname[0]) + currentUserData.Fullname.Substring(1) : currentUserData.Fullname)</h3>
                                    <h6 class="text-content">@currentUserData.Email</h6>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-pills user-nav-pills" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a asp-action="SellerDashboard" asp-controller="Seller" class="nav-link active" id="pills-dashboard-tab" role="tab" aria-controls="pills-dashboard" aria-selected="true">
                                    <i data-feather="home"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a asp-action="MyProducts" asp-controller="Seller" class="nav-link active" id="pills-MyProducts-tab" role="tab" aria-controls="pills-myproducts" aria-selected="true">
                                    <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                    My Products
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a asp-action="Shop" asp-controller="Seller" class="nav-link active" id="pills-dashboard-tab" role="tab" aria-controls="pills-dashboard" aria-selected="true">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    Shop
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a asp-controller="Seller" asp-action="SellerOrders" class="nav-link " id="pills-orders-tab" role="tab"
                                   aria-controls="pills-product" aria-selected="false">
                                    <i data-feather="shopping-bag"></i> Orders
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a asp-controller="Seller" asp-action="Withdrawal" class="nav-link" id="pills-withdrawals-tab" role="tab"
                                   aria-controls="pills-product" aria-selected="false">
                                    @*  <i data-feather="shopping-bag"></i> *@
                                    <i class="fa-solid fa-cash-register"></i>Withdrawals
                                </a>
                            </li>

                            <li class="nav-item" role="presentation">
                                <a asp-controller="Seller" asp-action="Wishlist" class="nav-link" id="pills-wishlist-tab"
                                   role="tab" aria-controls="pills-wishlist" aria-selected="false">
                                    @*  <i data-feather="shopping-bag"></i> *@
                                    <i class="fa-solid fa-heart"></i>Wishlist
                                </a>
                            </li>


                            <li class="nav-item" role="presentation">
                                 <form asp-action="Reports" asp-controller="Seller">
                                    <button asp-controller="Seller" asp-action="Reports" class="nav-link" id="pills-report-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-report" role="tab" aria-controls="pills-report" aria-selected="false" type="submit">
                                        @* <i data-feather="shopping-bag"></i> *@
                                        <i class="fa-solid fa-chart-bar"></i>
                                        Reports
                                    </button>
                                </form>


                            </li>


                            <li class="nav-item" role="presentation">

                                <a asp-action="Profile" asp-controller="Seller" class="nav-link" id="pills-profile-tab" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    Profile
                                </a>

                            </li>

                            <li class="nav-item" role="presentation">
                                <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" class="nav-link" id="pills-out-tab" role="tab" aria-selected="false">
                                    <i data-feather="log-out"></i>
                                    Log Out
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xxl-9 col-lg-9">
                    <div class="dashboard-right-sidebar">
                        <div class="tab-content" id="pills-tabContent">


                            @RenderBody()



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- User Dashboard Section End -->
    <!-- Footer Section Start -->

    <footer class="section-t-space">
        <div class="container-fluid-lg">
            <div class="service-section">
                <div class="row g-3">
                    <div class="col-12">
                    </div>
                </div>
            </div>

            <div class="main-footer section-b-space section-t-space">
                <div class="row g-md-4 g-3">
                    <div class="col-xl-5 col-lg-4 col-sm-6">
                        <div class="footer-logo">
                            <div class="theme-logo">
                                <a asp-action="Shop" asp-controller="Seller">
                                    <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="footer-logo-contain">
                                <p>
                                    We are a friendly bar serving a variety of cocktails, wines, and beers. Our bar is a
                                    perfect place for a couple.
                                </p>
                                <ul class="address">
                                    <li>
                                        <i data-feather="home"></i>
                                        <a href="javascript:void(0)">www.focfulfillment.com</a>
                                    </li>
                                    <li>
                                        <i data-feather="mail"></i>
                                        <a href="javascript:void(0)">support@focfulfillment.com</a>
                                    </li>
                                    <li>
                                        <i data-feather="phone"></i>
                                        <a href="javascript:void(0)">+92 327 8860192</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-title">
                            <h4>Useful Links</h4>
                        </div>
                        <div class="footer-contain">
                            <ul>
                                <li>
                                    <a class="text-content" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                       href="javascript:void(0)">
                                        Logout
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-title">
                            <h4>My Account</h4>
                        </div>
                        <div class="footer-contain">
                            <ul>
                                <li>
                                    <a href="@Url.Action("SellerDashboard","Seller")" class="text-content">Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SellerOrders","Seller")" class="text-content">Orders</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Shop","Seller")" class="text-content">Shop</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Withdrawal","Seller")" class="text-content">Withdrawals</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Reports","Seller")" class="text-content">Reports</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-title">
                            <h4>Information</h4>
                        </div>
                        <div class="footer-contain">
                            <ul>
                                <li>
                                    <a href="@Url.Action("AboutUs", "Public")" class="text-content">About Us</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ContactUs", "Seller")" class="text-content">Contact Us</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("TermAndCondition","Public")" class="text-content">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PrivacyPolicy","Public")" class="text-content">Privacy & Policy</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Faq","Public")" class="text-content">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="sub-footer section-small-space">
                <div class="reserve">
                    <h6 class="text-content">©2023 FOCFulfillment All rights reserved</h6>
                </div>

                <div class="payment">
                </div>

                <div class="social-link">
                    <h6 class="text-content">Stay connected :</h6>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/fountainofcraftofficial?mibextid=9R9pXO" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@@fountainofcraft" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tiktok.com/@@fountainofcraft?_t=8gCpFY9XNPW&_r=1" target="_blank">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Deal Box Modal Start -->
    <div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                        <p class="mt-1 text-content">Recommended deals for you.</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="deal-offer-box">
                        <ul class="deal-offer-list">
                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-2">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-3">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal Box Modal End -->
    <!-- Tap to top start -->
    <div class="theme-option">
        <div class="back-to-top">
            <a id="back-to-top" href="#">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <!-- Tap to top end -->
    <!-- Bg overlay Start -->
    @* <div class="bg-overlay"></div> *@
    <!-- Bg overlay End -->
    <!-- Add address modal box start -->
    <div class="modal fade theme-modal" id="add-address" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a new address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
                            <label for="fname">First Name</label>
                        </div>
                    </form>

                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
                            <label for="lname">Last Name</label>
                        </div>
                    </form>

                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="email" class="form-control" id="email" placeholder="Enter Email Address">
                            <label for="email">Email Address</label>
                        </div>
                    </form>

                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="address"
                                      style="height: 100px"></textarea>
                            <label for="address">Enter Address</label>
                        </div>
                    </form>

                    <form>
                        <div class="form-floating mb-4 theme-form-floating">
                            <input type="email" class="form-control" id="pin" placeholder="Enter Pin Code">
                            <label for="pin">Pin Code</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn theme-bg-color btn-md text-white" data-bs-dismiss="modal">
                        Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add address modal box end -->
    <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Choose your Delivery Location</h5>
                    <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="location-list">
                        <div class="search-input">
                            <input type="search" class="form-control" placeholder="Search Your Area">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="disabled-box">
                            <h6>Select a Location</h6>
                        </div>

                        <ul class="location-select custom-height">
                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Alabama</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Arizona</h6>
                                    <span>Min: $150</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>California</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Colorado</h6>
                                    <span>Min: $140</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Florida</h6>
                                    <span>Min: $160</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Georgia</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Kansas</h6>
                                    <span>Min: $170</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Minnesota</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>New York</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Washington</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Modal End -->
    <!-- Edit Profile Start -->
    <div class="modal fade theme-modal" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel2"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Edit Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-4">
                        <div class="col-xxl-12">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" id="pname" value="Jack Jennas">
                                    <label for="pname">Full Name</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-6">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="email" class="form-control" id="email1" value="vicki.pope@gmail.com">
                                    <label for="email1">Email address</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-6">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input class="form-control" type="tel" value="4567891234" name="mobile" id="mobile"
                                           maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value =
                                            this.value.slice(0, this.maxLength);">
                                    <label for="mobile">Email address</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-12">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" id="address1"
                                           value="8424 James Lane South San Francisco">
                                    <label for="address1">Add Address</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-12">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" id="address2" value="CA 94080">
                                    <label for="address2">Add Address 2</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-4">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <select class="form-select" id="floatingSelect1"
                                            aria-label="Floating label select example">
                                        <option selected>Choose Your Country</option>
                                        <option value="kindom">United Kingdom</option>
                                        <option value="states">United States</option>
                                        <option value="fra">France</option>
                                        <option value="china">China</option>
                                        <option value="spain">Spain</option>
                                        <option value="italy">Italy</option>
                                        <option value="turkey">Turkey</option>
                                        <option value="germany">Germany</option>
                                        <option value="russian">Russian Federation</option>
                                        <option value="malay">Malaysia</option>
                                        <option value="mexico">Mexico</option>
                                        <option value="austria">Austria</option>
                                        <option value="hong">Hong Kong SAR, China</option>
                                        <option value="ukraine">Ukraine</option>
                                        <option value="thailand">Thailand</option>
                                        <option value="saudi">Saudi Arabia</option>
                                        <option value="canada">Canada</option>
                                        <option value="singa">Singapore</option>
                                    </select>
                                    <label for="floatingSelect">Country</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-4">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <select class="form-select" id="floatingSelect">
                                        <option selected>Choose Your City</option>
                                        <option value="kindom">India</option>
                                        <option value="states">Canada</option>
                                        <option value="fra">Dubai</option>
                                        <option value="china">Los Angeles</option>
                                        <option value="spain">Thailand</option>
                                    </select>
                                    <label for="floatingSelect">City</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-4">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" id="address3" value="94080">
                                    <label for="address3">Pin Code</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" data-bs-dismiss="modal"
                            class="btn theme-bg-color btn-md fw-bold text-light">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Profile End -->
    <!-- Edit Card Start -->
    <div class="modal fade theme-modal" id="editCard" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel8">Edit Card</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-4">
                        <div class="col-xxl-6">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" id="finame" value="Mark">
                                    <label for="finame">First Name</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-6">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <input type="text" class="form-control" id="laname" value="Jecno">
                                    <label for="laname">Last Name</label>
                                </div>
                            </form>
                        </div>

                        <div class="col-xxl-4">
                            <form>
                                <div class="form-floating theme-form-floating">
                                    <select class="form-select" id="floatingSelect12"
                                            aria-label="Floating label select example">
                                        <option selected>Card Type</option>
                                        <option value="kindom">Visa Card</option>
                                        <option value="states">MasterCard Card</option>
                                        <option value="fra">RuPay Card</option>
                                        <option value="china">Contactless Card</option>
                                        <option value="spain">Maestro Card</option>
                                    </select>
                                    <label for="floatingSelect12">Card Type</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold"
                            data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light">Update Card</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Card End -->
    <!-- Remove Profile Modal Start -->
    <div class="modal fade theme-modal remove-profile" id="removeProfile" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box">
                        <p>
                            The permission for the use/group, preview is inherited from the object, object will create a
                            new permission for this object
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light"
                            data-bs-target="#removeAddress" data-bs-toggle="modal">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade theme-modal remove-profile" id="removeAddress" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel12">Done!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="remove-box text-center">
                        <h4 class="text-content">It's Removed.</h4>
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Remove Profile Modal End -->
    <!-- Edit Profile Modal Start -->
    <div class="modal fade theme-modal" id="edit-profile" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Edit Your Profile</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="companyName" class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="companyName" value="Grocery Store">
                        </div>
                        <div class="mb-3">
                            <label for="emailAddress" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="emailAddress" value="joshuadbass@rhyta.com">
                        </div>
                        <div class="mb-3">
                            <label for="country" class="form-label">Country / Region</label>
                            <input type="text" class="form-control" id="country" value="107 Veltri Drive">
                        </div>
                        <div class="mb-3">
                            <label for="established" class="form-label">Year Established</label>
                            <input type="email" class="form-control" id="established" value="2022">
                        </div>
                        <div class="mb-3">
                            <label for="employees" class="form-label">Total Employees</label>
                            <input type="text" class="form-control" id="employees" value="154 - 360 People">
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input type="email" class="form-control" id="category" value="Grocery">
                        </div>
                        <div class="mb-3">
                            <label for="street" class="form-label">Street Address</label>
                            <input type="text" class="form-control" id="street" value="234 High St">
                        </div>
                        <div class="mb-3">
                            <label for="city" class="form-label">City / State</label>
                            <input type="email" class="form-control" id="city" value="107 Veltri Drive">
                        </div>
                        <div class="mb-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="zip" value="B23 6SN">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold"
                            data-bs-dismiss="modal">
                        Cancle
                    </button>
                    <button type="button" class="btn theme-bg-color btn-md fw-bold text-light"
                            data-bs-dismiss="modal">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Profile Modal End -->
    <!-- Log Out Modal Start -->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <form asp-action="SellerLogout" asp-controller="Seller">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                            <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Log Out Modal End-->
    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/backend-assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>


    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/slick/custom_slick.js"></script>

    <!-- Quantity js -->
    @* <script src="../assets/js/quantity.js"></script> *@
    <script src="~/assets/js/quantity-2.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="../assets/js/theme-setting.js"></script>
    @*     <script>
    const navLinks = document.querySelectorAll('.nav-link');

    navLinks.forEach(function (link) {
    link.addEventListener('click', function () {
    navLinks.forEach(function (navLink) {
    navLink.classList.remove('active');
    });

    this.classList.add('active');
    });
    });
    </script> *@


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>

    <script>


        function displayMarquee(data) {
            var marqueeContent = data;
            var marqueeElement = document.getElementById("myMarquee");

            if (marqueeContent) {
                marqueeElement.textContent = marqueeContent;
            } else {
                marqueeElement.textContent = 'Default marquee text if no data found';
            }
        }

        $.ajax({
            url: '/Seller/GetMarqueeData',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                displayMarquee(data);
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });





        if (window.innerWidth > 768) {
            $('.nav-item.dropdown').hover(function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            }, function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            });

            $('.nav-item.dropdown > .nav-link').click(function () {
                return false;
            });
        }
        function redirectToNewArrival() {
            var redirectURL = "FilterPage?newArrivals=true";
            window.location.href = redirectURL;
        }
        function redirectToBestSeller() {
            var redirectURL = "FilterPage?bestSellers=true";
            window.location.href = redirectURL;
        }
        function redirectToTopRated() {
            var redirectURL = "FilterPage?topRated=true";
            window.location.href = redirectURL;
        }
        function redirectTo100To999() {
            var redirectURL = "FilterPage?minPrice=100&maxPrice=999";
            window.location.href = redirectURL;
        }
        function redirectTo1000To1999() {
            var redirectURL = "FilterPage?minPrice=1000&maxPrice=1999";
            window.location.href = redirectURL;
        }
        function redirectTo2000To2999() {
            var redirectURL = "FilterPage?minPrice=2000&maxPrice=2999";
            window.location.href = redirectURL;
        }
        function redirectTo3000To3999() {
            var redirectURL = "FilterPage?minPrice=3000&maxPrice=3999";
            window.location.href = redirectURL;
        }
        function redirectTo4000To4999() {
            var redirectURL = "FilterPage?minPrice=4000&maxPrice=4999";
            window.location.href = redirectURL;
        }
        function redirectTo5000To9999() {
            var redirectURL = "FilterPage?minPrice=5000&maxPrice=9999";
            window.location.href = redirectURL;
        }

        $(document).ready(function () {
            var currentUrl = window.location.pathname;

            $(".nav-link").removeClass("active").attr("aria-selected", "false");

            if (currentUrl.includes("/Seller/SellerOrders")) {
                $("#pills-orders-tab").addClass("active").attr("aria-selected", "true");
            }
            else if (currentUrl.includes("/Seller/Withdrawal")) {
                $("#pills-withdrawals-tab").addClass("active").attr("aria-selected", "true");
            }
            else if (currentUrl.includes("/Seller/Wishlist")) {
                $("#pills-wishlist-tab").addClass("active").attr("aria-selected", "true");
            }
            else if (currentUrl.includes("/Seller/Reports")) {
                $("#pills-report-tab").addClass("active").attr("aria-selected", "true");
            }
            else if (currentUrl.includes("/Seller/Profile")) {
                $("#pills-profile-tab").addClass("active").attr("aria-selected", "true");
            }
            else if (currentUrl.includes("/Seller/MyProducts")) {
                $("#pills-MyProducts-tab").addClass("active").attr("aria-selected", "true");
            }
            else {
                $("#pills-dashboard-tab").addClass("active").attr("aria-selected", "true");
            }

            $(".nav-link").click(function () {
                $(".nav-link").removeClass("active").attr("aria-selected", "false");

                $(this).addClass("active").attr("aria-selected", "true");
            });
        });


        $(".cartBtn").mouseover(function () {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Seller/GetCartItems',
                success: function (data) {
                    $('#exampleModal').html(data);
                },
                error: function (data) {
                    alert("Error is facing for fetching data");
                }
            });
        });
    </script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</body>
</html>
