﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Models;
<!DOCTYPE html>
<html lang="en" style="background-color:#f8f8f8">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/assets/images/favicon/1.png" type="image/x-icon">
    <title>@ViewBag.Title</title> 

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">
    @* For Logout vModal  *@
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/style.css">
    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">

    <!-- Template css -->
    @* <link rel="stylesheet"type="text/css" href="./assets/css/style.css" /> *@
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">


    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="../assets/css/custom.css">

    <style>
        .nav-pills .nav-item .nav-link:after {
            height: 0px !important;
        }

        .nav-pills {
            border-bottom: none;
        }

        .product-option li:nth-child(2) a:hover {
            cursor: pointer;
        }

        .product-option li:nth-child(2) a .feather-heart {
            cursor: pointer;
        }

        .custom-input {
            position: relative;
        }

        .custom-input input[type="password"] {
            padding-right: 30px;
        }

        .custom-input i#toggle-new-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        padding-bottom: 18px;
         }

        .custom-input i#toggle-confirm-password {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            padding-bottom: 18px;
        }
        .cursor-Pointer {
            cursor: pointer;
        }

        .navbar-nav .nav-item .nav-link {
            font-size: 17px;
            color: #222;
            letter-spacing: 1px;
            padding: 12px 19px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

            .navbar-nav .nav-item .nav-link:hover {
                color: #0da487;
                transition: all 0.3s ease;
            }

        .dropdown-menu .dropdown-item {
            color: #000;
            opacity: 0.6;
            font-size: 15px;
            padding: 7px 9px 11px 10px;
            background: transparent;
            font-weight: 500;
            border-top: 0px;
        }

            .dropdown-menu .dropdown-item:hover {
                letter-spacing: 0.1em;
                color: #0DA487;
            }

        .navbar-expand-xl .navbar-nav .dropdown-menu {
            box-shadow: -1px 0 10px 0 rgba(34,34,34,0.07), 5px 20px 40px 0 rgba(34,34,34,0.04);
            background-color: #fff;
            border-color: #fff;
            padding: 18px;
            border-radius: 10px;
            position: absolute;
        }



        .navbar-expand-xl {
            padding-bottom: 20px;
        }

        header .header-top {
            padding: 3px 0px 1px 0px !important;
        }

        header .navbar.navbar-expand-xl .navbar-nav .nav-link::before {
            content: "" !important;
        }

        .dropdown-toggle::after {
            display: inline-block;
            margin-left: 0.155em;
            vertical-align: 0em;
            content: "" !important;
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            border-top: 0em solid;
            border-right: 0em solid transparent;
        }

        header h3{
            -webkit-text-fill-color: unset;
        }
    </style>
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    <header>
        <!--class="pb-0 fixed-header" -->
          <div class="header-top">
                <div class="">
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xxl-12 col-md-12">
                        <marquee style="color: white" id="myMarquee">We’re dedicated to helping you and your customers achieve dropshipping success like never before. Our mission is to provide top-notch Fulfillment services that empower your business to thrive in the world of e-commerce. We are focused on Efficient Fulfillment, Best-in-Class Courier Services, Quality Control that meets highest standards, Reduced Return Ratio and Competitive Pricing. When you choose FOC Fulfillment, you're not just getting a fulfillment partner – you're getting a dedicated team committed to your success. We're here to support your business every step of the way.</marquee>
                        </div>
                    </div>
                </div>
            </div>
        <div class="top-nav top-header sticky-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">
                            <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
                                    data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                                <span class="navbar-toggler-icon">
                                    <i class="fa-solid fa-bars"></i>
                                </span>
                            </button>
                            <a href="https://www.focfulfillment.com/" class="web-logo nav-logo">
                                @* <img src="../assets/images/logo/1.png" class="img-fluid blur-up lazyload" alt=""> *@
                                <img src="~/assets/images/logo/Asset 5-1.png" class="img-fluid blur-up lazyload" alt="">
                            </a>
                            <div class="header-nav-middle">
                                <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                                    <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                        <div class="offcanvas-header navbar-shadow">
                                            <h5>Menu</h5>
                                            <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body justify-content-center cart-nav" style="height:48px;">
                                            <ul class="navbar-nav" style="">
                                                @* <li class="nav-item">
                                                    <h3> <a href="https://www.focfulfillment.com/" class="nav-link">Home</a></h3>
                                                </li> *@
                                                <li class="nav-item txtColor ">
                                                    <h3>  <a class="nav-link txtColor" asp-action="SellerDashboard" asp-controller="Seller">Dashboard</a> </h3>
                                                </li>
                                                <li class="nav-item">
                                                    <h3> <a class="nav-link" asp-action="Shop" asp-controller="Seller">Shop</a></h3>
                                                </li>
                                                @*  <li class="nav-item">
                                                <h3>
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                data-bs-toggle="dropdown">Shop</a>
                                                </h3>

                                                <ul class="dropdown-menu">
                                                <li>
                                                <a class="dropdown-item" href="#" onclick="redirectToNewArrival()">
                                                New Arrivals
                                                </a>
                                                </li>
                                                <li>
                                                <a class="dropdown-item" href="#" onclick="redirectToBestSeller()">
                                                Best Sellers
                                                </a>
                                                </li>
                                                <li>
                                                <a class="dropdown-item" href="#" onclick="redirectToTopRated()">
                                                Top Rated
                                                </a>
                                                </li>
                                                </ul>
                                                </li> *@

                                                <li class="nav-item">
                                                    <h3> <a class="nav-link" asp-action="Catalog" asp-controller="Seller">Catalog</a> </h3>
                                                </li>
                                                <li class="nav-item ">
                                                    <h3>  <a class="nav-link" asp-action="Guidelines" asp-controller="Public">Guidelines</a> </h3>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rightside-box">
                                <div class="search-full">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>
                                        <input type="text" class="form-control search-type" placeholder="Search here..">
                                        <span class="input-group-text close-search">
                                            <i data-feather="x" class="font-light"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="right-side-menu">
                                    <li class="right-side">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon">
                                                <div class="search-box">
                                                    <i data-feather="search"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="right-side">
                                        <a asp-controller="Seller" asp-action="ContactUs" class="btn p-0 position-relative header-wishlist">
                                            <div class="delivery-icon mt-2">
                                                <i data-feather="phone-call"></i>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="right-side">
                                        <a asp-action="Wishlist" asp-controller="Seller" id="wishListTab" class="btn p-0 position-relative header-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>

                                    @Html.Partial("_ShoppingCart")
                                    <li class="right-side onhover-dropdown">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon cursor-Pointer">
                                                <i data-feather="user"></i>
                                            </div>

                                        </div>

                                        <div class="onhover-div onhover-div-login">
                                            <ul class="user-box-name">
                                                <li class="product-box-contain">
                                                    <a asp-action="SellerDashboard" asp-controller="Seller">Dashboard</a>
                                                </li>

                                                <li class="product-box-contain">
                                                    <a asp-action="Shop" asp-controller="Seller">Shop</a>
                                                </li>
                                                <li class="product-box-contain">
                                                    <a asp-action="Wishlist" asp-controller="Seller">Wishlist</a>
                                                </li>
                                                <li class="product-box-contain">
                                                    <i></i>
                                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                       href="javascript:void(0)">
                                                        Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    @* <div class="header-nav-middle">
        <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
            <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                <div class="offcanvas-header navbar-shadow">
                    <h5>Menu</h5>
                    <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body justify-content-center" style="height:48px;">
                    <ul class="navbar-nav" style="">
                        <li class="nav-item">
                            <h3> <a class="nav-link" asp-action="Shop" asp-controller="Seller">Home</a></h3>
                        </li>

                        <li class="nav-item dropdown">
                            <h3>
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                   data-bs-toggle="dropdown">Shop</a>
                            </h3>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#" onclick="redirectToNewArrival()">
                                        New Arrivals
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" onclick="redirectToBestSeller()">
                                        Best Sellers
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#" onclick="redirectToTopRated()">
                                        Top Rated
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <h3> <a class="nav-link" asp-action="Catalog" asp-controller="Seller">Catalog</a> </h3>
                        </li>
                        <li class="nav-item ">
                            <h3>  <a class="nav-link" asp-action="Guidelines" asp-controller="Public">Guidelines</a> </h3>
                        </li>
                        <li class="nav-item txtColor ">
                            <h3>  <a class="nav-link txtColor" asp-action="SellerDashboard" asp-controller="Seller">Dashboard</a> </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> *@


    @RenderBody();

    <!-- Footer Section Start -->
    <footer class="section-t-space">
        <div class="container-fluid-lg">
            <div class="service-section">
                <div class="row g-3">
                    <div class="col-12">
                    </div>
                </div>
            </div>

            <div class="main-footer section-b-space section-t-space">
                <div class="row g-md-4 g-3">
                    <div class="col-xl-5 col-lg-4 col-sm-6">
                        <div class="footer-logo">
                            <div class="theme-logo">
                                <a asp-action="Shop" asp-controller="Seller">
                                    @* <img src="~/assets/images/logo/1 - copy.png" class="blur-up lazyload" alt=""> *@
                                    <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                                </a>
                            </div>
                            <div class="footer-logo-contain">
                                <p>
                                    We are a friendly bar serving a variety of cocktails, wines, and beers. Our bar is a
                                    perfect place for a couple.
                                </p>
                                <ul class="address">
                                    <li>
                                        <i data-feather="home"></i>
                                        <a href="javascript:void(0)">www.focfulfillment.com</a>
                                    </li>
                                    <li>
                                        <i data-feather="mail"></i>
                                        <a href="javascript:void(0)">support@focfulfillment.com</a>
                                    </li>
                                    <li>
                                        <i data-feather="phone"></i>
                                        <a href="javascript:void(0)">+92 327 8860192</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-title">
                            <h4>Useful Links</h4>
                        </div>
                        <div class="footer-contain">
                            <ul>
                                <li>
                                    <a class="text-content" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                       href="javascript:void(0)">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-title">
                            <h4>My Account</h4>
                        </div>
                        <div class="footer-contain">
                            <ul>
                                <li>
                                    <a href="@Url.Action("SellerDashboard","Seller")" class="text-content">Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SellerOrders","Seller")" class="text-content">Orders</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Shop","Seller")" class="text-content">Shop</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Withdrawal","Seller")" class="text-content">Withdrawals</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Reports","Seller")" class="text-content">Reports</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-title">
                            <h4>Information</h4>
                        </div>
                        <div class="footer-contain">
                            <ul>
                                <li>
                                    <a href="@Url.Action("AboutUs", "Public")" class="text-content">About Us</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ContactUs", "Seller")" class="text-content">Contact Us</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("TermAndCondition","Public")" class="text-content">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("PrivacyPolicy","Public")" class="text-content">Privacy & Policy</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Faq","Public")" class="text-content">FAQs</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="sub-footer section-small-space">
                <div class="reserve">
                    <h6 class="text-content">©2023 FOCFulfillment All rights reserved</h6>
                </div>

                <div class="payment">
                </div>

                <div class="social-link">
                    <h6 class="text-content">Stay connected :</h6>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/fountainofcraftofficial?mibextid=9R9pXO" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@@fountainofcraft" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tiktok.com/@@fountainofcraft?_t=8gCpFY9XNPW&_r=1" target="_blank">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather/feather.min.js"></script>
    <script src="~/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/slick/slick-animation.min.js"></script>
    <script src="~/assets/js/custom-slick-animated.js"></script>
    <script src="~/assets/js/slick/custom_slick.js"></script>


    <!-- Price Range Js -->
    <script src="~/assets/js/ion.rangeSlider.min.js"></script>

    <!-- sidebar open js -->
    <script src="~/assets/js/filter-sidebar.js"></script>

    <!-- Quantity js -->
    <script src="~/assets/js/quantity-2.js"></script>

    <!-- Zoom Js -->
    <script src="~/assets/js/jquery.elevatezoom.js"></script>
    <script src="~/assets/js/zoom-filter.js"></script>

    <!-- Sticky-bar js -->
    @* <script src="~/assets/js/sticky-cart-bottom.js"></script> *@

    <!-- WOW js -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="~/assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="~/assets/js/theme-setting.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>

        function displayMarquee(data) {
            var marqueeContent = data;
            var marqueeElement = document.getElementById("myMarquee");

            if (marqueeContent) {
                marqueeElement.textContent = marqueeContent;
            } else {
                marqueeElement.textContent = 'Default marquee text if no data found';
            }
        }

        $.ajax({
            url: '/Seller/GetMarqueeData',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                displayMarquee(data);
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });




        if (window.innerWidth > 768) {
            $('.nav-item.dropdown').hover(function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            }, function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            });

            $('.nav-item.dropdown > .nav-link').click(function () {
                return false;
            });
        }
        function redirectToNewArrival() {
            var redirectURL = "FilterPage?newArrivals=true";
            window.location.href = redirectURL;
        }
        function redirectToBestSeller() {
            var redirectURL = "FilterPage?bestSellers=true";
            window.location.href = redirectURL;
        }
        function redirectToTopRated() {
            var redirectURL = "FilterPage?topRated=true";
            window.location.href = redirectURL;
        }
        function redirectTo100To999() {
            var redirectURL = "FilterPage?minPrice=100&maxPrice=999";
            window.location.href = redirectURL;
        }
        function redirectTo1000To1999() {
            var redirectURL = "FilterPage?minPrice=1000&maxPrice=1999";
            window.location.href = redirectURL;
        }
        function redirectTo2000To2999() {
            var redirectURL = "FilterPage?minPrice=2000&maxPrice=2999";
            window.location.href = redirectURL;
        }
        function redirectTo3000To3999() {
            var redirectURL = "FilterPage?minPrice=3000&maxPrice=3999";
            window.location.href = redirectURL;
        }
        function redirectTo4000To4999() {
            var redirectURL = "FilterPage?minPrice=4000&maxPrice=4999";
            window.location.href = redirectURL;
        }
        function redirectTo5000To9999() {
            var redirectURL = "FilterPage?minPrice=5000&maxPrice=9999";
            window.location.href = redirectURL;
        }
        $(".cartBtn").mouseover(function () {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Seller/GetCartItems',
                success: function (data) {
                    $('#exampleModal').html(data);
                },
                error: function (data) {
                    alert("Error is facing for fetching data");
                }
            });
        });
    </script>
    <!-- Log Out Modal Start -->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel" style="color:black">Logging Out</h5>
                    <p style="color:black">Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <form asp-action="SellerLogout" asp-controller="Seller">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                            <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Log Out Modal End-->
</body>
</html>