﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/assets/images/favicon/1.png" type="image/x-icon">
    @* <title>Become Seller</title> *@
    <title>@ViewBag.Title</title>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/backend-assets/css/style.css" rel="stylesheet" />
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>
</head>
<style>
    .cursor-Pointer {
        cursor: pointer;
    }

    header .header-top {
        padding: 3px 0px 1px 0px !important;
    }

    header .navbar.navbar-expand-xl .navbar-nav .nav-link::before {
        content: "" !important;
    }
</style>
<body>

    <!-- Header Start -->
    <header class="pb-md-4 pb-0">
        <div class="header-top">
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xxl-12 col-md-12">
                        <marquee style="color:white">
                            Join us today and experience a new level of dropshipping excellence. We’re dedicated to helping you and your customers achieve dropshipping success like never before. Our mission is to provide top-notch Fulfillment services that empower your business to thrive in the world of e-commerce. We are focused on Efficient Fulfillment, Best-in-Class Courier Services, Quality Control that meets highest standards, Reduced Return Ratio and Competitive Pricing. When you choose FOC Fulfillment, you're not just getting a fulfillment partner – you're getting a dedicated team committed to your success. We're here to support your business every step of the way.
                        </marquee>
                    </div>
                </div>
            </div>
        </div>

        <div class="top-nav top-header sticky-header">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">
                            <a href="https://www.focfulfillment.com/" class="web-logo nav-logo">
                                <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                            </a>
                            <div class="rightside-box">
                                <ul class="right-side-menu">
                                   
                                    <li class="right-side onhover-dropdown">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon cursor-Pointer">
                                                <i data-feather="user"></i>
                                            </div>

                                        </div>

                                        <div class="onhover-div onhover-div-login">
                                            <ul class="user-box-name">
                                                <li class="product-box-contain">
                                                    <i></i>
                                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                       href="javascript:void(0)">
                                                        Logout
                                                    </a>
                                                </li>
                                                <li class="product-box-contain">
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- About Section Start -->
    @RenderBody()
    <!-- About Section End -->
    <!-- Footer Section Start -->
    <footer class="section-t-space">
        <div class="container-fluid-lg">
            <div class="service-section">
                <div class="row g-3">
                    <div class="col-12">
                    </div>
                </div>
            </div>

            <div class="main-footer section-b-space section-t-space">
                <div class="row g-md-4 g-3">
                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-logo">
                            <div class="theme-logo">
                                <a>
                                    <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                                </a>
                            </div>

                            <div class="footer-logo-contain">
                                <p>
                                    We are a friendly bar serving a variety of cocktails, wines and beers. Our bar is a
                                    perfect place for a couple.
                                </p>


                            </div>
                        </div>
                    </div>



                    <div class="col-xl-4 col-lg-2 col-sm-3">
                        <div class="footer-title">
                            <h4>Quick Links</h4>
                        </div>

                        <div class="footer-contain">
                            <ul>
                                <li>
                                    <a asp-controller="Public" asp-action="AboutUs" class="text-content">About us</a>
                                </li>

                                <li>
                                    <a asp-controller="Public" asp-action="ContactUs" class="text-content">Contact Us</a>
                                </li>

                                <li>
                                    <a asp-controller="Public" asp-action="TermAndCondition" class="text-content">Terms and Conditions</a>
                                </li>

                                <li>
                                    <a asp-controller="Public" asp-action="PrivacyPolicy" class="text-content">Privacy & Policy</a>
                                </li>

                                <li>
                                    <a asp-controller="Public" asp-action="Faq" class="text-content">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="footer-title">
                            <h4>Contact Us</h4>
                        </div>

                        <div class="footer-contact">
                            <ul>
                                <li>
                                    <div class="footer-number">
                                        <i data-feather="phone"></i>
                                        <div class="contact-number">
                                            <h6 class="text-content">Hotline 24/7 :</h6>
                                            <h5>+92 327 8860192</h5>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="footer-number">
                                        <i data-feather="mail"></i>
                                        <div class="contact-number">
                                            <h6 class="text-content">Email Address :</h6>
                                            <h5>support@focfulfillment.com</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-footer section-small-space">
                <div class="reserve">
                    <h6 class="text-content">
                        ©2023 FOC Fulfillment All rights reserved.
                        <p>
                            Powered By: <a href="https://tetrasol.net/">TetraSol</a>
                        </p>
                    </h6>
                </div>
                <div class="social-link">
                    <h6 class="text-content">Stay connected :</h6>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa-brands fa-tiktok"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Log Out Modal Start -->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <form asp-action="SellerLogout" asp-controller="Seller">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                            <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bg overlay End -->
    <!-- Footer Section End -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather/feather.min.js"></script>
    <script src="~/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/slick/slick-animation.min.js"></script>
    <script src="~/assets/js/slick/custom_slick.js"></script>

    <!-- Price Range Js -->
    <script src="~/assets/js/ion.rangeSlider.min.js"></script>

    <!-- Quantity js -->
    <script src="~/assets/js/quantity-2.js"></script>

    <!-- sidebar open js -->
    <script src="~/assets/js/filter-sidebar.js"></script>

    <!-- script js -->
    <script src="~/assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="~/assets/js/theme-setting.js"></script>

</body>
</html>
