﻿@using LocalDropshipping.Web.Enums;
@using Newtonsoft.Json;
@using LocalDropshipping.Web.Data.Entities;
@{
    Layout = null;
    bool isAdmin = TempData["IsAdmin"] as bool? ?? false;
    bool isSuperAdmin = TempData["IsSuperAdmin"] as bool? ?? false;
    var currentUserRoles = (List<Roles>)Context.Items["CurrentUserRoles"];
    var currentUserData = (User)Context.Items["CurrentUser"];
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Fastkart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, Fastkart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
   <link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
    <link rel="shortcut icon" src="~/backend-assets/images/favicon.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">
    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/backend-assets/css/linearicon.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/font-awesome.css">
    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/font-awesome.css">
    <!-- Themify icon css-->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/themify.css" rel="stylesheet">
    <!-- ratio css -->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/ratio.css">
    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/remixicon.css">
    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/feather-icon.css">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/animate.css">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vendors/bootstrap.css">
    <!-- vector map css -->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/vector-map.css">
    <!-- Slick Slider Css -->
    <link rel="stylesheet" href="~/backend-assets/css/vendors/slick.css">
    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/style.css">
    <!-- Template css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!--DatePicker Css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        section, .section-t-space {
            padding-top: 0px !important;
        }
    </style>
    <style>

        .daterangepicker .drp-buttons .drp-selected .applyBtn {
            background-color: #0DA487;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            margin-top: 5px;
            padding: 2px 4px;
        }


        .daterangepicker .drp-buttons .drp-selected .cancelBtn {
            background-color: #333;
            color: #000000;
            font-size: 14px;
            font-weight: 500;
            padding: 2px 4px;
        }

        .daterangepicker td.active {
            background-color: #0DA487;
        }

            .daterangepicker td.active:hover {
                background-color: #0DA487;
                border-color: transparent;
                color: #fff;
            }

        select .form-select option:hover {
            background-color: #0DA487;
        }
         .custom-input {
            position: relative;
        }

        .custom-input input[type="password"] {
            padding-right: 30px; 
        }

        .custom-input i#toggle-password {
            position: absolute;
            top: 50%;
            right: 10px; 
            transform: translateY(-50%);
            cursor: pointer;
            padding-bottom: 18px;
        }
    </style>
</head>
<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper m-0">
                <div class="header-logo-wrapper p-0">
                    <div class="logo-wrapper">
                        <a href="Dashboard">
                            <img class="img-fluid main-logo" src="~/backend-assets/images/logo/1.png" alt="logo">
                            <img class="img-fluid white-logo" src="~/backend-assets/images/logo/1-white.png" alt="logo">
                        </a>
                    </div>
                    <div class="toggle-sidebar">
                        <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                        <a >
                            <img src="~/assets/images/logo/1.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <div class="nav-right col-6 pull-right right-header p-0">
                    <ul class="nav-menus">
                        <li class="profile-nav onhover-dropdown pe-0 me-0">
                            <div class="media profile-media">
                                <img class="user-profile rounded-circle" src="~/backend-assets/images/users/default-profile-image.svg" alt="">
                                <div class="media-body">
                                    <span>@currentUserData.Fullname</span>
                                    <p class="mb-0 font-roboto">@currentUserRoles.First().ToString()<i class="middle ri-arrow-down-s-line"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                <li>
                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                       href="javascript:void(0)">
                                        <i data-feather="log-out"></i>
                                        <span>Log out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div id="sidebarEffect"></div>
                <div>
                    <div class="logo-wrapper logo-wrapper-center">
                        <a href="Dashboard" data-bs-original-title="" title="">
                            <img class="img-fluid for-white" src="~/backend-assets/images/logo/FOCFulfillment-Logo-Main-Admin-Panel.png" alt="logo">
                        </a>
                        <div class="back-btn">
                            <i class="fa fa-angle-left"></i>
                        </div> 
                        @* <div class="toggle-sidebar">
                            <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
                        </div>  *@
                    </div>
                   <div class="logo-icon-wrapper">
                        <a href="index.html">
                            <img class="img-fluid main-logo main-white" src="~/backend-assets/images/logo/logo.png" alt="logo">
                            <img class="img-fluid main-logo main-dark" src="~/backend-assets/images/logo/logo-white.png"
                                 alt="logo">
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>
                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"></li>
                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" asp-controller="Admin" asp-action="Dashboard">
                                        <i class="ri-home-line"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-store-3-line"></i>
                                        <span>Product</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li class="d-block">
                                            <a asp-controller="Admin" asp-action="AddUpdateProduct" class="sidebar-link">Add Product</a>
                                        </li>
                                        <li class="d-block">
                                            <a asp-controller="Admin" asp-action="Products" class="sidebar-link">Products List</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" asp-controller="Admin" asp-action="Withdrawal">
                                        <i class="ri-money-dollar-circle-line"></i>
                                        <span>Withdrawals</span>
                                    </a>
                                </li>
                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-user-3-line"></i>
                                        <span>Users</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li class="d-block">
                                            <a asp-action="AddNewUser" asp-controller="Admin" class="sidebar-link">Add User</a>
                                        </li>
                                        @* <li class="d-block">
                                            <a asp-action="Wallet" asp-controller="Admin" class="sidebar-link">Add Wallet</a>
                                        </li> *@
                                        <li class="d-block">
                                            <a asp-action="GetAllSellers" asp-controller="Admin" class="sidebar-link">Vendors</a> @* old value was Sellers *@
                                        </li>
                                        <li class="d-block">
                                            <a asp-action="GetAllConsumers" asp-controller="Admin" class="sidebar-link">Consumers</a>
                                        </li class="d-block">
                                        @if (isSuperAdmin)
                                        {
                                            <li class="d-block">
                                                <a asp-action="StaffMember" asp-controller="Admin" class="sidebar-link">Staff Members</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-archive-line"></i>
                                        <span>Orders</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li class="d-block">
                                            <a asp-action="OrdersList" asp-controller="Admin" class="sidebar-link">Order List</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" asp-action="Reports" asp-controller="Admin">
                                        <i class="ri-file-chart-line"></i>
                                        <span>Reports</span>
                                    </a>
                                </li>
                                @if (isSuperAdmin)
                                {
                                      <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" asp-action="UpdateNews" asp-controller="Admin">
                                        <i class="ri-settings-line"></i>
                                        <span>FOC-Settings</span>
                                    </a>
                                </li>
                                }
                              <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" asp-action="QuotationList" asp-controller="Admin">
                                        <i class="ri-chat-quote-line"></i>
                                        <span>Quotations</span>
                                    </a>
                                </li>
                                <li class="sidebar-list">
                                    <a style="cursor:pointer" class="sidebar-link sidebar-title link-nav" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        <i class="ri-logout-box-r-line"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <!-- index body start -->
            @RenderBody()
            <!-- index body end -->
        </div>
        <!-- Page Body End -->
        <div class="container-fluid">
            <footer class="footer">
                <div class="row">
                    <div class="col-md-12 footer-copyright text-center">
                        <p class="mb-0">©2023 FOCFulfillment - All Rights Reserved. Powered By: <a href="https://tetrasol.net" target="_blank">TetraSol</a> </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- page-wrapper End-->
    <!-- Modal Start -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                    <p>Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                        <button id="logoutLink" type="button" class="btn  btn--yes btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->
    <!-- latest js -->
    <script src="~/backend-assets/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/backend-assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js -->
    <script src="~/backend-assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/backend-assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar simplebar js -->
    <script src="~/backend-assets/js/scrollbar/simplebar.js"></script>
    <script src="~/backend-assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery -->
    <script src="~/backend-assets/js/config.js"></script>
    <!-- tooltip init js -->
    <script src="~/backend-assets/js/tooltip-init.js"></script>
    <!-- Plugins JS -->
    <script src="~/backend-assets/js/sidebar-menu.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    @*<script src="~/backend-assets/js/notify/index.js"></script>*@

    <!-- Apexchar js -->
    <script src="~/backend-assets/js/chart/apex-chart/apex-chart1.js"></script>
    <script src="~/backend-assets/js/chart/apex-chart/moment.min.js"></script>
    <script src="~/backend-assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/backend-assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/backend-assets/js/chart/apex-chart/chart-custom1.js"></script>
    <!-- slick slider js -->
    <script src="~/backend-assets/js/slick.min.js"></script>
    <script src="~/backend-assets/js/custom-slick.js"></script>
    <!-- customizer js -->
    <script src="~/backend-assets/js/customizer.js"></script>
    <!-- ratio js -->
    <script src="~/backend-assets/js/ratio.js"></script>
    <!-- sidebar effect -->
    <script src="~/backend-assets/js/sidebareffect.js"></script>
    <!-- Theme js -->
    <script src="~/backend-assets/js/script.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var submenuItems = document.querySelectorAll(".sidebar-submenu li");

            submenuItems.forEach(function (item) {
                item.addEventListener("click", function () {
                    submenuItems.forEach(function (submenuItem) {
                        submenuItem.classList.remove("active");
                    });

                    item.classList.add("active");
                });
            });
        });

        document.getElementById("logoutLink").addEventListener("click", function (e) {
            e.preventDefault(); // Prevent the default anchor tag behavior
            // Submit the form programmatically
            var form = document.createElement("form");
            form.method = "post";
            form.action = "/Admin/Logout"; // Set the action to your controller and action
            document.body.appendChild(form);
            form.submit();
        });
        function ShowMessage(message) {
            var notify = $.notify('', {
                type: 'theme',
                allow_dismiss: true,
                delay: 3000,
                showProgressbar: true,
                timer: 300,
                // timer: 555555500,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            setTimeout(function () {
                notify.update('message', '<i class="fas fa-bell"></i></i>' + message + '');
            }, 1000);
        }
        function ShowWarning(message) {
            var notify = $.notify('', {
                type: 'warning',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                // timer: 555555500,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            setTimeout(function () {
                notify.update('message', '<i class="fas fa-bell"></i></i>' + message + '');
            }, 1000);
        }
        function ShowSuccess(message) {
            var notify = $.notify('', {
                type: 'success',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                // timer: 555555500,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            setTimeout(function () {
                notify.update('message', '<i class="fas fa-bell"></i></i>' + message + '');
            }, 1000);
        }
        function ShowDanger(message) {
            var notify = $.notify('', {
                type: 'danger',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                // timer: 555555500,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            setTimeout(function () {
                notify.update('message', '<i class="fas fa-bell"></i></i>' + message + '');
            }, 1000);
        }
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    @RenderSection("script",false)
</body>
</html>
