﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers.Constants;
@model ProductVariant
@if(Model.Videos.Any())
{
    <div class="slider-1 slider-animate product-wrapper no-arrow">
        @foreach (var video in Model.Videos)
        {
            <div>
                <div class="banner-contain-1 hover-effect">
                    <video autoplay muted controls loop style="width: 100% !Important; height: 400px !important; object-fit: contain;" src="@video.Link" alt=""></video>
                </div>
            </div>
        }
    </div>
}