﻿@using LocalDropshipping.Web.Data.Entities;
@model ProductVariant

<style>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" >
</style>

<div class="col-12">
    <div class="product-main no-arrow">
        <div>
            <div class="slider-image">
                <img src="@Model.FeatureImageLink" id="img-0"
                     data-zoom-image="@Model.FeatureImageLink" class="img-fluid image_zoom_cls-0 blur-up lazyload" alt="">
            </div>
        </div>
        @for (var i = 0; i < Model.Images.Count; i++)
        {
            <div>
                <div class="slider-image">
                    <img src="@Model.Images[i].Link" id="img-@(i + 1)"
                         data-zoom-image="@Model.Images[i].Link" class="img-fluid image_zoom_cls-@(i + 1) blur-up lazyload" alt="">
                </div>
            </div>
        }
    </div>
</div>

<div class="col-12">
    <div class="left-slider-image left-slider arrow slick-top slider-arrow">
        <div>
            <div class="sidebar-image">
                <img src="@Model.FeatureImageLink"
                     class="img-fluid blur-up lazyload" alt="">
            </div>
        </div>
        @foreach (var variantImage in Model.Images)
        {
            <div>
                <div class="sidebar-image">
                    <img src="@variantImage.Link"
                         class="img-fluid blur-up lazyload" alt="">
                </div>
            </div>
        }
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="~/assets/js/zoom-filter.js" defer></script>



<style>
    .slider-arrow .slick-prev {
        left: 0px;
        height: 120px;
        width: 30px;
    }

    .slider-arrow .slick-next {
        right: 11px;
        height: 120px;
        width: 32px;
    }

        .slider-arrow .slick-next:before, .slider-arrow .slick-prev:before {
            color: #0DA487;
            font-size: 45px;
        }
</style>



<script>
    $(document).ready(function () {
        console.log($('#your-image-element')); // Check if it selects the correct element
        $('#your-image-element').elevateZoom();
    });

    $(window).on('load', function () {
        $('#slider-for .slick-current img').elevateZoom();

        $('#img-0').elevateZoom({
            cursor: "crosshair",
            zoomType: "inner",
            tint: true,
        });

        function updateMainImage(zoomedImageSrc) {
            mainImage.attr('src', zoomedImageSrc);
            mainImageZoom.swaptheimage(zoomedImageSrc, zoomedImageSrc);
        }

        var mainImage = $('#img-0');
        var mainImageZoom = mainImage.data('elevateZoom');

        for (var i = 0; i < @Model.Images.Count; i++) {
            (function (index) {
                $('#img-' + index).on('click', function () {
                    var zoomedImageSrc = $(this).data('zoom-image');
                    updateMainImage(zoomedImageSrc);
                });
            })(i);
        }
        updateMainImage('@Model.FeatureImageLink');
    });
</script>