﻿@model TransactionDetailViewModel

<div class="container">
    <div class="invoice-header">
        <img src="../assets/images/logo/1.png" class="img-fluid blur-up lazyload" alt="" width="200">
        <h3 class="my-3">Invoice</h3>
    </div>
    <div class="invoice-container">
        <p>Invoice Number: @Model.TransactionId</p>
        <p>Invoice Date: @Model.CreatedDate.ToShortDateString()</p>
        <p>Business Name: @Model.BusinessName</p>
        <p>Email: @Model.Seller</p>
        <p>Bank Name: @Model.BankName</p>
        <p>Account Title: @Model.AccountTitle</p>
        <p>Account Number: @Model.AccountNumber</p>
        <p>Payment Status: @Model.PaymentStatus</p>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Order ID</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Sell Price</th>
                        <th>Profit</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TransactionDetails != null)
                    {
                        @foreach (var item in Model.TransactionDetails)
                        {
                            <tr>
                                <td>@item.TransactionId</td>
                                <td>@item.OrderId</td>
                                <td>@item.ProductName</td>
                                <td>@($"Rs.{item.Price:N0}")/-</td>
                                <td>@($"Rs.{item.SellPrice:N0}")/-</td>
                                <td>@($"Rs.{item.Profit:N0}")/-</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="3"><strong>Total</strong></td>
                            <td>@($"Rs.{Model.TransactionDetails.Sum(item => item.Price):N0}")/-</td>
                            <td>@($"Rs.{Model.TransactionDetails.Sum(item => item.SellPrice):N0}")/-</td>
                            <td>@($"Rs.{Model.TransactionDetails.Sum(item => item.Profit):N0}")/-</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td colspan="5"><strong>No transaction details available.</strong></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .table-bordered th, .table-bordered td {
        border: 0.5px solid #dddddd;
    }
</style>