﻿
@model List<TransactionDetailItemViewModel>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Sell Price</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TransactionId</td>
                    <td>@item.OrderId</td>
                    <td>@item.ProductName</td>
                    <td>@($"Rs.{item.Price:N0}")/-</td>
                    <td>@($"Rs.{item.SellPrice:N0}")/-</td>
                    <td>@($"Rs.{item.Profit:N0}")/-</td>
                </tr>
            }
            <!-- Total Row -->
            <tr>
                <td colspan="3"><strong>Total</strong></td>
                <td>@($"Rs.{Model.Sum(item => item.Price):N0}")/-</td>
                <td>@($"Rs.{Model.Sum(item => item.SellPrice):N0}")/-</td>
                <td>@($"Rs.{Model.Sum(item => item.Profit):N0}")/-</td>
            </tr>
        </tbody>
    </table>
</div>
<style>
    .table-bordered th, .table-bordered td {
        border: 0.5px solid #dddddd; 
    }
</style>
