﻿@using LocalDropshipping.Web.Data.Entities;
@model Quotations;

<div class="container">
    <div class="form-group">
        <div class="label-value-pair">
            <label for="FullName">FullName:</label>
            <div class="value" id="FullName">@Model.Fullname</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="Email">Email:</label>
            <div class="value" id="Email">@Model.Email</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="BudgetInUSD">Budget In USD:</label>
            <div class="value" id="BudgetInUSD">@Model.BudgetInUSD</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="QuotationStatus">Status:</label>
            <div class="value" id="QuotationStatus">@Model.QuotationStatus</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="Fulfilment">Fulfilment:</label>
            <div class="value" id="Fulfilment">@Model.Fulfilment</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="Sourcing">Sourcing:</label>
            <div class="value" id="Sourcing">@Model.Sourcing</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="BusinessName">Store Name:</label>
            <div class="value" id="BusinessName">@Model.WebsiteURL</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="PhoneNumber">Phone Number:</label>
            <div class="value" id="PhoneNumber">@Model.PhoneNumber</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="WhatsappPhoneNumber">Whatsapp Phone Number:</label>
            <div class="value" id="WhatsappPhoneNumber">@Model.WhatsappPhoneNumber</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="ProductInformation">Product Information:</label>
            <div class="value" id="ProductInformation">@Model.ProductInformation</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="CreatedDate">Created Date:</label>
            <div class="value" id="CreatedDate">@Model.CreatedDate</div>
        </div>
    </div>
    <div class="form-group">
        <div class="label-value-pair">
            <label for="HomeCity">HomeCity:</label>
            <div class="value" id="HomeCity">@Model.HomeCity</div>
        </div>
    </div>
</div>

<style>

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
    }
</style>