﻿@using LocalDropshipping.Web.Data.Entities;
@model List<QuotationsProductImages>;

<div class="container">
    <div class="deal-offer-box">
        @foreach (var image in Model)
        {
            <img src="@Url.Content("~/" + image.Link)" class="responsive-image" alt="Product Image" />
        }
    </div>
</div>


<style>
    
    .container {
        max-width: 1200px; 
        margin: 0 auto; 
        padding: 15px; 
    }

    .deal-offer-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }

    .responsive-image {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin: 5px;
        box-sizing: border-box;
    }

</style>