﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutGuests";
}

<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger">
            <h3>Error</h3>
            <p>Something went wrong our team will fix this issue ASAP!</p>
            <!-- Error message here -->
        </div>
    </div>
</div>
