﻿@using LocalDropshipping.Web.Data.Entities;
<!DOCTYPE html>
<html lang="en" style="background-color:#f8f8f8">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/assets/images/favicon/1.png" type="image/x-icon">
    @* <title>On-demand last-mile delivery</title> *@
    <title>@ViewBag.Title</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" />

    <link href="~/css/site.css" rel="stylesheet" />

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/animate.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <!-- custom css -->
    <link rel="stylesheet" href="../assets/css/custom.css">

    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">


    @* For Logout vModal *@
    <link rel="stylesheet" type="text/css" href="~/backend-assets/css/style.css">

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>
    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>
</head>
@* <style>
    .cursor-Pointer {
        cursor: pointer;
    }

    .section, .section-t-space {
        padding-top: 0px;
    }

    .txtColor {
        color: #0da487;
    }

    marquee {
        font-size: 17px;
        font-weight: 400;
        color: #0da487;
        font-family: sans-serif;
    }
</style> *@
<style>
    .cursor-Pointer {
        cursor: pointer;
    }

    .section, .section-t-space {
        padding-top: 0px;
    }

    .txtColor {
        color: #0da487;
    }

    marquee {
        font-size: 17px;
        font-weight: 400;
        color: #0da487;
        font-family: sans-serif;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        color: #222;
        letter-spacing: 1px;
        padding: 12px 19px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        .navbar-nav .nav-item .nav-link:hover {
            color: #0da487;
            transition: all 0.3s ease;
        }

    .dropdown-menu .dropdown-item {
        color: #000;
        opacity: 0.6;
        font-size: 15px;
        padding: 7px 9px 11px 10px;
        background: transparent;
        font-weight: 500;
        border-top: 0px;
    }

        .dropdown-menu .dropdown-item:hover {
            letter-spacing: 0.1em;
            color: #0DA487;
        }

    .navbar-expand-xl .navbar-nav .dropdown-menu {
        box-shadow: -1px 0 10px 0 rgba(34,34,34,0.07), 5px 20px 40px 0 rgba(34,34,34,0.04);
        background-color: #fff;
        border-color: #fff;
        padding: 17px;
        border-radius: 10px;
        position: absolute;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.155em;
        vertical-align: 0em;
        content: "";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        border-top: 0em solid;
        border-right: 0em solid transparent;
    }

    .navbar-expand-xl {
        padding-bottom: 20px;
    }

    header .header-top {
        padding: 3px 0px 1px 0px !important;
    }

    header .navbar.navbar-expand-xl .navbar-nav .nav-link::before {
        content: "" !important;
    }


    .shop-search{
        justify-content: flex-end;
        padding-right: 12px;
        padding-bottom: 35px;
    }
    .shop-search .form-control{
            padding: 8px 20px;
            width: 300px;
            margin-right: 6px;
    }

    @@media screen and (max-width:991px){
        .shop-sidebar{
            display:none;
        }
    }
    @@media screen and (max-width:565px){
        .shop-search{
            padding-right: 12px;
            padding-left: 12px;
            display: block !important;
            padding-bottom: 35px;
        }
        .shop-search .form-control{
                width: -webkit-fill-available;
        }
    }

    header .navbar.navbar-expand-xl .navbar-nav .nav-link.dropdown-toggle::before{
        content: "" !important;
    }
    header .navbar-nav .dropdown-menu{
        min-width:auto;
    }


</style>
<body>
    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    <header>
        <div class="header-top header-shop">
            <div class="">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xxl-12 col-md-12">
                        <marquee style="color: white" id="myMarquee">We’re dedicated to helping you and your customers achieve dropshipping success like never before. Our mission is to provide top-notch Fulfillment services that empower your business to thrive in the world of e-commerce. We are focused on Efficient Fulfillment, Best-in-Class Courier Services, Quality Control that meets highest standards, Reduced Return Ratio and Competitive Pricing. When you choose FOC Fulfillment, you're not just getting a fulfillment partner – you're getting a dedicated team committed to your success. We're here to support your business every step of the way.</marquee>
                    </div>
                </div>
            </div>
        </div>


        <div class="top-nav top-header header-top-shop" style="background-color:#ffffff;">
            <div class="container-fluid-xs">
                <div class="row">
                    <div class="col-12">
                        <div class="navbar-top">
                            <button class="navbar-toggler d-xl-none d-inline" type="button" data-bs-toggle="collapse" data-bs-target="#primaryMenu">
                                <span class="navbar-toggler-icon">
                                    @*  <i class="fa-solid fa-bars"></i> *@
                                </span>
                            </button>



                            <div class="middle-box">
                                <div class="" style="padding:12px 25px">
                                    <button class="navbar-toggler d-xl-none d-inline navbar-menu-button" type="button"
                                            data-bs-toggle="offcanvas" data-bs-target="#primaryMenu">
                                        <span class="navbar-toggler-icon">
                                            <i class="fa-solid fa-bars"></i>
                                        </span>
                                    </button>
                                    <a href="https://www.focfulfillment.com/" class="web-logo nav-logo">
                                        <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                                    </a>
                                </div>
                                
                            </div>
                            <div class="header-nav-middle">
                                


                                <div class="main-nav navbar navbar-expand-xl navbar-light navbar-sticky">
                                    <div class="offcanvas offcanvas-collapse order-xl-2" id="primaryMenu">
                                        <div class="offcanvas-header navbar-shadow">
                                            <h5>Menu</h5>
                                            <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body justify-content-center" style="height:48px;">
                                            <ul class="navbar-nav" style="">
                                               @*  <li class="nav-item">
                                                    <h3> <a href="https://www.focfulfillment.com/" class="nav-link">Home</a></h3>
                                                </li> *@
                                                <li class="nav-item txtColor ">
                                                    <h3>  <a class="nav-link txtColor" asp-action="SellerDashboard" asp-controller="Seller">Dashboard</a> </h3>
                                                </li>
                                                <li class="nav-item">
                                                    <h3> <a class="nav-link" asp-action="Shop" asp-controller="Seller">Shop</a></h3>
                                                </li>
                                               @*  <li class="nav-item">
                                                    <h3>
                                                        <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                           data-bs-toggle="dropdown">Shop</a>
                                                    </h3>

                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="#" onclick="redirectToNewArrival()">
                                                                New Arrivals
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" onclick="redirectToBestSeller()">
                                                                Best Sellers
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#" onclick="redirectToTopRated()">
                                                                Top Rated
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li> *@

                                                <li class="nav-item">
                                                    <h3> <a class="nav-link" asp-action="Catalog" asp-controller="Seller">Catalog</a> </h3>
                                                </li>
                                                <li class="nav-item ">
                                                    <h3>  <a class="nav-link" asp-action="Guidelines" asp-controller="Public">Guidelines</a> </h3>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rightside-box">
                                <div class="search-full">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i data-feather="search" class="font-light"></i>
                                        </span>
                                        <input type="text" class="form-control search-type" placeholder="Search here..">
                                        <span class="input-group-text close-search">
                                            <i data-feather="x" class="font-light"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="right-side-menu">
                                    <li class="right-side">
                                        <a asp-controller="Seller" asp-action="ContactUs" class="btn p-0 position-relative header-wishlist">
                                            <div class="delivery-icon mt-1">
                                                <i data-feather="phone-call"></i>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="right-side">
                                        <a asp-action="Wishlist" asp-controller="Seller" class="btn p-0 position-relative header-wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </li>
                                    @Html.Partial("_ShoppingCart")

                                    <li class="right-side onhover-dropdown">
                                        <div class="delivery-login-box">
                                            <div class="delivery-icon cursor-Pointer">
                                                <i data-feather="user"></i>
                                            </div>
                                            <div class="delivery-detail">
                                                <h6>Hello,</h6>
                                                <h5>@(((User)Context.Items["CurrentUser"]).Fullname)</h5>
                                            </div>
                                        </div>
                                        <div class="onhover-div onhover-div-login">
                                            <ul class="user-box-name">
                                                <li class="product-box-contain">
                                                    <a asp-action="SellerDashboard" asp-controller="Seller">Dashboard</a>
                                                </li>
                                                <li class="product-box-contain">
                                                    <a asp-action="Shop" asp-controller="Seller">Shop</a>
                                                </li>
                                                <li class="product-box-contain">
                                                    <a asp-action="Wishlist" asp-controller="Seller">Wishlist</a>
                                                </li>
                                                <li class="product-box-contain d-md-none d-lg-done">
                                                    <a asp-action="Cart" asp-controller="Seller">View Cart</a>
                                                </li>
                                                <li class="product-box-contain">
                                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                       href="javascript:void(0)">
                                                        Logout
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-menu d-md-none d-block mobile-cart">
        <ul>
            <li>
                <a asp-action="Shop" asp-controller="Seller">
                    <i class="iconly-Home icli"></i>
                    <span>Shop</span>
                </a>
            </li>

            <li class="mobile-category">
                <a asp-action="SellerDashboard" asp-controller="Seller">
                    <i class="iconly-Category icli js-link"></i>
                    <span>Dahsboard</span>
                </a>
            </li>

            <li>
                <a asp-action="FilterPage" asp-controller="Seller" class="search-box">
                    <i class="iconly-Search icli"></i>
                    <span>Search</span>
                </a>
            </li>

            <li>
                <a <a asp-action="Wishlist" asp-controller="Seller">
                    <i class="iconly-Heart icli"></i>
                    <span>My Wish</span>
                </a>
            </li>

            <li>
                <a asp-action="Cart" asp-controller="Seller">
                    <i class="iconly-Bag-2 icli fly-cate"></i>
                    <span>Cart</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Header End -->
    <div class="header-nav-middle">
        <div class="search-box">
            <div class="input-group shop-search">
                <form asp-controller="Seller" asp-action="FilterPage" method="get" class="d-flex mb-0">
                    <input type="search" name="searchString" class="form-control mt-2" placeholder="I'm searching for..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn border-0 mt-2" style="background-color:#0da386;" type="submit" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- About Section Start -->


    <section class="section shop-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 shop-sidebar">
                    <!-- Left Sidebar Content -->
                    <div class="left-box wow fadeInUp">
                        <div class="shop-left-sidebar container" style="padding-top:25px">
                            <div class="back-button">
                                <h3><i class="fa-solid fa-arrow-left"></i> Back</h3>
                            </div>
                            
                            <div class="accordion custome-accordion" id="accordionExample">
                                <div style="margin-top:-22px;">
                                    <div class="text-left pt-1">
                                        <div class="row login-heading local-china-1-text animate-heading-6">
                                            <h1 class="text-capitalize">Filters</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                            <span>Products</span>
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         aria-labelledby="headingOne">
                                        <div class="accordion-body">
                                            <ul class="category-list custom-padding custom-height">

                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">

                                                        <a href="#" onclick="redirectToNewArrival()">
                                                            <span class="name">New Arrivals</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">

                                                        <a href="#" onclick="redirectToBestSeller()">
                                                            <span class="name">Best Sellers</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <a href="#" onclick="redirectToTopRated()">
                                                            <span class="name">Top Rated</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                            <span>Price</span>
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse show"
                                         aria-labelledby="headingThree">
                                        <div class="accordion-body">
                                            <ul class="category-list custom-padding custom-height">
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <a href="#" onclick="redirectTo100To999()">
                                                            <span class="name">Rs 100 - 999/-</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <a href="#" onclick="redirectTo1000To1999()">
                                                            <span class="name">Rs 1000 - 1999/-</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <a href="#" onclick="redirectTo2000To2999()">
                                                            <span class="name">Rs 2000 - 2999/-</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <a href="#" onclick="redirectTo3000To3999()">
                                                            <span class="name">Rs 3000 - 3999/-</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <a href="#" onclick="redirectTo4000To4999()">
                                                            <span class="name">Rs 4000 - 4999/-</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-check ps-0 m-0 category-list-box">
                                                        <a href="#" onclick="redirectTo5000To9999()">
                                                            <span class="name">Rs 5000 - 9999/-</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ... -->

                </div>
                <!-- ... -->
                <div class="col">

                    <!-- Main Content -->
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>


    <br />
    <br />
    @* @RenderBody() *@
    <!-- About Section End -->
    <!-- Footer Section Start -->
    <footer class="section-t-space">
        <div class="container-fluid-lg">
            <div class="service-section">
                <div class="row g-3">
                    <div class="col-12">
                    </div>
                </div>
            </div>

            <div>
                <div class="main-footer section-b-space section-t-space">
                    <div class="row g-md-4 g-3" style="padding:20px">
                        <div class="col-xl-5 col-lg-4 col-sm-6">
                            <div class="footer-logo">
                                <div class="theme-logo">
                                    <a asp-action="Shop" asp-controller="Seller">
                                        <img src="~/assets/images/logo/Asset 5-1.png" class="blur-up lazyload" alt="">
                                        @*  <img src="~/assets/images/logo/foc-logo.png" class="img-fluid blur-up lazyload" alt=""> *@
                                    </a>
                                </div>
                                <div class="footer-logo-contain">
                                    <p>
                                        We are a friendly bar serving a variety of cocktails, wines, and beers. Our bar is a
                                        perfect place for a couple.
                                    </p>
                                    <ul class="address">
                                        <li>
                                            <i data-feather="home"></i>
                                            <a href="javascript:void(0)">www.focfulfillment.com</a>
                                        </li>
                                        <li>
                                            <i data-feather="mail"></i>
                                            <a href="javascript:void(0)">support@focfulfillment.com</a>
                                        </li>
                                        <li>
                                            <i data-feather="phone"></i>
                                            <a href="javascript:void(0)">+92 327 8860192</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-title">
                                <h4>Useful Links</h4>
                            </div>
                            <div class="footer-contain">
                                <ul>
                                    <li>
                                        <a class="text-content" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                           href="javascript:void(0)">
                                            Logout
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-title">
                                <h4>My Account</h4>
                            </div>
                            <div class="footer-contain">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("SellerDashboard","Seller")" class="text-content">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SellerOrders","Seller")" class="text-content">Orders</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Shop","Seller")" class="text-content">Shop</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Withdrawal","Seller")" class="text-content">Withdrawals</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Reports","Seller")" class="text-content">Reports</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer-title">
                                <h4>Information</h4>
                            </div>
                            <div class="footer-contain">
                                <ul>
                                    <li>
                                        <a href="@Url.Action("AboutUs", "Public")" class="text-content">About Us</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ContactUs", "Seller")" class="text-content">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("TermAndCondition","Public")" class="text-content">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("PrivacyPolicy","Public")" class="text-content">Privacy & Policy</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Faq","Public")" class="text-content">FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="sub-footer section-small-space">
                    <div class="reserve">
                        <h6 class="text-content">©2023 FOCFulfillment All rights reserved</h6>
                    </div>

                    <div class="payment">
                    </div>

                    <div class="social-link">
                        <h6 class="text-content">Stay connected :</h6>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/fountainofcraftofficial?mibextid=9R9pXO" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/@@fountainofcraft" target="_blank">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.tiktok.com/@@fountainofcraft?_t=8gCpFY9XNPW&_r=1" target="_blank">
                                    <i class="fa-brands fa-tiktok"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> @* DIV ADDED HERE *@
    </footer>

    <!-- Footer Section End -->
    <!-- Quick View Modal Box Start -->
    <div class="modal fade theme-modal view-modal" id="view" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-sm-4 g-2">
                        <div class="col-lg-6">
                            <div class="slider-image">
                                <img src="../assets/images/product/category/1.jpg" class="img-fluid blur-up lazyload"
                                     alt="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="right-sidebar-modal">
                                <h4 class="title-name">Peanut Butter Bite Premium Butter Cookies 600 g</h4>
                                <h4 class="price">$36.99</h4>
                                <div class="product-rating">
                                    <ul class="rating">
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star"></i>
                                        </li>
                                    </ul>
                                    <span class="ms-2">8 Reviews</span>
                                    <span class="ms-2 text-danger">6 sold in last 16 hours</span>
                                </div>

                                <div class="product-detail">
                                    <h4>Product Details :</h4>
                                    <p>
                                        Candy canes sugar plum tart cotton candy chupa chups sugar plum chocolate I love.
                                        Caramels marshmallow icing dessert candy canes I love soufflé I love toffee.
                                        Marshmallow pie sweet sweet roll sesame snaps tiramisu jelly bear claw. Bonbon
                                        muffin I love carrot cake sugar plum dessert bonbon.
                                    </p>
                                </div>

                                <ul class="brand-list">
                                    <li>
                                        <div class="brand-box">
                                            <h5>Brand Name:</h5>
                                            <h6>Black Forest</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Code:</h5>
                                            <h6>W0690034</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Type:</h5>
                                            <h6>White Cream Cake</h6>
                                        </div>
                                    </li>
                                </ul>

                                <div class="select-size">
                                    <h4>Cake Size :</h4>
                                    <select class="form-select select-form-size">
                                        <option selected>Select Size</option>
                                        <option value="1.2">1/2 KG</option>
                                        <option value="0">1 KG</option>
                                        <option value="1.5">1/5 KG</option>
                                        <option value="red">Red Roses</option>
                                        <option value="pink">With Pink Roses</option>
                                    </select>
                                </div>

                                <div class="modal-button">
                                    <button onclick="location.href = 'cart.html';"
                                            class="btn btn-md add-cart-button icon">
                                        Add
                                        To Cart
                                    </button>
                                    <button onclick="location.href = 'product-left.html';"
                                            class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
                                        View More Details
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick View Modal Box End -->
    <!-- Location Modal Start -->
    <div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                    <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="location-list">
                        <div class="search-input">
                            <input type="search" class="form-control" placeholder="Search Your Area">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="disabled-box">
                            <h6>Select a Location</h6>
                        </div>

                        <ul class="location-select custom-height">
                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Alabama</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Arizona</h6>
                                    <span>Min: $150</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>California</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Colorado</h6>
                                    <span>Min: $140</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Florida</h6>
                                    <span>Min: $160</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Georgia</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Kansas</h6>
                                    <span>Min: $170</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Minnesota</h6>
                                    <span>Min: $120</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>New York</h6>
                                    <span>Min: $110</span>
                                </a>
                            </li>

                            <li>
                                <a href="javascript:void(0)">
                                    <h6>Washington</h6>
                                    <span>Min: $130</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Location Modal End -->
    <!-- Deal Box Modal Start -->
    <div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                        <p class="mt-1 text-content">Recommended deals for you.</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="deal-offer-box">
                        <ul class="deal-offer-list">
                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-2">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-3">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>

                            <li class="list-1">
                                <div class="deal-offer-contain">
                                    <a href="shop-left-sidebar.html" class="deal-image">
                                        <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                             alt="">
                                    </a>

                                    <a href="shop-left-sidebar.html" class="deal-contain">
                                        <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                        <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Deal Box Modal End -->
    <!-- Tap to top end -->
    <!-- Log Out Modal Start -->

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title" id="staticBackdropLabel" style="color:black">Logging Out</h5>
                    <p style="color:black">Are you sure you want to log out?</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="button-box">
                        <form asp-action="SellerLogout" asp-controller="Seller">
                            <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                            <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bg overlay Start -->
    <!-- Log Out Modal End-->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/slick/slick-animation.min.js"></script>
    <script src="../assets/js/slick/custom_slick.js"></script>

    <!-- Auto Height Js -->
    <script src="../assets/js/auto-height.js"></script>

    <!-- Fly Cart Js -->
    <script src="../assets/js/fly-cart.js"></script>

    <!-- Quantity js -->
    <script src="../assets/js/quantity-2.js"></script>

    <!-- WOW js -->
    <script src="../assets/js/wow.min.js"></script>
    <script src="../assets/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="../assets/js/theme-setting.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>


    <script>
        function displayMarquee(data) {
            var marqueeContent = data;
            var marqueeElement = document.getElementById("myMarquee");

            if (marqueeContent) {
                marqueeElement.textContent = marqueeContent;
            } else {
                marqueeElement.textContent = 'Default marquee text if no data found';
            }
        }

        $.ajax({
            url: '/Seller/GetMarqueeData',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                displayMarquee(data);
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });


    </script>
</body>
</html>


