﻿@model IEnumerable<LocalDropshipping.Web.Data.Entities.OrderItem>
@using LocalDropshipping.Web.Data.Entities;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "FOCFulfillment - Cart";

    //Layout = "_Layout";
    Layout = "_LayoutForLoggedInSeller";
    var data = Context.Session.GetString("cart");
    int countCart = 0;
    if (data == null)
    {
        countCart = 0;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        List<OrderItem> dataCart = JsonConvert.DeserializeObject<List<OrderItem>>(data2);
        countCart = dataCart.Count();
    }

}
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
    <style>
        .cart-section {
            padding-top: 75px;
        }
    </style>
</head>
<div>
    <div class="container-fluid-lg text-left pt-4">
        <div class="row login-heading local-china-1-text animate-heading-6">
            <h1 class="text-capitalize">Cart</h1>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Cart Section Start -->
@if (Model != null && countCart != 0)
{
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3 ">
                <div class="col-xxl-12">
                    <div class="cart-table ">
                        <div class="table-responsive-xl cart-blank-data">
                            <table class="table cart-table-data border-0">
                                <tbody>
                                    @foreach (var cart in Model)
                                    {

                                        <tr class="product-box-contain">
                                            <td class="product-detail border-0">
                                                <div class="product border-0">
                                                    <a href="product-left-thumbnail.html" class="product-image">
                                                        <img src="@cart.Image"
                                                             class="img-fluid blur-up lazyload" alt="">
                                                    </a>

                                                </div>
                                            </td>
                                            <td class="product-detail border-0">
                                                <h4 class="table-title text-content"><b>Name</b></h4>
                                                <div class="product border-0">
                                                    <div class="product-detail" style="margin-left:0px;">
                                                        <ul>
                                                            <li class="name" style="width:310px; text-overflow:ellipsis; overflow:hidden">
                                                                <a style="color:#0da487" asp-action="Product" asp-route-id="@cart.ProductId">@cart.Name</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>


                                            <td class="price border-0">
                                                <h4 class="table-title text-content"> <b> Price </b> </h4>
                                                <h5 class="text-center">Rs.@cart.Price/- </h5>
                                            </td>

                                            <td class="quantity border-0">
                                                <h4 class="table-title text-content"><b>Qty</b></h4>
                                                <div class="quantity-price">
                                                    <div class="cart_qty">
                                                        <div class="input-group">
                                                            <button type="button" data-id="@cart.ProductId" class="btn qty-left-minus" style="background-color:#0da487;color:white;"
                                                                    data-type="minus" data-field="">
                                                                <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                            </button>
                                                            <input class="form-control input-number qty-input" type="text"
                                                                   name="quantity" value="@cart.Quantity" disabled>
                                                            <button type="button" data-id="@cart.ProductId" class="btn qty-right-plus" style="background-color:#0da487; color:white;"
                                                                    data-type="plus" data-field="">
                                                                <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="subtotal border-0">
                                                <h4 class="table-title text-content"><b>Total</b></h4>
                                                <h5>Rs.@cart.SubTotal/-</h5>
                                            </td>

                                            <td class="save-remove border-0">
                                                <h4 class="table-title text-content"><b>Action</b></h4>
                                                @Html.ActionLink("Remove", "RemoveFromCart", "Seller", new { id = @cart.ProductId }, new { @class = "remove close_button" })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-12">
                    <div class="summery-box p-sticky">
                        <div class="summery-header cart-table-data">
                            <h3>Cart Total</h3>
                        </div>

                        <div class="summery-contain cart-table-data">
                            <ul>
                                <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price costOfAllitems">Rs.@ViewBag.total/-</h4>
                                </li>
                                <li class="align-items-start">
                                    <h4>Delivery Charges</h4>
                                    <h4 class="price text-end shippingCost">Rs.@ViewBag.shipping/-</h4>
                                </li>
                                <li class="align-items-start">
                                    <h4>Packaging Charges 10%</h4>
                                    <h4 class="price text-end serviceCharges">Rs.@ViewBag.serviceCharges/-</h4>
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total cart-table-data">
                            <li class="list-total border-top-0">
                                <h4>Total</h4>
                                <h4 class="price theme-color totalCostwithShipping">Rs.@ViewBag.totalCost/-</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li class="cart-table-data">
                                    <button
                                            class="btn btn-primary proceed-btn fw-bold">
                                        <a asp-controller="Seller" asp-action="Checkout" style="color:white">Process To Checkout</a>
                                    </button>
                                </li>
                                <li>

                                </li>

                                <li>
                                    <button class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i><a asp-controller="Seller" asp-action="Shop">Return To Shopping</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <h4 class="text-center">No Items in the Cart. Please select item first</h4>

                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button class="btn btn-light shopping-button text-dark">
                                        <a asp-controller="Seller" asp-action="Shop"> <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- Cart Section End -->
<script type="text/javascript">
    $(".qty-right-plus").click(function () {
        var itemId = $(this).data("id");
        var buttonClicked = $(this);

        var currentQuantity = parseInt(buttonClicked.closest("tr").find(".qty-input").val());
        if (currentQuantity >= 9) {
            var notificationMessage = "You have reached the maximum quantity!";
            if (notificationMessage) {
                var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                    type: 'theme',
                    allow_dismiss: true,
                    delay: 1000,
                    showProgressbar: true,
                    timer: 100,
                    animate: {
                        enter: 'animated fadeInDown',
                        exit: 'animated fadeOutUp'
                    }
                });
            }
            return false;
        }

        var formData = new FormData();
        formData.append("id", itemId)

        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                data: formData,
                url: "/Seller/AddToCart",
                success: function (data) {
                    if (data.success) {
                        $('.cartItem').text(data.counter);
                        var subtotalCell = buttonClicked.closest("tr").find(".subtotal h5");
                        subtotalCell.text("Rs " + data.newSubtotal + "/-");
                        $(".costOfAllitems").text("Rs " + data.totalCost + "/-");
                        $(".shippingCost").text("Rs " + data.shipping + "/-");
                        $(".serviceCharges").text("Rs " + data.serviceCharges + "/-");
                        $(".totalCostwithShipping").text("Rs " + data.grandTotal + "/-");
                        var notificationMessage = "Product quantity updated!";
                        if (notificationMessage) {
                            var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                                type: 'theme',
                                allow_dismiss: true,
                                delay: 1000,
                                showProgressbar: true,
                                timer: 100,
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                }
                            });
                        }
                    }else{
                        var notificationMessage = "You have reached to maximum quantity!";
                        if (notificationMessage) {
                            var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                                type: 'theme',
                                allow_dismiss: true,
                                delay: 1000,
                                showProgressbar: true,
                                timer: 100,
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                }
                            });
                        }
                    }
                },
                error: function () {
                    alert("Please Select Positive Quantity");
                }
            }
        );
        return false;
    });
    $(".qty-left-minus").click(function () {
        var itemId = $(this).data("id");
        var buttonClicked = $(this);
        if (itemId > 0) {
            var formData = new FormData();
            formData.append("id", itemId)
            $.ajax(
                {
                    async: true,
                    type: "post",
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: "/Seller/Minus",
                    success: function (data) {
                        if (data.success) {
                            $('.cartItem').text(data.counter);
                            if (data.newQuantity === 0) {
                                buttonClicked.closest('tr').remove();
                            }
                            if (data.counter === 0) {
                                $(".cart-table-data").remove();
                                $(".cart-blank-data").html("<h4>No Items in the Cart. Please select item first!</h4>");
                            }
                            var subtotalCell = buttonClicked.closest("tr").find(".subtotal h5");
                            subtotalCell.text("Rs " + data.newSubtotal + "/-");
                            $(".costOfAllitems").text("Rs " + data.totalCost + "/-");
                            $(".shippingCost").text("Rs " + data.shipping + "/-");
                            $(".serviceCharges").text("Rs " + data.serviceCharges + "/-");
                            $(".totalCostwithShipping").text("Rs " + data.grandTotal + "/-");
                            var notificationMessage = "Product quantity updated!"//data.notificationMessage;
                            if (notificationMessage) {
                                var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                                    type: 'theme',
                                    allow_dismiss: true,
                                    delay: 1000,
                                    showProgressbar: true,
                                    timer: 100,
                                    animate: {
                                        enter: 'animated fadeInDown',
                                        exit: 'animated fadeOutUp'
                                    }
                                });
                            }
                        }
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }

                }
            );
        }

        return false;
    });
</script>
<!-- Log Out Modal Start -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                <p>Are you sure you want to log out?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                    <form asp-action="SellerLogout" asp-controller="Seller">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                        <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tap to top end -->
<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->
<!-- latest jquery-->
