﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@model PageResponse<List<ShopProductViewModel>>;
@{
    ViewBag.title = "FOCFulfillment - Catalog";
    Layout = "~/Views/Shared/ShopPage.cshtml";
}
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
    <style>
        .product-box .product-image {
            padding: 0px 0px 5px 0px;
        }

            .product-box .product-image img {
                width: 100%;
                height: 200px;
                -o-object-fit: contain;
                object-fit: contain;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }

        .product-box .price {
            margin-top: 5px;
        }

        .custom-height {
            max-height: fit-content;
            overflow-y: auto;
            height: 100%;
        }

        .form-check-input:checked {
            background-color: #0da487;
            border-color: #0da487;
        }
    </style>
<div>
    <div class="text-left pt-1">
        <div class="row login-heading local-china-1-text animate-heading-6">
            <h1 class="text-capitalize">Catalog</h1>
        </div>
    </div>
</div>
<br />
<div class="shop-section">
    <div class="show-button">
        <div class="top-filter-menu">
            <div class="category-dropdown">
                <h5 class="text-content">Sort By :</h5>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown">
                        <span>Most Popular</span> <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" id="low" href="?sortProduct=@ViewBag.PriceSortParmAsc&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">
                                Low - High
                                Price
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" id="high" href="?sortProduct=@ViewBag.PriceSortParmDesc&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">
                                High - Low
                                Price
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" id="aToz" href="?sortProduct=@ViewBag.NameSortParmAz&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">A - Z Order</a>
                        </li>
                        <li>
                            <a class="dropdown-item" id="zToa" href="?sortProduct=@ViewBag.NameSortParmZa&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">Z - A Order</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="grid-option d-none d-md-block">
                <ul>
                    <li class="three-grid">
                        <a href="javascript:void(0)">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid-3.svg" class="blur-up lazyload" alt="">
                        </a>
                    </li>
                    <li class="grid-btn d-xxl-inline-block d-none active">
                        <a href="javascript:void(0)">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid-4.svg"
                                 class="blur-up lazyload d-lg-inline-block d-none" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid.svg"
                                 class="blur-up lazyload img-fluid d-lg-none d-inline-block" alt="">
                        </a>
                    </li>
                    <li class="list-btn">
                        <a href="javascript:void(0)">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/list.svg" class="blur-up lazyload" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space">
    @if (Model.Data != null && Model.Data.Any())
    {
        @foreach (var product in Model.Data)
        {
            <div>
                <div class="product-box product-white-bg wow fadeIn">
                    <div class="product-image">
                        <a asp-action="Product" asp-route-id="@product.ProductId">
                            @if (!string.IsNullOrEmpty(product.ImageLink))
                            {
                                <img src="@product.ImageLink"
                                     class="img-fluid blur-up lazyload" alt="">
                            }
                            else
                            {
                                <span>No Image Available</span>
                            }
                        </a>
                        <ul class="product-option">
                            <li data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-placement="top" title="View" data-bs-original-title="View" style="width: 50%;">
                                <a asp-action="Product" asp-route-id="@product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                </a>
                            </li>

                            <li data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-placement="top" title="Wishlist" data-bs-original-title="Wishlist" style="width: 50%;">
                                <a class="btnWishList" productId="@product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-detail position-relative">
                        <a asp-action="Product" asp-controller="Seller" asp-route-id="@product.ProductId">
                            <h6 class="name" style="margin: 6px 0px;">
                                @product.Name
                            </h6>
                        </a>
                        <div>
                            <button data-productid="@product.ProductId" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">Get a quote</button>
                        </div>
                    </div>
                </div>
            </div>

        }

    }
    else
    {
        <p>No Product found</p>
    }

</div>
<nav aria-label="Page navigation" class="custome-pagination">
    <ul class="pagination justify-content-center">
        @if (Model.pageNumber > 1)
        {
            <li class="page-item">
                <a class="page-link" href="?sortProduct=@ViewBag.NameSortParmAz&searchString=@ViewBag.Currentfilter&pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize" aria-label="Previous">
                    <i class="fa-solid fa-angles-left"></i>
                </a>
            </li>
        }

        @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
        {
            <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                <a class="page-link" href="?sortProduct=@ViewBag.NameSortParmAz&searchString=@ViewBag.Currentfilter&pageNumber=@i&pageSize=@Model.pageSize">@i</a>
            </li>
        }

        @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
        {
            <li class="page-item">
                <a class="page-link" href="?sortProduct=@ViewBag.NameSortParmAz&searchString=@ViewBag.Currentfilter&pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize" aria-label="Next">
                    <i class="fa-solid fa-angles-right"></i>
                </a>
            </li>
        }
    </ul>
</nav>
<br />

<!--Edit modal -->
<div id="editPopup" class="modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-b-25">
                <h4 class="modal-title" id="staticBackdropLabel"><strong>Get a quote</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                </button>
            </div>
            <form id="checkout-form" method="post" asp-action="SaveQuote" asp-controller="Seller">

                <div class="modal-body">
                    <input type="hidden" name="productId" id="productIdHidden" />
                    <div class="deal-offer-box">
                        <div class="form-group">
                            <label class="fw-bold" for="OrderId">Budget: </label>
                            <input type="number" name="budget" id="budgetInput" class="form-control" required placeholder="Enter your budget">

                        </div>
                        <div class="form-group mt-2">
                            <label class="fw-bold" for="OrderId">Quantity:</label>
                            <input type="number" name="quantity" id="quantityInput" class="form-control" placeholder="Enter your quantity">

                        </div>
                        <div class="col-md-6">
                            <div class="custom-form pt-3">
                                <label class="form-label fw-bold">Fulfillment</label>
                                <div class="radio-buttons mb-1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="focRadio" name="fulfilmentSelection" value="FOC" checked>
                                        <label class="form-check-label" for="focRadio">FOC</label>
                                    </div>
                                    <div class="form-check form-check-inline mx-1">
                                        <input class="form-check-input" type="radio" id="ownRadio" name="fulfilmentSelection" value="OWN">
                                        <label class="form-check-label" for="ownRadio">OWN</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-md-4 mb-3 custom-form">
                                <label class="form-label fw-bold">Sourcing</label>
                                <div class="radio-buttons">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="localRadio" name="sourcingSelection" value="Local" checked>
                                        <label class="form-check-label" for="localRadio">Local</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="chinaRadio" name="sourcingSelection" value="China">
                                        <label class="form-check-label" for="chinaRadio">China</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                        <button type="submit" class="btn btn-solid text-white">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>

    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 4000,
            showProgressbar: true,
            timer: 700,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });
    }

    $(document).ready(function () {
        $('#ownCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('#focCheckbox').prop('checked', false);
            }
        });

        $('#focCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('#ownCheckbox').prop('checked', false);
            }
        });

        $('#localCheckbox, #chinaCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('#localCheckbox, #chinaCheckbox').not(this).prop('checked', false);
            }
        });
        $('#orderForm').submit(function (e) {
            e.preventDefault();
            saveQuote();
        });
    });

    function openViewPopup(button) {
        var productId = $(button).data("productid");
        $("#productIdHidden").val(productId);
    }

    function saveQuote() {
        var productId = $("#productIdHidden").val();
        var budget = $("#budgetInput").val();
        var quantity = $("#quantityInput").val();
        var fulfilmentSelection = $("#focCheckbox").prop("checked") ? "FOC" : "OWN";
        var sourcingSelection = $("#localCheckbox").prop("checked") ? "Local" : "China";

        $.ajax({
            url: '@Url.Action("SaveQuote", "Seller")',
            type: 'POST',
            data: {
                productId: productId,
                budget: budget,
                quantity: quantity,
                fulfilmentSelection: fulfilmentSelection,
                sourcingSelection: sourcingSelection
            },
            success: function (data) {
                $('#editPopup').modal('hide');
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }

    if (window.innerWidth > 768) {
        $('.nav-item.dropdown').hover(function () {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
        }, function () {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
        });

        $('.nav-item.dropdown > .nav-link').click(function () {
            return false;
        });
    }
    function redirectToNewArrival() {
        var redirectURL = "FilterPage?newArrivals=true";
        window.location.href = redirectURL;
    }
    function redirectToBestSeller() {
        var redirectURL = "FilterPage?bestSellers=true";
        window.location.href = redirectURL;
    }
    function redirectToTopRated() {
        var redirectURL = "FilterPage?topRated=true";
        window.location.href = redirectURL;
    }
    function redirectTo100To999() {
        var redirectURL = "FilterPage?minPrice=100&maxPrice=999";
        window.location.href = redirectURL;
    }
    function redirectTo1000To1999() {
        var redirectURL = "FilterPage?minPrice=1000&maxPrice=1999";
        window.location.href = redirectURL;
    }
    function redirectTo2000To2999() {
        var redirectURL = "FilterPage?minPrice=2000&maxPrice=2999";
        window.location.href = redirectURL;
    }
    function redirectTo3000To3999() {
        var redirectURL = "FilterPage?minPrice=3000&maxPrice=3999";
        window.location.href = redirectURL;
    }
    function redirectTo4000To4999() {
        var redirectURL = "FilterPage?minPrice=4000&maxPrice=4999";
        window.location.href = redirectURL;
    }
    function redirectTo5000To9999() {
        var redirectURL = "FilterPage?minPrice=5000&maxPrice=9999";
        window.location.href = redirectURL;
    }
</script>
<script type="text/javascript">
    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,//4000,
            showProgressbar: true,
            timer: 100,//300,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }

    $(".qty-right-plus").click(function () {
        var itemId = $(this).data("id");
        var formData = new FormData();
        formData.append("id", itemId)
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                data: formData,
                url: "/Seller/AddToCart",
                success: function (data) {
                    if (data.success) {
                        $('.cartItem').text(data.counter);
                        var notificationMessage = 'Product has been added into cart!';//'Product quantity updated!';
                        if (notificationMessage) {
                            var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                                type: 'theme',
                                allow_dismiss: true,
                                delay: 1000,//4000,
                                showProgressbar: true,
                                timer: 100,//300,
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                }
                            });
                        }
                    }
                },
                error: function () {
                    alert("Please Select Positive Quantity");
                }
            }
        );
        return false;
    });
    $(".btnWishList").click(function () {
        var th = $(this);
        var productId = $(this).attr("productId");
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                url: "/Seller/WishList?productId=" + productId,
                success: function (data) {
                    var notificationMessage = data.notificationMessage;
                    if (notificationMessage) {
                        var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                            type: 'theme',
                            allow_dismiss: true,
                            delay: 1000,
                            showProgressbar: true,
                            timer: 100,
                            animate: {
                                enter: 'animated fadeInDown',
                                exit: 'animated fadeOutUp'
                            }
                        });
                    }

                },
            }
        );
        return false;
    });
    $(".cartBtn").mouseover(function () {
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/Seller/GetCartItems',
            success: function (data) {
                $('#exampleModal').html(data);
            },
            error: function (data) {
                alert("Error is facing for fetching data");
            }
        });
    });
</script>