﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Models;
@using Newtonsoft.Json;
@using static IEnumerable<LocalDropshipping.Web.Data.Entities.OrderItem>
@model LocalDropshipping.Web.Models.CheckoutViewModel
@{
    ViewBag.Title = "FOCFulfillment - Checkout";
    //Layout = "_Layout";
    Layout = "_LayoutForLoggedInSeller";
    var currentUserData = (User)Context.Items["CurrentUser"];
    var data = Context.Session.GetString("cart");
    List<OrderItem> cartItems;
    int countCart = 0;
    if (data == null)
    {
        countCart = 0;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        List<OrderItem> dataCart = JsonConvert.DeserializeObject<List<OrderItem>>(data2);
        countCart = dataCart.Count();

    }

}
@*
<!DOCTYPE html>
<html lang="en"> *@


@* <body> *@

<!-- Header Start -->
<!-- Header End -->
<!-- Breadcrumb Section Start -->
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
    <style>
        .cart-section {
            padding-top: 75px;
        }
    </style>
</head>
<div>
    <div class="container-fluid-lg text-left pt-4">
        <div class="row login-heading local-china-1-text animate-heading-6">
            <h1>Checkout</h1>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Checkout section Start -->
@if (Model.Cart != null && countCart != 0)
{
    @* <form asp-action="PlaceOrder" asp-controller="Seller" method="post"> *@
    <form id="checkout-form" asp-action="PlaceOrder" asp-controller="Seller" method="post">
        @Html.ValidationMessage("CustomErrorKey")
        <section class="checkout-section-2 section-b-space">
            <div class="container-fluid-lg">
                <div class="row g-sm-4 g-3">
                    <div class="col-lg-8 col-xxl-8 col-md-12">
                        <div class="left-sidebar-checkout">
                            <div class="checkout-detail-box">
                                <ul>
                                    <li>
                                        <div class="checkout-icon">
                                            <lord-icon target=".nav-item" src="https://cdn.lordicon.com/ggihhudh.json"
                                                       trigger="loop-on-hover"
                                                       colors="primary:#121331,secondary:#646e78,tertiary:#0baf9a"
                                                       class="lord-icon">
                                            </lord-icon>
                                        </div>
                                        <div class="checkout-box">
                                            <div class="checkout-title">
                                                <h4>Seller Details</h4>
                                            </div>

                                            <div class="checkout-detail">
                                                <div class="row g-4">
                                                    <div class="col-xxl-12 col-lg-12 col-md-12">
                                                        <div class="delivery-address-box">
                                                            <div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" name="jack"
                                                                           id="flexRadioDefault1" checked>
                                                                </div>

                                                                <ul class="delivery-address-detail">
                                                                    <li>
                                                                        <h4 class="fw-500">@currentUserData.Fullname</h4>
                                                                    </li>

                                                                    <li>
                                                                        <p class="text-content">
                                                                            <span class="text-title">
                                                                                Email
                                                                                :
                                                                            </span>@currentUserData.Email
                                                                        </p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-12" style="margin-top:15px">
                                                                <div class="form-floating theme-form-floating" style="width:100%">
                                                                    <input id="SellingPrice" type="number" asp-for="@Model.SellingPrice" class="form-control" />
                                                                    <label for="@Model.SellingPrice">Selling Price</label>
                                                                    <span asp-validation-for="SellingPrice" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="checkout-title" style="margin-top:10px">
                                                <h4>Your Customer's Information</h4>
                                            </div>

                                            <div class="checkout-detail">
                                                <div class="row g-4">
                                                    <div class="col-xxl-12 col-lg-12 col-md-12">
                                                        <div class="delivery-address-box">
                                                            <div>
                                                                <div class="row g-4">
                                                                    <div class="col-12">
                                                                        <div class="form-floating theme-form-floating">
                                                                            <input type="text" id="FullName" asp-for="@Model.FullName" class="form-control" placeholder="Full Name" minlength="4" maxlength="50" />
                                                                            <label>Full Name</label>
                                                                            <span asp-validation-for="FullName" class="text-danger"></span>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-floating theme-form-floating">
                                                                            <input type="text" id="Address" asp-for="@Model.Address" minlength="3" maxlength="120" placeholder="Address" class="form-control" />
                                                                            <label>Address</label>
                                                                            <span asp-validation-for="Address" class="text-danger"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-floating theme-form-floating">
                                                                            <input type="number" id="PrimaryPhoneNumber" asp-for="@Model.PrimaryPhoneNumber" minlength="11" maxlength="11" class="form-control" placeholder="Primary Phone Number e:g 03XXXXXXXXX" />
                                                                            <label>Primary Phone No e:g 03XXXXXXXXX</label>
                                                                            <span asp-validation-for="PrimaryPhoneNumber" class="text-danger"></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-floating theme-form-floating">
                                                                            <input type="number" id="SecondaryPhoneNumber" asp-for="@Model.SecondaryPhoneNumber" minlength="11" maxlength="11" class="form-control" placeholder="Secondary Phone Number (Optional) e:g 03XXXXXXXXX" />
                                                                            <label>Secondary Phone No e:g 03XXXXXXXXX</label>
                                                                            @* <span asp-validation-for="@Model.SecondaryPhoneNumber" class="text-danger"></span> *@
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-12">
                                                                        <div class="form-floating theme-form-floating">
                                                                            <input type="text" id="City" asp-for="@Model.City" placeholder="City" class="form-control" minlength="2" maxlength="40" />
                                                                            <label>City</label>
                                                                            @*  <span asp-validation-for="@Model.City" class="text-danger"></span> *@
                                                                            <span asp-validation-for="City" class="text-danger"></span>
                                                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="checkout-icon">
                                            <lord-icon target=".nav-item" src="https://cdn.lordicon.com/oaflahpk.json"
                                                       trigger="loop-on-hover" colors="primary:#0baf9a" class="lord-icon">
                                            </lord-icon>
                                        </div>
                                        <div class="checkout-box">
                                            <div class="checkout-title">
                                                <h4>Delivery Option</h4>
                                            </div>

                                            <div class="checkout-detail">
                                                <div class="row g-4">
                                                    <div class="col-xxl-12 col-lg-12 col-md-12">
                                                        <div class="delivery-option">
                                                            <div class="delivery-category">
                                                                <div class="shipment-detail">
                                                                    <div class="form-check custom-form-check hide-check-box">
                                                                        <input class="form-check-input" type="radio"
                                                                               name="standard" id="standard" checked>
                                                                        <label class="form-check-label mt-2"
                                                                               for="standard">
                                                                            Standard
                                                                            Delivery Option
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 future-box">
                                                        <div class="future-option">
                                                            <div class="row g-md-0 gy-4">
                                                                <div class="col-md-6">
                                                                    <div class="delivery-items">
                                                                        <div>
                                                                            <h5 class="items text-content">
                                                                                <span>
                                                                                    3
                                                                                    Items
                                                                                </span>
                                                                                $693.48
                                                                            </h5>
                                                                            <h5 class="charge text-content">
                                                                                Delivery Charge
                                                                                $34.67
                                                                                <button type="button" class="btn p-0"
                                                                                        data-bs-toggle="tooltip"
                                                                                        data-bs-placement="top"
                                                                                        title="Extra Charge">
                                                                                    <i class="fa-solid fa-circle-exclamation"></i>
                                                                                </button>
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="checkout-icon">
                                            <lord-icon target=".nav-item" src="https://cdn.lordicon.com/qmcsqnle.json"
                                                       trigger="loop-on-hover" colors="primary:#0baf9a,secondary:#0baf9a"
                                                       class="lord-icon">
                                            </lord-icon>
                                        </div>
                                        <div class="checkout-box">
                                            <div class="checkout-title">
                                                <h4>Payment Option</h4>
                                            </div>

                                            <div class="checkout-detail">
                                                <div class="accordion accordion-flush custom-accordion"
                                                     id="accordionFlushExample">
                                                    <div class="accordion-item">
                                                        <div class="accordion-header" id="flush-headingFour">
                                                            <div class="accordion-button collapsed"
                                                                 data-bs-toggle="collapse"
                                                                 data-bs-target="#flush-collapseFour">
                                                                <div class="custom-form-check form-check mb-0">
                                                                    <label class="form-check-label" for="cash">
                                                                        <input class="form-check-input mt-0" type="radio"
                                                                               name="flexRadioDefault" id="cash" checked> Cash
                                                                        On Delivery
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="flush-collapseFour"
                                                             class="accordion-collapse collapse show"
                                                             data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <p class="cod-review">
                                                                    We will be choosing the best and fastest courier services. (Delivery within 3 days all over Pakistan).
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="right-side-summery-box">
                            <div class="summery-box-2">
                                <div class="summery-header">
                                    <h3>Order Summery</h3>
                                </div>

                                <ul class="summery-contain">
                                    @foreach (var cart in Model.Cart)
                                    {

                                        <li>
                                            <img src="@cart.Image"
                                                 class="img-fluid blur-up lazyloaded checkout-image" alt="">
                                            <h4>@cart.Name <span>X @cart.Quantity</span></h4>
                                            <h4 class="price">Rs.@cart.SubTotal/-</h4>
                                        </li>
                                    }
                                </ul>

                                <ul class="summery-total">
                                    <li>
                                        <h4>Subtotal</h4>
                                        <h4 class="price">Rs.@ViewBag.total/-</h4>
                                    </li>

                                    <li>
                                        <h4>Shipping</h4>
                                        <h4 class="price">Rs.@ViewBag.shipping/-</h4>
                                    </li>
                                    <li>
                                        <h4>Service Charges 10%:</h4>
                                        <h4 class="price">Rs.@ViewBag.serviceCharges/-</h4>
                                    </li>
                                    <li class="list-total">
                                        <h4>Total</h4>
                                        <h4 class="price">Rs.@ViewBag.totalCost/-</h4>
                                    </li>
                                </ul>
                            </div>
                            @if (ViewBag.ValidationErrors != null && ViewBag.ValidationErrors.Count > 0)
                            {
                                <div class="alert alert-danger">
                                    <ul>
                                        @foreach (var error in ViewBag.ValidationErrors)
                                        {
                                            <li>@error</li>
                                        }
                                    </ul>
                                </div>
                            }
                            @* asp-action="Checkout" asp-controller="Seller"  *@
                            <button type="submit" class="btn theme-bg-color text-white btn-md w-100 mt-4 fw-bold">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
}
else
{
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <h4 class="text-center">No Items in the Cart. Please select item first</h4>

                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button class="btn btn-light shopping-button text-dark">
                                        <a asp-controller="Seller" asp-action="Shop"><i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<!-- Checkout section End -->
<!-- Footer Section Start -->
<!-- Footer Section End -->
<!-- Location Modal Start -->
<div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="location-list">
                    <div class="search-input">
                        <input type="search" class="form-control" placeholder="Search Your Area">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="disabled-box">
                        <h6>Select a Location</h6>
                    </div>

                    <ul class="location-select custom-height">
                        <li>
                            <a href="javascript:void(0)">
                                <h6>Alabama</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Arizona</h6>
                                <span>Min: $150</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>California</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Colorado</h6>
                                <span>Min: $140</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Florida</h6>
                                <span>Min: $160</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Georgia</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Kansas</h6>
                                <span>Min: $170</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Minnesota</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>New York</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Washington</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location Modal End -->
<!-- Add address modal box start -->
<div class="modal fade theme-modal" id="add-address" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Add a new address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
                        <label for="fname">First Name</label>
                    </div>
                </form>

                <form>
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="text" class="form-control" id="lname" placeholder="Enter Last Name">
                        <label for="lname">Last Name</label>
                    </div>
                </form>

                <form>
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Enter Email Address">
                        <label for="email">Email Address</label>
                    </div>
                </form>

                <form>
                    <div class="form-floating mb-4 theme-form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="address"
                                  style="height: 100px"></textarea>
                        <label for="address">Enter Address</label>
                    </div>
                </form>

                <form>
                    <div class="form-floating mb-4 theme-form-floating">
                        <input type="email" class="form-control" id="pin" placeholder="Enter Pin Code">
                        <label for="pin">Pin Code</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-md" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn theme-bg-color btn-md text-white" data-bs-dismiss="modal">
                    Save
                    changes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Add address modal box end -->
<!-- Deal Box Modal Start -->
<div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                    <p class="mt-1 text-content">Recommended deals for you.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="deal-offer-box">
                    <ul class="deal-offer-list">
                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-2">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-3">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Box Modal End -->
<!-- Tap to top start -->
<div class="theme-option">
    <div class="back-to-top">
        <a id="back-to-top" href="#">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>
<!-- Tap to top end -->
<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
<!-- Bg overlay End -->
<!-- latest jquery-->
<script src="../assets/js/jquery-3.6.0.min.js"></script>

<!-- jquery ui-->
<script src="../assets/js/jquery-ui.min.js"></script>

<!-- Lordicon Js -->
<script src="../assets/js/lusqsztk.js"></script>

<!-- Bootstrap js-->
<script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../assets/js/bootstrap/popper.min.js"></script>
<script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

<!-- feather icon js-->
<script src="../assets/js/feather/feather.min.js"></script>
<script src="../assets/js/feather/feather-icon.js"></script>

<!-- Lazyload Js -->
<script src="../assets/js/lazysizes.min.js"></script>

<!-- Delivery Option js -->
<script src="../assets/js/delivery-option.js"></script>

@* <!-- Slick js-->
<script src="../assets/js/slick/slick.js"></script>
<script src="../assets/js/slick/custom_slick.js"></script> *@

<!-- Quantity js -->
<script src="../assets/js/quantity.js"></script>

<!-- script js -->
<script src="../assets/js/script.js"></script>

<!-- thme setting js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>

    $(document).ready(function () {
        $("#checkout-form").submit(function (event) {
            event.preventDefault();

            $(".text-danger").remove();

            var sellingPrice = $("#SellingPrice").val();//parseFloat($("#SellingPrice").val());
            var totalPrice = parseFloat("@ViewBag.totalCost");
            var fullName = $("#FullName").val();
            var primaryPhoneNumber = $("#PrimaryPhoneNumber").val();
            var address = $("#Address").val();
            var city = $("#City").val();

            if (fullName.trim() === "") {
                showError("Full Name is required", "#FullName");
            }

            if (primaryPhoneNumber.trim() === "") {
                showError("Primary Phone Number is required", "#PrimaryPhoneNumber");
            } else if (!isValidPhoneNumber(primaryPhoneNumber)) {
                showError("Invalid Phone Number", "#PrimaryPhoneNumber");
            }

            if (address.trim() === "") {
                showError("Address is required", "#Address");
            }

            if (city.trim() === "") {
                showError("City is required", "#City");
            }

            if (sellingPrice < totalPrice) {
                showError("Please enter the valid price", "#SellingPrice");
            }
            if ($(".text-danger").length > 0) {
                return;
            }

            $("#checkout-form")[0].submit();
        });


        function showError(message, targetSelector) {

            var errorMessage = $("<div class='text-danger'>" + message + "</div>");

            errorMessage.insertAfter($(targetSelector));
        }

        function isValidPhoneNumber(phoneNumber) {

            var phoneRegex = /^03\d{9}$/;

            return phoneRegex.test(phoneNumber);
        }

        $("#PrimaryPhoneNumber").blur(function () {

            validatePhoneNumber("#PrimaryPhoneNumber");
        });

        $("#SecondaryPhoneNumber").blur(function () {


            validatePhoneNumber("#SecondaryPhoneNumber");
        });
    });



    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 2000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }
</script>
<script src="../assets/js/theme-setting.js"></script>

@* </body>
</html> *@