﻿@model ContactUsViewModel
@{
    ViewBag.Title = "FOCFulfillment - Contact-Us";
    Layout = "_LayoutGuests";
}
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
    <style>
        .contact-box-section{
            padding: 40px 0 40px;
        }

            .contact-box-section .right-sidebar-box .custom-form .custom-input i{
                top:-11px;
            }

        .contact-box-section .right-sidebar-box .custom-form .custom-textarea .form-control{
                padding-top: 15px;
        }

        header .navbar.navbar-expand-xl .navbar-nav .dropdown-toggle::before {
            content: "" !important;
        }
    </style>
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    <!-- Header End -->
    <!-- mobile fix menu start -->
    <!-- Breadcrumb Section Start -->

 
    <!-- Breadcrumb Section End -->
    <!-- Contact Box Section Start -->
    <div class="container">
        <div class="text-left pt-1">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1 class="text-capitalize">Contact Us</h1>
            </div>
        </div>
    </div>
    <section class="contact-box-section">
        <div class="container-fluid-lg">
            <div class="row g-lg-5 g-3">
                <div class="col-lg-6">
                    <div class="left-sidebar-box">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="contact-image">
                                    <img src="../assets/images/inner-page/contact-us.png"
                                         class="img-fluid blur-up lazyloaded" alt="">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="contact-title">
                                    <h3>Get In Touch</h3>
                                </div>

                                <div class="contact-detail">
                                    <div class="row g-4">
                                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                                            <div class="contact-detail-box">
                                                <div class="contact-icon">
                                                    <i class="fa-solid fa-phone"></i>
                                                </div>
                                                <div class="contact-detail-title">
                                                    <h4>Phone</h4>
                                                </div>

                                                <div class="contact-detail-contain">
                                                    <p>
                                                        +92 327 8860192
                                                        
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                                            <div class="contact-detail-box">
                                                <div class="contact-icon">
                                                    <i class="fa-solid fa-envelope"></i>
                                                </div>
                                                <div class="contact-detail-title">
                                                    <h4>Email</h4>
                                                </div>

                                                <div class="contact-detail-contain">
                                                    <p>support@focfulfillment.com</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xxl-6 col-lg-12 col-sm-6">
                                            <div class="contact-detail-box">
                                                <div class="contact-icon">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                </div>
                                                <div class="contact-detail-title">
                                                    <h4>Pakistan Office</h4>
                                                </div>

                                                <div class="contact-detail-contain">
                                                    <p>Lahore</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="title d-xxl-none d-block">
                    @*     <h2>Contact Us</h2> *@
                    </div>
                    <form asp-action="contactUs" class="row g-4">
                        <div class="right-sidebar-box">
                            <div class="row">
                                <div class="col-xxl-6 col-lg-12 col-sm-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label>Full Name</label>

                                        <div class="custom-input">

                                            <input asp-for="FullName" type="text" class="form-control" id="email" placeholder="Full Name" minlength="2" maxlength="50">

                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>


                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-lg-12 col-sm-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label>Email Address</label>
                                        <div class="custom-input">
                                            <input asp-for="EmailAddress" type="email" class="form-control" id="email" placeholder="Email Address" minlength="2" maxlength="50">
                                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <i class="fa-solid fa-envelope"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xxl-6 col-lg-12 col-sm-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label>Phone Number</label>
                                        <div class="custom-input">
                                            <input asp-for="PhoneNumber" class="form-control" type="number" id="Phone" placeholder="Phone Number" maxlength="15" oninput="javascript: if (this.value.length > this.maxLength) this.value =
                                            this.value.slice(0, this.maxLength);">
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <i class="fa-solid fa-mobile-screen-button"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label>Message</label>
                                        <div class="custom-textarea">
                                            <textarea asp-for="Message" class="form-control" id="Msg" placeholder="Message"></textarea>
                                            <span asp-validation-for="Message" class="text-danger"></span>
                                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                            <i class="fa-solid fa-message"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-animation btn-md fw-bold ms-auto">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Box Section End -->
    <br />
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Wizard js -->
    <script src="../assets/js/wizard.js"></script>

    <!-- Slick js-->
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/slick/custom_slick.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="../assets/js/theme-setting.js"></script>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>
        var notificationMessage = '@TempData["notificationMessage"]';

        console.log(notificationMessage);

        if (notificationMessage) {
            var notify = $.notify('
                < i class= "fas fa-bell" > </i>
                < strong > Loading < /strong> ' + notificationMessage, {
            type: 'theme',
                allow_dismiss: true,
                delay: 2000,
                nav - link dropdown - toggle toggle - arwwProgressbar: true,
                timer: 100,
                animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
            });

        '@TempData.Remove("notificationMessage")';
            }

    </script>

</body>


