﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@using static IEnumerable<LocalDropshipping.Web.Data.Entities.OrderItem>
@model PageResponse<List<ShopProductViewModel>>;
@{
    // Layout = null;//"~/Views/Shared/ShopPage.cshtml";
    Layout = "~/Views/Shared/ShopPage.cshtml";
    ViewData["Title"] = "FOCFulfillment - Product Listing";
}
<link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
<style>
    .product-box .product-image {
        padding: 0px 0px 5px 0px;
    }
    .product-box .product-image img {
        width: 100%;
            height: 200px;
        -o-object-fit: contain;
        object-fit: contain;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .paddingLow {
        padding-top:0px;

    }

    .product-box .price {
        margin-top: 5px;
    }

    .custom-height {
        max-height: fit-content;
        overflow-y: auto;
        height: 100%;
    }
    .btnWidth{
        width:30%;
        margin-left:20px;
    }

    .form-check-input:checked {
        background-color: #0da487;
        border-color: #0da487;
    }

</style>
<!-- Shop Section Start -->
@if (ViewBag.newArrivals)
{
    <div>
        <div class="text-left pt-1">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1 class="text-capitalize">New Arrivals</h1>
            </div>
        </div>
    </div>
}
@if (ViewBag.topRated)
{
    <div>
        <div class="text-left pt-1">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1 class="text-capitalize">Top Rated</h1>
            </div>
        </div>
    </div>
}
@if (ViewBag.bestSellers)
{
    <div>
        <div class="text-left pt-1">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1 class="text-capitalize">Best Sellers</h1>
            </div>
        </div>
    </div>
}
@if (ViewBag.Currentfilter!=null)
{
    <div>
        <div class="text-left pt-1">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1 class="text-capitalize">Search Page</h1>
            </div>
        </div>
    </div>
}
@if (ViewBag.minPrice != null && ViewBag.maxPrice!=null)
{
    <div>
        <div class="text-left pt-1">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1 class="text-capitalize">Rs.@ViewBag.minPrice/- To Rs.@ViewBag.maxPrice/-</h1>
            </div>
        </div>
    </div>
}
@if (ViewBag.minPrice == null && ViewBag.maxPrice == null && ViewBag.Currentfilter == null && ViewBag.bestSellers != true && ViewBag.topRated != true && ViewBag.newArrivals != true)
{
    <div>
        <div class="text-left pt-1">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1 class="text-capitalize">Filter Page</h1>
            </div>
        </div>
    </div>
}
<br />
<div class="shop-section">
    <div class="show-button">
        <div class="top-filter-menu">
            <div class="category-dropdown">
                <h5 class="text-content">Sort By :</h5>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown">
                        <span>Most Popular</span> <i class="fa-solid fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" id="low" href="?sortProduct=@ViewBag.PriceSortParmAsc&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">
                                Low - High
                                Price
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" id="high" href="?sortProduct=@ViewBag.PriceSortParmDesc&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">
                                High - Low
                                Price
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" id="aToz" href="?sortProduct=@ViewBag.NameSortParmAz&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">A - Z Order</a>
                        </li>
                        <li>
                            <a class="dropdown-item" id="zToa" href="?sortProduct=@ViewBag.NameSortParmZa&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">Z - A Order</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="grid-option d-none d-md-block">
                <ul>
                    <li class="three-grid">
                        <a href="javascript:void(0)">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid-3.svg" class="blur-up lazyload" alt="">
                        </a>
                    </li>
                    <li class="grid-btn d-xxl-inline-block d-none active">
                        <a href="javascript:void(0)">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid-4.svg"
                                 class="blur-up lazyload d-lg-inline-block d-none" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/grid.svg"
                                 class="blur-up lazyload img-fluid d-lg-none d-inline-block" alt="">
                        </a>
                    </li>
                    <li class="list-btn">
                        <a href="javascript:void(0)">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/svg/list.svg" class="blur-up lazyload" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="section-b-space shop-section paddingLow">
    <div>
        <div class="row">
            <div class="col-custome-10">
                <div class="row g-4 row-cols-2 row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 product-list-section">
                    @if (Model != null && Model.Data.Any())
                    {
                        @foreach (var product in Model.Data)
                        {@* 
                            <div class="col">
                                <div class="product-box product-box-3 product-white-bg wow fadeIn">
                                    <div class="product-image">
                                        <a asp-action="Product" asp-route-id="@product.ProductId">
                                            @if (!string.IsNullOrEmpty(product.ImageLink))
                                            {
                                                <img src="@product.ImageLink" class="img-fluid blur-up lazyload" style="width: 100px; height: 100px;" alt="">

                                            }
                                            else
                                            {
                                                <span>No Image Available</span>
                                            }
                                        </a>
                                        <ul class="product-option">
                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="View" data-bs-original-title="View" style="width: 50%;">
                                                <a asp-action="Product" asp-route-id="@product.ProductId">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                </a>
                                            </li>
                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist" data-bs-original-title="Wishlist" style="width: 50%;">
                                                <a class="btnWishList" style="cursor: pointer" productId="@product.ProductId">
                                                    <svg xmlns="http://w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-detail position-relative">
                                        <a asp-action="Product" asp-controller="Seller" asp-route-id="@product.ProductId">
                                            <h6 class="name" style="margin:6px 0px;">
                                                @product.Name
                                            </h6>
                                        </a>
                                        <div>
                                            <button data-productid="@product.ProductId" class="btn btn-primary btnWidth btn-list" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">Get a quote</button>

                                        </div>
                                    </div>
                                </div>
                            </div> *@
                            <div>
                                <div class="product-box product-white-bg wow fadeIn">
                                    <div class="product-image">
                                        <a asp-action="Product" asp-route-id="@product.ProductId">
                                            @if (!string.IsNullOrEmpty(product.ImageLink))
                                            {
                                                <img src="@product.ImageLink"
                                                     class="img-fluid blur-up lazyload" alt="">
                                            }
                                            else
                                            {
                                                <span>No Image Available</span>
                                            }
                                        </a>
                                        <ul class="product-option">
                                            <li data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-placement="top" title="View" data-bs-original-title="View" style="width: 50%;">
                                                <a asp-action="Product" asp-route-id="@product.ProductId">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                </a>
                                            </li>

                                            <li data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-placement="top" title="Wishlist" data-bs-original-title="Wishlist" style="width: 50%;">
                                                <a class="btnWishList" productId="@product.ProductId">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-detail position-relative">
                                        <a asp-controller="Seller" asp-action="Product" asp-route-id="@product.ProductId">
                                            <h6 class="name" style="margin:6px 0px;">
                                                @product.Name
                                            </h6>
                                        </a>
                                        <div>
                                            <button data-productid="@product.ProductId" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">Get a quote</button>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col">
                            <h3>No records found related to your query</h3>
                        </div>
                    }
                </div>
                <nav aria-label="Page navigation" class="custome-pagination">
                    <ul class="pagination justify-content-center">
                        @if (Model.pageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice" aria-label="Previous">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                        {
                            <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice">@i</a>
                            </li>
                        }
                        @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                        {
                            <li class="page-item">
                                <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&searchString=@ViewBag.Currentfilter&newArrivals=@ViewBag.newArrivals&bestSellers=@ViewBag.bestSellers&topRated=@ViewBag.topRated&minPrice=@ViewBag.minPrice&maxPrice=@ViewBag.maxPrice" aria-label="Next">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section End -->
<!-- Quick View Modal Box Start -->
<div class="modal fade theme-modal view-modal" id="view" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header p-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row g-sm-4 g-2">
                    <div class="col-lg-6">
                        <div class="slider-image">
                            <img src="../assets/images/product/category/1.jpg" class="img-fluid blur-up lazyload"
                                 alt="">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="right-sidebar-modal">
                            <h4 class="title-name">Peanut Butter Bite Premium Butter Cookies 600 g</h4>
                            <h4 class="price">$36.99</h4>
                            <div class="product-rating">
                                <ul class="rating">
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star" class="fill"></i>
                                    </li>
                                    <li>
                                        <i data-feather="star"></i>
                                    </li>
                                </ul>
                                <span class="ms-2">8 Reviews</span>
                                <span class="ms-2 text-danger">6 sold in last 16 hours</span>
                            </div>

                            <div class="product-detail">
                                <h4>Product Details :</h4>
                                <p>
                                    Candy canes sugar plum tart cotton candy chupa chups sugar plum chocolate I love.
                                    Caramels marshmallow icing dessert candy canes I love soufflé I love toffee.
                                    Marshmallow pie sweet sweet roll sesame snaps tiramisu jelly bear claw. Bonbon
                                    muffin I love carrot cake sugar plum dessert bonbon.
                                </p>
                            </div>

                            <ul class="brand-list">
                                <li>
                                    <div class="brand-box">
                                        <h5>Brand Name:</h5>
                                        <h6>Black Forest</h6>
                                    </div>
                                </li>

                                <li>
                                    <div class="brand-box">
                                        <h5>Product Code:</h5>
                                        <h6>W0690034</h6>
                                    </div>
                                </li>

                                <li>
                                    <div class="brand-box">
                                        <h5>Product Type:</h5>
                                        <h6>White Cream Cake</h6>
                                    </div>
                                </li>
                            </ul>

                            <div class="select-size">
                                <h4>Cake Size :</h4>
                                <select class="form-select select-form-size">
                                    <option selected>Select Size</option>
                                    <option value="1.2">1/2 KG</option>
                                    <option value="0">1 KG</option>
                                    <option value="1.5">1/5 KG</option>
                                    <option value="red">Red Roses</option>
                                    <option value="pink">With Pink Roses</option>
                                </select>
                            </div>

                            <div class="modal-button">
                                <button onclick="location.href = 'cart.html';"
                                        class="btn btn-md add-cart-button icon">
                                    Add
                                    To Cart
                                </button>
                                <button onclick="location.href = 'product-left.html';"
                                        class="btn theme-bg-color view-button icon text-white fw-bold btn-md">
                                    View More Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Edit modal -->
<div id="editPopup" class="modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-b-25">
                <h4 class="modal-title" id="staticBackdropLabel"><strong>Get a quote</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                </button>
            </div>
            <form id="checkout-form" method="post" asp-action="SaveQuote" asp-controller="Seller">

                <div class="modal-body">
                    <input type="hidden" name="productId" id="productIdHidden" />
                    <div class="deal-offer-box">
                        <div class="form-group">
                            <label class="fw-bold" for="OrderId">Budget: </label>
                            <input type="number" name="budget" id="budgetInput" class="form-control" required placeholder="Enter your budget">

                        </div>
                        <div class="form-group mt-2">
                            <label class="fw-bold" for="OrderId">Quantity:</label>
                            <input type="number" name="quantity" id="quantityInput" class="form-control" placeholder="Enter your quantity">

                        </div>
                        <div class="col-md-6">
                            <div class="custom-form pt-3">
                                <label class="form-label fw-bold">Fulfillment</label>
                                <div class="radio-buttons mb-1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="focRadio" name="fulfilmentSelection" value="FOC" checked>
                                        <label class="form-check-label" for="focRadio">FOC</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="ownRadio" name="fulfilmentSelection" value="OWN">
                                        <label class="form-check-label" for="ownRadio">OWN</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-md-4 mb-3 custom-form">
                                <label class="form-label fw-bold">Sourcing</label>
                                <div class="radio-buttons">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="localRadio" name="sourcingSelection" value="Local" checked>
                                        <label class="form-check-label" for="localRadio">Local</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="chinaRadio" name="sourcingSelection" value="China">
                                        <label class="form-check-label" for="chinaRadio">China</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                        <button type="submit" class="btn btn-solid text-white">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Quick View Modal Box End -->
<!-- Location Modal Start -->
<div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="location-list">
                    <div class="search-input">
                        <input type="search" class="form-control" placeholder="Search Your Area">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="disabled-box">
                        <h6>Select a Location</h6>
                    </div>

                    <ul class="location-select custom-height">
                        <li>
                            <a href="javascript:void(0)">
                                <h6>Alabama</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Arizona</h6>
                                <span>Min: $150</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>California</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Colorado</h6>
                                <span>Min: $140</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Florida</h6>
                                <span>Min: $160</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Georgia</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Kansas</h6>
                                <span>Min: $170</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Minnesota</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>New York</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Washington</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location Modal End -->
<!-- Deal Box Modal Start -->
<div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                    <p class="mt-1 text-content">Recommended deals for you.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="deal-offer-box">
                    <ul class="deal-offer-list">
                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-2">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-3">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Box Modal End -->
<!-- Log Out Modal Start -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                <p>Are you sure you want to log out?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                    <form asp-action="SellerLogout" asp-controller="Seller">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                        <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Log Out Modal End-->
<!-- Bg overlay Start -->
<div class="bg-overlay"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>
    if (window.innerWidth > 768) {
        $('.nav-item.dropdown').hover(function () {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
        }, function () {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
        });

        $('.nav-item.dropdown > .nav-link').click(function () {
            return false;
        });
    }
    function redirectToNewArrival() {
        var redirectURL = "FilterPage?newArrivals=true";
        window.location.href = redirectURL;
    }
    function redirectToBestSeller() {
        var redirectURL = "FilterPage?bestSellers=true";
        window.location.href = redirectURL;
    }
    function redirectToTopRated() {
        var redirectURL = "FilterPage?topRated=true";
        window.location.href = redirectURL;
    }
    function redirectTo100To999() {
        var redirectURL = "FilterPage?minPrice=100&maxPrice=999";
        window.location.href = redirectURL;
    }
    function redirectTo1000To1999() {
        var redirectURL = "FilterPage?minPrice=1000&maxPrice=1999";
        window.location.href = redirectURL;
    }
    function redirectTo2000To2999() {
        var redirectURL = "FilterPage?minPrice=2000&maxPrice=2999";
        window.location.href = redirectURL;
    }
    function redirectTo3000To3999() {
        var redirectURL = "FilterPage?minPrice=3000&maxPrice=3999";
        window.location.href = redirectURL;
    }
    function redirectTo4000To4999() {
        var redirectURL = "FilterPage?minPrice=4000&maxPrice=4999";
        window.location.href = redirectURL;
    }
    function redirectTo5000To9999() {
        var redirectURL = "FilterPage?minPrice=5000&maxPrice=9999";
        window.location.href = redirectURL;
    }
</script>
<script type="text/javascript">
    $(".qty-right-plus").click(function () {
        var itemId = $(this).data("id");
        var formData = new FormData();
        formData.append("id", itemId)
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                data: formData,
                url: "/Seller/AddToCart",
                success: function (data) {

                    if (data.success) {
                        $('.cartItem').text(data.counter);
                        var notificationMessage = 'Product has been added into cart!';//'Product quantity updated!';
                        if (notificationMessage) {
                            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                                type: 'theme',
                                allow_dismiss: true,
                                delay: 1000,
                                showProgressbar: true,
                                timer: 100,
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                }
                            });
                        }
                    }
                },
                error: function () {
                    alert("Please Select Positive Quantity");
                }

            }
        );
        return false;
    });
    $(".cartBtn").mouseover(function () {
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/Seller/GetCartItems',
            success: function (data) {
                $('#exampleModal').html(data);
            },
            error: function (data) {
                alert("Error is facing for fetching data");
            }
        });
    });
    $(".btnWishList").click(function () {
        var th = $(this);
        var productId = $(this).attr("productId");
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                url: "/Seller/WishList?productId=" + productId,
                success: function (data) {
                    var notificationMessage = 'Product has been added into wishlist!';
                    if (notificationMessage) {
                        var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                            type: 'theme',
                            allow_dismiss: true,
                            delay: 1000,
                            showProgressbar: true,
                            timer: 100,
                            animate: {
                                enter: 'animated fadeInDown',
                                exit: 'animated fadeOutUp'
                            }
                        });
                    }

                },
            }
        );
        return false;
    });



    function openViewPopup(button) {
        var productId = $(button).data("productid");
        $("#productIdHidden").val(productId);
    }

    function saveQuote() {
        var productId = $("#productIdHidden").val();
        var budget = $("#budgetInput").val();
        var quantity = $("#quantityInput").val();
        var fulfilmentSelection = $("#focCheckbox").prop("checked") ? "FOC" : "OWN";
        var sourcingSelection = $("#localCheckbox").prop("checked") ? "Local" : "China";

        $.ajax({
            url: '@Url.Action("SaveQuote", "Seller")',
            type: 'POST',
            data: {
                productId: productId,
                budget: budget,
                quantity: quantity,
                fulfilmentSelection: fulfilmentSelection,
                sourcingSelection: sourcingSelection
            },
            success: function (data) {
                $('#editPopup').modal('hide');
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }

</script>

