﻿@{
    ViewBag.Title = "FOCFulfillment - Forgot Password Message";
}
<div class="container">
    <div class="row my-4">
        <h3 style="margin-bottom:30px;">Please check your email!</h3>
    </div>
</div>

