﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@using LocalDropshipping.Web.Models.Inventory;
@model PageResponse<List<ViewMyProductModel>>;
@{
    Layout = "_LayoutSellerDashboard";
    ViewBag.Title = "FOCFulfillment - My Products";
}
<style>
    .title-leaf {
        width: 240px;
        text-align: end;
        position: relative;
        z-index: 0;
    }
</style>
<div class="">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="title">
                    <h2>My Products</h2>
                    <span class="title-leaf title-leaf-gray"></span>
                </div>
                @if (Model.Data != null && Model.Data.Any())
                {
                    <div class="card-body">
                        <div>
                            <div class="table-responsive">
                                <div id="table_id_wrapper" class="dataTables_wrapper no-footer">

                                    <table class="table all-package theme-table table-product dataTable no-footer" id="table_id">
                                        <thead>
                                            <tr>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">Product Image</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">Name</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">Quantity</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">Price</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var product in Model.Data)
                                            {
                                                <tr>
                                                    <td><img style="width: 75px; border-radius: 10px;" src="@Url.Content(product.ProductImage)" alt="Product Image" /></td>
                                                    <td>
                                                        <a asp-action="MyProduct" asp-route-id="@product.ProductId">
                                                            @product.ProductName
                                                        </a>
                                                    </td>
                                                    <td style="color:black;">@product.Quantity</td>
                                                    <td style="color:black;">@product.Price</td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a href="javascript:void(0)" title="View Assign History">
                                                                    <i class="ri-eye-line"
                                                                       style="color:#0DA487"
                                                                       data-bs-toggle="modal"
                                                                       data-bs-target="#viewPopup"
                                                                       data-assignId-id="@product.Id"
                                                                       onclick="openViewPopup('@product.Id')">
                                                                    </i>
                                                                </a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="viewPopup" class="modal" style="display: none;">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header p-b-25">
                                        <h3 class="modal-title" id="viewPopup"><strong>Product Assign History</strong></h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeViewPopup()" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="inventoryHistory">
                                        @await Html.PartialAsync("_inventoryHistory",new List<InventoryHistory>())
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closeViewPopup()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation" class="custome-pagination mt-2">
                            <ul class="pagination justify-content-center">
                                @if (Model.pageNumber > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Previous">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                }

                                @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                {
                                    <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                        <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter">@i</a>
                                    </li>
                                }

                                @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Next">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                }
                else
                {
                    <div>
                        <h4 class="text-center">Currently, you don't have any assign products.</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




<script>
    function openViewPopup(assignId) {
        $.ajax({
            url: '/Seller/ViewAssignHistory',
            type: 'GET',
            data: { assignId: assignId },
            success: function (data) {
                $('#inventoryHistory').html(data);
                $('#viewPopup').modal('show');
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }
</script>