﻿@model LocalDropshipping.Web.Models.OrderSuccessModel;
@{
    ViewBag.Title = "FOCFulfillment - Place Order";
    Layout = "_LayoutForLoggedInSeller";
    DateTime dateAfter3Days = DateTime.Now.AddDays(3);
}

<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
    <style>
        .order-contain h3{
            color:#fff !important
        }
         .order-contain h5{
            color:#fff;
            padding: 8px 0px;
        }

        .order-contain h6 {
            color: #fff;
        }
    </style>
</head>
@if (Model != null)
{
    <div>
        <div class="local-china-1 container-fluid text-center ">
            <div class="row local-china-1-text animate-heading">
                <h1>Order Success</h1>
            </div>
            <div class="order-contain">
                <h5 class="text-content">Order placed Successfully And Your Order Is On The Way</h5>
                <h6>Order ID: <b>@Model.OrderId</b></h6>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <!-- Cart Section Start -->
    <section class="cart-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row g-sm-4 g-3">
                <div class="col-xxl-9 col-lg-8">
                    <div class="cart-table order-table order-table-2">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                    @foreach (var item in Model.OrderItems)
                                    {
                                        <tr class="product-box-contain">
                                            <td class="product-detail">
                                                <div class="product border-0">
                                                    <a href="product-left-thumbnail.html" class="product-image">
                                                        <img src="@item.Image"
                                                             class="img-fluid blur-up lazyload" alt="">
                                                    </a>

                                                </div>
                                            </td>
                                            <td class="product-detail">
                                                <h4 class="table-title text-content">Name</h4>
                                                <div class="product border-0">
                                                    <div class="product-detail" style="margin-left:0px;">
                                                        <ul>
                                                            <li class="name" style="width:310px; text-overflow:ellipsis; overflow:hidden">
                                                                <a href="product-left-thumbnail.html">@item.Name</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="price">
                                                <h4 class="table-title text-content">Price</h4>
                                                <h6 class="theme-color">Rs @item.Price/-</h6>
                                            </td>

                                            <td class="quantity">
                                                <h4 class="table-title text-content">Qty</h4>
                                                <h4 class="text-title">@item.Quantity</h4>
                                            </td>

                                            <td class="subtotal">
                                                <h4 class="table-title text-content">Total</h4>
                                                <h5>Rs @item.SubTotal/-</h5>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="col-xxl-3 col-lg-4">
                        <div class="row g-4">
                            <div class="col-lg-12 col-sm-6">
                                <div class="summery-box">
                                    <div class="summery-header">
                                        <h3>Price Details</h3>
                                        <h5 class="ms-auto theme-color">(@Model.TotalItems Items)</h5>
                                    </div>

                                    <ul class="summery-contain">
                                        <li>
                                            <h4>Product Cost</h4>
                                            <h4 class="price">Rs @Model.TotalItemsAmount/-</h4>
                                        </li>

                                        <li>
                                            <h4>Delivery Charges</h4>
                                            <h4 class="price theme-color">Rs @Model.ShippingCharges/-</h4>
                                        </li>
                                        <li>
                                            <h4>Packaging Charges 10%</h4>
                                            <h4 class="price theme-color">Rs @Model.ServiceCharges/-</h4>
                                        </li>

                                       @*  <li>
                                            <h4>Coupon Discount</h4>
                                            <h4 class="price text-danger">$6.27</h4>
                                        </li> *@
                                    </ul>

                                    <ul class="summery-total">
                                        <li class="list-total">
                                            <h4>Total</h4>
                                            <h4 class="price">Rs @Model.GrandTotal/-</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-12 col-sm-6">
                                <div class="summery-box">
                                    <div class="summery-header d-block">
                                        <h3>Customer Detail</h3>
                                    </div>
                                <ul class="summery-contain pb-0 border-bottom-0">
                                    <li class="d-block">
                                        <h4><b>Name:</b> @Model.Name</h4>
                                    </li>
                                    <li class="d-block">
                                        <h4><b>Phone Number:</b> @Model.PhoneNumber</h4>
                                    </li>
                                    <li class="d-block">
                                        <h4><b>Shipping Address:</b> @Model.ShippingAddress</h4>
                                    </li>
                                    <li class="d-block">
                                        <h4><b>Shipping City:</b> @Model.ShippingCity</h4>
                                    </li>
                                    
                                    <li class="pb-0">
                                        <h4>Estimated Delivery Days:</h4>
                                        <h4 class="price theme-color">
                                            <a asp-action="SellerOrders" asp-controller="Seller" class="text-danger">Track Order</a>
                                        </h4>
                                    </li>
                                </ul>

                                    <ul class="summery-total">
                                        <li class="list-total border-top-0 pt-2">
                                        @* <h4 class="fw-bold">@dateAfter3Days.ToString("MMM dd yyyy")</h4> *@
                                        <h4 class="fw-bold">3-5 Days</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="summery-box">
                                    <div class="summery-header d-block">
                                        <h3>Payment Method</h3>
                                    </div>

                                    <ul class="summery-contain pb-0 border-bottom-0">
                                        <li class="d-block pt-0">
                                            <p class="text-content">
                                            Cash on delivery (COD) available.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                                    }
    else
    {
    <div class="col-xxl-3">
        <div class="summery-box p-sticky">
            <div>
                <h1>We have nothing to show here for you</h1>
            </div>

            <div class="button-group cart-button">
                <ul>
                    <li>
                        <button class="btn btn-light shopping-button text-dark">
                            <i class="fa-solid fa-arrow-left-long"></i><a asp-controller="Seller" asp-action="Shop">Return To Shopping</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    }

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>

    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }


</script>