﻿@using LocalDropshipping.Web.Models.ProductViewModels;
@model ProductPageViewModel
@{
    //Layout = "_LayoutForLoggedInSeller";
    Layout = "_LayoutForProductPage";
    ViewBag.Title = "FOCFulfillment - Product";
}

<script src="https://cdn.quilljs.com/1.3.6/quill.js"> </script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<style>
    .product-option li:nth-child(2) a:hover {
        cursor: pointer;
    }

    .product-option li:nth-child(2) a .feather-heart {
        cursor: pointer;
    }

    .ql-container {
        border: 0px solid #00000000 !important;
    }

    .ql-editor h2 + p + ol,
    .ql-editor h2 + p + ul {
        margin-top: 0px !important;
    }

    .ql-container ul,
    .ql-container ol,
    .ql-container li {
        padding: revert-layer;
        margin: revert-layer;
    }

    .ql-container ul, ol {
        padding-left: 0px !important;
    }

    .ql-container li {
        display: list-item !important;
    }

    .ql-editor {
        padding: 0px !important;
    }

    .procuct-contain .ql-container p {
        color: revert-layer !important;
        line-height: revert-layer !important;
        margin: revert-layer !important;
        font-size: revert-layer !important;
        width: revert-layer !important;
    }

    .product-section .right-box-contain .price-rating {
        border-bottom: 0.69px solid #d7d7d7;
        padding-bottom: 12px;
    }

    .product-section .right-box-contain .procuct-contain {
        background-color: #f9f9f9;
        padding: 15px;
        border-radius: 12px;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .product-box .price {
        margin-top: 5px;
    }

        .product-box .price del {
            color: black;
        }

    .product-section{
        padding-top:23px;
    }
    
    
</style>

<!-- Loader Start -->
@* <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div> *@
<!-- Loader End -->
<!-- Product Left Sidebar Start -->
<section class="product-section">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                <div class="row g-4">
                    <div class="col-xl-6 wow fadeInUp">
                        <div class="row g-4">
                            <div class="col-12 wow fadeInUp">
                                <div class="product-left-box">
                                    <div class="row g-sm-4 g-2" id="sliderContainer">
                                        @Html.Partial("_ProductVariantImageSliderPartial", Model.Product.Variants.First())
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 wow fadeInUp">
                                <div class="product-left-box">
                                    <div class="row g-sm-4 g-2" id="sliderContainer">
                                        @Html.Partial("_ProductVariantVideoSliderPartial", Model.Product.Variants.First())
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 wow fadeInUp">
                        <div class="right-box-contain">
                            <h2 class="name data-pname">@Model.Product.Name</h2>
                            @* <div class="price-rating">
                                <h3 class="price">
                                    <span class="theme-color"><span class="data-pprice" style="font-size:29px;">Rs @Model.Product.Variants.First().DiscountedPrice/-</span></span> <del class="data-pdprice text-secondary" style="font-size:20px;">Rs @Model.Product.Variants.First().VariantPrice/-</del>
                                </h3>
                            </div> *@

                            <div class="procuct-contain">
                                <div class="mt-3">
                                    <h3>Short Description</h3>
                                </div>
                                <div class="ql-container ql-snow">
                                    <div class="ql-editor">@Html.Raw(Model.Product.ShortDescription)</div>
                                </div>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <h4>
                                            <span style="font-weight:600;">Weight:</span> @Model.Product.Weight Kg
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                            @if (Model.Product.Variants.Count > 1)
                            {
                                <div class="product-packege">
                                    <div class="product-title">
                                        <h4 class="data-pvtype">@Model.Product.Variants.First().VariantType</h4>
                                    </div>
                                    <ul class="select-packege">
                                        @foreach (var variant in Model.Product.Variants)
                                        {
                                            <li>
                                                <a href="javascript:void(0)" class="@if(Model.Product.Variants.First() == variant) {
                                        <text>active</text>
}"
                                                   onclick="UpdateUI(@variant.Quantity,  @variant.DiscountedPrice, @variant.VariantPrice, @variant.ProductVariantId)">@variant.Variant</a>
                                            </li>
                                        }
                                    </ul>
                                    <button asp-action="DownlaodMediaAsZip" asp-route-id="@Model.Product.ProductId" class="btn btn-md bg-danger cart-button text-white w-100 mt-2">
                                        <b>Download Images/Videos</b>
                                    </button>
                                    @* <button data-productid="@product.ProductId" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">Get a quote</button> *@
                                    <button class="btn qty-right-plus btn-md bg-primary text-white w-100 mt-2" data-productid="@Model.Product.ProductId" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">
                                        <b>Get a quote</b>
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div class="product-packege">
                                    <a asp-action="DownlaodMediaAsZip" asp-route-id="@Model.Product.ProductId" class="btn btn-md bg-danger cart-button text-white w-100 mt-2">
                                        <b>Download Images/Videos</b>
                                    </a>
                                   

                                    <button class="btn qty-right-plus btn-md bg-primary text-white w-100 mt-2" data-productid="@Model.Product.ProductId" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">
                                        <b>Get a quote</b>
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block wow fadeInUp">
                <div class="right-sidebar-box">
                    <!-- Best Seller -->
                    <div class="pt-25">
                        <div class="category-menu">
                            <h3>Best Seller</h3>

                            <ul class="product-list product-right-sidebar border-0 p-0">
                                @foreach (var product in Model.BestSellingProducts)
                                {
                                    <li>
                                        <div class="offer-product">
                                            <a asp-route-id="@product.ProductId" class="offer-image">
                                                <img src="@product.ImageLink" class="img-fluid blur-up lazyload" alt="">
                                            </a>

                                            <div class="offer-detail">
                                                <div>
                                                    <a asp-route-id="@product.ProductId">
                                                        <h6 class="name">@product.Name</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Left Sidebar End -->

<section>
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="product-section-box m-0">
                    <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                    data-bs-target="#description" type="button" role="tab" aria-controls="description"
                                    aria-selected="true">
                                Description
                            </button>
                        </li>
                    </ul>

                    <div class="tab-content custom-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel"
                             aria-labelledby="description-tab">
                            <div class="data-pdesc">
                                <div class="ql-container ql-snow">
                                    <div class="ql-editor">@Html.Raw(Model.Product.Description)</div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                            <div class="table-responsive">
                                <table class="table info-table">
                                    <tbody>
                                        <tr>
                                            <td>Specialty</td>
                                            <td>Vegetarian</td>
                                        </tr>
                                        <tr>
                                            <td>Ingredient Type</td>
                                            <td>Vegetarian</td>
                                        </tr>
                                        <tr>
                                            <td>Brand</td>
                                            <td>Lavian Exotique</td>
                                        </tr>
                                        <tr>
                                            <td>Form</td>
                                            <td>Bar Brownie</td>
                                        </tr>
                                        <tr>
                                            <td>Package Information</td>
                                            <td>Box</td>
                                        </tr>
                                        <tr>
                                            <td>Manufacturer</td>
                                            <td>Prayagh Nutri Product Pvt Ltd</td>
                                        </tr>
                                        <tr>
                                            <td>Item part number</td>
                                            <td>LE 014 - 20pcs Crème Bakes (Pack of 2)</td>
                                        </tr>
                                        <tr>
                                            <td>Net Quantity</td>
                                            <td>40.00 count</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="care" role="tabpanel" aria-labelledby="care-tab">
                            <div class="information-box">
                                <ul>
                                    <li>
                                        Store cream cakes in a refrigerator. Fondant cakes should be
                                        stored in an air conditioned environment.
                                    </li>

                                    <li>
                                        Slice and serve the cake at room temperature and make sure
                                        it is not exposed to heat.
                                    </li>

                                    <li>Use a serrated knife to cut a fondant cake.</li>

                                    <li>
                                        Sculptural elements and figurines may contain wire supports
                                        or toothpicks or wooden skewers for support.
                                    </li>

                                    <li>
                                        Please check the placement of these items before serving to
                                        small children.
                                    </li>

                                    <li>The cake should be consumed within 24 hours.</li>

                                    <li>Enjoy your cake!</li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                            <div class="review-box">
                                <div class="row g-4">
                                    <div class="col-xl-6">
                                        <div class="review-title">
                                            <h4 class="fw-500">Customer reviews</h4>
                                        </div>

                                        <div class="d-flex">
                                            <div class="product-rating">
                                                <ul class="rating">
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star" class="fill"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                    <li>
                                                        <i data-feather="star"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h6 class="ms-3">4.2 Out Of 5</h6>
                                        </div>

                                        <div class="rating-box">
                                            <ul>
                                                <li>
                                                    <div class="rating-list">
                                                        <h5>5 Star</h5>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                 style="width: 68%" aria-valuenow="100"
                                                                 aria-valuemin="0" aria-valuemax="100">
                                                                68%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="rating-list">
                                                        <h5>4 Star</h5>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                 style="width: 67%" aria-valuenow="100"
                                                                 aria-valuemin="0" aria-valuemax="100">
                                                                67%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="rating-list">
                                                        <h5>3 Star</h5>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                 style="width: 42%" aria-valuenow="100"
                                                                 aria-valuemin="0" aria-valuemax="100">
                                                                42%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="rating-list">
                                                        <h5>2 Star</h5>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                 style="width: 30%" aria-valuenow="100"
                                                                 aria-valuemin="0" aria-valuemax="100">
                                                                30%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="rating-list">
                                                        <h5>1 Star</h5>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar"
                                                                 style="width: 24%" aria-valuenow="100"
                                                                 aria-valuemin="0" aria-valuemax="100">
                                                                24%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-6">
                                        <div class="review-title">
                                            <h4 class="fw-500">Add a review</h4>
                                        </div>

                                        <div class="row g-4">
                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="text" class="form-control" id="name"
                                                           placeholder="Name">
                                                    <label for="name">Your Name</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="email" class="form-control" id="email"
                                                           placeholder="Email Address">
                                                    <label for="email">Email Address</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="url" class="form-control" id="website"
                                                           placeholder="Website">
                                                    <label for="website">Website</label>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-floating theme-form-floating">
                                                    <input type="url" class="form-control" id="review1"
                                                           placeholder="Give your review a title">
                                                    <label for="review1">Review Title</label>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-floating theme-form-floating">
                                                    <textarea class="form-control"
                                                              placeholder="Leave a comment here" id="floatingTextarea2"
                                                              style="height: 150px"></textarea>
                                                    <label for="floatingTextarea2">
                                                        Write Your
                                                        Comment
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="review-title">
                                            <h4 class="fw-500">Customer questions & answers</h4>
                                        </div>

                                        <div class="review-people">
                                            <ul class="review-list">
                                                <li>
                                                    <div class="people-box">
                                                        <div>
                                                            <div class="people-image">
                                                                <img src="~/assets/images/review/1.jpg"
                                                                     class="img-fluid blur-up lazyload" alt="">
                                                            </div>
                                                        </div>

                                                        <div class="people-comment">
                                                            <a class="name" href="javascript:void(0)">Tracey</a>
                                                            <div class="date-time">
                                                                <h6 class="text-content">
                                                                    14 Jan, 2022 at 12.58 AM
                                                                </h6>

                                                                <div class="product-rating">
                                                                    <ul class="rating">
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <div class="reply">
                                                                <p>
                                                                    Icing cookie carrot cake chocolate cake sugar
                                                                    plum jelly-o danish. Dragée dragée shortbread
                                                                    tootsie roll croissant muffin cake I love gummi
                                                                    bears. Candy canes ice cream caramels tiramisu
                                                                    marshmallow cake shortbread candy canes
                                                                    cookie.<a href="javascript:void(0)">Reply</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="people-box">
                                                        <div>
                                                            <div class="people-image">
                                                                <img src="~/assets/images/review/2.jpg"
                                                                     class="img-fluid blur-up lazyload" alt="">
                                                            </div>
                                                        </div>

                                                        <div class="people-comment">
                                                            <a class="name" href="javascript:void(0)">Olivia</a>
                                                            <div class="date-time">
                                                                <h6 class="text-content">
                                                                    01 May, 2022 at 08.31 AM
                                                                </h6>
                                                                <div class="product-rating">
                                                                    <ul class="rating">
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <div class="reply">
                                                                <p>
                                                                    Tootsie roll cake danish halvah powder cake.
                                                                    Tootsie roll candy marshmallow cookie brownie
                                                                    apple pie pudding brownie chocolate bar. Jujubes
                                                                    gummi bears I love powder danish oat cake tart
                                                                    croissant.<a href="javascript:void(0)">Reply</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="people-box">
                                                        <div>
                                                            <div class="people-image">
                                                                <img src="~/assets/images/review/3.jpg"
                                                                     class="img-fluid blur-up lazyload" alt="">
                                                            </div>
                                                        </div>

                                                        <div class="people-comment">
                                                            <a class="name" href="javascript:void(0)">Gabrielle</a>
                                                            <div class="date-time">
                                                                <h6 class="text-content">
                                                                    21 May, 2022 at 05.52 PM
                                                                </h6>

                                                                <div class="product-rating">
                                                                    <ul class="rating">
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star" class="fill"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                        <li>
                                                                            <i data-feather="star"></i>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <div class="reply">
                                                                <p>
                                                                    Biscuit chupa chups gummies powder I love sweet
                                                                    pudding jelly beans. Lemon drops marzipan apple
                                                                    pie gingerbread macaroon croissant cotton candy
                                                                    pastry wafer. Carrot cake halvah I love tart
                                                                    caramels pudding icing chocolate gummi bears.
                                                                    Gummi bears danish cotton candy muffin marzipan
                                                                    caramels awesome feel. <a href="javascript:void(0)">Reply</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Releted Product Section Start -->
<section class="product-list-section section-b-space">
    <div class="container-fluid-lg">
        <div class="title">
            <h2>Top Rated</h2>
            <span class="title-leaf">
                <svg class="icon-width">
                    <use xlink:href="/assets/svg/leaf.svg#leaf"></use>
                </svg>
            </span>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slider-6_1 product-wrapper">
                    @foreach (var product in Model.TopRatedProducts)
                    {
                        <div>
                            <div class="product-box product-white-bg wow fadeIn">
                                <div class="product-image">
                                    <a asp-route-id="@product.ProductId">
                                        @if (!string.IsNullOrEmpty(product.ImageLink))
                                        {
                                            <img src="@product.ImageLink"
                                                 class="img-fluid blur-up lazyload" alt="">
                                        }
                                        else
                                        {
                                            <span>No Image Available</span>
                                        }
                                    </a>
                                    <ul class="product-option">
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" style="width: 50%;">
                                            <a asp-route-id="@product.ProductId">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                            </a>
                                        </li>
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Wishlist" style="width: 50%;">
                                            <a class="btnWishList pointer-event" productId="@product.ProductId">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-detail position-relative">
                                    <a asp-route-id="@product.ProductId">
                                        <h6 class="name">
                                            @product.Name
                                        </h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Releted Product Section End -->
<!--Edit modal -->
<div id="editPopup" class="modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-b-25">
                <h4 class="modal-title" id="staticBackdropLabel"><strong>Get a quote</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                </button>
            </div>
            <form id="checkout-form" method="post" asp-action="SaveQuote" asp-controller="Seller">

                <div class="modal-body">
                    <input type="hidden" name="productId" id="productIdHidden" />
                    <div class="deal-offer-box">
                        <div class="form-group">
                            <label class="fw-bold" for="OrderId">Budget: </label>
                            <input type="number" name="budget" id="budgetInput" class="form-control" required placeholder="Enter your budget">

                        </div>
                        <div class="form-group mt-2">
                            <label class="fw-bold" for="OrderId">Quantity:</label>
                            <input type="number" name="quantity" id="quantityInput" class="form-control" placeholder="Enter your quantity">

                        </div>
                        <div class="col-md-6">
                            <div class="custom-form pt-3">
                                <label class="form-label fw-bold">Fulfillment</label>
                                <div class="radio-buttons mb-1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="focRadio" name="fulfilmentSelection" value="FOC" checked>
                                        <label class="form-check-label" for="focRadio">FOC</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="ownRadio" name="fulfilmentSelection" value="OWN">
                                        <label class="form-check-label" for="ownRadio">OWN</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-md-4 mb-3 custom-form">
                                <label class="form-label fw-bold">Sourcing</label>
                                <div class="radio-buttons">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="localRadio" name="sourcingSelection" value="Local" checked>
                                        <label class="form-check-label" for="localRadio">Local</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="chinaRadio" name="sourcingSelection" value="China">
                                        <label class="form-check-label" for="chinaRadio">China</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                        <button type="submit" class="btn btn-solid text-white">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Bg overlay Start -->
<div class="bg-overlay"></div>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/slick/slick.js"></script>
<script src="~/assets/js/jquery.elevatezoom.js"></script>
<script src="~/assets/js/zoom-filter.js" defer></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script> *@
<script>
    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 4000,
            showProgressbar: true,
            timer: 700,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });
    }

    $(document).ready(function () {
        $('#ownCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('#focCheckbox').prop('checked', false);
            }
        });

        $('#focCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('#ownCheckbox').prop('checked', false);
            }
        });

        $('#localCheckbox, #chinaCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('#localCheckbox, #chinaCheckbox').not(this).prop('checked', false);
            }
        });
        $('#orderForm').submit(function (e) {
            e.preventDefault();
            saveQuote();
        });
    });

    function openViewPopup(button) {
        var productId = $(button).data("productid");
        $("#productIdHidden").val(productId);
    }

    function saveQuote() {
        var productId = $("#productIdHidden").val();
        var budget = $("#budgetInput").val();
        var quantity = $("#quantityInput").val();
        var fulfilmentSelection = $("#focCheckbox").prop("checked") ? "FOC" : "OWN";
        var sourcingSelection = $("#localCheckbox").prop("checked") ? "Local" : "China";

        $.ajax({
            url: '@Url.Action("SaveQuote", "Seller")',
            type: 'POST',
            data: {
                productId: productId,
                budget: budget,
                quantity: quantity,
                fulfilmentSelection: fulfilmentSelection,
                sourcingSelection: sourcingSelection
            },
            success: function (data) {
                $('#editPopup').modal('hide');
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }

    if (window.innerWidth > 768) {
        $('.nav-item.dropdown').hover(function () {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
        }, function () {
            $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
        });

        $('.nav-item.dropdown > .nav-link').click(function () {
            return false;
        });
    }
    function redirectToNewArrival() {
        var redirectURL = "FilterPage?newArrivals=true";
        window.location.href = redirectURL;
    }
    function redirectToBestSeller() {
        var redirectURL = "FilterPage?bestSellers=true";
        window.location.href = redirectURL;
    }
    function redirectToTopRated() {
        var redirectURL = "FilterPage?topRated=true";
        window.location.href = redirectURL;
    }
    function redirectTo100To999() {
        var redirectURL = "FilterPage?minPrice=100&maxPrice=999";
        window.location.href = redirectURL;
    }
    function redirectTo1000To1999() {
        var redirectURL = "FilterPage?minPrice=1000&maxPrice=1999";
        window.location.href = redirectURL;
    }
    function redirectTo2000To2999() {
        var redirectURL = "FilterPage?minPrice=2000&maxPrice=2999";
        window.location.href = redirectURL;
    }
    function redirectTo3000To3999() {
        var redirectURL = "FilterPage?minPrice=3000&maxPrice=3999";
        window.location.href = redirectURL;
    }
    function redirectTo4000To4999() {
        var redirectURL = "FilterPage?minPrice=4000&maxPrice=4999";
        window.location.href = redirectURL;
    }
    function redirectTo5000To9999() {
        var redirectURL = "FilterPage?minPrice=5000&maxPrice=9999";
        window.location.href = redirectURL;
    }

    $(".qty-right-plus").click(function () {
        var itemId = $(this).data("id");
        var formData = new FormData();
        formData.append("id", itemId)
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                data: formData,
                url: "/Seller/AddToCart",
                success: function (data) {
                    if (data.success) {
                        $('.cartItem').text(data.counter);
                        var notificationMessage = 'Product has been added into cart!';//'Product quantity updated!';
                        if (notificationMessage) {
                            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                                type: 'theme',
                                allow_dismiss: true,
                                delay: 1000,
                                showProgressbar: true,
                                timer: 100,
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                }
                            });
                        }

                    }
                },
                error: function () {
                    alert("Please Select Positive Quantity");
                }
            }
        );
        return false;
    });
    $(".cartBtn").mouseover(function () {
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '/Seller/GetCartItems',
            success: function (data) {
                $('#exampleModal').html(data);
            },
            error: function (data) {
                alert("Error is facing for fetching data");
            }
        });
    });
    function UpdateUI(quantity, price, discountedPrice, variantId) {
        $('.data-pprice').text('Rs ' + price + '/-');
        $('.data-pdprice').text('Rs ' + discountedPrice + '/-');
        $.ajax(
            {
                async: true,
                type: "GET",
                contentType: false,
                processData: false,
                url: "/Admin/ProductVariantImageSlider/" + variantId,
                success: function (data) {
                    console.dir(data);
                    $('#sliderContainer').html(data);
                    $('.product-main').slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        arrows: false,
                        fade: true,
                        asNavFor: '.left-slider-image'
                    });

                    $('.left-slider-image').slick({
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        asNavFor: '.product-main',
                        dots: false,
                        focusOnSelect: true,
                        // vertical: false,
                        responsive: [{
                            breakpoint: 1400,
                            settings: {
                                vertical: false,
                            }
                        },
                        {
                            breakpoint: 992,
                            settings: {
                                vertical: false,
                            }
                        },
                        {
                            breakpoint: 768,
                            settings: {
                                vertical: false,
                            }
                        }, {
                            breakpoint: 430,
                            settings: {
                                slidesToShow: 3,
                                vertical: false,
                            }
                        },
                        ]
                    });
                },
                error: function () {
                    alert("This Specific Variant Does Not Exist");
                }
            }
        );
    }
    $(".btnWishList").click(function () {
        var th = $(this);
        var productId = $(this).attr("productId");
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                url: "/Seller/WishList?productId=" + productId,
                success: function (data) {
                    var notificationMessage = 'Product has been added into wishlist!';
                    if (notificationMessage) {
                        var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                            type: 'theme',
                            allow_dismiss: true,
                            delay: 1000,
                            showProgressbar: true,
                            timer: 100,
                            animate: {
                                enter: 'animated fadeInDown',
                                exit: 'animated fadeOutUp'
                            }
                        });
                    }

                },
            }
        );
        return false;
    });
</script>