﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProfileVerificationViewModel
@{
    ViewBag.Title = "FOCFulfillment - Profile Verification";
    Layout ="_LayoutSellerApproval";
}

@* <!DOCTYPE html>
<html lang="en"> *@
@* <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
    <title>Profile verification</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/vendors/slick/slick-theme.css">
        
    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head> *@
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
</head>
<style>
    
    .log-in-section::after {

         background-image:none;

    }
 /*    .log-in-box{
        background-color: #F8F8F8;
    } */

    .log-in-section .log-in-box {
        background-color: #F8F8F8;
    }

    .profile-form-section{
        min-height:auto;
    }
</style>
<body>

    <!-- mobile fix menu end -->
    <!-- Breadcrumb Section Start -->
    <div>
        <div class="container-fluid-lg text-left">
            <div class="row login-heading local-china-1-text animate-heading-6">
                <h1>Profile</h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <!-- log in section start -->
    <section class="log-in-section background-image-2 section-b-space profile-form-section">
        <div class="container-fluid-lg w-100">
            <div class="row justify-content-center">
                <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-10">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Welcome To FOCFulfillment</h3>
                            <h4>Set-Up Your Profile</h4>
                        </div>

                        <div class="input-box">
                            <form asp-action="ProfileVerification" method="post" class="row g-4">
                                <div class="col-md-6">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input asp-for="StoreName" class="form-control" type="text" id="storeName" placeholder="Store Name" minlength="3" maxlength="100">
                                        <label>Store Name</label>
                                        <span asp-validation-for="StoreName" class="text-danger"></span>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input asp-for="StoreURL" type="text" class="form-control" id="storeUrl" placeholder="Store URL" minlength="3" maxlength="100">
                                        <label>Store URL</label>
                                        <span asp-validation-for="StoreURL" class="text-danger"></span>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input asp-for="BankName" class="form-control" type="text" id="bankName" placeholder="Bank Name" minlength="2" maxlength="50">
                                        <label>Bank Name</label>
                                        <span asp-validation-for="BankName" class="text-danger"></span>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input asp-for="BankAccountTitle" type="text" class="form-control" id="bankAccountTitle" placeholder="Bank Account Title" minlength="2" maxlength="50">
                                        <label>Bank Account Title</label>
                                        <span asp-validation-for="BankAccountTitle" class="text-danger"></span>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input asp-for="BankAccountNumberOrIBAN" class="form-control" type="text" id="bankAccountNumberOrIban" placeholder="Bank Account Number Or IBAN" minlength="2" maxlength="50">
                                        <label>Bank Account Number Or IBAN</label>
                                        <span asp-validation-for="BankAccountNumberOrIBAN" class="text-danger"></span>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input asp-for="Address" type="text" class="form-control" id="address" placeholder="Address" minlength="3" maxlength="120">
                                        <label>Home City</label>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-animation w-100 justify-content-center" type="submit">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>

        var notificationMessage = '@TempData["notificationMessage"]';

        console.log(notificationMessage);

        if (notificationMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("notificationMessage")';
        }
    </script>
</body>
@* </html> *@

