﻿@using LocalDropshipping.Web.Enums;
@model LocalDropshipping.Web.Models.ProductViewModels.WholesaleViewModel;
@{
    ViewBag.Title = "FOCFulfillment - Get a Quote";
    Layout = "_LayoutGuests";
}
<head>
    <link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">
    <style>
        .custom-form input[type="file"]::-webkit-file-upload-button {
            background-color: #0da487;
            color: white;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            .custom-form input[type="file"]::-webkit-file-upload-button:hover {
                background-color: #0da487;
            }

        .contact-box-section {
            padding: 95px 0 85px;
        }

        .sbmt-btn {
            padding-top: 35px;
        }

        .wholesale-label .form-label {
            color: #0da487 !important;
        }

        .padding {
            padding-left: 12px !important;
        }

        .btn-padding {
            padding-left: 23px !important;
        }

        .form-check-input:checked {
            background-color: #0da487;
            border-color: #0da487;
        }
    </style>
</head>
<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    <div class="local-china-1 container-fluid text-center ">
        <div class="row local-china-1-text animate-heading">
            <h1>Get a Quote</h1>
        </div>
    </div>
    <section class="contact-box-section">
        <div class="container-fluid-lg">
            <div class="row g-lg-5 g-3 justify-content-center">
                <div class="col-lg-10 col-xxl-10 col-md-12 col-sm-12">
                    <form asp-action="Quotation" asp-controller="Seller" enctype="multipart/form-data">
                        <div class="right-sidebar-box">
                            <div class="row wholesale-label">
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlInput" class="form-label fw-bold">Full Name</label>
                                        <div class="custom-input">
                                            <input class="form-control padding" type="text" asp-for="Fullname" id="exampleFormControlInput"
                                                   placeholder="Enter Full Name" role="alert">

                                        </div>
                                        <span asp-validation-for="Fullname" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlInput2" class="form-label fw-bold">Email Address</label>
                                        <div class="custom-input">
                                            <input class="form-control padding" type="text" asp-for="Email" role="alert" id="exampleFormControlInput2"
                                                   placeholder="Enter Email Address">

                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlInput3" class="form-label fw-bold">Phone Number</label>
                                        <div class="custom-input">
                                            <input class="form-control padding" type="text" asp-for="PhoneNumber" role="alert" id="exampleFormControlInput3"
                                                   placeholder="e:g 03XXXXXXXXX">

                                        </div>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlInput3" class="form-label fw-bold">Whatsapp Phone Number</label>
                                        <div class="custom-input">
                                            <input class="form-control padding" type="text" asp-for="WhatsappPhoneNumber" role="alert" id="exampleFormControlInput4"
                                                   placeholder="e:g 03XXXXXXXXX">

                                        </div>
                                        <span asp-validation-for="WhatsappPhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold">Home/City</label>
                                        <div class="custom-input">
                                            <input type="text" class="form-control padding" id="exampleFormControlInput1"
                                                   placeholder="Enter Home/City/Address" asp-for="HomeCity">

                                        </div>
                                        <span asp-validation-for="HomeCity" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold">Budget in PKR</label>
                                        <div class="custom-input">
                                            <input type="text" class="form-control padding" id="exampleFormControlInput1"
                                                   placeholder="Enter Your Budget" asp-for="BudgetInUSD">

                                        </div>
                                        <span asp-validation-for="BudgetInUSD" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label class="form-label fw-bold">Fulfillment</label>
                                        <div class="radio-buttons">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" asp-for="Fulfilment" id="focRadio" value="FOC" checked>
                                                <label class="form-check-label" for="focRadio">FOC</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" asp-for="Fulfilment" id="ownRadio" value="OWN">
                                                <label class="form-check-label" for="ownRadio">OWN</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label class="form-label fw-bold">Sourcing</label>
                                        <div class="radio-buttons">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" asp-for="Sourcing" id="localRadio" value="Local" checked>
                                                <label class="form-check-label" for="localRadio">Local</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" asp-for="Sourcing" id="chinaRadio" value="China">
                                                <label class="form-check-label" for="chinaRadio">China</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-12">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlTextarea" class="form-label fw-bold">Product Information</label>
                                        <div class="custom-textarea">
                                            <textarea class="form-control padding" id="exampleFormControlTextarea"
                                                      placeholder="Enter Your Message" rows="6" asp-for="ProductInformation"></textarea>

                                        </div>
                                        <span asp-validation-for="ProductInformation" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold">Product Image</label>
                                        <div class="custom-input">
                                            <input type="file" class="form-control btn-padding" asp-for="ProductImages" id="exampleFormControlInput1" multiple accept="image/*">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-md-4 mb-3 custom-form">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold">Slip Image</label>
                                        <div class="custom-input">
                                            <input type="file" class="form-control btn-padding" accept="image/*" asp-for="SlipImage" id="exampleFormControlInput1">

                                        </div>
                                        <span asp-validation-for="SlipImage" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-form">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold">Website URL</label>
                                        <div class="custom-input">
                                            <input type="text" class="form-control padding" id="exampleFormControlInput1"
                                                   placeholder="Enter Your Website URL:" asp-for="WebsiteURL">

                                        </div>
                                        <span asp-validation-for="WebsiteURL" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-md-4 mb-3 sbmt-btn">
                                        <button type="submit" class="btn btn-animation btn-md fw-bold w-100">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Box Section End -->
    <br />
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="../assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bootstrap/popper.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-notify.min.js"></script>

    <!-- feather icon js-->
    <script src="../assets/js/feather/feather.min.js"></script>
    <script src="../assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="../assets/js/lazysizes.min.js"></script>

    <!-- Wizard js -->
    <script src="../assets/js/wizard.js"></script>

    <!-- Slick js-->
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/slick/custom_slick.js"></script>

    <!-- script js -->
    <script src="../assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="../assets/js/theme-setting.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>
        var notificationMessage = '@TempData["notificationMessage"]';

        console.log(notificationMessage);

        if (notificationMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("notificationMessage")';
        }
        $(document).ready(function () {
            $('#ownCheckbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#focCheckbox').prop('checked', false);
                }
            });

            $('#focCheckbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#ownCheckbox').prop('checked', false);
                }
            });
        });
        $(document).ready(function () {
            $('#localCheckbox, #chinaCheckbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#localCheckbox, #chinaCheckbox').not(this).prop('checked', false);
                }
            });
        });
    </script>
    <script>
        var notificationMessage = '@TempData["notificationMessage"]';
        if (notificationMessage) {
            var notify = $.notify('
                < i class= "fas fa-bell" > </i>
                < strong > Loading < /strong> ' + notificationMessage, {
                                            type: 'theme',
                allow_dismiss: true,
                delay: 2000,
                showProgressbar: true,
                timer: 100,
                animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
                                            });

        '@TempData.Remove("notificationMessage")';
                                            }
    </script>
</body>


