﻿@model SignupViewModel

@{
    ViewBag.Title = "FOCFulfillment - Register";
    Layout = "_LayoutGuests";
    //  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/assets/images/favicon/1.png" type="image/x-icon">
    <title>FOCfulfillment - Register</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">
</head>
<style>
    .saller-poster-section {
        padding: 20px;
    }

    .seller-title {
        text-align: center;
    }

    .register-heading h2 {
        color: #0da487;
        background-color: #f5f5f5;
        padding-top: 16px !important;
    }

    .register-heading p {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 10px;
    }

    .register-heading col-md-12 {
        padding: 0px;
    }
</style>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    <!-- About Section Start -->
    <div>
        <div class="container-fluid register-heading">
            <div class="row">
                <div class="col-md-12 text-center p-0">
                    <div class="">
                        <div>
                            <h2 class="pb-3 pt-4" style="color:#0da487;">Become a seller on FOCFulfillment</h2>
                            <p>
                                Join us today and experience a new level of dropshipping excellence. We’re dedicated to helping you and your customers achieve dropshipping success like never before. Our mission is to provide top-notch Fulfillment services that empower your business to thrive in the world of e-commerce.
                                We are focused on Efficient Fulfillment, Best-in-Class Courier Services, Quality Control that meets highest standards, Reduced Return Ratio and Competitive Pricing. When you choose FOC Fulfillment, you're not just getting a fulfillment partner – you're getting a dedicated team committed to your success. We're here to support your business every step of the way.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Section End -->
    <!-- log in section start -->
    <section class="log-in-section section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="../assets/images/inner-page/sign-up.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Register With FOCFulfillment</h3>
                            <h4>Create New Account</h4>
                        </div>

                        <div class="input-box">
                            <form asp-action="register" id="registerForm" class="row g-4" novalidate>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input asp-for="FullName" class="form-control" placeholder="Full Name" name="FullName" minlength="3" maxlength="40" />
                                        <label>Full Name</label>
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input asp-for="Email" class="form-control" placeholder="Email" name="Email" minlength="2" maxlength="50" />
                                        <label>Email</label>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating custom-input">
                                        <input asp-for="Password" id="password" type="password" class="form-control" placeholder="Password" name="Password" minlength="6" maxlength="35" />
                                        <label>Password</label>
                                        <span><i id="toggle-password" class="fas fa-eye-slash"></i></span>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Phone Number e:g 03XXXXXXXXX" name="PhoneNumber" minlength="11" maxlength="11" />
                                        <label>Phone Number e:g 03XXXXXXXXX</label>
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="forgot-box">
                                        <div class="form-check ps-0 m-0 remember-box">
                                            <input class="checkbox_animated check-box" type="checkbox"
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                I agree with
                                                <a asp-controller="Public" asp-action="TermAndCondition"><span>Terms</span></a> and <a asp-controller="Public" asp-action="PrivacyPolicy"><span>Privacy</span></a>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="validation-summary-errors col-12">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-animation w-100" type="submit" id="registerButton" disabled>Register</button>
                                </div>
                            </form>
                        </div>

                        <div class="other-log-in">
                            <h6>or</h6>
                        </div>

                        <div class="log-in-button">
                            <ul>
                                <li>
                                    <a asp-action="LoginWithGoogle"
                                       class="btn google-button w-100">
                                        <img src="../assets/images/inner-page/google.png" class="blur-up lazyload"
                                             alt="">
                                        Continue with Google
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="other-log-in">
                            <h6></h6>
                        </div>

                        <div class="sign-up-box">
                            <h4>Already have an account?</h4>
                            <a asp-action="Login" asp-controller="Seller" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]">Login </a>

                        </div>
                    </div>
                </div>

                <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
            </div>
        </div>
    </section>
    <div class="faq-box-contain">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="p-4 mb-4">
                        <h2 style="color:#0da487">Can I do Business With NO MONEY ?</h2>
                    </div>

                    <iframe width="1000" height="562.5" src="https://www.youtube.com/embed/7AN4jKTJtbE?si=yduMpSkZ-hGaVCud" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>
    <section class="faq-box-contain ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="p-3 mb-4 text-center">
                        <h2 style="color:#0da487">Frequently Asked Questions</h2>

                    </div>
                    <div class="faq-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is FOCFulfillment and why was the name changed? <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse"
                                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            FOCFulfillment is leading the charge in transforming India’s vast, unorganised
                                            grocery landscape through cutting-edge technology and innovation. Blinkit is
                                            India’s largest and most convenient hyper-local delivery company, which
                                            enables you to order grocery, fruits & vegetables, and other daily essential
                                            products, directly via your mobile or web browser.
                                        </p>

                                        <p>
                                            To know the reason why we changed our brand name from Grofers to FOCFulfillment,
                                            read this <span class="fw-bold">blog post.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How to remove the impurities of Graphene oxide? <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Discover, Explore & Understanding The Product Description Maecenas
                                            ullamcorper eros libero, facilisis tempor mi dapibus vel. Sed ut felis
                                            ligula. Pellentesque vestibulum, tellus id euismod aliquet, justo velit
                                            tincidunt justo, nec pulvinar tortor elit vitae urna.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        How long will delivery take? <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Discover, Explore & Understanding The Product Description Maecenas
                                            ullamcorper eros libero, facilisis tempor mi dapibus vel. Sed ut felis
                                            ligula. Pellentesque vestibulum, tellus id euismod aliquet, justo velit
                                            tincidunt justo, nec pulvinar tortor elit vitae urna.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour" aria-expanded="true"
                                            aria-controls="collapseFour">
                                        How do I find my Windows Product key? <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The product key is located inside the product packaging, on the
                                            receipt or confirmation page for a digital purchase or in a
                                            confirmation e-mail that shows you purchased Windows. If you
                                            purchased a digital copy from Microsoft Store, you can locate your
                                            product key in your Account under Digital Content.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">
                                        I've downloaded an ISO file, now what? <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            You can use the ISO file to create bootable media for installation
                                            or recovery. You can also install Windows on your current device
                                            by opening the ISO file, selecting the Setup and following the
                                            instructions.
                                        </p>

                                        <p>
                                            To create bootable media such as a bootable USB drive or DVD, you
                                            will need an ISO burning or mounting software. We recommend always
                                            using a blank USB or blank DVD because contents may be deleted
                                            when creating a bootable image.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        What's the difference between 32-bit and 64-bit versions of Windows? <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            The terms 32-bit and 64-bit refer to the way a computer's
                                            processor (also called a CPU) handles information. The 64-bit
                                            version of Windows handles large amounts of random access memory
                                            (RAM) more effectively than a 32-bit system. Not all devices can
                                            run the 64-bit versions of Windows.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeven">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseSeven" aria-expanded="true"
                                            aria-controls="collapseSeven">
                                        Questionnaire on online shopping behavior during COVID-19. <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseSeven" class="accordion-collapse collapse"
                                     aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            FOCFulfillment is leading the charge in transforming India’s vast, unorganised
                                            grocery landscape through cutting-edge technology and innovation. Blinkit is
                                            India’s largest and most convenient hyper-local delivery company, which
                                            enables you to order grocery, fruits & vegetables, and other daily essential
                                            products, directly via your mobile or web browser.
                                        </p>

                                        <p>
                                            To know the reason why we changed our brand name from Grofers to FOCFulfillment,
                                            read this <span class="fw-bold">blog post.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseEight" aria-expanded="false"
                                            aria-controls="collapseEight">
                                        How Can I Get More Attention From Customers? <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseEight" class="accordion-collapse collapse"
                                     aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            There are many variations of passages of Lorem Ipsum available, but the
                                            majority have suffered alteration in some form, by injected humour, or
                                            randomised words which don't look even slightly believable. If you are going
                                            to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                            embarrassing hidden in the middle of text.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseNine" aria-expanded="false"
                                            aria-controls="collapseNine">
                                        What is payment method? <i class="fa-solid fa-angle-down"></i>
                                    </button>
                                </h2>
                                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                            been the industry's standard dummy text ever since the 1500s, when an
                                            unknown printer took a galley of type and scrambled it to make a type
                                            specimen book. It has survived not only five centuries, but also the leap
                                            into electronic typesetting, remaining essentially unchanged. It was
                                            popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software
                                            like Aldus PageMaker including versions of Lorem Ipsum
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather/feather.min.js"></script>
    <script src="~/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/slick/slick-animation.min.js"></script>
    <script src="~/assets/js/slick/custom_slick.js"></script>

    <!-- Price Range Js -->
    <script src="~/assets/js/ion.rangeSlider.min.js"></script>

    <!-- Quantity js -->
    <script src="~/assets/js/quantity-2.js"></script>

    <!-- sidebar open js -->
    <script src="~/assets/js/filter-sidebar.js"></script>

    <!-- script js -->
    <script src="~/assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="~/assets/js/theme-setting.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>
        var notificationMessage = '@TempData["notificationMessage"]';

        if (notificationMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("notificationMessage")';
        }
    </script>
</body>
</html>
<script>
    $(document).ready(function () {
        function validateForm() {
            var fullName = $("#FullName").val();
            var email = $("#Email").val();
            var password = $("#Password").val();
            var phoneNumber = $("#PhoneNumber").val();
            var agreeCheckbox = $("#flexCheckDefault").is(":checked");
            return fullName !== "" && email !== "" && password !== "" && phoneNumber !== "" && agreeCheckbox;
        }

        $("#registerForm input, #flexCheckDefault").on("input change", function () {
            var isValid = validateForm();
            $("#registerButton").prop("disabled", !isValid);
        });
    });

    $(document).ready(function () {
        $('#toggle-password').click(function () {
            const passwordField = $('#password');

            if (passwordField.attr('type') === 'password') {
                passwordField.attr('type', 'text');
                $('#toggle-password').removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                passwordField.attr('type', 'password');
                $('#toggle-password').removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });
    });
</script>
