﻿@using LocalDropshipping.Web.Helpers
@model PageResponse<List<ReportViewModel>>

@{
    ViewBag.Title = "FOCFulfillment - Reports";
    Layout = "_LayoutSellerDashboard";
}
<style>
    .title-leaf {
        width: 240px;
        text-align: end;
        position: relative;
        z-index: 0;
    }
</style>

<body>
    <div class="tab-pane fade active show" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
        <div class="dashboard-order">
            <div class="title">
                <h2>Reports</h2>
                <span class="title-leaf title-leaf-gray">
                    <svg class="icon-width bg-gray">
                        <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use>
                    </svg>
                </span>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="mb-3 d-flex justify-content-start align-items-center">
                        <input class="form-control py-3" type="text" name="daterange" value="" id="daterange" placeholder="01/01/2023 - 01/15/2023" />
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="javascript:void(0);" class="btn btn-solid text-white py-1" id="applyFilter">
                            Apply
                        </a>
                    </div>
                </div>
           @*  <div class="card card-table">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-7">
                            <div class="d-flex justify-content-start align-items-center" >
                                <div class="row">
                                    <div class="col-12">
                                        <input class="form-control py-3" type="text" name="daterange" value="" id="daterange" placeholder="01/01/2023 - 01/15/2023" />
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-7">
                            <div class="d-flex justify-content-end align-items-center">
                                <a href="javascript:void(0);" class="btn btn-solid text-white" id="applyFilter">
                                    Apply
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> *@
            @if (Model.Data != null && Model.Data.Any())
            {
                <div class="order-tab dashboard-bg-box">
                    <div class="table-responsive">
                        <table class="table order-table">
                            <thead>
                                <tr>
                                    <th scope="col">Transaction Id</th>
                                    <th scope="col">Payment Date</th>
                                    <th scope="col">Amount Paid</th>
                                    <th scope="col">Account Title</th>
                                    <th scope="col">Account Number</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var report in Model.Data)
                                {
                                    foreach (var withdrawal in report.Withdrawals)
                                    {
                                        <tr>
                                            <td>@withdrawal.TransactionId</td>
                                            <td>@withdrawal.UpdatedDate</td>
                                            <td>@withdrawal.AmountInPkr</td>
                                            <td>@report.Profile.BankAccountTitle</td>
                                            <td>@report.Profile.BankAccountNumberOrIBAN</td>
                                            <td>@withdrawal.PaymentStatus</td>
                                            <td>
                                                <ul>
                                                    <li>
                                                        <a href="javascript:void(0)" title="View Details"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#viewPopup"
                                                           data-withdrawal-id="@withdrawal.WithdrawalId"
                                                           onclick="openViewPopup('@withdrawal.WithdrawalId')">
                                                            <i class="ri-eye-line" style="color:#0DA487"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0)" title="Print Invoice"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#printPopup"
                                                           data-withdrawal-id="@withdrawal.WithdrawalId"
                                                           onclick="openPrint('@withdrawal.WithdrawalId')">
                                                            <i class="ri-printer-line" style="color:#0DA487"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    @* PRINT VIEW MODAL *@
                    <div class="modal fade" id="printPopup" tabindex="-1" role="dialog" aria-labelledby="viewPopupLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                     <input type="hidden" id="withdrawalId" />
                                    <h5 class="modal-title" id="viewPopupLabel">Transaction Details</h5>
                                    <div class="modal-header p-b-25">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePrintPopup()" aria-label="Close">
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div id="reportInvoice">
                                        @await Html.PartialAsync("_RoportInvoice", new TransactionDetailViewModel())
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-solid text-white" id="downloadPdfButton" onclick="printReport()">
                                        Print&nbsp;/&nbsp;Download
                                    </button>
                                    <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePrintPopup()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                   @* VIEW MODAL *@
                    <div class="modal fade" id="viewPopup" tabindex="-1" role="dialog" aria-labelledby="viewPopupLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="viewPopupLabel">Transaction Details</h5>
                                    <div class="modal-header p-b-25">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeViewPopup()" aria-label="Close">
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div id="transactionDetailsPartial">
                                        @await Html.PartialAsync("_TransactionDetailsPartialView", new List<TransactionDetailItemViewModel>())
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closeViewPopup()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <nav aria-label="Page navigation" class="custome-pagination">
                        <ul class="pagination justify-content-center">
                            @if (Model.pageNumber > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize" aria-label="Previous">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>
                            }

                            @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                            {
                                <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                    <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize">@i</a>
                                </li>
                            }

                            @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize" aria-label="Next">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            }
            else
            {
                <div>
                    <h4 class="text-center">Currently, you have no orders!</h4>
                </div>
            }
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script src="  https://printjs-4de6.kxcdn.com/print.min.js"></script>

<script>
    function openPrint(withdrawalId) {
        $('#withdrawalId').val(withdrawalId);
        $.ajax({
            url: '/Seller/GenerateInvoice',
            type: 'GET',
            data: { withdrawalId: withdrawalId },
            success: function (data) {
                $('#reportInvoice').html(data);
                $('#printPopup').modal('show');
            },
            error: function () {
                alert('An error occurred while fetching transaction details.');
            }
        });
    }

    function openViewPopup(withdrawalId) {
        $.ajax({
            url: '/Seller/ViewReport',
            type: 'GET',
            data: { withdrawalId: withdrawalId },
            success: function (data) {
                $('#transactionDetailsPartial').html(data);
                $('#viewPopup').modal('show');
            },
            error: function () {
                alert('An error occurred while fetching transaction details.');
            }
        });
    }

    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }

    function closePrintPopup() {
        document.getElementById('printPopup').style.display = 'none';
    }

    function printReport() {
        printJS({
            printable: 'reportInvoice',
            type: 'html'
        });
    }


    $(function () {
        $('#daterange').daterangepicker({
            opens: 'right'
        });

        $('#applyFilter').click(function () {
            var paymentStatus = $('#filterBy').val();
            var dateRange = $('#daterange').val();

            var dateRangeParts = dateRange.split(' - ');
            var fromDate = dateRangeParts[0];
            var toDate = dateRangeParts[1];

            window.location.href = '/Seller/Reports' +
                '?from=' + fromDate +
                '&to=' + toDate;
        });
        $('#daterange').val('');
    });

    var notificationMessage = '@TempData["notificationMessage"]';

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }
</script>
