﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Models;
@{
    ViewBag.Title = "FOCFulfillment - Seller Dashboard";
    Layout = "_LayoutSellerDashboard";
    var currentUserData = (User)Context.Items["CurrentUser"];
}
<style>
    .title-leaf {
        width: 240px;
        text-align: end;
        position: relative;
        z-index: 0;
    }
</style>
<body>

    <div class="tab-pane fade show active" id="pills-dashboard" role="tabpanel"
         aria-labelledby="pills-dashboard-tab">
        <div class="dashboard-home">
            <div class="title">
                <h2>My Dashboard</h2>
                <span class="title-leaf">
                    <svg class="icon-width bg-gray">
                        @* <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use> *@
                    </svg>
                </span>
            </div>

            <div class="dashboard-user-name">
                <h6 class="text-content">Hello <b class="text-title">@currentUserData.Fullname</b>,</h6>
                <p class="text-content">
                    Please review your current status...
                </p>
            </div>

            <div class="total-box">
                <div class="row g-sm-4 g-3">
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>Amount Withdrawn</h5>
                                <h3>Rs.@ViewBag.model.AmountWithdrawal.ToString("N0")/-</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>Unpaid Earnings</h5>
                                <h3>Rs.@ViewBag.model.UnpaidEarnings.ToString("N0")/-</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>Total Sales</h5>
                                <h3>Rs.@ViewBag.model.TotalSales.ToString("N0")/-</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/wishlist.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>Profit</h5>
                                <h3>Rs.@ViewBag.model.AvailableBalance.ToString("N0")/-</h3>
                            </div>
                        </div>
                    </div>
                    @* <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>My Wallet</h5>
                                <h3>Rs.@ViewBag.model.MyWallet.ToString("N0")/-</h3>
                            </div>
                        </div>
                    </div> *@
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <i class="fas fa-coins fa-3x" aria-hidden="true" style="color:#0da487;"></i>
                            <div class="totle-detail">
                                <h5>Total Orders</h5>
                                <h3>@ViewBag.model.TotalOrders</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg"
                                 class="blur-up lazyload" alt="">
                            <div class="totle-detail">
                                <h5>Orders - In Transit</h5>
                                <h3>@ViewBag.model.PendingOrders</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/pending.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/pending.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>Delivered Orders</h5>
                                <h3>@ViewBag.model.TotalDeliveredOrders</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg" class="blur-up lazyload"
                                 alt="">
                            <div class="totle-detail">
                                <h5>Returned Orders</h5>
                                <h3>@ViewBag.model.TotalReturnedOrders</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-4 col-lg-6 col-md-4 col-sm-6">
                        <div class="totle-contain">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg"
                                 class="img-1 blur-up lazyload" alt="">
                            <img src="https://themes.pixelstrap.com/fastkart/assets/images/svg/order.svg"
                                 class="blur-up lazyload" alt="">
                            <div class="totle-detail">
                                <h5>Cancelled Orders</h5>
                                <h3>@ViewBag.model.CancelledOrders</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>

        var notificationMessage = '@TempData["notificationMessage"]';

        console.log(notificationMessage);

        if (notificationMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("notificationMessage")';
        }
    </script>
</body>