﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Enums;
@using LocalDropshipping.Web.Helpers;
@model PageResponse<List<SellerViewOrder>>;
@{
    ViewBag.Title = "FOCFulfillment - Seller Orders";

    Layout = "_LayoutSellerDashboard";
}
<style>
    .title-leaf {
        width: 240px;
        text-align: end;
        position: relative;
        z-index: 0;
    }
</style>
<body>
    <div class="tab-pane fade active show" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">

        <div class="dashboard-order">
            <div class="title">
                <h2>My Orders</h2>
                <span class="title-leaf title-leaf-gray"></span> 
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="mb-3 d-flex justify-content-start align-items-center">
                        <input class="form-control" type="text" name="daterange" value="" id="daterange" placeholder="01/01/2023 - 01/15/2023" />
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-6">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="javascript:void(0);" class="btn btn-solid text-white py-1" id="applyFilter">
                            Apply
                        </a>
                    </div>
            </div>
            @if (Model.Data != null && Model.Data.Any())
            {
                <div class="order-tab dashboard-bg-box">
                    <div class="table-responsive">
                        <table class="table order-table">
                            <thead>
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Order Tracking Id</th>
                                    <th scope="col">Order Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Courier Company</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Sell Price</th>
                                    <th scope="col">Order Price</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sellerViewModel in Model.Data)
                                {
                                        @foreach(var order in sellerViewModel.Orders)
                                        {
                                            <tr>
                                                <td>@order.Id</td>
                                                <td>@order.OrderTrackingId</td>
                                                <td>@order.CreatedDate.ToString("MMM dd yyyy")</td>
                                                <td>
                                                    @if (order.OrderStatus == OrderStatus.Pending ||
                                                         order.OrderStatus == OrderStatus.PickupRequestNotSend
                                                    
                                                    )
                                                    {
                                                        <label class="success">@OrderStatus.Pending</label>
                                                    }
                                                    else if (order.OrderStatus == OrderStatus.Delivered ||
                                                    order.OrderStatus == OrderStatus.ShipmentDelivered ||
                                                    order.OrderStatus == OrderStatus.DliveredAtHome ||
                                                    order.OrderStatus == OrderStatus.PartialDelivered ||
                                                    order.OrderStatus == OrderStatus.ShipmentOnHoldForSelfCollection)
                                                    {
                                                        <label class="success">@OrderStatus.Delivered</label>
                                                    }
                                                    else if (
                                                    order.OrderStatus == OrderStatus.PickupRequestSent ||
                                                    order.OrderStatus == OrderStatus.ConsignmentBooked ||
                                                    order.OrderStatus == OrderStatus.InProcess ||
                                                    order.OrderStatus == OrderStatus.ShipmentBooked ||
                                                    order.OrderStatus == OrderStatus.ClaimPaid ||
                                                    order.OrderStatus == OrderStatus.OrderBooked ||
                                                    order.OrderStatus == OrderStatus.RiderOnItsWay 
                                                    )
                                                    {
                                                        <label class="success">In Process</label>
                                                    }
                                                    else if (order.OrderStatus == OrderStatus.FortyEightHoursAutoCanceled ||
                                                    order.OrderStatus == OrderStatus.Cancelled ||
                                                    order.OrderStatus == OrderStatus.ShipmentCancelled ||
                                                    order.OrderStatus == OrderStatus.BookingCancelled ||
                                                    order.OrderStatus == OrderStatus.CancelledByClient)
                                                    {
                                                        <label class="danger">Cancelled</label>
                                                    }else if (
                                                    order.OrderStatus == OrderStatus.AssignToCourier ||
                                                    order.OrderStatus == OrderStatus.ArrivedAtStation ||
                                                    order.OrderStatus == OrderStatus.Missroute ||
                                                    order.OrderStatus == OrderStatus.Dispatached ||
                                                    order.OrderStatus == OrderStatus.ShipmentPicked ||
                                                    order.OrderStatus == OrderStatus.DropOffAtExpressCenter ||
                                                    order.OrderStatus == OrderStatus.ShipmentArrivedAtOrigin ||
                                                    order.OrderStatus == OrderStatus.ShipmentOutForDelivery ||
                                                    order.OrderStatus == OrderStatus.ShipmentInTransit ||
                                                    order.OrderStatus == OrderStatus.ShipmentArrivedAtDestination ||
                                                    order.OrderStatus == OrderStatus.ShipmentOutForDelivery ||
                                                    order.OrderStatus == OrderStatus.ShipmentRiderExchange ||
                                                    order.OrderStatus == OrderStatus.ShipmentNotAttempt ||
                                                    order.OrderStatus == OrderStatus.ShipmentOnHold ||
                                                    order.OrderStatus == OrderStatus.ShipmentMisrouted ||
                                                    order.OrderStatus == OrderStatus.ShipmentReAttempt ||
                                                    order.OrderStatus == OrderStatus.ShipmentCaseClosed ||
                                                    order.OrderStatus == OrderStatus.ShipmentReAttemptRequested ||
                                                    order.OrderStatus == OrderStatus.ShipmentRiderPicked ||
                                                    order.OrderStatus == OrderStatus.ShipmentMissrouteForwarded ||
                                                    order.OrderStatus == OrderStatus.ShipmentArrivalServiceCenter ||
                                                    order.OrderStatus == OrderStatus.ShipmentMultiplePiecesHold ||
                                                    order.OrderStatus == OrderStatus.ShipmentDispatchedFromWarehouse ||
                                                    order.OrderStatus == OrderStatus.ShipmentReceivedFromShipper ||
                                                    order.OrderStatus == OrderStatus.ShipmentRecalled ||
                                                    order.OrderStatus == OrderStatus.ShipmentReBooked ||
                                                    order.OrderStatus == OrderStatus.ShipmentConsolidated ||
                                                    order.OrderStatus == OrderStatus.ShipmentWaitingForConsolidation ||
                                                    order.OrderStatus == OrderStatus.ReplacementDispatched ||
                                                    order.OrderStatus == OrderStatus.ReplacementCollected ||
                                                    order.OrderStatus == OrderStatus.InterceptRequested ||
                                                    order.OrderStatus == OrderStatus.InterceptApproved ||
                                                    order.OrderStatus == OrderStatus.Booked ||
                                                    order.OrderStatus == OrderStatus.Dispatached ||
                                                    order.OrderStatus == OrderStatus.DispatachedPartially ||
                                                    order.OrderStatus == OrderStatus.Inward ||
                                                    order.OrderStatus == OrderStatus.DispatachedForHomeDelivery ||
                                                    order.OrderStatus == OrderStatus.Collected ||
                                                    order.OrderStatus == OrderStatus.AwaitingDispatch ||
                                                    order.OrderStatus == OrderStatus.RiderIsOutForDelivery ||
                                                    order.OrderStatus == OrderStatus.DeliveryInProgress ||
                                                    order.OrderStatus == OrderStatus.InTransit ||
                                                    order.OrderStatus == OrderStatus.AwaitingLinehaulDispatch ||
                                                    order.OrderStatus == OrderStatus.TransitToHub)
                                                    {
                                                        <label class="success">Dispatched</label>
                                                    }
                                                    else if (
                                                    order.OrderStatus == OrderStatus.ReturnedToShipper ||
                                                    order.OrderStatus == OrderStatus.ReadyForReturn ||
                                                    order.OrderStatus == OrderStatus.BeingReturn ||
                                                    order.OrderStatus == OrderStatus.ShipmentDeliveryUnsuccessfull ||
                                                    order.OrderStatus == OrderStatus.ShipmentNonServiceArea ||
                                                    order.OrderStatus == OrderStatus.ShipmentReturnConfirmationPending ||
                                                    order.OrderStatus == OrderStatus.ReturnConfirm ||
                                                    order.OrderStatus == OrderStatus.ReturnInTransit ||
                                                    order.OrderStatus == OrderStatus.ReturnArrivedAtOrigin ||
                                                    order.OrderStatus == OrderStatus.ReturnDispatched ||
                                                    order.OrderStatus == OrderStatus.ReturnDeliveryUnsuccessfull ||
                                                    order.OrderStatus == OrderStatus.ReturnDeliveredToShipper ||
                                                    order.OrderStatus == OrderStatus.ReturnNotAttempted ||
                                                    order.OrderStatus == OrderStatus.ReturnOnHold ||
                                                    order.OrderStatus == OrderStatus.ReturnDispatched ||
                                                    order.OrderStatus == OrderStatus.ReturnedUnableToReturn ||
                                                    order.OrderStatus == OrderStatus.ReturnNotShifted ||
                                                    order.OrderStatus == OrderStatus.ReturnRiderExchange ||
                                                    order.OrderStatus == OrderStatus.ReplacementInTransit ||
                                                    order.OrderStatus == OrderStatus.ReplacementArrivedAtOrigin ||
                                                    order.OrderStatus == OrderStatus.ReplacementDeliveryUnsuccessfull ||
                                                    order.OrderStatus == OrderStatus.ReplacementDeliveredToShipper ||
                                                    order.OrderStatus == OrderStatus.ReplacementRiderExchange ||
                                                    order.OrderStatus == OrderStatus.ReplacementNotCollected ||
                                                    order.OrderStatus == OrderStatus.ReturnUndeliveredHomeDelivery ||
                                                    order.OrderStatus == OrderStatus.RefusedDelivery ||
                                                    order.OrderStatus == OrderStatus.ReturnToShipper ||
                                                    order.OrderStatus == OrderStatus.ReturnToOrigin||
                                                    order.OrderStatus == OrderStatus.HoldForCollection ||
                                                    order.OrderStatus == OrderStatus.ReturnToShipper ||
                                                    order.OrderStatus == OrderStatus.QCRejectedHub ||
                                                    order.OrderStatus == OrderStatus.AwaitingReturn ||
                                                    order.OrderStatus == OrderStatus.Returned ||
                                                    order.OrderStatus == OrderStatus.DeliveryAttemptFailed ||
                                                    order.OrderStatus == OrderStatus.ReturnInProgress ||
                                                    order.OrderStatus == OrderStatus.ReturnAttemptFailed ||
                                                    order.OrderStatus == OrderStatus.ReturnInTransit ||
                                                    order.OrderStatus == OrderStatus.TransitToHubReturn ||
                                                    order.OrderStatus == OrderStatus.AwaitingLinehaulReturn)
                                                    {
                                                        <label class="danger">Returned</label>
                                                    }else if (
                                                    order.OrderStatus == OrderStatus.ShipmentLost ||
                                                    order.OrderStatus == OrderStatus.LostCash ||
                                                    order.OrderStatus == OrderStatus.LostTransit ||
                                                    order.OrderStatus == OrderStatus.SnatchedCash ||
                                                    order.OrderStatus == OrderStatus.SnatchedShipment ||
                                                    order.OrderStatus == OrderStatus.LostShipment ||
                                                    order.OrderStatus == OrderStatus.Damaged ||
                                                    order.OrderStatus == OrderStatus.MarkedForDisposal ||
                                                    order.OrderStatus == OrderStatus.DisposedOff ||
                                                    order.OrderStatus == OrderStatus.Lost)
                                                    {
                                                        <label class="danger">Lost</label>
                                                    }
                                                </td>
                                                <td>@order.CourierServiceType</td>
                                                <td>
                                                    @foreach (var orderItem in sellerViewModel.OrderItems)
                                                    {
                                                        if (orderItem.OrderId == order.Id)
                                                        {
                                                            <span>@orderItem.Name</span>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @foreach (var consumer in sellerViewModel.Consumers)
                                                    {
                                                        if (consumer.OrderId == order.Id)
                                                        {
                                                            <span>@consumer.FullName</span>
                                                        }
                                                    }
                                                </td>
                                                <td>Rs.@order.SellPrice.ToString("N0")/-</td>
                                                <td>Rs.@order.GrandTotal.ToString("N0")/-</td>
                                                <td>
                                                    <ul>

                                                        <li>
                                                            <a href="javascript:void(0)" title="View Order">
                                                                <i class="ri-eye-line" style="color:#0DA487"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#viewPopup"
                                                                   data-order-id="@order.Id"
                                                                   onclick="openViewPopup(this)">
                                                                </i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                    }
                                }        
                            </tbody>
                        </table>
                    </div>

                    @* VIEW MODAL *@
                    <div id="viewPopup" class="modal" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header p-b-25">
                                    <h4 class="modal-title" id="staticBackdropLabel"><strong>View Order</strong></h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeViewPopup()" aria-label="Close">
                                    </button>
                                </div>

                                <div class="modal-body">

                                    <div class="deal-offer-box">
                                        <div class="my-2">
                                            <p>Order #<b><span class="value" id="orderId"></span></b> was placed on <b><span class="value" id="createdDate"></span></b> and is currently <b><span class="value" id="status"></span></b>.</p>
                                        </div>
                                        <hr />
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="BusinessNameValue">Business Name:</label>
                                                <div class="value" id="BusinessNameValue"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="CourierServiceValue">Courier Service:</label>
                                                <div class="value" id="CourierServiceValue"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="SellPriceValue">Sell Price:</label>
                                                <div class="value" id="SellPriceValue"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="ShippingFee">Shipping Fee:</label>
                                                <div class="value" id="ShippingFee"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="PaymentMethod">Payment Method:</label>
                                                <div class="value" id="PaymentMethod"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="YourCustomerCity">Customer City:</label>
                                                <div class="value" id="YourCustomerCity"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="YourCustomerAddress">Customer Address:</label>
                                                <div class="value" id="YourCustomerAddress"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="Total">Total:</label>
                                                <div class="value" id="Total"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-value-pair">
                                                <label for="remarks">Remarks:</label>
                                                <div class="value" id="remarks"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closeViewPopup()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <nav aria-label="Page navigation" class="custome-pagination">
                        <ul class="pagination justify-content-center">
                            @if (Model.pageNumber > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize" aria-label="Previous">
                                        <i class="fa-solid fa-angles-left"></i>
                                    </a>
                                </li>
                            }

                            @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                            {
                                <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                    <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize">@i</a>
                                </li>
                            }

                            @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                            {
                                <li class="page-item">
                                    <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize" aria-label="Next">
                                        <i class="fa-solid fa-angles-right"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>

                </div>
            }
            else
            {
                <div>
                    <h4 class="text-center">Currently, you have no orders!</h4>
                </div>
            }
        </div>



    </div>

    <script>
        var orderNameElements = document.querySelectorAll("#orderName");

        orderNameElements.forEach(function (element) {
            if (element.textContent.trim() === "") {
                element.textContent = "<No Product Name>";
            }
        });
    </script>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('#daterange').daterangepicker({
            opens: 'right'
        });

        $('#applyFilter').click(function () {
            var paymentStatus = $('#filterBy').val();
            var dateRange = $('#daterange').val();

            var dateRangeParts = dateRange.split(' - ');
            var fromDate = dateRangeParts[0];
            var toDate = dateRangeParts[1];

            window.location.href = '/Seller/SellerOrders' +
                '?from=' + fromDate +
                '&to=' + toDate;
        });
        $('#daterange').val('');
    });

    function openViewPopup(button) {
        var OrderId = button.getAttribute('data-order-id');

        $.ajax({
            url: '@Url.Action("ViewOrder", "Seller")',
            type: 'GET',
            data: { id: OrderId },
            success: function (data) {
                console.log(data);
                document.getElementById('BusinessNameValue').textContent = data.businessName;
                document.getElementById('CourierServiceValue').textContent = data.courierService;
                document.getElementById('SellPriceValue').textContent = 'Rs. ' + data.sellPrice.toFixed(0) + '/-';
                document.getElementById('ShippingFee').textContent = 'Rs. ' + data.shippingFee.toFixed(0) + '/-';
                document.getElementById('Total').textContent = 'Rs. ' + data.total.toFixed(0) + '/-';
                document.getElementById('PaymentMethod').textContent = data.paymentMethod;
                document.getElementById('YourCustomerCity').textContent = data.yourCustomerCity;
                document.getElementById('YourCustomerAddress').textContent = data.yourCustomerAddress;
                document.getElementById('createdDate').textContent = data.createdDate;
                document.getElementById('status').textContent = data.status;
                document.getElementById('orderId').textContent = data.orderId;
                document.getElementById('remarks').textContent = data.remarks;

                $('#viewPopup').on('shown.bs.modal', function () {
                    $('#viewPopup').modal('show');
                });

                event.preventDefault();
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }

    var notificationMessage = '@TempData["notificationMessage"]';

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }

</script>
<style>
    .label-value-pair {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;
    }

        .label-value-pair label {
            flex: 1;
            margin-right: 10px;
            font-weight: bold;
            padding-right: 50px;
        }

        .label-value-pair .value {
            flex: 2;
        }

</style>
