﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Models
@model ShopViewModel
@using Newtonsoft.Json;
@{
    var data = Context.Session.GetString("cart");
    List<OrderItem> cartItems;
    int countCart = 0;
    if (data == null)
    {
        countCart = 0;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        List<OrderItem> dataCart = JsonConvert.DeserializeObject<List<OrderItem>>(data2);
        countCart = dataCart.Count();
        cartItems = dataCart;

    }
    ViewBag.Title = "FOCFulfillment - Shop";
    Layout = "~/Views/Shared/ShopPage.cshtml";

}
<link rel="stylesheet" href="../assets/css/layout-fulfil-china.css">

<style>
    .product-option li:nth-child(2) a:hover {
        cursor: pointer;
    }

    .product-option li:nth-child(2) a .feather-heart {
        cursor: pointer;
    }

    .section, .section-t-space {
        padding-top: 0px;
    }

    .form-check-input:checked {
        background-color: #0da487;
        border-color: #0da487;
    }

</style>
<div>
    <div class="text-left pt-1">
        <div class="row login-heading local-china-1-text animate-heading-6">
            <h1 class="text-capitalize">Shop</h1>
        </div>
    </div>
</div>
<br />
<div class="container-fluid p-0" style="
     display: none;">
    <div class="content-col">
        <div class="section-b-space">
            <div class="row g-md-4 g-3">
                <div class="col-xxl-12 col-xl-12 col-md-12">
                    <div class="banner-contain hover-effect">
                        <img src="../assets/images/grocery/banner/11.jpg" class="bg-img blur-up lazyload"
                             alt="">
                        <div class="banner-details p-center-left p-sm-5 p-4">
                            <div>
                                <h2 class="text-kaushan fw-normal orange-color">Get Ready To</h2>
                                <h3 class="mt-2 mb-3 text-white">TAKE ON THE DAY!</h3>
                                <p class="text-content banner-text text-white opacity-75 d-md-block d-none">
                                    In publishing and graphic design, Lorem ipsum is a placeholder text
                                    commonly used to demonstrate.
                                </p>
                                <button onclick="location.href = '/Seller/Shop';"
                                        class="btn btn-animation btn-sm mend-auto">
                                    Shop Now <i class="fa-solid fa-arrow-right icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="title d-block">
    <h2 class="text-theme font-sm">New Arrivals</h2>
    <p>Stay ahead of the curve with our latest arrivals. Our new collection features fresh and exciting products that have just hit the shelves.</p>
</div>
<div class="row row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space">
    @if (Model.NewArrival != null && Model.NewArrival.Any())
    {
        @foreach (var product in Model.NewArrival)
        {
            <div>
                <div class="product-box product-white-bg wow fadeIn">
                    <div class="product-image">
                        <a asp-action="Product" asp-route-id="@product.ProductId">
                            @if (!string.IsNullOrEmpty(product.ImageLink))
                            {
                                <img src="@product.ImageLink"
                                     class="img-fluid blur-up lazyload" alt="">
                            }
                            else
                            {
                                <span>No Image Available</span>
                            }
                        </a>
                        <ul class="product-option">
                            <li data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-placement="top" title="View" data-bs-original-title="View" style="width: 50%;">
                                <a asp-action="Product" asp-route-id="@product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                </a>
                            </li>

                            <li data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-placement="top" title="Wishlist" data-bs-original-title="Wishlist" style="width: 50%;">
                                <a class="btnWishList" productId="@product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-detail position-relative">
                        <a asp-controller="Seller" asp-action="Product" asp-route-id="@product.ProductId">
                            <h6 class="name" style="margin:6px 0px;">
                                @product.Name
                            </h6>
                        </a>
                        <div>
                            <button data-productid="@product.ProductId" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">Get a quote</button>

      
                        </div>
                    </div>
                </div>
            </div>
        }

    }
    else
    {
        <div>
            <h3>No Products Available in New Arrival</h3>
        </div>
    }
</div>


<div class="title d-block">
    <h2 class="text-theme font-sm">Best Sellers</h2>
    <p>Explore our best-selling products that have captured the hearts of countless customers.</p>
</div>
<div class="row row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space">
    @if (Model.BestSeller != null && Model.BestSeller.Any())
    {
        @foreach (var product in Model.BestSeller)
        {
            <div>
                <div class="product-box product-white-bg wow fadeIn" style="padding: 5px;">
                    <div class="product-image">
                        <a asp-action="Product" asp-route-id="@product.ProductId">
                            @if (!string.IsNullOrEmpty(product.ImageLink))
                            {
                                <img src="@product.ImageLink"
                                     class="img-fluid blur-up lazyload" alt="">
                            }
                            else
                            {
                                <span>No Image Available</span>
                            }
                        </a>
                        <ul class="product-option">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="View" data-bs-original-title="View" style="width: 50%;">
                                <a asp-controller="Seller" asp-action="Product" asp-route-id="@product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                </a>
                            </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist" data-bs-original-title="Wishlist" style="width: 50%;">
                                <a class=" btnWishList" productId="@product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-detail position-relative">
                        <a asp-controller="Seller" asp-action="Product" asp-route-id="@product.ProductId">
                            <h6 class="name" style="margin:6px 0px;">
                                @product.Name
                            </h6>
                        </a>
                        <div>
                            <button data-productid="@product.ProductId" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">Get a quote</button>

     
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <h3>No Products Available in Best Seller</h3>
        </div>
    }
</div>

<div class="title d-block">
    <h2 class="text-theme font-sm">Top rated</h2>
    <p>Discover our top-rated products, handpicked by our satisfied customers. These items have consistently received high praise for their quality, performance, and customer satisfaction.</p>
</div>
<div class="row row-cols-xxl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-2 g-sm-4 g-3 section-b-space">
    @if (Model.TopRated != null && Model.TopRated.Any())
    {
        @foreach (var product in Model.TopRated)
        {
            <div>
                <div class="product-box product-white-bg wow fadeIn">
                    <div class="product-image">
                        <a asp-controller="Seller" asp-action="Product" asp-route-id="@product.ProductId">
                            @if (!string.IsNullOrEmpty(product.ImageLink))
                            {
                                <img src="@product.ImageLink"
                                     class="img-fluid blur-up lazyload" alt="">
                            }
                            else
                            {
                                <span>No Image Available</span>
                            }
                        </a>
                        <ul class="product-option">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="View" data-bs-original-title="View" style="width: 50%;">
                                <a asp-controller="Seller" asp-action="Product" asp-route-id="@product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                </a>
                            </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist" data-bs-original-title="Wishlist" style="width: 50%;">
                                <a class=" btnWishList" productId="@product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product-detail position-relative">
                        <a asp-controller="Seller" asp-action="Product" asp-route-id="@product.ProductId">
                            <h6 class="name" style="margin:6px 0px;">
                                @product.Name
                            </h6>
                        </a>
                        <div>
                            <button data-productid="@product.ProductId" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">Get a quote</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <h3>No Products Available in Top Rated</h3>
        </div>
    }
</div>


<!--Edit modal -->
<div id="editPopup" class="modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-b-25">
                <h4 class="modal-title" id="staticBackdropLabel"><strong>Get a quote</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                </button>
            </div>
            <form id="checkout-form" method="post" asp-action="SaveQuote" asp-controller="Seller">
               
                <div class="modal-body">
                    <input type="hidden" name="productId" id="productIdHidden" />
                    <div class="deal-offer-box">
                        <div class="form-group">
                            <label class="fw-bold"for="OrderId">Budget: </label>
                            <input type="number" name="budget" id="budgetInput" class="form-control" required placeholder="Enter your budget">
                      
                        </div>
                        <div class="form-group mt-2">
                            <label class="fw-bold" for="OrderId">Quantity:</label>
                            <input type="number" name="quantity" id="quantityInput" class="form-control" placeholder="Enter your quantity">
                           
                        </div>
                        <div class="col-md-6">
                            <div class="custom-form pt-3">
                                <label class="form-label fw-bold">Fulfillment</label>
                                <div class="radio-buttons mb-1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="focRadio" name="fulfilmentSelection" value="FOC" checked>
                                        <label class="form-check-label" for="focRadio">FOC</label>
                                    </div>
                                    <div class="form-check form-check-inline mx-1">
                                        <input class="form-check-input" type="radio" id="ownRadio" name="fulfilmentSelection" value="OWN">
                                        <label class="form-check-label" for="ownRadio">OWN</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-md-4 mb-3 custom-form">
                                <label class="form-label fw-bold">Sourcing</label>
                                <div class="radio-buttons">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="localRadio" name="sourcingSelection" value="Local" checked>
                                        <label class="form-check-label" for="localRadio">Local</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="chinaRadio" name="sourcingSelection" value="China">
                                        <label class="form-check-label" for="chinaRadio">China</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                        <button type="submit" class="btn btn-solid text-white">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<section class="product-section pt-0 container-fluid">



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>


    <script>
        var notificationMessage = '@TempData["notificationMessage"]';

        console.log(notificationMessage);

        if (notificationMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 4000,
                showProgressbar: true,
                timer: 700,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });
        }

        $(document).ready(function () {
            $('#ownCheckbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#focCheckbox').prop('checked', false);
                }
            });

            $('#focCheckbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#ownCheckbox').prop('checked', false);
                }
            });

            $('#localCheckbox, #chinaCheckbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#localCheckbox, #chinaCheckbox').not(this).prop('checked', false);
                }
            });
            $('#orderForm').submit(function (e) {
                e.preventDefault(); 
                saveQuote(); 
            });
        });

        function openViewPopup(button) {
            var productId = $(button).data("productid");
            $("#productIdHidden").val(productId);
        }

        function saveQuote() {
            var productId = $("#productIdHidden").val();
            var budget = $("#budgetInput").val();
            var quantity = $("#quantityInput").val();
            var fulfilmentSelection = $("#focCheckbox").prop("checked") ? "FOC" : "OWN";
            var sourcingSelection = $("#localCheckbox").prop("checked") ? "Local" : "China";

            $.ajax({
                url: '@Url.Action("SaveQuote", "Seller")',
                type: 'POST',
                data: {
                    productId: productId,
                    budget: budget,
                    quantity: quantity,
                    fulfilmentSelection: fulfilmentSelection,
                    sourcingSelection: sourcingSelection
                },
                success: function (data) {
                    $('#editPopup').modal('hide');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        function closeViewPopup() {
            document.getElementById('viewPopup').style.display = 'none';
        }


        if (window.innerWidth > 768) {
            $('.nav-item.dropdown').hover(function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            }, function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            });

            $('.nav-item.dropdown > .nav-link').click(function () {
                return false;
            });
        }
    </script>
    <script type="text/javascript">
        var notificationMessage = '@TempData["notificationMessage"]';

        console.log(notificationMessage);

        if (notificationMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,//4000,
                showProgressbar: true,
                timer: 100,//300,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("notificationMessage")';
        }

        $(".qty-right-plus").click(function () {
            var itemId = $(this).data("id");
            var formData = new FormData();
            formData.append("id", itemId)
            $.ajax(
                {
                    async: true,
                    type: "post",
                    contentType: false,
                    processData: false,
                    data: formData,
                    url: "/Seller/AddToCart",
                    success: function (data) {
                        if (data.success) {
                            $('.cartItem').text(data.counter);
                            var notificationMessage = 'Product has been added into cart!';
                            if (notificationMessage) {
                                var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                                    type: 'theme',
                                    allow_dismiss: true,
                                    delay: 1000,//4000,
                                    showProgressbar: true,
                                    timer: 100,//300,
                                    animate: {
                                        enter: 'animated fadeInDown',
                                        exit: 'animated fadeOutUp'
                                    }
                                });
                            }
                        }
                    },
                    error: function () {
                        alert("Please Select Positive Quantity");
                    }
                }
            );
            return false;
        });
        $(".btnWishList").click(function () {
            var th = $(this);
            var productId = $(this).attr("productId");
            $.ajax(
                {
                    async: true,
                    type: "post",
                    contentType: false,
                    processData: false,
                    url: "/Seller/WishList?productId=" + productId,
                    success: function (data) {
                        var notificationMessage = data.notificationMessage;
                        if (notificationMessage) {
                            var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                                type: 'theme',
                                allow_dismiss: true,
                                delay: 1000,
                                showProgressbar: true,
                                timer: 100,
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                }
                            });
                        }

                    },
                }
            );
            return false;
        });
        $(".cartBtn").mouseover(function () {
            $.ajax({
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                url: '/Seller/GetCartItems',
                success: function (data) {
                    $('#exampleModal').html(data);
                },
                error: function (data) {
                    alert("Error is facing for fetching data");
                }
            });
        });
        function redirectToNewArrival() {
            var redirectURL = "FilterPage?newArrivals=true";
            window.location.href = redirectURL;
        }
        function redirectToBestSeller() {
            var redirectURL = "FilterPage?bestSellers=true";
            window.location.href = redirectURL;
        }
        function redirectToTopRated() {
            var redirectURL = "FilterPage?topRated=true";
            window.location.href = redirectURL;
        }
        function redirectTo100To999() {
            var redirectURL = "FilterPage?minPrice=100&maxPrice=999";
            window.location.href = redirectURL;
        }
        function redirectTo1000To1999() {
            var redirectURL = "FilterPage?minPrice=1000&maxPrice=1999";
            window.location.href = redirectURL;
        }
        function redirectTo2000To2999() {
            var redirectURL = "FilterPage?minPrice=2000&maxPrice=2999";
            window.location.href = redirectURL;
        }
        function redirectTo3000To3999() {
            var redirectURL = "FilterPage?minPrice=3000&maxPrice=3999";
            window.location.href = redirectURL;
        }
        function redirectTo4000To4999() {
            var redirectURL = "FilterPage?minPrice=4000&maxPrice=4999";
            window.location.href = redirectURL;
        }
        function redirectTo5000To9999() {
            var redirectURL = "FilterPage?minPrice=5000&maxPrice=9999";
            window.location.href = redirectURL;
        }
    </script>
</section>
<style>
    .product-box .product-image {
        padding: 0px 0px 5px 0px;
    }

        .product-box .product-image img {
            width: 100%;
            height:200px;
            -o-object-fit: contain;
            object-fit: contain;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

    .product-box .price {
        margin-top: 5px;
    }

    .custom-height {
        max-height: fit-content;
        overflow-y: auto;
        height: 100%;
    }

</style>