﻿@{
    ViewBag.Title = "FOCFulfillment - Subscribe";
    Layout = "_LayoutSellerApproval";
}
<div class="container">
    <div class="row my-4">
        <h3>Please transact Rs.5000/- Rs on the following accounts and share the transaction receipt on the specified email.</h3>
        <p></p>
        <p>
            <strong>Account Title</strong>: AHMED FURQAN
            <br />
            <strong>Bank Name</strong>: Meezan Bank
            <br />
            <strong>Account Number</strong>: 42010102642160
            <br />
            <strong>IBAN</strong>: PK19MEZN0042010102642160
            <br />
        </p>
        <p>Please share the transaction receipt on focfulfillment@gmail.com</p>
        <hr />
        <small>Our team will verify the payment and will activate your account in next 48 hours. If you are getting trouble in activating your account <a asp-controller="Public" asp-action="ContactUs">Contact Us</a></small>

    </div>
</div>


