﻿@{
    ViewBag.Title = "FOCFulfillment - Update Password Message";
}
<div class="container">
    <div class="row my-4">
        <h3 style="margin-bottom:30px;">Your password has been changed successfully!</h3>
    </div>
</div>