﻿@model NewPasswordViewModel
@{
    ViewBag.Title = "FOCFulfillment - Update Password";
    Layout = "_LayoutGuests";
 }
@* <!DOCTYPE html>
 <html>
 <head>
 
 </head> *@
<style>
    .log-in-section::after {
        background-image: url()
    }
</style>
@* <body> *@
    <section class="log-in-section background-image-2 section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box" style="background-color:#f3f4f4;">
                        <div class="log-in-title">
                        <h3>Welcome To FOCFulfillment</h3>
                            <h4>Change Password</h4>
                        </div>

                        <div class="input-box">
                            <form asp-action="UpdatePassword" asp-controller="Seller" class="row g-4">
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input asp-for="UserId" type="hidden" class="form-control">
                                        <input asp-for="Token" type="hidden" class="form-control">
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                    <input asp-for="Password" type="password" class="form-control" id="newPassword" placeholder="Email Address" minlength="6" maxlength="35">
                                        <label>New Password:</label>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Email Address" minlength="6" maxlength="35">
                                        <label>Confirm New Password:</label>
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-animation w-100 justify-content-center" type="submit">
                                        Change Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>

        var notificationMessage = '@TempData["notificationMessage"]';

        console.log(notificationMessage);

        if (notificationMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("notificationMessage")';
        }
    </script>
@* </body> *@
@* </html> *@

<script>
    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('
            < i class= "fas fa-bell" > </i>
            < strong > Loading < /strong> ' + notificationMessage, {
                        type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
        }
                        });

    '@TempData.Remove("notificationMessage")';
                        }

    function showSuccessMessageAndRedirect() {
        alert("Your password has been successfully updated. Please login again.");

        setTimeout(function () {
            window.location.href = "/Seller/Login";
        }, 5000);
    }
</script>