﻿@{
    ViewBag.Title = "FOCFulfillment - Verification Email";
    Layout = "_LayoutGuests";
}

<div class="container">
    <div class="row my-4">
        <div class="col-12">
            <h3>Verification Email has been sent to your specified email.</h3>
            <p></p>
            <p>Please verify your email in order to proceed with registration</p>
        </div>
    </div>
</div>