﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@using LocalDropshipping.Web.Models.ProductViewModels;
@model PageResponse<List<AddProductVariantViewModel>>
@{
    ViewBag.Title = "FOCFulfillment - WishList";
    Layout = "_LayoutSellerDashboard";
}
<style>
    .title-leaf {
        width: 240px;
        text-align: end;
        position: relative;
        z-index: 0;
    }
</style>
<div class="title">
    <h2>My Wishlist</h2>
    <span class="title-leaf title-leaf-gray">
        <svg class="icon-width bg-gray">
            @* <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use> *@
        </svg>
    </span>
</div>


<div class="row g-sm-3 g-2">
    @if (Model != null && Model.Data.Count > 0)
    {
        @foreach (var wishListItem in Model.Data)
        {

            <div class="col-xxl-3 col-lg-4 col-md-4 col-sm-6 ">
                <div class="product-box-3 product-box product-white-bg wow fadeIn">
                    <div class="product-header">
                        <div class="product-image" style="padding: 4px;">
                            <a asp-action="Product" asp-route-id="@wishListItem.Product.ProductId">
                                @if (@wishListItem.Product.Variants != null && @wishListItem.Product.Variants.Any())
                                {
                                    <img src="@wishListItem.Product.Variants.First().FeatureImageLink"
                                         class="img-fluid blur-up lazyload" alt="">
                                }
                                else
                                {
                                    <span>No Image Available</span>
                                }
                            </a>
                            <div class="product-header-top">
                                <button class="btn wishlist-button close_button btnWishList" productId="@wishListItem.Product.ProductId" data-id="@wishListItem.Product.ProductId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="product-detail position-relative">
                        <a asp-controller="Product" asp-route-id="@wishListItem.Product.ProductId">
                            <h6 class="name" style="margin:6px 0px;">
                                @wishListItem.Product.Name
                            </h6>
                        </a>
                        @* <h6 class="price theme-color">
                            <span class="theme-color">Rs.@wishListItem.Product.Variants.First().DiscountedPrice/-</span>
                            <del class="text-secondary">Rs.@wishListItem.Product.Variants.First().VariantPrice/-</del>
                        </h6> *@
                        @* <div class="add-to-cart-btn-2 addtocart_btn">
                            <button class="btn addcart-button btn buy-button qty-right-plus" data-id="@wishListItem.Product.ProductId">
                                <i data-feather="shopping-cart" style="width:20px; height:20px;"></i>
                            </button>
                        </div> *@
                        <button class="btn qty-right-plus btn-md bg-primary text-white w-100 mt-2" data-productid="@wishListItem.Product.ProductId" data-bs-toggle="modal" data-bs-target="#editPopup" onclick="openViewPopup(this)">
                            <b>Get a quote</b>
                        </button>
                    </div>
                </div>

            </div>

        }
    }
    else
    {
        <div class="text-center">
            <h4>Currently, you have no item in your Wishlist!</h4>
        </div>

    }
    @if (Model != null && Model.totalCount > 0)
    {
        <div class="mb-2">
            <nav aria-label="Page navigation" class="custome-pagination">
                <ul class="pagination justify-content-center">
                    @if (Model.pageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize" aria-label="Previous">
                                <i class="fa-solid fa-angles-left"></i>
                            </a>
                        </li>
                    }

                    @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                    {
                        <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                            <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize">@i</a>
                        </li>
                    }

                    @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                    {
                        <li class="page-item">
                            <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize" aria-label="Next">
                                <i class="fa-solid fa-angles-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    }

</div>


@* Get AQuote Modal *@

<div id="editPopup" class="modal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-b-25">
                <h4 class="modal-title" id="staticBackdropLabel"><strong>Get a quote</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                </button>
            </div>
            <form id="checkout-form" method="post" asp-action="SaveQuote" asp-controller="Seller">

                <div class="modal-body">
                    <input type="hidden" name="productId" id="productIdHidden" />
                    <div class="deal-offer-box">
                        <div class="form-group">
                            <label class="fw-bold" for="OrderId">Budget: </label>
                            <input type="number" name="budget" id="budgetInput" class="form-control" required placeholder="Enter your budget">

                        </div>
                        <div class="form-group mt-2">
                            <label class="fw-bold" for="OrderId">Quantity:</label>
                            <input type="number" name="quantity" id="quantityInput" class="form-control" required placeholder="Enter your quantity">

                        </div>
                        <div class="col-md-6">
                            <div class="custom-form pt-3">
                                <label class="form-label fw-bold">Fulfillment</label>
                                <div class="radio-buttons mb-1">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="focRadio" name="fulfilmentSelection" value="FOC" checked>
                                        <label class="form-check-label" for="focRadio">FOC</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="ownRadio" name="fulfilmentSelection" value="OWN">
                                        <label class="form-check-label" for="ownRadio">OWN</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-md-4 mb-3 custom-form">
                                <label class="form-label fw-bold">Sourcing</label>
                                <div class="radio-buttons">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="localRadio" name="sourcingSelection" value="Local" checked>
                                        <label class="form-check-label" for="localRadio">Local</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="chinaRadio" name="sourcingSelection" value="China">
                                        <label class="form-check-label" for="chinaRadio">China</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                        <button type="submit" class="btn btn-solid text-white">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Location Modal Start -->
<div class="modal location-modal fade theme-modal" id="locationModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose your Delivery Location</h5>
                <p class="mt-1 text-content">Enter your address and we will specify the offer for your area.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="location-list">
                    <div class="search-input">
                        <input type="search" class="form-control" placeholder="Search Your Area">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="disabled-box">
                        <h6>Select a Location</h6>
                    </div>

                    <ul class="location-select custom-height">
                        <li>
                            <a href="javascript:void(0)">
                                <h6>Alabama</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Arizona</h6>
                                <span>Min: $150</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>California</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Colorado</h6>
                                <span>Min: $140</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Florida</h6>
                                <span>Min: $160</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Georgia</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Kansas</h6>
                                <span>Min: $170</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Minnesota</h6>
                                <span>Min: $120</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>New York</h6>
                                <span>Min: $110</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">
                                <h6>Washington</h6>
                                <span>Min: $130</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Location Modal End -->
<!-- Deal Box Modal Start -->
<div class="modal fade theme-modal deal-modal" id="deal-box" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title w-100" id="deal_today">Deal Today</h5>
                    <p class="mt-1 text-content">Recommended deals for you.</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="deal-offer-box">
                    <ul class="deal-offer-list">
                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/10.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-2">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/11.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-3">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/12.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>

                        <li class="list-1">
                            <div class="deal-offer-contain">
                                <a href="shop-left-sidebar.html" class="deal-image">
                                    <img src="../assets/images/vegetable/product/13.png" class="blur-up lazyload"
                                         alt="">
                                </a>

                                <a href="shop-left-sidebar.html" class="deal-contain">
                                    <h5>Blended Instant Coffee 50 g Buy 1 Get 1 Free</h5>
                                    <h6>$52.57 <del>57.62</del> <span>500 G</span></h6>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Box Modal End -->
<!-- Tap to top start -->
<div class="theme-option">
    <div class="setting-box">
        <div class="theme-setting-2">
            <div class="theme-box">
                <ul>
                    <li>
                        <div class="setting-name">
                            <h4>Color</h4>
                        </div>
                        <div class="theme-setting-button color-picker">
                            <form class="form-control">
                                <label for="colorPick" class="form-label mb-0">Theme Color</label>
                                <input type="color" class="form-control form-control-color" id="colorPick"
                                       value="#0da487" title="Choose your color">
                            </form>
                        </div>
                    </li>

                    <li>
                        <div class="setting-name">
                            <h4>Dark</h4>
                        </div>
                        <div class="theme-setting-button">
                            <button class="btn btn-2 outline" id="darkButton">Dark</button>
                            <button class="btn btn-2 unline" id="lightButton">Light</button>
                        </div>
                    </li>

                    <li>
                        <div class="setting-name">
                            <h4>RTL</h4>
                        </div>
                        <div class="theme-setting-button rtl">
                            <button class="btn btn-2 rtl-unline">LTR</button>
                            <button class="btn btn-2 rtl-outline">RTL</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="back-to-top">
        <a id="back-to-top" href="#">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>
<!-- Tap to top end -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>

    function openViewPopup(button) {
        var productId = $(button).data("productid");
        $("#productIdHidden").val(productId);
    }

    function saveQuote() {
        var productId = $("#productIdHidden").val();
        var budget = $("#budgetInput").val();
        var quantity = $("#quantityInput").val();
        var fulfilmentSelection = $("#focCheckbox").prop("checked") ? "FOC" : "OWN";
        var sourcingSelection = $("#localCheckbox").prop("checked") ? "Local" : "China";

        $.ajax({
            url: '@Url.Action("SaveQuote", "Seller")',
            type: 'POST',
            data: {
                productId: productId,
                budget: budget,
                quantity: quantity,
                fulfilmentSelection: fulfilmentSelection,
                sourcingSelection: sourcingSelection
            },
            success: function (data) {
                $('#editPopup').modal('hide');
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }

    var notificationMessage = '@TempData["notificationMessage"]';

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    };
    $(".qty-right-plus").click(function () {
        var itemId = $(this).data("id");
        var formData = new FormData();
        formData.append("id", itemId)
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                data: formData,
                url: "/Seller/AddToCart",
                success: function (data) {
                    if (data.success) {
                        $('.cartItem').text(data.counter);
                        var notificationMessage = 'This item has been added into your cart!';
                        if (notificationMessage) {
                            var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                                type: 'theme',
                                allow_dismiss: true,
                                delay: 1000,
                                showProgressbar: true,
                                timer: 100,
                                animate: {
                                    enter: 'animated fadeInDown',
                                    exit: 'animated fadeOutUp'
                                }
                            });
                        }
                    }
                },
                error: function () {
                    alert("Please Select Positive Quantity");
                }
            }
        );
        return false;
    });
    $(".btnWishList").click(function () {
        var th = $(this);
        var productId = $(this).attr("productId");
        $.ajax(
            {
                async: true,
                type: "post",
                contentType: false,
                processData: false,
                url: "/Seller/WishList?productId=" + productId,
                success: function (data) {
                    location.reload();
                    var notificationMessage = data.notificationMessage;
                    if (notificationMessage) {
                        var notify = $.notify('<i class="fas fa-bell"></i>' + notificationMessage, {
                            type: 'theme',
                            allow_dismiss: true,
                            delay: 1000,
                            showProgressbar: true,
                            timer: 100,
                            animate: {
                                enter: 'animated fadeInDown',
                                exit: 'animated fadeOutUp'
                            }
                        });
                    }
                },
            }
        );
        return false;
    });
</script>