﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Enums;
@using LocalDropshipping.Web.Helpers;
@using LocalDropshipping.Web.Models;


@model PageResponse<List<WithdrawalModel>>;
@{
    decimal profit = 0;
    ViewBag.Title = "FOCFulfillment - Withdrawals";
    Layout = "_LayoutSellerDashboard";
}
<style>
    .title {
     margin-bottom:0px !important;
    }
</style>
<body>

@*     <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-home"
                    type="button">
                Withdrawals
            </button>
        </li>
    </ul> *@
@*     <div class="title">
        <h2>Withdrawals</h2>
        <span class="title-leaf title-leaf-gray">
            <svg class="icon-width bg-gray">
                <!-- <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use> -->
            </svg>
        </span>
    </div>
    <h4 style="margin-left: 10px">
        Available Balance: Rs.@ViewBag.model.AvailableBalance.ToString("N0")/
    </h4> *@
    <div class="title" style="display: flex; align-items: center;">
        <h2 style="margin-right: 10px;">Withdrawals</h2>
        
        <h4 style="margin-left: 10px; margin-bottom: 0;">
            <b> (Available Balance: Rs.@ViewBag.model.AvailableBalance.ToString("N0")/)</b>
        </h4>
    </div>
    <span class="title-leaf title-leaf-gray">
    </span>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel">

            <div>
                <div class="d-flex flex-direction-row align-items-center">
                    <a asp-action="WithdrawalRequest" asp-controller="Seller" class="mt-4 withdrawalrequest @(ViewBag.model.AvailableBalance < 2500 ? "disabled" : "")">
                        <button class="btn request-btn @(ViewBag.model.AvailableBalance < 2500 ? "disabled" : "")">
                            Withdrawal Request
                        </button>
                    </a>
                    @* <h4 style="margin-left: 10px">Available Balance: Rs.@ViewBag.model.AvailableBalance.ToString("N0")/</h4> *@
                </div>
                @if (Model.Data != null && Model.Data.Any())
                {
                    <div class="order-tab dashboard-bg-box mt-4">
                        <div class="table-responsive">
                            <table class="table order-table">
                                <thead>
                                    <tr>
                                        <th scope="col">TransactionId</th>
                                        <th scope="col">AmountInPkr</th>
                                        <th scope="col">PaymentStatus</th>
                                        <th scope="col">RequestDate</th>
                                        <th scope="col">Reason</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var withdrawal in Model.Data)
                                    {
                                        <tr>
                                            <td>@withdrawal.TransactionId</td>
                                            <td>Rs.@withdrawal.AmountInPkr/-</td>
                                            <td>@withdrawal.PaymentStatus</td>
                                            <td>@withdrawal.RequestDate</td>
                                            <td>@withdrawal.Reason</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation" class="custome-pagination">
                            <ul class="pagination justify-content-center">
                                @if (Model.pageNumber > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize" aria-label="Previous">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                }

                                @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                {
                                    <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                        <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize">@i</a>
                                    </li>
                                }

                                @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize" aria-label="Next">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                }
                else
                {
                    <div class="mt-5">
                        <h4 class="text-center">Currently, you have no Withdrawal request available.</h4>
                    </div>
                }
            </div>

            

        </div>
        </div>

@* 
        <div class="tab-pane fade" id="pills-profile" role="tabpanel">
            @if (ViewBag.orders.Count > 0)
            {
                <div class="dashboard-order">
                    <div class="title">
                        <h2>My Orders</h2>
                        <span class="title-leaf title-leaf-gray">
                            <svg class="icon-width bg-gray">
                                <use xlink:href="https://themes.pixelstrap.com/fastkart/assets/svg/leaf.svg#leaf"></use>
                            </svg>
                        </span>
                    </div>

                    <div class="order-tab dashboard-bg-box">
                        <div class="table-responsive">
                            <table class="table order-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Order ID</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Sell Price</th>
                                        <th scope="col">Order Price</th>
                                        <th scope="col">Order Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in @ViewBag.orders)
                                    {
                                        <tr>
                                            <td>@order.Id</td>
                                            <td>@order.CreatedDate.ToString("MMM dd yyyy")</td>
                                            <td>
                                                @if (order.OrderStatus == OrderStatus.Pending)
                                                {
                                                    <label class="success">@order.OrderStatus.GetDescription()</label>
                                                }
                                                else if (order.OrderStatus == OrderStatus.Delivered ||
                                                order.OrderStatus == OrderStatus.ShipmentDelivered ||
                                                order.OrderStatus == OrderStatus.DliveredAtHome)
                                                {
                                                    <label class="success">@OrderStatus.Delivered</label>
                                                }
                                                else if (order.OrderStatus == OrderStatus.PickupRequestNotSend ||
                                                order.OrderStatus == OrderStatus.FortyEightHoursAutoCanceled ||
                                                order.OrderStatus == OrderStatus.PickupRequestSent ||
                                                order.OrderStatus == OrderStatus.ConsignmentBooked ||
                                                order.OrderStatus == OrderStatus.AssignToCourier ||
                                                order.OrderStatus == OrderStatus.ArrivedAtStation ||
                                                order.OrderStatus == OrderStatus.Missroute ||
                                                order.OrderStatus == OrderStatus.Pending ||
                                                order.OrderStatus == OrderStatus.Dispatched ||
                                                order.OrderStatus == OrderStatus.ReadyForReturn ||
                                                order.OrderStatus == OrderStatus.BeingReturn ||
                                                order.OrderStatus == OrderStatus.ShipmentPicked ||
                                                order.OrderStatus == OrderStatus.DropOffAtExpressCenter ||
                                                order.OrderStatus == OrderStatus.ArrivedAtStation ||
                                                order.OrderStatus == OrderStatus.AssignToCourier ||
                                                order.OrderStatus == OrderStatus.BeingReturn ||
                                                order.OrderStatus == OrderStatus.ConsignmentBooked ||
                                                order.OrderStatus == OrderStatus.InProcess ||
                                                order.OrderStatus == OrderStatus.PickupRequestNotSend ||
                                                order.OrderStatus == OrderStatus.PickupRequestSent ||
                                                order.OrderStatus == OrderStatus.ReadyForReturn ||
                                                order.OrderStatus == OrderStatus.ReturnedDispatched ||
                                                order.OrderStatus == OrderStatus.ReturnDispatched ||
                                                order.OrderStatus == OrderStatus.ShipmentWaitingForConsolidation ||
                                                order.OrderStatus == OrderStatus.ShipmentRiderPicked ||
                                                order.OrderStatus == OrderStatus.ShipmentRiderExchange ||
                                                order.OrderStatus == OrderStatus.ShipmentReturnConfirmationPending ||
                                                order.OrderStatus == OrderStatus.ShipmentRecalled ||
                                                order.OrderStatus == OrderStatus.ShipmentNotAttempt ||
                                                order.OrderStatus == OrderStatus.ShipmentReAttemptRequested ||
                                                order.OrderStatus == OrderStatus.ShipmentReAttempt ||
                                                order.OrderStatus == OrderStatus.ReturnOnHold ||
                                                order.OrderStatus == OrderStatus.ShipmentInTransit ||
                                                order.OrderStatus == OrderStatus.ReplacementDispatched ||
                                                order.OrderStatus == OrderStatus.ReplacementInTransit ||
                                                order.OrderStatus == OrderStatus.ReplacementNotCollected ||
                                                order.OrderStatus == OrderStatus.ReplacementRiderExchange ||
                                                order.OrderStatus == OrderStatus.Booked ||
                                                order.OrderStatus == OrderStatus.Dispatached ||
                                                order.OrderStatus == OrderStatus.DispatachedPartially ||
                                                order.OrderStatus == OrderStatus.DispatachedForHomeDelivery ||
                                                order.OrderStatus == OrderStatus.HoldForCollection ||
                                                order.OrderStatus == OrderStatus.PartialDelivered ||
                                                order.OrderStatus == OrderStatus.ShipmentInTransit ||
                                                order.OrderStatus == OrderStatus.ReplacementDispatched ||
                                                order.OrderStatus == OrderStatus.Inward)
                                                {
                                                    <label class="success">In Process</label>
                                                }
                                                else if (order.OrderStatus == OrderStatus.Cancelled ||
                                                order.OrderStatus == OrderStatus.ShipmentCancelled ||
                                                order.OrderStatus == OrderStatus.ShipmentCaseClosed ||
                                                order.OrderStatus == OrderStatus.ReplacementArrivedAtOrigin ||
                                                order.OrderStatus == OrderStatus.ReplacementCollected ||
                                                order.OrderStatus == OrderStatus.ReplacementDeliveredToShipper ||
                                                order.OrderStatus == OrderStatus.BookingCancelled ||
                                                order.OrderStatus == OrderStatus.RefusedDelivery ||
                                                order.OrderStatus == OrderStatus.LostCash ||
                                                order.OrderStatus == OrderStatus.LostTransit ||
                                                order.OrderStatus == OrderStatus.LostShipment ||
                                                order.OrderStatus == OrderStatus.DisposedOff ||
                                                order.OrderStatus == OrderStatus.MarkedForDisposal ||
                                                order.OrderStatus == OrderStatus.SnatchedCash ||
                                                order.OrderStatus == OrderStatus.SnatchedShipment)
                                                {
                                                    <label class="danger">Cancelled</label>
                                                }
                                                else if (order.OrderStatus == OrderStatus.ReturnedToShipper ||
                                                order.OrderStatus == OrderStatus.ReturnArrivedAtOrigin ||
                                                order.OrderStatus == OrderStatus.ReturnDeliveredToShipper ||
                                                order.OrderStatus == OrderStatus.ReturnConfirm ||
                                                order.OrderStatus == OrderStatus.ReturnUndeliveredHomeDelievry ||
                                                order.OrderStatus == OrderStatus.ReturnDeliveredToShipper ||
                                                order.OrderStatus == OrderStatus.ReturnConfirm ||
                                                order.OrderStatus == OrderStatus.ReturnUndeliveredHomeDelievry ||
                                                order.OrderStatus == OrderStatus.Damaged ||
                                                order.OrderStatus == OrderStatus.ClaimPaid ||
                                                order.OrderStatus == OrderStatus.ReturnToOrigin ||
                                                order.OrderStatus == OrderStatus.ReturnToShipper)
                                                {
                                                    <label class="danger">Returned</label>
                                                }
                                            </td>
                                            <td>Rs.@order.SellPrice.ToString("N0")/-</td>
                                            <td>Rs.@order.GrandTotal.ToString("N0")/-</td>
                                            @if (order.OrderStatus == OrderStatus.Cancelled ||
                                                order.OrderStatus == OrderStatus.ShipmentCancelled ||
                                                order.OrderStatus == OrderStatus.ShipmentCaseClosed ||
                                                order.OrderStatus == OrderStatus.ReplacementArrivedAtOrigin ||
                                                order.OrderStatus == OrderStatus.ReplacementCollected ||
                                                order.OrderStatus == OrderStatus.ReplacementDeliveredToShipper ||
                                                order.OrderStatus == OrderStatus.BookingCancelled ||
                                                order.OrderStatus == OrderStatus.RefusedDelivery ||
                                                order.OrderStatus == OrderStatus.LostCash ||
                                                order.OrderStatus == OrderStatus.LostTransit ||
                                                order.OrderStatus == OrderStatus.LostShipment ||
                                                order.OrderStatus == OrderStatus.DisposedOff ||
                                                order.OrderStatus == OrderStatus.MarkedForDisposal ||
                                                order.OrderStatus == OrderStatus.SnatchedCash ||
                                                order.OrderStatus == OrderStatus.SnatchedShipment ||
                                                order.OrderStatus == OrderStatus.PickupRequestNotSend ||
                                                order.OrderStatus == OrderStatus.FortyEightHoursAutoCanceled ||
                                                order.OrderStatus == OrderStatus.PickupRequestSent ||
                                                order.OrderStatus == OrderStatus.ConsignmentBooked ||
                                                order.OrderStatus == OrderStatus.AssignToCourier ||
                                                order.OrderStatus == OrderStatus.ArrivedAtStation ||
                                                order.OrderStatus == OrderStatus.Missroute ||
                                                order.OrderStatus == OrderStatus.Pending ||
                                                order.OrderStatus == OrderStatus.Dispatched ||
                                                order.OrderStatus == OrderStatus.ReadyForReturn ||
                                                order.OrderStatus == OrderStatus.BeingReturn ||
                                                order.OrderStatus == OrderStatus.ShipmentPicked ||
                                                order.OrderStatus == OrderStatus.DropOffAtExpressCenter ||
                                                order.OrderStatus == OrderStatus.ArrivedAtStation ||
                                                order.OrderStatus == OrderStatus.AssignToCourier ||
                                                order.OrderStatus == OrderStatus.BeingReturn ||
                                                order.OrderStatus == OrderStatus.ConsignmentBooked ||
                                                order.OrderStatus == OrderStatus.InProcess ||
                                                order.OrderStatus == OrderStatus.PickupRequestNotSend ||
                                                order.OrderStatus == OrderStatus.PickupRequestSent ||
                                                order.OrderStatus == OrderStatus.ReadyForReturn ||
                                                order.OrderStatus == OrderStatus.ReturnedDispatched ||
                                                order.OrderStatus == OrderStatus.ReturnDispatched ||
                                                order.OrderStatus == OrderStatus.ShipmentWaitingForConsolidation ||
                                                order.OrderStatus == OrderStatus.ShipmentRiderPicked ||
                                                order.OrderStatus == OrderStatus.ShipmentRiderExchange ||
                                                order.OrderStatus == OrderStatus.ShipmentReturnConfirmationPending ||
                                                order.OrderStatus == OrderStatus.ShipmentRecalled ||
                                                order.OrderStatus == OrderStatus.ShipmentNotAttempt ||
                                                order.OrderStatus == OrderStatus.ShipmentReAttemptRequested ||
                                                order.OrderStatus == OrderStatus.ShipmentReAttempt ||
                                                order.OrderStatus == OrderStatus.ReturnOnHold ||
                                                order.OrderStatus == OrderStatus.ShipmentInTransit ||
                                                order.OrderStatus == OrderStatus.ReplacementDispatched ||
                                                order.OrderStatus == OrderStatus.ReplacementInTransit ||
                                                order.OrderStatus == OrderStatus.ReplacementNotCollected ||
                                                order.OrderStatus == OrderStatus.ReplacementRiderExchange ||
                                                order.OrderStatus == OrderStatus.Booked ||
                                                order.OrderStatus == OrderStatus.Dispatached ||
                                                order.OrderStatus == OrderStatus.DispatachedPartially ||
                                                order.OrderStatus == OrderStatus.DispatachedForHomeDelivery ||
                                                order.OrderStatus == OrderStatus.HoldForCollection ||
                                                order.OrderStatus == OrderStatus.PartialDelivered ||
                                                order.OrderStatus == OrderStatus.ShipmentInTransit ||
                                                order.OrderStatus == OrderStatus.ReplacementDispatched ||
                                                order.OrderStatus == OrderStatus.Inward)
                                            {
                                                <td>Rs.0/-</td>
                                            }
                                            @if (order.OrderStatus == OrderStatus.Delivered ||
                                            order.OrderStatus == OrderStatus.ShipmentDelivered ||
                                            order.OrderStatus == OrderStatus.DliveredAtHome)
                                            {
                                                profit = order.SellPrice - order.GrandTotal;
                                                <td>Rs.@profit.ToString("N0")/-</td>
                                            }
                                            @if (order.OrderStatus == OrderStatus.ReturnedToShipper ||
                                                order.OrderStatus == OrderStatus.ReturnArrivedAtOrigin ||
                                                order.OrderStatus == OrderStatus.ReturnDeliveredToShipper ||
                                                order.OrderStatus == OrderStatus.ReturnConfirm ||
                                                order.OrderStatus == OrderStatus.ReturnUndeliveredHomeDelievry ||
                                                order.OrderStatus == OrderStatus.ReturnDeliveredToShipper ||
                                                order.OrderStatus == OrderStatus.ReturnConfirm ||
                                                order.OrderStatus == OrderStatus.ReturnUndeliveredHomeDelievry ||
                                                order.OrderStatus == OrderStatus.Damaged ||
                                                order.OrderStatus == OrderStatus.ClaimPaid ||
                                                order.OrderStatus == OrderStatus.ReturnToOrigin ||
                                                order.OrderStatus == OrderStatus.ReturnToShipper)
                                            {
                                                <td>Rs.-@ViewBag.shipping./-</td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation" class="custome-pagination">
                            <ul class="pagination justify-content-center">
                                @if (Model.pageNumber > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize" aria-label="Previous">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                }

                                @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                {
                                    <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                        <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize">@i</a>
                                    </li>
                                }

                                @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize" aria-label="Next">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>

                    </div>
                </div>
            }
            else
            {
                <div>
                    <h4 class="text-center">Currently, you have no orders!</h4>
                </div>
            }
        </div>
    </div> *@



    <script>
        var withdrawalNameElements = document.querySelectorAll("#withdrawalName");
        withdrawalNameElements.forEach(function (element) {
            if (element.textContent.trim() === "") {
                element.textContent = "<No Product Name>";
            }
        });

        $(document).ready(function () {
            var availableProfit = @ViewBag.model.AvailableBalance;

            if (availableProfit >= 2500) {
                $("button.request-btn").prop("disabled", false);
                $("a.withdrawalrequest").prop("disabled", false);
            } else {
                $("button.request-btn").prop("disabled", true);
                $("a.withdrawalrequest").prop("disabled", true);
                $('a.withdrawalrequest').removeAttr('href');
            }
        });

    </script>
</body>
<style>
    .request-btn {
        background-color: #0DA487;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500
    }

        .request-btn:hover {
            background-color: #0DA487;
            color: #ffffff;
            font-size: 18px;
            font-weight: 500
        }
</style> 