﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "FOCFulfillment - Add User";
    Layout = "_LayoutDashboard";
}
@{
    bool isAdmin = TempData["IsAdmin"] as bool? ?? false;
    bool isSuperAdmin = TempData["IsSuperAdmin"] as bool? ?? false;
}
@model UserViewModel;

<!-- New User start -->
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <h5>Add New User</h5>
                                </div>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                        <form asp-action="AddNewUser" asp-controller="Admin" method="post" class="theme-form theme-form-2 mega-form">
                                            <div class="row">
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-lg-2 col-md-3 mb-0">
                                                        Full Name
                                                    </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="text" asp-for="FullName" role="alert">
                                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-lg-2 col-md-3 col-form-label form-label-title">
                                                        Email Address
                                                    </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="email" asp-for="Email">
                                                        <span asp-validation-for="Email" class="text-danger" role="alert"></span>
                                                    </div>
                                                </div>
                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-lg-2 col-md-3 col-form-label form-label-title">
                                                        Phone Number
                                                    </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="text" asp-for="PhoneNumber" placeholder="e:g 03XXXXXXXXX">
                                                        <span asp-validation-for="PhoneNumber" class="text-danger" role="alert"></span>
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center custom-input">
                                                    <label class="col-lg-2 col-md-3 col-form-label form-label-title">Password</label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="password" asp-for="Password" id="password">
                                                        <span asp-validation-for="Password" class="text-danger" role="alert"></span>
                                                        <span><i id="toggle-password" class="fas fa-eye-slash"></i></span>
                                                    </div>
                                                </div>

                                                <div class="row align-items-center custom-input">
                                                    <label class="col-lg-2 col-md-3 col-form-label form-label-title">
                                                        Confirm Password
                                                    </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" type="password" asp-for="ConfirmPassword" id="confirmPassword">
                                                        <span asp-validation-for="ConfirmPassword" class="text-danger" role="alert"></span>
                                                        <span><i id="toggle-confirm-password" class="fas fa-eye-slash"></i></span>
                                                    </div>

                                                </div>
                                                @if (isSuperAdmin == true)
                                                {
                                                    <div class="mb-4 row align-items-center">
                                                        <label class="col-lg-2 col-md-3 col-form-label form-label-title">User Role</label>
                                                        <div class="col-md-9">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" asp-for="IsAdmin" id="isAdminCheckbox" value="true">
                                                                <label class="form-check-label" for="isAdminCheckbox">
                                                                    Admin
                                                                </label>
                                                            </div>

                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" asp-for="IsSeller" id="isSellerCheckbox" value="true">
                                                                <label class="form-check-label" for="isSellerCheckbox">
                                                                    Vendor
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }
                                                else if (isAdmin)
                                                {
                                                    <div class="form-check" style="display:none">
                                                        <input class="form-check-input" type="radio" asp-for="IsSeller" id="isSellerRadio" value="true" checked>
                                                        <label class="form-check-label" for="isSellerRadio">
                                                            Seller
                                                        </label>
                                                    </div>
                                                }
                                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100 justify-content-center" type="submit">
                                                        Click Here To Add
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>
    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }

    $(document).ready(function () {
        $('#toggle-password').click(function () {
            const passwordField = $('#password');

            if (passwordField.attr('type') === 'password') {
                passwordField.attr('type', 'text');
                $('#toggle-password').removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                passwordField.attr('type', 'password');
                $('#toggle-password').removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });
    });

    $(document).ready(function () {
        $('#toggle-confirm-password').click(function () {
            const passwordField = $('#confirmPassword');

            if (passwordField.attr('type') === 'password') {
                passwordField.attr('type', 'text');
                $('#toggle-confirm-password').removeClass('fa-eye-slash').addClass('fa-eye');
            } else {
                passwordField.attr('type', 'password');
                $('#toggle-confirm-password').removeClass('fa-eye').addClass('fa-eye-slash');
            }
        });
    });

    $(document).ready(function () {
        // Handle checkbox click event
        $('#isAdminCheckbox').click(function () {
            if (this.checked) {
                // If Admin checkbox is checked, uncheck Seller checkbox
                $('#isSellerCheckbox').prop('checked', false);
            }
        });

        $('#isSellerCheckbox').click(function () {
            if (this.checked) {
                // If Seller checkbox is checked, uncheck Admin checkbox
                $('#isAdminCheckbox').prop('checked', false);
            }
        });
    });


    // $(document).ready(function () {
    //     // Function to handle radio button change
    //     function handleRadioChange() {
    //         var isAdminChecked = $("#isAdminRadio").prop("checked");
    //         var isSellerChecked = $("#isSellerRadio").prop("checked");

    //         // Ensure only one radio button can be checked at a time
    //         if (isAdminChecked) {
    //             $("#isSellerRadio").prop("checked", false);
    //         } else if (isSellerChecked) {
    //             $("#isAdminRadio").prop("checked", false);
    //         }
    //     }

    //     // Event handler for radio button change
    //     $("#isAdminRadio, #isSellerRadio").on("change", handleRadioChange);

    //     // Rest of your form validation code...
    //     function validateForm() {
    //         // Your existing validation logic here...

    //         // Ensure that at least one role is selected (either admin or seller)
    //         var isAdminChecked = $("#isAdminRadio").prop("checked");
    //         var isSellerChecked = $("#isSellerRadio").prop("checked");

    //         return /* Your existing validation conditions */ && (isAdminChecked || isSellerChecked);
    //     }

    //     $("#registerForm input, #flexCheckDefault").on("input change", function () {
    //         var isValid = validateForm();
    //         $("#registerButton").prop("disabled", !isValid);
    //     });
    // });
</script>
<style>
    .custom-input {
        position: relative;
    }

        .custom-input input[type="password"] {
            padding-right: 30px;
        }

        .custom-input i#toggle-password {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            padding-bottom: 18px;
            padding-right: 10px;
        }

        .custom-input i#toggle-confirm-password {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            padding-bottom: 18px;
            padding-right: 10px;
        }
</style>