﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Models.ProductViewModels;
@using Newtonsoft.Json;
@model ProductViewModel
@{
    ViewBag.Title = "FOCFulfillment - Add/Update Product";
    Layout = "_AddUpdateProductLayout";
}
<body>
    <!-- New Product Add Start -->
    <div class="page-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">

                        <form asp-controller="Admin" asp-action="AddUpdateProduct" method="post" class="theme-form theme-form-2 mega-form" name="addProductForm" enctype="multipart/form-data">
                            @Html.HiddenFor(a => a.ProductId)
                            @Html.HiddenFor(a => a.VariantCounts, new { @id = "variantCounts" })
                            @Html.HiddenFor(a => a.HasVariants, new { @id = "hasVariants" })
                            @Html.HiddenFor(a => a.MainVariantId, new { @id = "mainVariantId" })
                            <div class="col-sm-8 m-auto">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Information</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">
                                                Product
                                                Name
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(a => a.Name, new{ @class="form-control", id="nameInput", placeholder="Product Name" })
                                                @Html.ValidationMessageFor(a => a.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="mb-4 row align-items-center">
                                            @Html.LabelFor(model => model.CategoryId, new { @class = "col-sm-3 col-form-label form-label-title" })
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(
                                                model => model.CategoryId,
                                                new List<SelectListItem> {
                                                new SelectListItem((ViewBag.Category as Category).Name, (ViewBag.Category as Category).CategoryId.ToString(), true)
                                                },
                                                "Select Category",
                                                new { @class = "js-example-basic-single w-100 select2-hidden-accessible" })
                                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @if (Model.ProductId == 0)
                                        {
                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title" for="productType">Product Type</label>
                                                <div class="col-sm-9">
                                                    <select class="js-example-basic-single w-100 select2-hidden-accessible" onchange="updateForm(event)" asp-items="@(new List<SelectListItem> { new SelectListItem("Product (no variants)", "0", @Model.HasVariants == 0), new SelectListItem("Product (with variants)", "1", @Model.HasVariants == 1) })"></select>
                                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        }
                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">New Arrival</label>
                                            <div class="col-sm-9">
                                                @Html.CheckBoxFor(model => model.IsNewArravial, new { @class = "checkbox_animated check-it" })
                                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Best Seller</label>
                                            <div class="col-sm-9">
                                                @Html.CheckBoxFor(model => model.IsBestSelling, new { @class = "checkbox_animated check-it" })
                                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>




                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Top Rated</label>
                                            <div class="col-sm-9">
                                                <label>
                                                    @Html.CheckBoxFor(model => model.IsTopRated, new { @class = "checkbox_animated check-it" })
                                                    @Html.ValidationMessageFor(model => model.IsNewArravial, "", new { @class = "text-danger" })
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                @*                                <div class="card">
                                <div class="card-body">
                                <div class="card-header-2">
                                <h5>Description</h5>
                                </div>
                                <form class="theme-form theme-form-2 mega-form">
                                <div class="row">
                                <div class="col-12">
                                <div class="row">
                                <label class="form-label-title col-sm-3 mb-0">
                                Product Description
                                </label>
                                <div class="col-sm-9">
                                @Html.TextAreaFor(x=> x.Description, new { @id="editor" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                                </div>
                                </div>
                                </div>
                                </form>
                                </div>
                                </div> *@
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Description</h5>
                                        </div>
                                        <form class="theme-form theme-form-2 mega-form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <label class="form-label-title col-sm-3 mb-0">
                                                            Short
                                                            Description
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <div id="shortDescriptionEditor" style="height: 300px;"></div>
                                                            <input asp-for="@Model.ShortDescription" class="d-none" />
                                                            <input asp-for="@Model.ShortDescriptionContents" class="d-none" />
                                                            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <label class="form-label-title col-sm-3 mb-0">
                                                            Product
                                                            Description
                                                        </label>
                                                        <div class="col-sm-9">
                                                            <div id="descriptionEditor" style="height: 300px;"></div>
                                                            <input asp-for="@Model.Description" class="d-none" />
                                                            <input asp-for="@Model.DescriptionContents" class="d-none" />
                                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>



                                @if (Model.ProductId == 0)
                                {

                                    <div class="card productSpecificControl">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Images</h5>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Featured Image</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control form-choose" type="file" accept="image/*"
                                                           name="featuredImage">
                                                    @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                    @* @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" }) *@
                                                    @Html.ValidationMessageFor(model => model.CategoryId,"", new { @class = "text-danger" })

                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Images</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control form-choose" type="file" accept="image/*"
                                                           name="otherImages" multiple>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card productSpecificControl">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Videos</h5>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Videos
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="file" name="productVideos" class="form-control" multiple />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                                @if (Model.ProductId != 0 && Model.VariantCounts == 1)
                                {
                                    var variant = Model.Variants.First();

                                    <div class="card productSpecificControl">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Images</h5>
                                            </div>
                                            @for (int i = 0; i < Model.Variants.Count; i++)
                                            {
                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">Featured Image</label>
                                                    <div class="col-sm-9">
                                                        <ul class="d-flex align-items-center gap-3">
                                                            @if (variant.FeatureImageLink == null || variant.FeatureImageLink == "")
                                                            {
                                                                <p class="noImagesText">No Feature image uploaded yet.</p>
                                                            }
                                                            else
                                                            {
                                                                <li><img style="border-radius: 10px; height: 100px; background-size: cover;" src="@variant.FeatureImageLink" /></li>
                                                            }
                                                            <li>
                                                                <a class="btn btn-primary ml-auto" style="float: right;" onclick="javascript:document.getElementById('main-variant-updated-image').click()">
                                                                    <span>Upload</span>
                                                                    <input type="file" id="main-variant-updated-image" name="main-variant-updated-image" onchange="updateFeatureImage(event)" class="d-none" />
                                                                    @Html.ValidationMessageFor(model => model.Variants[i].FeatureImageLink, "", new { @class = "text-danger" })
                                                                    @Html.ValidationMessageFor(model => model.CategoryId,"Please select atleast one image", new { @class = "text-danger" })

                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">Images</label>
                                                <div class="col-sm-9">
                                                    <ul class="d-flex align-items-center gap-3 variant-images flex-wrap">
                                                        @if (variant.Images.Count == 0)
                                                        {
                                                            <p class="noImagesText">No Images uploaded yet.</p>
                                                        }
                                                        @foreach (var image in variant.Images)
                                                        {
                                                            <li class="variant-image"><img style="border-radius: 10px; height: 100px; background-size: cover;" src="@image" /></li>
                                                        }
                                                        <li>
                                                            <a class="btn btn-primary ml-auto" style="float: right;" onclick="javascript:document.getElementById('main-variant-updated-images').click()">
                                                                <span>Upload</span>
                                                                <input type="file" id="main-variant-updated-images" name="main-variant-updated-images" class="d-none" onchange="updateImages(event)" multiple />
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card productSpecificControl">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Videos</h5>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Videos
                                                </label>
                                                <div class="col-sm-9">
                                                    <ul class="d-flex align-items-center gap-3 variant-videos flex-wrap">
                                                        @if (variant.Videos.Count == 0)
                                                        {
                                                            <p class="noVideossText">No Videos uploaded yet.</p>
                                                        }
                                                        @foreach (var video in variant.Videos)
                                                        {
                                                            <li class="variant-videos"><video muted style="border-radius: 10px; height: 100px; background-size: cover;" src="@video" autoplay></video></li>
                                                        }
                                                        <li>
                                                            <a class="btn btn-primary ml-auto" style="float: right;" onclick="javascript:document.getElementById('main-variant-updated-videos').click()">
                                                                <span>Upload</span>
                                                                <input type="file" id="main-variant-updated-videos" name="main-variant-updated-videos" class="d-none" onchange="updateVideos(event)" multiple />
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                                <div class="card variantSpecificControl">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Variations</h5>
                                        </div>

                                        @if (Model.HasVariants == 1 && Model.ProductId != 0)
                                        {
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">
                                                    Variant Type
                                                </label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" name="variant-type" type="text" placeholder="Color" value="@Model.Variants.First().VariantType" />
                                                    @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @for (int variantNo = 1; variantNo <= Model.VariantCounts; variantNo++)
                                            {
                                                var variant = Model.Variants[variantNo - 1];

                                                <input type="hidden" value="@variant.VariantId" name="variant-@variantNo-variant-id" />
                                                <input type="hidden" value="@variant.IsDeleted" name="variant-@variantNo-is-deleted" />
                                                <p class="my-4"></p>
                                                <div class="mb-1 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">
                                                        Variant
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <div class="bs-example">
                                                            <input type="text" class="form-control" name="variant-@variantNo-value" placeholder="e.g., Black" value="@variant.Variant">
                                                            @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="mb-1 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">
                                                        Price
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <div class="bs-example">
                                                            <input type="number" class="form-control variantPrice" name="variant-@variantNo-price" placeholder="1250" value="@variant.VariantPrice" />
                                                            @* @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" }) *@
                                                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-1 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">
                                                        Discounted Price
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <div class="bs-example">
                                                            <input type="number" class="form-control variantPrice" name="variant-@variantNo-discounted-price" placeholder="1250" value="@variant.DiscountedPrice" />
                                                            @* @Html.ValidationMessageFor(model => model.DiscountedPrice, "", new { @class = "text-danger" }) *@
                                                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-1 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">
                                                        Quantity
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <div class="bs-example">
                                                            <input type="number" class="form-control variantQuantity" placeholder="10" name="variant-@variantNo-quantity" value="@variant.Quantity" />
                                                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-1 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">
                                                        Featured Image
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <ul class="d-flex align-items-center gap-3">
                                                            @if (variant.FeatureImageLink == null || variant.FeatureImageLink == "")
                                                            {
                                                                <p class="noImagesText">No Feature image uploaded yet.</p>
                                                            }
                                                            else
                                                            {
                                                                <li><img style="border-radius: 10px; height: 100px; background-size: cover;" src="@variant.FeatureImageLink" /></li>
                                                            }
                                                            <li>
                                                                <a class="btn btn-primary ml-auto" style="float: right;" onclick="javascript:document.getElementById('variant-@variantNo-updated-image').click()">
                                                                    <span>Upload</span>
                                                                    <input type="file" id="variant-@variantNo-updated-image" name="variant-@variantNo-updated-image" onchange="updateFeatureImage(event)" class="d-none" />
                                                                    @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="mb-1 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">
                                                        Images
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <ul class="d-flex align-items-center gap-3 variant-images flex-wrap">
                                                            @if (variant.Images.Count == 0)
                                                            {
                                                                <p class="noImagesText">No Images uploaded yet.</p>
                                                            }
                                                            @foreach (var image in variant.Images)
                                                            {
                                                                <li class="variant-image"><img style="border-radius: 10px; height: 100px; background-size: cover;" src="@image" /></li>
                                                            }
                                                            <li>
                                                                <a class="btn btn-primary ml-auto" style="float: right;" onclick="javascript:document.getElementById('variant-@variantNo-updated-images').click()">
                                                                    <span>Upload</span>
                                                                    <input type="file" id="variant-@variantNo-updated-images" name="variant-@variantNo-updated-images" class="d-none" onchange="updateImages(event)" multiple />
                                                                    @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="mb-1 row align-items-center">
                                                    <label class="col-sm-3 col-form-label form-label-title">
                                                        Videos
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <ul class="d-flex align-items-center gap-3 variant-videos flex-wrap">
                                                            @if (variant.Videos.Count == 0)
                                                            {
                                                                <p class="noVideossText">No Videos uploaded yet.</p>
                                                            }
                                                            @foreach (var video in variant.Videos)
                                                            {
                                                                <li class="variant-videos"><video muted style="border-radius: 10px; height: 100px; background-size: cover;" src="@video" autoplay></video></li>
                                                            }
                                                            <li>
                                                                <a class="btn btn-primary ml-auto" style="float: right;" onclick="javascript:document.getElementById('variant-@variantNo-updated-videos').click()">
                                                                    <span>Upload</span>
                                                                    <input type="file" id="variant-@variantNo-updated-videos" name="variant-@variantNo-updated-videos" class="d-none" onchange="updateVideos(event)" multiple />
                                                                    @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            }
                                        }
                                        else
                                        {
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-sm-3 mb-0">
                                                    Variant Type
                                                </label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" name="variant-type" type="text" placeholder="Color" />
                                                </div>
                                            </div>
                                            <p class="my-4"></p>
                                            <div class="mb-1 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Variant
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="bs-example">
                                                        <input type="text" class="form-control" name="variant-1-value" placeholder="e.g., Black">
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="mb-1 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Price
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="bs-example">
                                                        <input type="number" class="form-control variantPrice" name="variant-1-price" placeholder="1250" />
                                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-1 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Discounted Price
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="bs-example">
                                                        <input type="number" class="form-control variantPrice" name="variant-1-discounted-price" placeholder="1250" />
                                                        @Html.ValidationMessageFor(model => model.DiscountedPrice, "", new { @class = "text-danger" })
                                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-1 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Quantity
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="bs-example">
                                                        <input type="number" class="form-control variantQuantity" placeholder="10" name="variant-1-quantity" />
                                                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="mb-1 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Featured Image
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="bs-example">
                                                        <input type="file" class="form-control" name="variant-1-feature-image" />
                                                        @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Images
                                                </label>
                                                <div class="col-sm-9">
                                                    <div class="bs-example">
                                                        <input type="file" class="form-control" name="variant-1-images" multiple />
                                                        @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4 row align-items-center">
                                                <label class="col-sm-3 col-form-label form-label-title">
                                                    Videos
                                                </label>
                                                <div class="col-sm-9">
                                                    <input type="file" name="variant-1-videos" class="form-control" multiple />
                                                    @Html.ValidationMessageFor(model => model.Variants, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        }
                                        <a href="javascript:void(0)" class="add-option" onclick="addAnOtherOption(event)">
                                            <i class="ri-add-line me-2"></i> Add Another
                                            Option
                                        </a>
                                    </div>
                                </div>



                                <div class="card productSpecificControl">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Price</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Price</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(a=>a.Price,new{ @class="form-control", id="txtPrice", placeholder="Product Price",type = "number", min = "0"  })
                                                @Html.ValidationMessageFor(a => a.Price, "" , new { @class = "text-danger" })
                                                <span asp-validation-for="Price" class="text-danger"></span>
                                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                @* @Html.ValidationMessageFor(model => model.CategoryId,"Please enter product price", new { @class = "text-danger" }) *@

                                                @* <div asp-validation-summary="All" class="text-danger"></div> *@

                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Discounted Price</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(a=>a.DiscountedPrice, new{ @class="form-control", id="txtPrice", placeholder="Product Discounted Price", type = "number", min = "0"  })
                                                @Html.ValidationMessageFor(a => a.DiscountedPrice, "" , new { @class = "text-danger" })
                                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                                <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Information</h5>
                                        </div>
                                        <!-- Sourcing Radio Buttons -->
                                    

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Sourcing</label>
                                            <div class="col-sm-9">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" asp-for="Sourcing" id="sourcingOption1" value="Local">
                                                    <label class="form-check-label" for="sourcingOption1">Local</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" asp-for="Sourcing" id="sourcingOption2" value="China">
                                                    <label class="form-check-label" for="sourcingOption2">China</label>
                                                </div>
                                                @Html.ValidationMessageFor(a => a.Sourcing, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Weight In Kgs</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(a => a.Weight, new { @class = "form-control", id = "Weight", type = "number", step = "any" })
                                                @Html.ValidationMessageFor(a => a.Weight, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="card ">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Inventory</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">SKU</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(a=>a.SKU,new{ @class="form-control", id="txtPrice",type = "text" })
                                                @Html.ValidationMessageFor(a => a.SKU, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center productSpecificControl">
                                            <label class="form-label-title col-sm-3 mb-0">Quantity</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(a=>a.Quantity,new{ @class="form-control", id="Quantity",type = "number" })
                                                @Html.ValidationMessageFor(a => a.Quantity,"", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <br/>
                                        <div class="mb-4 row">
                                            <div class="col-sm-12">
                                                @if (Model == null)
                                                {
                                                    <button type="submit" class="dropdown-category btn btn-primary ml-auto" style="float: right;">
                                                        <span>Add Product</span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    @if (Model.ProductId == 0)
                                                    {
                                                        <button type="submit" class="dropdown-category btn btn-primary ml-auto" style="float: right;">
                                                            <span>Add Product</span>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="dropdown-category btn btn-primary ml-auto" style="float: right;">
                                                            <span>Update Product</span>
                                                        </button>
                                                    }
                                                }


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->

</body>

<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<script>


    var notificationMessage = '@TempData["notificationMessage"]';

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }



    function addAnOtherOption(e) {
        let variantNumber = +($("#variantCounts").val()) + 1;
        $("#variantCounts").val(variantNumber)
        let html = `<p></p>
                                    <div class="mb-1 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Variant
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="bs-example">
                                                    <input type="text" class="form-control" name="variant-${variantNumber}-value" placeholder="e.g., Black">
                                            </div>
                                        </div>
                                    </div>



                                    <div class="mb-1 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Price
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="bs-example">
                                                    <input type="number" class="form-control" name="variant-${variantNumber}-price" placeholder="1250"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-1 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Discounted Price
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="bs-example">
                                                <input type="number" class="form-control variantPrice" name="variant-${variantNumber}-discounted-price" placeholder="1250"  />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-1 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Quantity
                                        </label>
                                        <div class="col-sm-9">
                                            <div class="bs-example">
                                                    <input type="number" class="form-control" name="variant-${variantNumber}-quantity" placeholder="10" />
                                            </div>
                                        </div>
                                    </div>

                                        <div class="mb-1 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">
                                                Featured Image
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="bs-example">
                                                        <input type="file" class="form-control" name="variant-${variantNumber}-feature-image" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-1 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">
                                                Images
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="bs-example">
                                                        <input type="file" class="form-control" name="variant-${variantNumber}-images" multiple/>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Videos
                                        </label>
                                        <div class="col-sm-9">
                                                <input type="file" name="variant-${variantNumber}-videos" class="form-control" multiple />
                                        </div>
                                    </div>`;

        $(html).insertBefore($(e.target));
    }

    function updateImages(e) {
        let files = $(e.target).prop('files')
        if (files.length > 0) {
            let prevall = $(e.target).parents("li").prevAll().replaceWith("");
            for (var i = 0; i < files.length; i++) {
                let file = files[i];
                let reader = new FileReader();
                reader.onloadend = function () {
                    let html = `<li class="variant-image"><img style="border-radius: 10px; height: 100px; background-size: cover;" src="${reader.result}" /></li>`
                    $(html).insertBefore($(e.target).parents("li"));
                }
                reader.readAsDataURL(file);
            }
        }

    }

    function updateVideos(e) {
        let files = $(e.target).prop('files')
        if (files.length > 0) {
            let prevall = $(e.target).parents("li").prevAll().replaceWith("");
            for (var i = 0; i < files.length; i++) {
                let file = files[i];
                let reader = new FileReader();
                reader.onloadend = function () {
                    let html = `<li class="variant-videos"><video muted style="border-radius: 10px; width= 100px; height: 100px; background-size: cover;" src="${reader.result}" autoplay></video></li>`
                    $(html).insertBefore($(e.target).parents("li"));
                }
                reader.readAsDataURL(file);
            }
        }

    }

    function updateFeatureImage(e) {
        let files = $(e.target).prop('files')
        if (files.length > 0) {
            let prevall = $(e.target).parents("li").prevAll().replaceWith("");

            let file = files[0];
            let reader = new FileReader();
            reader.onloadend = function () {
                let html = ` <li><img style="border-radius: 10px; height: 100px; background-size: cover;" src="${reader.result}" /></li>`
                $(html).insertBefore($(e.target).parents("li"));
            }
            reader.readAsDataURL(file);
        }

    }

    function updateForm(e) {
        if (e.target.value == "0") {
            $(".productSpecificControl").show()
            $(".variantSpecificControl").hide()
            $("#hasVariants").val(0)
        }
        else {
            $(".productSpecificControl").hide()
            $(".variantSpecificControl").show()
            $("#hasVariants").val(1)
        }
    }


    $(document).ready(function () {
        var toolbarOptions = [
            [{ 'header': 1 }, { 'header': 2 }],
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['clean']
        ];

        // RTF Editors for Description and Short Description
        var shortDescQuill = new Quill('#shortDescriptionEditor', {
            theme: 'snow',
            modules: {
                toolbar: toolbarOptions
            }
        });

        shortDescQuill.on('text-change', function (delta, oldDelta, source) {
            $('input#ShortDescription').val(shortDescQuill.root.innerHTML);
            $('input#ShortDescriptionContents').val(JSON.stringify(shortDescQuill.getContents()));
        });

        shortDescQuill.setContents(@Html.Raw(JsonConvert.DeserializeObject(Model.ShortDescriptionContents ?? "")))

        var descQuill = new Quill('#descriptionEditor', {
            theme: 'snow',
            modules: {
                toolbar: toolbarOptions
            }
        });


        descQuill.on('text-change', function (delta, oldDelta, source) {
            $('input#Description').val(descQuill.root.innerHTML);
            $('input#DescriptionContents').val(JSON.stringify(descQuill.getContents()));
        });


        descQuill.setContents(@Html.Raw(JsonConvert.DeserializeObject(Model.DescriptionContents ?? "")))

        if ($("#hasVariants").val() == "0") {
            $(".productSpecificControl").show()
            $(".variantSpecificControl").hide()
        }
        else {
            $(".productSpecificControl").hide()
            $(".variantSpecificControl").show()
        }


        // Clear validation error messages when a user interacts with the input fields
        $("input, select").on("input change", function () {
            var input = $(this);
            var validationMessage = input.siblings(".text-danger");
            if (validationMessage.length > 0) {
                validationMessage.text("");
            }
        });
    });

    var notificationMessage = '@TempData["notificationMessage"]';

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }
</script>




