﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@model PageResponse<List<Category>>;
@{
    ViewBag.Title = "FOCFulfillment - Category List";

    Layout = "_LayoutDashboard";
}


<!-- Container-fluid starts-->
<style>
    /* styles.css */
    .delete-button {
        background-color: red;
        color: #fff; 
        padding: 10px 20px; 
        border: none;
        cursor: pointer; 
        border-radius: 5px; 
    }

        .delete-button:hover {
            background-color: maroon; 
        }

    .edit-button {
        background-color: #0DA487;
        color: #fff; 
        padding: 10px 20px; 
        border: none; 
        cursor: pointer; 
        border-radius: 5px; 
    }

        .edit-button:hover {
            background-color: #0B8A6E; 
        }

    .horizontal-buttons {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .horizontal-buttons li {
            display: inline-block; 
            margin-right: 10px;
        }
        .colorBtn{
            color:red;
            border:red;
        }

    .colorBtn:hover {
        color: red;
        border: red;
    }
</style>
<div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>All Category</h5>
                            <form class="d-inline-flex">
                                <a asp-action="AddNewUser" asp-controller="Admin"
                                   class="align-items-center btn btn-theme d-flex">
                                    <i data-feather="plus-square"></i>Add New
                                </a>
                            </form>
                        </div>
                        <div class="table-responsive dataTables_wrapper">
                            <div id="table_id_filter" class="dataTables_filter">
                                <form asp-controller="Admin" asp-action="CategoryList" method="get">
                                    <label style="display:flex; justify-content:end; align-items:center">
                                        Search:
                                        <input type="search" name="SearchString" class="" placeholder="" aria-controls="table_id">
                                        <button class="btn btn-solid" style="padding: 7px 24px;" type="submit" id="button-addon2">
                                            <i style="color:white" data-feather="search"></i>
                                        </button>
                                    </label>
                                </form>
                            </div>
                        </div>

                        <div class="table-responsive category-table">
                            <div>
                                <table class="table order-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Category ID</th>
                                            <th scope="col">
                                                @Html.ActionLink("Name", "CategoryList","Admin", new { sortByName = ViewBag.NameSortParm })
                                            </th>
                                            <th scope="col">Image Path</th>
                                            <th scope="col">Options</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var category in Model.Data)
                                        {
                                            <tr>
                                                <td>@category.CategoryId</td>
                                                <td>@category.Name</td>
                                                <td>@category.ImagePath</td>
                                                <td>
                                                    <ul class="horizontal-buttons">
                                                        <li>
                                                                <a asp-controller="Admin" asp-action="UpdateCategory" asp-route-id="@category.CategoryId">
                                                                <i class="ri-pencil-line" style="color:#0DA487"></i>
                                                                </a>
                                                        </li>

                                                        <li>
                                                            <form method="post" id="txtdelete" asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@category.CategoryId">
                                                                <button type="submit" class="btn colorBtn">
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <nav aria-label="Page navigation" class="custome-pagination mt-2">
                            <ul class="pagination justify-content-center">
                                @if (Model.pageNumber > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Previous">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                }

                                @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                {
                                    <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                        <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter">@i</a>
                                    </li>
                                }

                                @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Next">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All User Table Ends-->

    <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright ©2023 FOCFulfillment - All Rights Reserved. Powered By: <a href="https://tetrasol.net" target="_blank">TetraSol</a></p>
                </div>
            </div>
        </footer>
        <!-- footer end-->
    </div>
</div>
<!-- Container-fluid end -->

