﻿﻿@using LocalDropshipping.Web.Dtos;
@model AdminDashboardDto;
@{
    ViewBag.Title = "FOCFulfillment - Admin Dashboard";
    Layout = "_LayoutDashboard";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <!-- chart card section start -->
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 border-0  card-hover card o-hidden">
                    <div class="custome-1-bg b-r-4 card-body">
                        <div class="media align-items-center static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Total Sellers</span>
                                <h4 class="mb-0 counter">
                                    @Model.TotalSellers
                                    <span class="badge badge-light-primary grow">
                                        <i data-feather="trending-up"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-user-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0  card o-hidden">
                    <div class="custome-2-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Active Sellers</span>
                                <h4 class="mb-0 counter">
                                    @Model.TotalActiveSubscriber
                                    <a href="add-new-product.html" class="badge badge-light-secondary grow">
                                        ADD NEW
                                    </a>
                                </h4>
                            </div>

                            <div class="align-self-center text-center">
                                <i class="ri-user-add-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-3-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Pending Withdrawal Requests</span>
                                <h4 class="mb-0 counter">
                                    @Model.TotalPendingWithdrawalRequests
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-wallet-3-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-4-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Total Orders</span>
                                <h4 class="mb-0 counter">
                                    @Model.TotalOrders
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-database-2-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-1-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Pending Orders</span>
                                <h4 class="mb-0 counter">
                                    @Model.TotalPendingOrders
                                    <span class="badge badge-light-danger grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-shopping-bag-3-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-2-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Delivered Orders</span>
                                <h4 class="mb-0 counter">
                                    @Model.TotalDeliveredOrders
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-timer-flash-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-3-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Returned Orders</span>
                                <h4 class="mb-0 counter">
                                    @Model.ReturnedOrders
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-file-warning-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-4-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Orders In Transit</span>
                                <h4 class="mb-0 counter">
                                    @Model.OrdersInTransit
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-exchange-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            
             <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-3-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Cancelled Orders</span>
                                <h4 class="mb-0 counter">
                                    @Model.TotalCancelledOrders
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-close-circle-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-2-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Total Sales</span>
                                <h4 class="mb-0 counter">
                                    Rs.@Model.TotalSales.ToString("N0")/-
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-funds-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-1-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Total Paid Amount</span>
                                <h4 class="mb-0 counter">
                                    Rs.@Model.TotalPaidAmount.ToString("N0")/-
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-wallet-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3 col-lg-6">
                <div class="main-tiles border-5 card-hover border-0 card o-hidden">
                    <div class="custome-4-bg b-r-4 card-body">
                        <div class="media static-top-widget">
                            <div class="media-body p-0">
                                <span class="m-0">Total Unpaid Amount</span>
                                <h4 class="mb-0 counter">
                                    Rs.@Model.TotalUnpaidAmount.ToString("N0")/-
                                    <span class="badge badge-light-success grow">
                                        <i data-feather="trending-down"></i>8.5%
                                    </span>
                                </h4>
                            </div>
                            <div class="align-self-center text-center">
                                <i class="ri-refund-2-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- chart card section End -->
    </div>
</div>
<!-- Container-fluid Ends-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>
    var notificationMessage = '@TempData["notificationMessage"]';
    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });
        '@TempData.Remove("notificationMessage")';
    }
</script>
