﻿@{
    ViewBag.Title = "FOCFulfillment - Edit User";
    Layout = "_LayoutDashboard";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-8 m-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="title-header option-title">
                                <h5>Edit User</h5>
                            </div>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-home"
                                            type="button">
                                        Account
                                    </button>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                    <form class="theme-form theme-form-2 mega-form" method="post" action="EditUser">
                                        <div class="card-header-1">
                                            <h5>Edit User Information</h5>
                                        </div>

                                        <div class="row">
                                            <div class="mb-4 row align-items-center">
                                                <label class="form-label-title col-lg-2 col-md-3 mb-0">
                                                    Username
                                                </label>
                                                <div class="col-md-9 col-lg-10">
                                                    <input class="form-control" type="text" name="Name">
                                                </div>
                                            </div>

                                            <div class="mb-4 row align-items-center">
                                                <label class="col-lg-2 col-md-3 col-form-label form-label-title">
                                                    Phone Number
                                                </label>
                                                <div class="col-md-9 col-lg-10">
                                                    <input class="form-control" type="text" name="PhoneNumber">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
