﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@model PageResponse<List<Consumer>>;
@{
    ViewBag.Title = "FOCFulfillment - Consumers";
    Layout = "_LayoutDashboard";
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #0DA487;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #0DA487;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .theme-table tbody tr td:nth-child(2) {
        padding-top: 14px;
    }
    .theme-table tbody tr td:nth-child(3) {
        padding-top: 14px;
    }
    .theme-table tbody tr td:last-child {
        padding-top: 25px;
    }
</style>
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                @if (Model.Data != null && Model.Data.Any())
                {
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="title-header option-title">
                                <h5>All Consumers</h5>
                                <form class="d-inline-flex">
                                    <a asp-action="AddNewUser" asp-controller="Admin" class="align-items-center btn btn-theme d-flex">
                                        <i data-feather="plus"></i>Add New
                                    </a>
                                </form>
                            </div>
                            <div class="table-responsive dataTables_wrapper">
                                <div id="table_id_filter" class="dataTables_filter">
                                    <form asp-controller="Admin" asp-action="GetAllConsumers" method="get">
                                        <div style="display:flex; justify-content:end; align-items:center">
                                            <input type="search" name="SearchString" class="" placeholder="Search">
                                            <button class="btn btn-solid" style="padding: 7px 24px;" type="submit" id="button-addon2">
                                                <i style="color:white" data-feather="search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <table class="table all-package theme-table table-product" id="table_id">
                                <thead>
                                    <tr>
                                        <th>@Html.ActionLink("Name", "GetAllConsumers","Admin", new { sortByName = ViewBag.NameSortParm, searchString=ViewBag.CurrentFilter }) <i class="fas fa-sort"></i></th>
                                        <th>Primary Number</th>
                                        <th>Secondary Number</th>
                                        <th>Block/Unblock</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var consumer in Model.Data)
                                    {
                                        <tr>
                                            <td>@consumer.FullName</td>
                                            <td>@consumer.PrimaryPhoneNumber</td>
                                            <td>@consumer.SecondaryPhoneNumber</td>

                                            <td>
                                                <form asp-controller="Admin" asp-action="BlockOrUnblockConsumer" method="post">
                                                    <input type="hidden" name="userId" value="@consumer.Id" />
                                                    <ul>

                                                        <li>
                                                            <!-- Rounded switch -->
                                                            <label class="switch">
                                                                <input type="hidden" name="userId" value="@consumer.Id" />
                                                                <button type="submit" asp-action="BlockOrUnblockConsumer" asp-controller="Admin">

                                                                    <input type="checkbox" class="user-toggle" data-user-id="@consumer.Id" @(consumer.IsBlocked ? "checked" : "") />
                                                                    <span class="slider round"></span>
                                                                </button>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation" class="custome-pagination mt-2">
                            <ul class="pagination justify-content-center">
                                @if (Model.pageNumber > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Previous">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                }

                                @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                {
                                    <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                        <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter">@i</a>
                                    </li>
                                }

                                @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&sortByName=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Next">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                }
                else
                {
                    <div>
                        <h4 class="text-center">Currently, you have no Consumers available.</h4>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal Box Start -->
<div class="modal fade theme-modal remove-coupon" id="exampleModalToggle" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <form asp-controller="Admin" asp-action="DeleteUser" method="post">
            <div class="modal-content">

                <div class="modal-header d-block text-center">
                    <h5 class="modal-title w-100" id="exampleModalLabel22">Are You Sure You want to Delete ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-animation btn-md fw-bold" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-animation btn-md fw-bold" data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal" data-bs-dismiss="modal">
                        Yes
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<!-- Delete Modal Box End -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>

<script>
    var notificationMessage = '@TempData["notificationMessage"]';
    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });
        '@TempData.Remove("notificationMessage")';
    }
</script>