﻿@model AdminLoginViewModel
@{
	ViewBag.Title = "FOCFulfillment - Admin Login";
	Layout = "_LayoutGuests";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Fastkart">
	<meta name="keywords" content="Fastkart">
	<meta name="author" content="Fastkart">
	<link rel="icon" href="../assets/images/favicon/1.png" type="image/x-icon">
	<title>Log In</title>
	<!-- Google font -->
	<link rel="preconnect" href="https://fonts.gstatic.com/">
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
		  rel="stylesheet">
	<!-- bootstrap css -->
	<link href="~/assets/css/vendors/bootstrap.css" rel="stylesheet" />
	<!-- font-awesome css -->
	<link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />
	<!-- feather icon css -->
	<link href="~/assets/css/vendors/feather-icon.css" rel="stylesheet" />
	<!-- slick css -->
	<link href="~/assets/css/vendors/slick/slick.css" rel="stylesheet" />
	<link href="~/assets/css/vendors/slick/slick-theme.css" rel="stylesheet" />
	<!-- Iconly css -->
	<link href="~/assets/css/bulk-style.css" rel="stylesheet" />
	<!-- Template css -->
	<link href="~/assets/css/style.css" rel="stylesheet" />
</head>
<body>
	<!-- mobile fix menu start -->
	<div class="mobile-menu d-md-none d-block mobile-cart">
		<ul>
			<li class="active">
				<a href="index.html">
					<i class="iconly-Home icli"></i>
					<span>Home</span>
				</a>
			</li>
			<li class="mobile-category">
				<a href="javascript:void(0)">
					<i class="iconly-Category icli js-link"></i>
					<span>Category</span>
				</a>
			</li>
			<li>
				<a href="search.html" class="search-box">
					<i class="iconly-Search icli"></i>
					<span>Search</span>
				</a>
			</li>
			<li>
				<a href="wishlist.html" class="notifi-wishlist">
					<i class="iconly-Heart icli"></i>
					<span>My Wish</span>
				</a>
			</li>
			<li>
				<a href="cart.html">
					<i class="iconly-Bag-2 icli fly-cate"></i>
					<span>Cart</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- mobile fix menu end -->
	<!-- log in section start -->
	<section class="log-in-section background-image-2 section-b-space">
		<div class="container-fluid-lg w-100">
			<div class="row">
				<div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
					<div class="image-contain">
						<img src="../assets/images/inner-page/log-in.png" class="img-fluid" alt="">
					</div>
				</div>

				<div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
					<div class="log-in-box">
						<div class="log-in-title">
							<h3>Welcome To FOCFulfillment</h3>
							<h4>Log In To Your Account</h4>
						</div>
						<div class="input-box">
							<form asp-action="Login" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" class="row g-4">
								<div class="col-12">
									<div class="form-floating theme-form-floating log-in-form">
										<input asp-for="Email" class="form-control" id="email" placeholder="Email Address" value="" minlength="2" maxlength="50">
										<label>Email Address</label>
										<span asp-validation-for="Email" class="text-danger"></span>
									</div>
								</div>
								<div class="col-12">
									<div class="form-floating theme-form-floating log-in-form custom-input">
										<input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password" value="" minlength="6" maxlength="35">
										<label>Password</label>
										<span><i id="toggle-password" class="fas fa-eye-slash"></i></span>
										<span asp-validation-for="Password" class="text-danger"></span>
										<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
									</div>
								</div>
								<div class="col-12">
									<div class="forgot-box">
										<div class="form-check ps-0 m-0 remember-box">
											<input asp-for="RememberMe" class="checkbox_animated check-box" type="checkbox"
												   id="flexCheckDefault">
											<label class="form-check-label" for="flexCheckDefault">Remember me</label>
										</div>
									</div>
								</div>
								<div class="col-12">
									<button class="btn btn-animation w-100 justify-content-center" type="submit">
										Log
										In
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- log in section end -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
	<script>
		var notificationMessage = '@TempData["notificationMessage"]';

		if (notificationMessage) {
			var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
				type: 'theme',
				allow_dismiss: true,
				delay: 1000,
				showProgressbar: true,
				timer: 100,
				animate: {
					enter: 'animated fadeInDown',
					exit: 'animated fadeOutUp'
				}
			});

			'@TempData.Remove("notificationMessage")';
		}

		$(document).ready(function () {
			$('#toggle-password').click(function () {
				const passwordField = $('#password');

				if (passwordField.attr('type') === 'password') {
					passwordField.attr('type', 'text');
					$('#toggle-password').removeClass('fa-eye-slash').addClass('fa-eye');
				} else {
					passwordField.attr('type', 'password');
					$('#toggle-password').removeClass('fa-eye').addClass('fa-eye-slash');
				}
			});
		});

		document.addEventListener("DOMContentLoaded", function () {
			var emailCookie = getCookie("RememberMeEmail");
			var passwordCookie = getCookie("RememberMePassword");

			if (emailCookie) {
				emailCookie = decodeURIComponent(emailCookie);
				document.getElementById("email").value = emailCookie;
			}

			if (passwordCookie) {
				passwordCookie = decodeURIComponent(passwordCookie);
				document.getElementById("password").value = passwordCookie;
			}
		});

		function getCookie(name) {
			var value = "; " + document.cookie;
			var parts = value.split("; " + name + "=");

			if (parts.length === 2) {
				return parts.pop().split(";").shift();
			}

			return null;
		}
	</script>

</body>
</html>