﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Enums;
@using LocalDropshipping.Web.Helpers;
@using Newtonsoft.Json;
@model PageResponse<List<OrderListModel>>;
@{
    ViewBag.Title = "FOCFulfillment - Orders List";
    Context.Session.SetString("Orders", JsonConvert.SerializeObject(Model.Data));
    Layout = "_LayoutDashboard";
}
<style>
    .theme-table tbody tr td:nth-child(2) {
        padding-top: 14px;
    }

    .theme-table tbody tr td:nth-child(3) {
        padding-top: 14px;
    }

    .theme-table tbody tr td:last-child {
        padding-top: 25px;
    }
</style>

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    @if (Model.Data != null && Model.Data.Any())
                    {
                        <div class="card-body">
                            <div class="title-header option-title">
                                <h5>Order List</h5>
                                <form asp-action="ExportToCsv" method="get" class="d-flex justify-content-between align-items-center">
                                    <input style="width: 250px" class="form-control me-1" type="text" name="daterange" value="" id="daterange" placeholder="01/01/2023 - 01/15/2023" />
                                    <button type="submit" class="btn btn-solid">Export to CSV</button>
                                </form>
                            </div>
                            <div class="table-responsive dataTables_wrapper">
                                <div id="table_id_filter" class="dataTables_filter">
                                    <form asp-controller="Admin" asp-action="OrdersList" method="get">
                                        <div style="display:flex; justify-content:end; align-items:center">
                                            <input type="search" name="SearchString" value="@ViewBag.CurrentFilter" class="me-1" placeholder="Search">
                                            <button class="btn btn-solid" style="padding: 7px 24px;" type="submit" id="button-addon2">
                                                <i style="color:white" data-feather="search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <a asp-controller="Admin" asp-action="UpdateOrderStatuses" class="btn btn-solid">
                                        Update All Orders
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div id="table_id_wrapper" class="dataTables_wrapper no-footer">
                                    <table class="table all-package order-table theme-table dataTable no-footer" id="table_id">
                                        <thead>
                                            <tr>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Order Id</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Courier Order Id</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Order Tracking Id</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                                                    @Html.ActionLink("Order Date", "OrdersList","Admin", new { sortOrder =  ViewBag.DateSortParm, searchString=ViewBag.CurrentFilter })
                                                    <i class="fas fa-sort"></i>
                                                </th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Delivery Status</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Courier Company</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Customer Name</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">
                                                    @Html.ActionLink("Price", "OrdersList","Admin", new { sortOrder = ViewBag.PriceSortParm, searchString=ViewBag.CurrentFilter })
                                                    <i class="fas fa-sort"></i>
                                                </th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Sell Price</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 180.938px;">Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var orderListModel in Model.Data)
                                            {
                                                @foreach (var order in orderListModel.Orders)
                                                {
                                                    <tr data-bs-toggle="offcanvas" href="#order-details" class="odd">
                                                        <td>@order.Id</td>
                                                        <td>@order.CourierOrderId</td>
                                                        <td>@order.OrderTrackingId</td>
                                                        <td>@order.CreatedDate.ToString("MMM dd yyyy")</td>
                                                        @if (order.OrderStatus == OrderStatus.Delivered || order.OrderStatus == OrderStatus.ShipmentDelivered)
                                                        {
                                                            <td class="order-success">
                                                                <span>Delivered</span>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="order-cancle">
                                                                <span>@order.OrderStatus.GetDescription()</span>
                                                            </td>
                                                        }
                                                        <td>@order.CourierServiceType</td>
                                                        <td>
                                                            @foreach (var consumer in orderListModel.Consumers)
                                                            {
                                                                if (consumer.OrderId == order.Id)
                                                                {
                                                                    <span>@consumer.FullName</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td>Rs.@order.GrandTotal.ToString("N0")/-</td>
                                                        <td>Rs.@order.SellPrice.ToString("N0")/-</td>
                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a href="javascript:void(0)" title="Refresh" onclick="refreshOrder('@order.Id')">
                                                                        <i class="ri-refresh-line" style="color:#0DA487"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0)" title="View Order">
                                                                        <i class="ri-eye-line" style="color:#0DA487"
                                                                           data-bs-toggle="modal"
                                                                           data-bs-target="#viewPopup"
                                                                           data-order-id="@order.Id"
                                                                           onclick="openViewPopup(this)">
                                                                        </i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0)" title="Edit Order">
                                                                        <i class="ri-pencil-line" style="color:#0DA487"
                                                                           data-bs-toggle="modal"
                                                                           data-bs-target="#editPopup"
                                                                           data-order-id="@order.Id"
                                                                           onclick="openPopup(this)">
                                                                        </i>
                                                                    </a>
                                                                </li>
                                                                <!-- Handle other actions here -->
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>

                                    @* EDIT MODAL *@
                                    <div id="editPopup" class="modal" style="display: none;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header p-b-25">
                                                    <h4 class="modal-title" id="staticBackdropLabel"><strong>Edit Order</strong></h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                                                    </button>
                                                </div>
                                                <form id="orderForm" method="post" asp-action="OrdersList" asp-controller="Admin">
                                                    <div class="modal-body">
                                                        <input type="hidden" name="OrderId" id="OrderIdHidden" />
                                                        <input type="hidden" name="currentPage" value="@Model.pageNumber" />
                                                        <div class="deal-offer-box">
                                                            <div class="form-group">
                                                                <label for="OrderId">Order Id:</label>
                                                                <input type="number" name="OrderId" class="form-control" disabled id="OrderId" placeholder="Order Id">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="OrderStatus">Order Status:</label>
                                                                <select class="form-select form-control" name="OrderStatus" id="OrderStatus">
                                                                    <option value="Pending">Pending</option>
                                                                    <option value="InProcess">InProcess</option>
                                                                    <option value="Delivered">Delivered</option>
                                                                    <option value="Cancelled">Cancelled</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="CourierServiceType">Courier Comapny:</label>
                                                                <select class="form-select form-control" name="CourierServiceType" id="CourierServiceType">
                                                                    <option value="NotSelected">Not Selected</option>
                                                                    <option value="Leopard">Leopard</option>
                                                                    <option value="Trax">Trax</option>
                                                                    <option value="Daewoo">Daewoo</option>
                                                                    <option value="Rider">Rider</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="CourierOrderId">Courier Order Id:</label>
                                                                <input type="text" name="CourierOrderId" class="form-control" id="CourierOrderId" placeholder="Courier Order Id">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="Reason">Special Instructions:</label>
                                                                <textarea class="form-control" name="SpecialInstructions" id="SpecialInstructions" rows="4" placeholder="Special Instructions"></textarea>
                                                            </div>
                                                            <br />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                                                            <button type="submit" class="btn btn-solid text-white" onclick="closePopup()">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* VIEW MODAL *@
                                <div id="viewPopup" class="modal" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header p-b-25">
                                                <h4 class="modal-title" id="staticBackdropLabel"><strong>View Order</strong></h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeViewPopup()" aria-label="Close">
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <div class="deal-offer-box">
                                                    <div class="my-2">
                                                        <p>Order #<b><span class="value" id="orderId"></span></b> was placed on <b><span class="value" id="CreatedDate"></span></b> and is currently <b><span class="value" id="Status"></span></b>.</p>
                                                    </div>
                                                    <hr />
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="BusinessNameValue">Business Name:</label>
                                                            <div class="value" id="BusinessNameValue"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="CourierServiceValue">Courier Service:</label>
                                                            <div class="value" id="CourierServiceValue"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="SellPriceValue">Sell Price:</label>
                                                            <div class="value" id="SellPriceValue"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="ShippingFee">Shipping Fee:</label>
                                                            <div class="value" id="ShippingFee"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="PaymentMethod">Payment Method:</label>
                                                            <div class="value" id="PaymentMethod"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="YourCustomerCity">Customer City:</label>
                                                            <div class="value" id="YourCustomerCity"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="YourCustomerAddress">Customer Address:</label>
                                                            <div class="value" id="YourCustomerAddress"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="Total">Total:</label>
                                                            <div class="value" id="Total"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="label-value-pair">
                                                            <label for="remarks">Remarks:</label>
                                                            <div class="value" id="remarks"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                             </div>
                                             <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closeViewPopup()">Close</button>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <nav aria-label="Page navigation" class="custome-pagination mt-3">
                                    <ul class="pagination justify-content-center">
                                        @if (Model.pageNumber > 1)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Previous">
                                                    <i class="fa-solid fa-angles-left"></i>
                                                </a>
                                            </li>
                                        }

                                        @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                        {
                                            <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                                <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter">@i</a>
                                            </li>
                                        }

                                        @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Next">
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>
                            <h4 class="text-center">Currently, No Data available</h4>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>
    function openPopup(button) {
        var OrderId = button.getAttribute('data-order-id');

        document.getElementById('OrderIdHidden').value = OrderId;
        document.getElementById('OrderId').value = OrderId;

        document.getElementById('editPopup').style.display = 'block';
    }

    function closePopup() {
        document.getElementById('editPopup').style.display = 'none';
    }

    function confirmPayment() {
        closePopup();
    }

    $(function () {
        $('#daterange').daterangepicker({
            opens: 'right'
        });
    });

    function openViewPopup(button) {
        var OrderId = button.getAttribute('data-order-id');

        $.ajax({
            url: '@Url.Action("ViewOrder", "Admin")',
            type: 'GET',
            data: { id: OrderId },
            success: function (data) {
                document.getElementById('BusinessNameValue').textContent = data.businessName;
                document.getElementById('CourierServiceValue').textContent = data.courierService;
                document.getElementById('SellPriceValue').textContent = 'Rs.'+ data.sellPrice.toFixed(2) + '/-';
                document.getElementById('ShippingFee').textContent = 'Rs.'+ data.shippingFee.toFixed(2) + '/-';
                document.getElementById('Total').textContent = 'Rs.'+ data.total.toFixed(2) + '/-';
                document.getElementById('PaymentMethod').textContent = data.paymentMethod;
                document.getElementById('YourCustomerCity').textContent = data.yourCustomerCity;
                document.getElementById('YourCustomerAddress').textContent = data.yourCustomerAddress;
                document.getElementById('CreatedDate').textContent = data.createdDate;
                document.getElementById('Status').textContent = data.status;
                document.getElementById('orderId').textContent = data.orderId;
                document.getElementById('remarks').textContent = data.remarks;

                $('#viewPopup').on('shown.bs.modal', function () {
                    
                    $('#viewPopup').modal('show');
                });
                event.preventDefault();
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }

    function refreshOrder(orderId) {
        window.location.href = '@Url.Action("UpdateOrderStatus", "Admin")' + '?id=' + orderId;
    }
    function deleteOrder(orderId) {
        window.location.href = '@Url.Action("DeleteOrder", "Admin")' + '?id=' + orderId;
    }



    var notificationMessage = '@TempData["notificationMessage"]';

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }

</script>
<style>
    .label-value-pair {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;
    }

    .label-value-pair label {
        flex: 1;
        margin-right: 10px;
        font-weight: bold;
        padding-right: 45px;
    }

    .label-value-pair .value {
        flex: 2;
    }

</style>
