﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Models.ProductViewModels;
@model AddProductViewModel;
@{
    ViewBag.Title = "FOCFulfillment - Post";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- meta data -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Fastkart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, Fastkart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <title>Local DropShipping Project</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- Linear Icon css -->
    <link href="~/assets/css/linearicon.css" rel="stylesheet" />
    <!-- Fontawesome css -->
    <link href="~/assets/css/vendors/font-awesome.css" rel="stylesheet" />

    <!-- Themify icon css -->
    <link href="~/assets/css/vendors/themify.css" rel="stylesheet" />

    <!--Dropzon css -->
    <link href="~/assets/css/vendors/dropzone.css" rel="stylesheet" />
    <!-- Feather icon css-->
    <link href="~/assets/css/vendors/feather-icon.css" rel="stylesheet" />
    <!-- remixicon css -->
    <link href="~/assets/css/remixicon.css" rel="stylesheet" />
    <!-- Select2 css -->
    <link href="~/assets/css/select2.min.css" rel="stylesheet" />
    <!-- Plugins css -->
    <link href="~/assets/css/vendors/scrollbar.css" rel="stylesheet" />
    <link href="~/assets/css/vendors/animate.css" rel="stylesheet" />
    <link href="~/assets/css/vendors/chartist.css" rel="stylesheet" />
    <link href="~/assets/css/vendors/date-picker.css" rel="stylesheet" />

    <!-- Bootstrap css -->
    <link href="~/assets/css/vendors/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap-tag input css -->
    <link href="~/assets/css/vendors/bootstrap-tagsinput.css" rel="stylesheet" />
    <!-- App css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="page-body">
        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            @using (Html.BeginForm("SubmitForm", "Product", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Information</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">
                                                Product Name
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Product Name" })
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">
                                                Is Featured
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.IsTopRated, new { @class = "form-control", placeholder = "Is Featured" })
                                            </div>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">
                                                Category ID
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.CategoryId, new { @class = "form-control", placeholder = "Category Id" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Description Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Description</h5>
                                        </div>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <label class="form-label-title col-sm-3 mb-0">
                                                        Product Description
                                                    </label>
                                                    <div class="col-sm-9">
                                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Product Description" })
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Product Images Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Images</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">
                                                Image URL
                                            </label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.ImageLink, new { @class = "form-control", placeholder = "Image URL" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Product Price Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Price</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="col-sm-3 form-label-title">Price</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", placeholder = "0" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Product Inventory Card -->
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-header-2">
                                            <h5>Product Inventory</h5>
                                        </div>

                                        <div class="mb-4 row align-items-center">
                                            <label class="form-label-title col-sm-3 mb-0">Stock</label>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Stock, new { @class = "form-control" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Add Product</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Product Add End -->
    </div>



    <!-- page-wrapper End -->
    <!-- latest js -->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js -->
    <!-- scrollbar simplebar js -->
    @*    <script src="assets/js/scrollbar/simplebar.js"></script>
    <script src="assets/js/scrollbar/custom.js"></script>*@


    <!-- bootstrap tag-input js -->
    <script src="~/assets/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/js/sidebar-menu.js"></script>

    <!-- select2 js -->
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/select2-custom.js"></script>


    <!-- Theme js -->
    <script src="~/assets/js/script.js"></script>
</body>


</html>
