﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@model PageResponse<List<Product>>;
@{
    ViewBag.Title = "FOCFulfillment - Products";
    Layout = "_LayoutDashboard";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                @if (Model.Data != null && Model.Data.Any())
                {
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="title-header option-title d-sm-flex d-block">
                                <h5>Products List</h5>
                                <div class="right-options">
                                    <ul>
                                        <li>
                                            <a class="btn btn-solid" asp-controller="Admin" asp-action="AddUpdateProduct">Add Product</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="table-responsive dataTables_wrapper">
                                <div id="table_id_filter" class="dataTables_filter">
                                    <form asp-controller="Admin" asp-action="Products" method="get">
                                        <div style="display:flex; justify-content:end; align-items:center">
                                            <input type="search" name="SearchString" class="" placeholder="Search" aria-controls="table_id">
                                            <button class="btn btn-solid" style="padding: 7px 24px;" type="submit" id="button-addon2">
                                                <i style="color:white" data-feather="search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div>
                                <div class="table-responsive">
                                    <div id="table_id_wrapper" class="dataTables_wrapper no-footer">

                                        <table class="table all-package theme-table table-product dataTable no-footer" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1">Product Image</th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1">
                                                        @Html.ActionLink("Name", "Products","Admin", new { sortProduct = ViewBag.NameSortParm})
                                                        <i class="fas fa-sort"></i>
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1">Category</th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1">
                                                        @Html.ActionLink("Price", "Products","Admin", new { sortProduct = ViewBag.PriceSortParm})
                                                        <i class="fas fa-sort"></i>
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1">Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                @foreach (var product in Model.Data)
                                                {
                                                    <tr>
                                                        <td><img style="width: 75px; border-radius: 10px;" src="@product.Variants.First().FeatureImageLink" alt="Image of product @product.Name" /></td>
                                                        <td>@if (product.Name.Length > 20)
                                                            {
                                                                <text>@product.Name.Substring(0,20)...</text>
                                                            }
                                                            else
                                                            {
                                                                <text>@product.Name</text>
                                                            }</td>
                                                        <td style="color:black;">@product.Category!.Name</td>
                                                        <td>Rs.@product.Variants.First().VariantPrice.ToString("N0")/-</td>
                                                        <td>
                                                            <ul>

                                                                <li>
                                                                    <a asp-controller="Admin" asp-action="Product" asp-route-id="@product.ProductId">
                                                                        <i class="ri-eye-line" style="color:#0DA487"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a asp-controller="Admin" asp-action="AddUpdateProduct" asp-route-id="@product.ProductId">
                                                                        <i class="ri-pencil-line" style="color:#0DA487"></i>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a href="javascript:void(0)" title="Delete Product">
                                                                        <i class="ri-delete-bin-line"
                                                                           data-bs-toggle="modal"
                                                                           data-bs-target="#deleteproduct"
                                                                           data-product-id="@product.ProductId"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                      

                            <nav aria-label="Page navigation" class="custome-pagination mt-2">
                                <ul class="pagination justify-content-center">
                                    @if (Model.pageNumber > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&sortProduct=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Previous">
                                                <i class="fa-solid fa-angles-left"></i>
                                            </a>
                                        </li>
                                    }

                                    @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                    {
                                        <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                            <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&sortProduct=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter">@i</a>
                                        </li>
                                    }

                                    @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&sortProduct=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Next">
                                                <i class="fa-solid fa-angles-right"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                }
                else
                {
                    <div>
                        <h4 class="text-center">Currently, No Products Available!</h4>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteproduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Product</h5>
                <p>Are you sure you want to delete product <span id="productId"></span>?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                    <a class="btn btn--yes btn-primary" 
                    href="" id="deleteButton">
                        Yes
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/backend-assets/js/notify/index.js"></script>
@section script{
    <script>
        $('#deleteproduct').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            var productId = button.data('product-id');
            var modal = $(this);
            modal.find('#productId').text(productId);
            debugger;
            modal.find('#deleteButton').attr('href', '/Admin/DeleteProduct/' + productId);
        });
        var notifyMessage = '@TempData["Message"]';
        if (notifyMessage) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notifyMessage, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("Message")';
        }

        var notifyaddMessages = '@TempData["ProductAdded"]';
        if (notifyaddMessages) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notifyaddMessages, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("added")';
        }

        var notifyupdateMessages = '@TempData["updated"]';
        if (notifyupdateMessages) {
            var notify = $.notify('<i class="fas fa-bell"></i> ' + notifyupdateMessages, {
                type: 'theme',
                allow_dismiss: true,
                delay: 1000,
                showProgressbar: true,
                timer: 100,
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutUp'
                }
            });

            '@TempData.Remove("updated")';
        }

     
        
    </script>
}





