﻿@using LocalDropshipping.Web.Extensions;
@using LocalDropshipping.Web.Helpers.Constants;
@using LocalDropshipping.Web.Models.ProductViewModels;
@model ProductPageViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="~/assets/images/favicon/1.png" type="image/x-icon">
    <title>@Model.Product.Name</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="~/assets/css/vendors/bootstrap.css">

    <!-- wow css -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css" />

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/font-awesome.css">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/feather-icon.css">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendors/slick/slick-theme.css">

    <!-- Iconly css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bulk-style.css">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="~/assets/css/style.css">

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <style>
        .ql-container {
            border: 0px solid #00000000 !important;
        }

        .ql-editor h2 + p + ol,
        .ql-editor h2 + p + ul {
            margin-top: 0px !important;
        }

        .ql-container ul,
        .ql-container ol,
        .ql-container li {
            padding: revert-layer;
            margin: revert-layer;
        }

        .ql-container ul, ol {
            padding-left: 0px !important;
        }

        .ql-container li {
            display: list-item !important;
        }

        .ql-editor {
            padding: 0px !important;
        }

        .procuct-contain .ql-container p {
            color: revert-layer !important;
            line-height: revert-layer !important;
            margin: revert-layer !important;
            font-size: revert-layer !important;
            width: revert-layer !important;
        }

    </style>

</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2 class="data-pname">@Model.Product.Name</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>

                                <li class="breadcrumb-item active data-pname">@Model.Product.Name.ConvertToDotted()</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Product Left Sidebar Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                    <div class="row g-4">
                        <div class="col-xl-6 wow fadeInUp">
                            <div class="row g-4">
                                <div class="col-12 wow fadeInUp">
                                    <div class="product-left-box">
                                        <div class="row g-sm-4 g-2" id="sliderContainer">
                                            @Html.Partial("_ProductVariantImageSliderPartial", Model.Product.Variants.First())
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeInUp">
                                    <div class="product-left-box">
                                        <div class="row g-sm-4 g-2" id="videoSliderContainer">
                                            @Html.Partial("_ProductVariantVideoSliderPartial", Model.Product.Variants.First())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 wow fadeInUp">
                            <div class="right-box-contain">
                                <h2 class="name data-pname">@Model.Product.Name</h2>
                                <div class="price-rating">
                                    <h3 class="price">
                                        <span class="theme-color"><span class="data-pprice">Rs @Model.Product.Variants.First().DiscountedPrice/-</span></span> <del class="data-pdprice">Rs @Model.Product.Variants.First().VariantPrice/-</del>
                                    </h3>
                                </div>

                                <div class="mt-3" >
                                    <h3>Short Description</h3>    
                                </div>

                                <div class="procuct-contain">
                                    <div class="ql-container ql-snow">
                                        <div class="ql-editor">@Html.Raw(Model.Product.ShortDescription)</div>
                                    </div>
                                </div>
                                <div>
                                    <ul>
                                        <li>
                                            <h4>
                                                <span style="font-weight:600;">Weight:</span> @Model.Product.Weight Kg
                                            </h4>
                                        </li>
                                    </ul>
                                </div>
                                @if (Model.Product.Variants.Count > 1)
                                {
                                    <div class="product-packege">
                                        <div class="product-title">
                                            <h4 class="data-pvtype">@Model.Product.Variants.First().VariantType</h4>
                                        </div>
                                        <ul class="select-packege">
                                            @foreach (var variant in Model.Product.Variants)
                                            {
                                                <li>
                                                    <a href="javascript:void(0)" class="@if(Model.Product.Variants.First() == variant) {
                                            <text>active</text>
 }"
                                                                                       onclick="UpdateUI(@variant.Quantity,  @variant.DiscountedPrice, @variant.VariantPrice, @variant.ProductVariantId)">@variant.Variant</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3 col-xl-4 col-lg-5 d-none d-lg-block wow fadeInUp">
                    <div class="right-sidebar-box">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Left Sidebar End -->
    <!-- Nav Tab Section Start -->
    <section>
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="product-section-box m-0">
                        <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                                        data-bs-target="#description" type="button" role="tab" aria-controls="description"
                                        aria-selected="true">
                                    Description
                                </button>
                            </li>


                        </ul>

                        <div class="tab-content custom-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel"
                                 aria-labelledby="description-tab">
                                <div class="data-pdesc">
                                    <div class="ql-container ql-snow">
                                        <div class="ql-editor">@Html.Raw(Model.Product.Description)</div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <div class="table-responsive">
                                    <table class="table info-table">
                                        <tbody>
                                            <tr>
                                                <td>Specialty</td>
                                                <td>Vegetarian</td>
                                            </tr>
                                            <tr>
                                                <td>Ingredient Type</td>
                                                <td>Vegetarian</td>
                                            </tr>
                                            <tr>
                                                <td>Brand</td>
                                                <td>Lavian Exotique</td>
                                            </tr>
                                            <tr>
                                                <td>Form</td>
                                                <td>Bar Brownie</td>
                                            </tr>
                                            <tr>
                                                <td>Package Information</td>
                                                <td>Box</td>
                                            </tr>
                                            <tr>
                                                <td>Manufacturer</td>
                                                <td>Prayagh Nutri Product Pvt Ltd</td>
                                            </tr>
                                            <tr>
                                                <td>Item part number</td>
                                                <td>LE 014 - 20pcs Crème Bakes (Pack of 2)</td>
                                            </tr>
                                            <tr>
                                                <td>Net Quantity</td>
                                                <td>40.00 count</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="care" role="tabpanel" aria-labelledby="care-tab">
                                <div class="information-box">
                                    <ul>
                                        <li>
                                            Store cream cakes in a refrigerator. Fondant cakes should be
                                            stored in an air conditioned environment.
                                        </li>

                                        <li>
                                            Slice and serve the cake at room temperature and make sure
                                            it is not exposed to heat.
                                        </li>

                                        <li>Use a serrated knife to cut a fondant cake.</li>

                                        <li>
                                            Sculptural elements and figurines may contain wire supports
                                            or toothpicks or wooden skewers for support.
                                        </li>

                                        <li>
                                            Please check the placement of these items before serving to
                                            small children.
                                        </li>

                                        <li>The cake should be consumed within 24 hours.</li>

                                        <li>Enjoy your cake!</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                <div class="review-box">
                                    <div class="row g-4">
                                        <div class="col-xl-6">
                                            <div class="review-title">
                                                <h4 class="fw-500">Customer reviews</h4>
                                            </div>

                                            <div class="d-flex">
                                                <div class="product-rating">
                                                    <ul class="rating">
                                                        <li>
                                                            <i data-feather="star" class="fill"></i>
                                                        </li>
                                                        <li>
                                                            <i data-feather="star" class="fill"></i>
                                                        </li>
                                                        <li>
                                                            <i data-feather="star" class="fill"></i>
                                                        </li>
                                                        <li>
                                                            <i data-feather="star"></i>
                                                        </li>
                                                        <li>
                                                            <i data-feather="star"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h6 class="ms-3">4.2 Out Of 5</h6>
                                            </div>

                                            <div class="rating-box">
                                                <ul>
                                                    <li>
                                                        <div class="rating-list">
                                                            <h5>5 Star</h5>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 68%" aria-valuenow="100"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    68%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="rating-list">
                                                            <h5>4 Star</h5>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 67%" aria-valuenow="100"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    67%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="rating-list">
                                                            <h5>3 Star</h5>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 42%" aria-valuenow="100"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    42%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="rating-list">
                                                            <h5>2 Star</h5>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 30%" aria-valuenow="100"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    30%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="rating-list">
                                                            <h5>1 Star</h5>
                                                            <div class="progress">
                                                                <div class="progress-bar" role="progressbar"
                                                                     style="width: 24%" aria-valuenow="100"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                                                    24%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="review-title">
                                                <h4 class="fw-500">Add a review</h4>
                                            </div>

                                            <div class="row g-4">
                                                <div class="col-md-6">
                                                    <div class="form-floating theme-form-floating">
                                                        <input type="text" class="form-control" id="name"
                                                               placeholder="Name">
                                                        <label for="name">Your Name</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-floating theme-form-floating">
                                                        <input type="email" class="form-control" id="email"
                                                               placeholder="Email Address">
                                                        <label for="email">Email Address</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-floating theme-form-floating">
                                                        <input type="url" class="form-control" id="website"
                                                               placeholder="Website">
                                                        <label for="website">Website</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-floating theme-form-floating">
                                                        <input type="url" class="form-control" id="review1"
                                                               placeholder="Give your review a title">
                                                        <label for="review1">Review Title</label>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-floating theme-form-floating">
                                                        <textarea class="form-control"
                                                                  placeholder="Leave a comment here" id="floatingTextarea2"
                                                                  style="height: 150px"></textarea>
                                                        <label for="floatingTextarea2">
                                                            Write Your
                                                            Comment
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="review-title">
                                                <h4 class="fw-500">Customer questions & answers</h4>
                                            </div>

                                            <div class="review-people">
                                                <ul class="review-list">
                                                    <li>
                                                        <div class="people-box">
                                                            <div>
                                                                <div class="people-image">
                                                                    <img src="~/assets/images/review/1.jpg"
                                                                         class="img-fluid blur-up lazyload" alt="">
                                                                </div>
                                                            </div>

                                                            <div class="people-comment">
                                                                <a class="name" href="javascript:void(0)">Tracey</a>
                                                                <div class="date-time">
                                                                    <h6 class="text-content">
                                                                        14 Jan, 2022 at 12.58 AM
                                                                    </h6>

                                                                    <div class="product-rating">
                                                                        <ul class="rating">
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <div class="reply">
                                                                    <p>
                                                                        Icing cookie carrot cake chocolate cake sugar
                                                                        plum jelly-o danish. Dragée dragée shortbread
                                                                        tootsie roll croissant muffin cake I love gummi
                                                                        bears. Candy canes ice cream caramels tiramisu
                                                                        marshmallow cake shortbread candy canes
                                                                        cookie.<a href="javascript:void(0)">Reply</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="people-box">
                                                            <div>
                                                                <div class="people-image">
                                                                    <img src="~/assets/images/review/2.jpg"
                                                                         class="img-fluid blur-up lazyload" alt="">
                                                                </div>
                                                            </div>

                                                            <div class="people-comment">
                                                                <a class="name" href="javascript:void(0)">Olivia</a>
                                                                <div class="date-time">
                                                                    <h6 class="text-content">
                                                                        01 May, 2022 at 08.31 AM
                                                                    </h6>
                                                                    <div class="product-rating">
                                                                        <ul class="rating">
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <div class="reply">
                                                                    <p>
                                                                        Tootsie roll cake danish halvah powder cake.
                                                                        Tootsie roll candy marshmallow cookie brownie
                                                                        apple pie pudding brownie chocolate bar. Jujubes
                                                                        gummi bears I love powder danish oat cake tart
                                                                        croissant.<a href="javascript:void(0)">Reply</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="people-box">
                                                            <div>
                                                                <div class="people-image">
                                                                    <img src="~/assets/images/review/3.jpg"
                                                                         class="img-fluid blur-up lazyload" alt="">
                                                                </div>
                                                            </div>

                                                            <div class="people-comment">
                                                                <a class="name" href="javascript:void(0)">Gabrielle</a>
                                                                <div class="date-time">
                                                                    <h6 class="text-content">
                                                                        21 May, 2022 at 05.52 PM
                                                                    </h6>

                                                                    <div class="product-rating">
                                                                        <ul class="rating">
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star" class="fill"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                            <li>
                                                                                <i data-feather="star"></i>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>

                                                                <div class="reply">
                                                                    <p>
                                                                        Biscuit chupa chups gummies powder I love sweet
                                                                        pudding jelly beans. Lemon drops marzipan apple
                                                                        pie gingerbread macaroon croissant cotton candy
                                                                        pastry wafer. Carrot cake halvah I love tart
                                                                        caramels pudding icing chocolate gummi bears.
                                                                        Gummi bears danish cotton candy muffin marzipan
                                                                        caramels awesome feel. <a href="javascript:void(0)">Reply</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Nav Tab Section End -->
    <!-- Releted Product Section Start -->
    <!-- Releted Product Section End -->
    <!-- Footer Section Start -->
    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">©2023 FOCFulfillment - All Rights Reserved. Powered By: <a href="https://tetrasol.net" target="_blank">TetraSol</a> </p>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <!-- Footer Section End -->
    <!-- Sticky Cart Box End -->
    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- jquery ui-->
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/bootstrap/bootstrap-notify.min.js"></script>
    <script src="~/assets/js/bootstrap/popper.min.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather/feather.min.js"></script>
    <script src="~/assets/js/feather/feather-icon.js"></script>

    <!-- Lazyload Js -->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- Slick js-->
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/slick/slick-animation.min.js"></script>
    <script src="~/assets/js/custom-slick-animated.js"></script>
    <script src="~/assets/js/slick/custom_slick.js"></script>


    <!-- Price Range Js -->
    <script src="~/assets/js/ion.rangeSlider.min.js"></script>

    <!-- sidebar open js -->
    <script src="~/assets/js/filter-sidebar.js"></script>

    <!-- Quantity js -->
    <script src="~/assets/js/quantity-2.js"></script>

    <!-- Zoom Js -->
    <script src="~/assets/js/jquery.elevatezoom.js"></script>
    <script src="~/assets/js/zoom-filter.js"></script>

    <!-- Sticky-bar js -->
    <script src="~/assets/js/sticky-cart-bottom.js"></script>

    <!-- WOW js -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/custom-wow.js"></script>

    <!-- script js -->
    <script src="~/assets/js/script.js"></script>

    <!-- thme setting js -->
    <script src="~/assets/js/theme-setting.js"></script>

    <script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
    <script>

        function UpdateUI(quantity, price, discountedPrice, variantId) {
            $('.data-pprice').text('Rs ' + price + '/-');
            $('.data-pdprice').text('Rs ' + discountedPrice + '/-');
            $.ajax(
                {
                    async: true,
                    type: "GET",
                    contentType: false,
                    processData: false,
                    url: "/Admin/ProductVariantVideoSlider/" + variantId,
                    success: function (data) {
                        if (data == "") {
                            alert(`@Constants.ErrorMessage.NoVideosForThisVariant`)
                        }
                        $('#videoSliderContainer').html(data);
                    },
                    error: function (err) {
                        alert("Unknown Error");
                    }
                }
            )
            $.ajax(
                {
                    async: true,
                    type: "GET",
                    contentType: false,
                    processData: false,
                    url: "/Admin/ProductVariantImageSlider/" + variantId,
                    success: function (data) {
                        $('#sliderContainer').html(data);
                        if (data == "") {
                            alert(`@Constants.ErrorMessage.NoVideosForThisVariant`)
                        }
                        else {
                            $('.product-main').slick({
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                arrows: false,
                                fade: true,
                                asNavFor: '.left-slider-image'
                            });

                            $('.left-slider-image').slick({
                                slidesToShow: 4,
                                slidesToScroll: 1,
                                asNavFor: '.product-main',
                                dots: false,
                                focusOnSelect: true,
                                // vertical: false,
                                responsive: [{
                                    breakpoint: 1400,
                                    settings: {
                                        vertical: false,
                                    }
                                },
                                {
                                    breakpoint: 992,
                                    settings: {
                                        vertical: false,
                                    }
                                },
                                {
                                    breakpoint: 768,
                                    settings: {
                                        vertical: false,
                                    }
                                }, {
                                    breakpoint: 430,
                                    settings: {
                                        slidesToShow: 3,
                                        vertical: false,
                                    }
                                },
                                ]
                            });
                        }
                    },
                    error: function () {
                        alert("Unknown Error");
                    }
                }
            );
        }
    </script>

</body>
</html>