﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Enums;
@using LocalDropshipping.Web.Helpers;
@using LocalDropshipping.Web.Models.ProductViewModels;
@model PageResponse<List<QuotationListModel>>;
@{
    ViewBag.Title = "FOC-Fulfillment - WholesaleList";
    Layout = "_LayoutDashboard";
}
<style>
    .tr-left tr th{
        text-align:left;
    }

    .tr-left tr td {
        text-align: left;
    }

    .theme-table tbody tr td:nth-child(2) {
        padding-top: 14px;
    }

    .theme-table tbody tr td:nth-child(3) {
        padding-top: 14px;
    }

    .theme-table tbody tr td:last-child {
        padding-top: 25px;
    }
</style>
<div class="page-body">
    <div class="container-fluid">
      
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table" >
                  
                        <div class="card-body">
                            <div class="title-header option-title">
                                <h5>QUOTATION LIST</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <input style="width: 250px" class="form-control me-1" type="text" name="daterange" value="" id="daterange2" placeholder="01/01/2023 - 01/15/2023" />
                                    <a href="javascript:void(0);" id="applyFilter2" class="btn btn-solid" style="padding: 12px 21px;">Export to CSV</a>
                                </div>
                            </div>
                            <div class="card card-table mb-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="mb-3 d-flex justify-content-start align-items-center">
                                                <div class="col-6 me-2">
                                                    <select class="form-control form-select" id="filterBy" name="filterBy">
                                                        <option value="All">All</option>
                                                        <option value="Pending">Pending</option>
                                                        <option value="Processed">Processed</option>
                                                    </select>
                                                </div>
                                                <div class="col-6 me-2">
                                                    <input class="form-control" type="text" name="daterange" value="" id="daterange" placeholder="01/01/2023 - 01/15/2023" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="d-flex justify-content-end align-items-center">
                                                <a href="javascript:void(0);" class="btn btn-solid text-white" id="applyFilter">
                                                    Apply
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        @if (Model.Data != null && Model.Data.Any())
                        {
                            <div class="table-responsive dataTables_wrapper">
                                <div id="table_id_filter" class="dataTables_filter">
                                    @*   <form asp-controller="Admin" asp-action="OrdersList" method="get">
                                        <div style="display:flex; justify-content:end; align-items:center">
                                            <input type="search" name="SearchString" class="me-1" placeholder="Search">
                                            <button class="btn btn-solid" style="padding: 7px 24px;" type="submit" id="button-addon2">
                                                <i style="color:white" data-feather="search"></i>
                                            </button>
                                        </div>
                                    </form> *@
                                </div>
                            </div>
                            <div class="table-responsive" id="wholesaleListSection">

                                <div id="table_id_wrapper" class="dataTables_wrapper no-footer">
                                    <table class="table all-package order-table theme-table dataTable no-footer tr-left" id="table_id">
                                        <thead>
                                            <tr>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Full Name</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Email</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Phone</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">WhatsApp</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Home/City</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Budget In PKR</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Quantity</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Role</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Store URL</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Status</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Slip</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Images</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 170px;">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var quotation in Model.Data)
                                            {
                                                <tr>
                                                    <td>@quotation.Fullname</td>
                                                    <td>@quotation.Email</td>
                                                    <td>@quotation.PhoneNumber</td>
                                                    <td>@quotation.WhatsappPhoneNumber</td>
                                                    <td>@quotation.HomeCity</td>
                                                    <td>@quotation.BudgetInUSD</td>
                                                    <td>@quotation.Quantity</td>
                                                    <td>@quotation.Role</td>
                                                    <td>@quotation.WebsiteURL</td>
                                                   
                                                    <td class="wider-column">
                                                        <div class="dropdown">
                                                            <select class="form-control form-select status-select" data-quotation-id="@quotation.QuotationId">
                                                                <option value="Pending" selected='@(quotation.QuotationStatus == QuotationStatus.Pending)'>Pending</option>
                                                                <option value="Processed" selected='@(quotation.QuotationStatus == QuotationStatus.Processed)'>Processed</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("DownloadFile", "Admin", new { filePath = Url.Content("~/" + quotation.SlipImage) })" title="Download Slip"> <i class="ri-download-cloud-2-fill" style="color:#0DA487"></i></a>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0)" title="View Images"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#imagePopup"
                                                        data-quotation-id="@quotation.QuotationId."
                                                        onclick="openPopup('@quotation.QuotationId')">
                                                            <i class="ri-image-fill" style="color:#0DA487">
                                                            </i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <a href="javascript:void(0)" title="View Detail"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#viewDetail"
                                                                data-quotation-id="@quotation.QuotationId"
                                                                onclick="openViewPopup('@quotation.QuotationId')">
                                                                    <i class="ri-eye-line" style="color:#0DA487">
                                                                    </i>
                                                                </a>
                                                            </li>
                                                           

                                                            <li>
                                                                <a href="#" title="Delete" onclick="confirmDelete('@quotation.QuotationId')">
                                                                    <i class="ri-delete-bin-line" style="color: red"></i>
                                                                </a>
                                                            </li>

                                                        </ul>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                @* Product Image Popup *@

                                <div class="modal" id="imagePopup" tabindex="-1" role="dialog" aria-labelledby="imagePopupLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="viewPopupLabel">Product Images</h3>
                                                <div class="modal-header p-b-25">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div id="imageFile">
                                                    @await Html.PartialAsync("_WholesaleProductImagesPartial", new List<QuotationsProductImages>())
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* WholeSale Detail Popup *@


                                <div class="modal" id="viewDetail" tabindex="-1" role="dialog" aria-labelledby="imagePopupLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="viewPopupLabel">Quotation Information</h3>
                                                <div class="modal-header p-b-25">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <div id="viewdetails">
                                                    @await Html.PartialAsync("_WholesaleViewModel", new Quotations())
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <nav aria-label="Page navigation" class="custome-pagination mt-3 mb-2">
                                    <ul class="pagination justify-content-center">
                                        @if (Model.pageNumber > 1)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Previous">
                                                    <i class="fa-solid fa-angles-left"></i>
                                                </a>
                                            </li>
                                        }

                                        @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                        {
                                            <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                                <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter">@i</a>
                                            </li>
                                        }

                                        @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                        {
                                            <li class="page-item">
                                                <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Next">
                                                    <i class="fa-solid fa-angles-right"></i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                           }
                        else
                        {
                            <div>
                                <h4 class="text-center">Currently, No Data available</h4>
                            </div>
                        }
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel" style="color:black">Delete Quotation</h5>
                <p style="color:black">Are you sure you want to Delete?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                        <button type="button" class="btn btn--no" data-bs-dismiss="modal" style="float:left">No</button>
                        <button type="submit" class="btn  btn--yes btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>

    $(document).ready(function () {
        $('.status-select').change(function () {
            var quotationId = $(this).data('quotation-id');
            var status = $(this).val();

            $.ajax({
                type: 'POST',
                url: '/Admin/UpdateWholesaleStatus', 
                data: {
                    quotationId: quotationId,
                    status: status
                },
                success: function (response) {
                },
                error: function (error) {
                    console.error('Error updating status');
                }
            });
        });
    });

    function confirmDelete(QuotationId) {
        $('#staticBackdrop2').modal('show');
        $('.btn--yes').on('click', function () {
            fetch(`/Admin/DeleteWholesale?QuotationId=${QuotationId}`, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    window.location.href = '/Admin/QuotationList';
                } else {
                    console.error('Error deleting wholesale');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
            $('#staticBackdrop2').modal('hide');
        });

        $('.btn--no').on('click', function () {
            $('#staticBackdrop2').modal('hide');
        });
    }




    $(function () {
        $('#daterange2').daterangepicker({
            opens: 'left'
        });

        $('#applyFilter2').click(function () {
            var dateRange = $('#daterange2').val();

            window.location.href = '/Admin/ExportToCsvWholeales?daterange=' + dateRange;
        });
        $('#daterange').val('');
    });

    $(function () {
        $('#daterange').daterangepicker({
            opens: 'right'
        });

        $('#applyFilter').click(function () {
            var wholesaleStatus = $('#filterBy').val();
            var dateRange = $('#daterange').val();

            var dateRangeParts = dateRange.split(' - ');
            var fromDate = dateRangeParts[0];
            var toDate = dateRangeParts[1];

            window.location.href = '/Admin/QuotationList' +
                '?quotationStatus=' + wholesaleStatus +
                '&from=' + fromDate +
                '&to=' + toDate;
        });
        $('#daterange').val('');
    });

        function openPopup(quotationId) {
            $.ajax({
                url: '/Admin/ShowProductImages', 
                type: 'GET',
                data: { quotationId: quotationId },
                success: function (data) {
                    $('#imageFile').html(data);
                    $('#imagePopup').modal('show');
                },
                error: function () {
                    alert('An error occurred while fetching product images details.');
                }
            });
        }
        function closePopup() {
         document.getElementById('imagePopup').style.display = 'none';
        }

    function openViewPopup(quotationId) {
            $.ajax({
            url: '/Admin/WholesaleDetail',
                type: 'GET',
            data: { quotationId: quotationId },
                success: function (data) {
                $('#viewdetails').html(data);
                $('#viewDetail').modal('show');
                },
                error: function () {
                    alert('An error occurred while fetching wholesale details.');
                }
            });
        }

        function closeViewPopup() {
            document.getElementById('viewDetail').style.display = 'none';
        }

    $(document).ready(function () {
        var selectedValue = "@ViewBag.SelectedFilter"; 

        $('#filterBy').val(selectedValue);
    });


    var notificationMessage = '@TempData["notificationMessage"]';

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }
  
</script>
<style>
    .wider-column .dropdown {
        width: 125px; 
    }

   .wider-column .dropdown select {
            width: 100%; 
   }

    .label-value-pair {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;
    }

        .label-value-pair label {
            flex: 1;
            margin-right: 10px;
            font-weight: bold;
            padding-right: 45px;
        }

        .label-value-pair .value {
            flex: 2;
        }

</style>
