﻿@using LocalDropshipping.Web.Helpers
@model PageResponse<List<ReportViewModel>>

@{
    ViewBag.Title = "FOCFulfillment - Reports";
    Layout = "_LayoutDashboard";
}
<style>
    .theme-table tbody tr td:nth-child(2) {
        padding-top: 14px;
    }

    .theme-table tbody tr td:nth-child(3) {
        padding-top: 14px;
    }

    .theme-table tbody tr td:last-child {
        padding-top: 25px;
    }
</style>
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            @if (Model.Data != null && Model.Data.Any())
            {
                <div class="card card-table">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="mb-3 d-flex justify-content-start align-items-center">
                                    <div class="col-6 me-2">
                                        <input class="form-control" type="text" name="daterange" value="" id="daterange" placeholder="01/01/2023 - 01/15/2023" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="d-flex justify-content-end align-items-center">
                                    <a href="javascript:void(0);" class="btn btn-solid text-white" id="applyFilter">
                                        Apply
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-table">
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="tab-pane fade active show" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                                <div class="dashboard-order">
                                    <div class="title">
                                        <h2>Reports</h2>
                                        <span class="title-leaf title-leaf-gray"></span>
                                    </div>

                                    <div class="order-tab dashboard-bg-box">
                                        <div id="table_id_wrapper" class="dataTables_wrapper no-footer">
                                            <div class="table-responsive">
                                                <table class="table all-package order-table theme-table dataTable no-footer">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Transaction Id</th>
                                                            <th scope="col">Payment Date</th>
                                                            <th scope="col">Amount Paid</th>
                                                            <th scope="col">Account Title</th>
                                                            <th scope="col">Account Number</th>
                                                            <th scope="col">Payment Status</th>
                                                            <th scope="col">Actions</th>
                                                        </tr>
 
                                                    </thead>
                                                    <tbody class="odd" data-bs-toggle="offcanvas">
                                                        @foreach (var report in Model.Data)
                                                        {
                                                            foreach (var withdrawal in report.Withdrawals)
                                                            {
                                                                var profile = Model.Data.SelectMany(r => r.Profiles)
                                                                .FirstOrDefault(p => p.User.Email == withdrawal.UserEmail);

                                                                <tr>
                                                                    <td>@withdrawal.TransactionId</td>
                                                                    <td>@withdrawal.UpdatedDate</td>
                                                                    <td>Rs.@withdrawal.AmountInPkr.ToString("N0")/-</td>
                                                                    <td>@(profile != null ? profile.BankAccountTitle : "")</td>
                                                                    <td>@(profile != null ? profile.BankAccountNumberOrIBAN : "")</td>
                                                                    <td>@withdrawal.PaymentStatus</td>
                                                                    <td>
                                                                        <ul>
                                                                            <li>
                                                                                <a href="javascript:void(0)" title="View Details"
                                                                                   data-bs-toggle="modal"
                                                                                   data-bs-target="#viewPopup"
                                                                                   data-withdrawal-id="@withdrawal.WithdrawalId"
                                                                                   onclick="openViewPopup('@withdrawal.WithdrawalId')">
                                                                                    <i class="ri-eye-line" style="color:#0DA487"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li>
                                                                                <a href="javascript:void(0)" title="Print Invoice"
                                                                                   data-bs-toggle="modal"
                                                                                   data-bs-target="#printPopup"
                                                                                   data-withdrawal-id="@withdrawal.WithdrawalId"
                                                                                   data-withdrawal-email="@withdrawal.UserEmail"
                                                                                   onclick="openPrint('@withdrawal.WithdrawalId','@withdrawal.UserEmail')">
                                                                                    <i class="ri-printer-line" style="color:#0DA487"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="printPopup" tabindex="-1" role="dialog" aria-labelledby="viewPopupLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <input type="hidden" id="withdrawalId" />
                                                    <h5 class="modal-title" id="viewPopupLabel">Transaction Details</h5>
                                                    <div class="modal-header p-b-25">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePrintPopup()" aria-label="Close">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="reportInvoice">
                                                        @await Html.PartialAsync("_RoportInvoice", new TransactionDetailViewModel())
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-solid text-white" id="downloadPdfButton" onclick="printReport()">
                                                        Print&nbsp;/&nbsp;Download
                                                    </button>
                                                    <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePrintPopup()">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="viewPopup" tabindex="-1" role="dialog" aria-labelledby="viewPopupLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="viewPopupLabel">Transaction Details</h5>
                                                    <div class="modal-header p-b-25">
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closeViewPopup()" aria-label="Close">
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="modal-body">
                                                    <div id="transactionDetailsPartial">
                                                        @await Html.PartialAsync("_TransactionDetailsPartialView", new List<TransactionDetailItemViewModel>())
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closeViewPopup()">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <nav aria-label="Page navigation" class="custome-pagination mt-2">
                                        <ul class="pagination justify-content-center">
                                            @if (Model.pageNumber > 1)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&filterBy=@Model.PaymentStatus&from=@Model.From&to=@Model.To" aria-label="Previous">
                                                        <i class="fa-solid fa-angles-left"></i>
                                                    </a>
                                                </li>
                                            }

                                            @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                            {
                                                <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                                    <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&filterBy=@Model.PaymentStatus&from=@Model.From&to=@Model.To">@i</a>
                                                </li>
                                            }

                                            @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&filterBy=@Model.PaymentStatus&from=@Model.From&to=@Model.To" aria-label="Next">
                                                        <i class="fa-solid fa-angles-right"></i>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <h4 class="text-center">Currently, there is no payment withdrawal history!</h4>
                </div>
            }
           
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script src="  https://printjs-4de6.kxcdn.com/print.min.js"></script>

<script>

    function openPrint(withdrawalId, UserEmail) {
        $('#withdrawalId').val(withdrawalId);
        $('#UserEmail').val(UserEmail);
        $.ajax({
            url: '/Admin/GenerateInvoice',
            type: 'GET',
            data: { withdrawalId: withdrawalId, UserEmail, UserEmail },
            success: function (data) {
                $('#reportInvoice').html(data);
                $('#printPopup').modal('show');
            },
            error: function () {
                alert('An error occurred while fetching transaction details.');
            }
        });
    }

    function openViewPopup(withdrawalId) {
        $.ajax({
            url: '/Admin/ViewReport',
            type: 'GET',
            data: { withdrawalId: withdrawalId },
            success: function (data) {
                $('#transactionDetailsPartial').html(data);
                $('#viewPopup').modal('show');
            },
            error: function () {
                alert('An error occurred while fetching transaction details.');
            }
        });
    }

    function closeViewPopup() {
        document.getElementById('viewPopup').style.display = 'none';
    }

    function closePrintPopup() {
        document.getElementById('printPopup').style.display = 'none';
    }

    function printReport() {
        printJS({
            printable: 'reportInvoice',
            type: 'html'
        });
    }

    $(function () {
        $('#daterange').daterangepicker({
            opens: 'right'
        });

        $('#applyFilter').click(function () {
            var paymentStatus = $('#filterBy').val();
            var dateRange = $('#daterange').val();

            var dateRangeParts = dateRange.split(' - ');
            var fromDate = dateRangeParts[0];
            var toDate = dateRangeParts[1];

            window.location.href = '/Admin/Reports' +
                '?from=' + fromDate +
                '&to=' + toDate;
        });
        $('#daterange').val('');
    });


    var notificationMessage = '@TempData["notificationMessage"]';


    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }

</script>
<script>

</script>

<style>
    
    .daterangepicker .drp-buttons .drp-selected .applyBtn {
        background-color: #0DA487;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        margin-top: 5px;
        padding: 2px 4px;
    }

   
    .daterangepicker .drp-buttons .drp-selected .cancelBtn {
        background-color: #333;
        color: #000000; 
        font-size: 14px;
        font-weight: 500;
        padding: 2px 4px;
    }

    .daterangepicker td.active {
        background-color: #0DA487;
    }

    .daterangepicker td.active:hover {
        background-color: #0DA487;
        border-color: transparent;
        color: #fff;
    }
    select .form-select option:hover{
        background-color: #0DA487;
    }
</style>