﻿@using LocalDropshipping.Web.Data.Entities;
@model List<Category>;
@{
    ViewBag.Title = "FOCFulfillment - Update Category";
    Layout = "_LayoutDashboard";
}

<div class="page-body">

    <!-- New Product Add Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-header-2">
                                    <h5>Update Your Category Information</h5>
                                </div>

                                <form class="theme-form theme-form-2 mega-form" asp-action="UpdateCategory" asp-controller="Admin" method="post">
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Enter updated category name" name="Name">
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">
                                            Category
                                            Image Link
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Enter updated category imagelink" name="ImagePath">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 justify-content-center" type="submit">
                                            Click Here To Add
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Product Add End -->
    <!-- footer Start -->
    <div class="container-fluid">
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                    <p class="mb-0">Copyright ©2023 FOCFulfillment - All Rights Reserved. Powered By: <a href="https://tetrasol.net" target="_blank">TetraSol</a></p>
                </div>
            </div>
        </footer>
    </div>
    <!-- footer En -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>

<script>

    var notificationMessage = '@TempData["notificationMessage"]';

    console.log(notificationMessage);

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 2000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }
</script>