﻿
@model FocSettingViewModel;

@{
    ViewBag.Title = "FocFulfillment - FOC-Settings";
    Layout = "_LayoutDashboard";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <h5>Foc Settings</h5>
                                </div>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                        <form asp-action="UpdateNews" asp-controller="Admin" method="post" class="theme-form theme-form-2 mega-form">
                                            <div class="row">
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-lg-2 col-md-3 mb-0">
                                                        Value
                                                    </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        @* <input class="form-control" type="textarea" asp-for="value" role="alert"> *@
                                                        <textarea class="form-control" asp-for="value" rows="5" role="alert">@Model.value</textarea>
                                                        <span asp-validation-for="value" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100 justify-content-center" type="submit">
                                                        Click Here To Add
                                                    </button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>