﻿@model AddWalletViewModel
@{
    ViewBag.Title = "FOCFulfillment - Add Wallet";
    Layout = "_LayoutDashboard";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-8 m-auto">
                        <div class="card">
                            <div class="card-body">
                                <div class="title-header option-title">
                                    <h5>Add Wallet</h5>
                                </div>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel">
                                        <form asp-action="Wallet" asp-controller="Admin" method="post" class="theme-form theme-form-2 mega-form">
                                            <div class="row">
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-lg-2 col-md-3 mb-0">
                                                        Email
                                                    </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" asp-for="Email">
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="col-lg-2 col-md-3 col-form-label form-label-title">
                                                        Amount
                                                    </label>
                                                    <div class="col-md-9 col-lg-10">
                                                        <input class="form-control" asp-for="Amount">
                                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100 justify-content-center" type="submit">
                                                        Add Wallet
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>
    var notificationMessage = '@TempData["notificationMessage"]';
    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 1000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }
</script>
