﻿@using LocalDropshipping.Web.Data.Entities;
@using LocalDropshipping.Web.Helpers;
@model PageResponse<List<AddWithdrawalUserViewModel>>

@{
    ViewBag.Title = "FOCFulfillment - Withdrawal";
    Layout = "_LayoutDashboard";
}
<style>
    .theme-table tbody tr td:nth-child(2) {
        padding-top: 14px;
    }

    .theme-table tbody tr td:nth-child(3) {
        padding-top: 14px;
    }

    .theme-table tbody tr td:last-child {
        padding-top: 25px;
    }
</style>
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            @if (Model.Data != null && Model.Data.Any())
            {
               
                <div class="card card-table">
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="tab-pane fade active show" id="pills-order" role="tabpanel" aria-labelledby="pills-order-tab">
                                <div class="dashboard-order">
                                    <div class="title-header option-title">
                                        <h2>All Withdrawals</h2>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <input style="width: 250px" class="form-control me-1" type="text" name="daterange" value="" id="daterange2" placeholder="01/01/2023 - 01/15/2023" />
                                            <a href="javascript:void(0);" id="applyFilter2" class="btn btn-solid" style="padding: 12px 21px;">Export to CSV</a>
                                        </div>
                                    </div>
                                    <div class="card card-table mb-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <div class="mb-3 d-flex justify-content-start align-items-center">
                                                        <div class="col-6 me-2">
                                                            <select class="form-control form-select" id="filterBy" name="filterBy">
                                                                <option value="All">All</option>
                                                                <option value="Paid">Paid</option>
                                                                <option value="Unpaid">Unpaid</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6 me-2">
                                                            <input class="form-control" type="text" name="daterange" value="" id="daterange" placeholder="01/01/2023 - 01/15/2023" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="d-flex justify-content-end align-items-center">
                                                        <a href="javascript:void(0);" class="btn btn-solid text-white" id="applyFilter">
                                                            Apply
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive dataTables_wrapper">
                                        <div id="table_id_filter" class="dataTables_filter">
                                            <form asp-controller="Admin" asp-action="Withdrawal" method="get">
                                                <div style="display:flex; justify-content:end; align-items:center">
                                                    <input type="search" name="SearchString" class="me-1" placeholder="Search">
                                                    <button class="btn btn-solid" style="padding: 7px 24px;" type="submit" id="button-addon2">
                                                        <i style="color:white" data-feather="search"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="order-tab dashboard-bg-box">
                                        <div id="table_id_wrapper" class="dataTables_wrapper no-footer">
                                            <div class="table-responsive">
                                                <table class="table all-package order-table theme-table dataTable no-footer">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">
                                                                @Html.ActionLink("Vendor/Seller", "Withdrawal","Admin", new { sorting =  ViewBag.NameSortParm, searchString=ViewBag.CurrentFilter })
                                                                <i class="fas fa-sort"></i>
                                                            </th>
                                                            <th scope="col">AmountInPkr</th>
                                                            <th scope="col">Payment Status</th>
                                                            <th scope="col">Processed By</th>
                                                            <th scope="col">
                                                                @Html.ActionLink("CreatedDate", "Withdrawal","Admin", new { sorting =  ViewBag.DateSortParm, searchString=ViewBag.CurrentFilter })
                                                                <i class="fas fa-sort"></i>
                                                            </th>
                                                            <th scope="col">Account Title</th>
                                                            <th scope="col">Account no</th>
                                                            <th scope="col">Bank Name</th>
                                                            <th scope="col">Option</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="odd" data-bs-toggle="offcanvas">
                                                        @foreach (var order in Model.Data)
                                                        {
                                                            <tr>
                                                                <td>@order.UserEmail</td>
                                                                <td>Rs.@order.AmountInPkr.ToString("N0")/-</td>
                                                                <td>@order.paymentStatus</td>
                                                                <td>@order.ProcessedBy</td>
                                                                <td>@order.CreatedDate.ToString("MMM dd yyyy")</td>
                                                                <td>@order.AccountTitle</td>
                                                                <td>@order.BankAccountNumberOrIBAN</td>
                                                                <td>@order.BankName</td>
                                                                <td>
                                                                    <button class="btn btn-primary btn-pay text-white"
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#payPopup"
                                                                            data-withdrawal-id="@order.WithDrawalId"
                                                                            data-amount-in-pkr="@order.AmountInPkr"
                                                                            onclick="openPopup(this)" type="button">
                                                                        Pay
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                                <div id="payPopup" class="modal" style="display: none;">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header p-b-25">
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="closePopup()" aria-label="Close">
                                                                    @* <i class="fa-solid fa-xmark"></i> *@
                                                                </button>
                                                            </div>
                                                            <form id="paymentForm" method="post" asp-action="Withdrawal" asp-controller="Admin">
                                                                <input type="hidden" name="WithdrawalId" id="WithdrawalIdHidden" />
                                                                <input type="hidden" name="currentPage" value="@Model.pageNumber" />
                                                                <div class="modal-body">
                                                                    <div class="deal-offer-box">
                                                                        <div class="form-group">
                                                                            <label for="withdrawalId">WithdrawalID:</label>
                                                                            <input type="number" name="WithdrawalId" class="form-control" disabled id="withdrawalId" placeholder="Withdrawal Id">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="AmountInPkr">AmountInPkr:</label>
                                                                            <input type="number" name="AmountInPkr" class="form-control" disabled id="AmountInPkr" placeholder="Amount In Pkr">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="PaymentStatus">Payment Staus</label>
                                                                            <select class="form-select form-control" name="PaymentStatus" id="PaymentStatus">
                                                                                <option value="Unpaid">Unpaid</option>
                                                                                <option value="Paid">Paid</option>
                                                                            </select>
                                                                        </div>
                                                                        <br />
                                                                        <div class="form-group">
                                                                            <label for="TransactionId">TransactionID:</label>
                                                                            <input type="text" name="TransactionId" class="form-control" id="TransactionId" placeholder="TransactionID">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="Reason">Reason:</label>
                                                                            <textarea class="form-control" name="Reason" id="Reason" rows="4" placeholder="Reason"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" onclick="closePopup()">Close</button>
                                                                        <button type="submit" class="btn btn-solid text-white" onclick="closePopup()">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <nav aria-label="Page navigation" class="custome-pagination mt-2">
                                        <ul class="pagination justify-content-center">
                                            @if (Model.pageNumber > 1)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="?pageNumber=@(Model.pageNumber - 1)&pageSize=@Model.pageSize&filterBy=@Model.PaymentStatus&from=@Model.From&to=@Model.To&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Previous">
                                                        <i class="fa-solid fa-angles-left"></i>
                                                    </a>
                                                </li>
                                            }

                                            @for (int i = 1; i <= Math.Ceiling((double)Model.totalCount / Model.pageSize); i++)
                                            {
                                                <li class="page-item @(i == Model.pageNumber ? "active" : "")">
                                                    <a class="page-link" href="?pageNumber=@i&pageSize=@Model.pageSize&filterBy=@Model.PaymentStatus&from=@Model.From&to=@Model.To&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter">@i</a>
                                                </li>
                                            }

                                            @if (Model.pageNumber < Math.Ceiling((double)Model.totalCount / Model.pageSize))
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" href="?pageNumber=@(Model.pageNumber + 1)&pageSize=@Model.pageSize&filterBy=@Model.PaymentStatus&from=@Model.From&to=@Model.To&sortOrder=@ViewBag.CurrentSort&currentFilter=@ViewBag.CurrentFilter" aria-label="Next">
                                                        <i class="fa-solid fa-angles-right"></i>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    <h4 class="text-center">Currently, you have no Withdrawals requests!</h4>
                </div>
            }

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/backend-assets/js/notify/bootstrap-notify.min.js"></script>
<script>
    function openPopup(button) {
        var withdrawalId = button.getAttribute('data-withdrawal-id');
        var amountInPkr = button.getAttribute('data-amount-in-pkr');

        document.getElementById('WithdrawalIdHidden').value = withdrawalId;
        document.getElementById('withdrawalId').value = withdrawalId;
        document.getElementById('AmountInPkr').value = amountInPkr;

        document.getElementById('payPopup').style.display = 'block';

    }

    function closePopup() {
        document.getElementById('payPopup').style.display = 'none';
    }

    function confirmPayment() {
        closePopup();
    }

    $(function () {
        $('#daterange').daterangepicker({
            opens: 'right'
        });

        $('#applyFilter').click(function () {
            var paymentStatus = $('#filterBy').val();
            var dateRange = $('#daterange').val();

            var dateRangeParts = dateRange.split(' - ');
            var fromDate = dateRangeParts[0];
            var toDate = dateRangeParts[1];

            window.location.href = '/Admin/Withdrawal' +
                '?paymentStatus=' + paymentStatus +
                '&from=' + fromDate +
                '&to=' + toDate;
        });
        $('#daterange').val('');
    });


    $(function () {
        $('#daterange2').daterangepicker({
            opens: 'left'
        });

        $('#applyFilter2').click(function () {
            var dateRange = $('#daterange2').val();

            window.location.href = '/Admin/ExportToCsvWithdrawal?daterange=' + dateRange;
        });
        $('#daterange').val('');
    });


    var notificationMessage = '@TempData["notificationMessage"]';

    if (notificationMessage) {
        var notify = $.notify('<i class="fas fa-bell"></i> ' + notificationMessage, {
            type: 'theme',
            allow_dismiss: true,
            delay: 2000,
            showProgressbar: true,
            timer: 100,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutUp'
            }
        });

        '@TempData.Remove("notificationMessage")';
    }

</script>
