﻿@media screen and (max-width:1199px) {
    .offcanvas {
        top: 0;
    }
}

@media (min-width: 1200px) {
    .d-lg-none {
        display: none !important;
    }

    header .header-top-shop {
        padding-bottom: 0px;
    }
}

.show-button {
    padding-left: 15px;
    padding-right: 15px;
}

header .header-top.header-shop {
    padding: 5px 0px 1px 0px !important;
}
.section-bg {
    background-color: #f5f5f5;
    padding-bottom: 15px;
    padding-top: 15px;
}

.log-in-section {
    padding-top: 45px;
    padding-bottom: 85px;
}
/*@media screen and (min-width:1400px) {
     .log-in-section .this-row {
    margin-top: -146px;
} 
}*/
.cart-nav .navbar-nav .nav-item .nav-link {
    padding: 12px 8px;
}


.list-style .product-detail {
    padding-left: 20px;
}
.list-style .product-detail .name {
    margin:-8px 0px 6px !important;
}
    .list-style .product-detail .btn-list {
        max-width: 153px;
    }