﻿@import url('https://fonts.cdnfonts.com/css/womby');





.underline-text-color {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, #eb2f5b 80%);
    background-size: 100px 1.2em;
}

.bg-image {
    background-repeat: no-repeat;
    padding-top: 120px !important;
    padding-bottom: 280px !important;
    transition: opacity .5s ease;
    background-size: cover !important;
    background: url(/assets/images/landing-page/home-bg.jpg),linear-gradient(rgb(36 36 36 / 50%),rgb(8 8 8 / 49%));
    background-blend-mode: darken;
}

.landing-heading h1 {
    font-size: 48px;
    color: #000000;
    text-align: center;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    padding-left: 13%;
    padding-right: 13%;
    letter-spacing: -2.9px;
}

@media screen and (max-width:768px) {
    .landing-heading h1 {
        font-size: 42px;
    }
}

@media screen and (max-width:565px) {
    .landing-heading h1 {
        font-size: 35px;
    }
}






.ivan-custom-wrapper .to-center {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.dt-sc-button.button-3d {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 6px;
    padding: 18px 47px;
    height: 62px;
    background: #0d8dd6;
    border-radius: 0;
    box-shadow: 0 8px 0 #fff;
    position: relative;
    top: 0;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: all 0.05s ease-out;
    -moz-transition: all 0.05s ease-out;
    transition: all 0.05s ease-out;
    font-weight: 800;
}

.dt-sc-button {
    border: medium none;
    border-radius: 3px;
    font-weight: bold;
    line-height: 50px;
    margin: 10px 0 0;
    overflow: visible;
    padding: 5px 30px;
    text-align: center;
    text-transform: uppercase;
}

    .dt-sc-button.button-3d:hover {
        color: white;
        box-shadow: 0 2px 0 #fff;
        top: 6px;
    }

.vc_1696599893716 a {
    color: #ffffff !important;
    background-color: #ff4f4f !important;
    border-color: #c94fea !important;
}

.landing-button {
    padding-top: 44px;
    bottom: -55px;
}

.ivan-title-wrapper .title-wrapper .sub {
    margin: 0 0 25px 0;
    color: #fff;
    line-height: 1.3;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.2em;
    font-weight: 400;
}

.ivan-title-wrapper .title-heading {
    margin: 0 0 40px;
    color: #111;
    text-transform: uppercase;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    font-size: 36px;
}

.landing-2 {
    width: 1270px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #0da487;
}

.landing-cols {
    padding: 15px;
}

    .landing-cols iframe {
        height: 360px;
        margin-top: 70px;
        margin-bottom: 70px;
    }

.landing-2-main {
    position: relative;
    z-index: 1;
    top: -124px;
}

.wpb_text_column p {
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2.1;
    color: #fff;
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    padding-right: 52px;
    letter-spacing: 0.7px;
}

@media screen and (max-width:565px) {
    .wpb_text_column p {
        padding-right: 20px;
    }
}

.wpb_text_column .wpb_content_element-1 .wpb_wrapper p {
    padding-right: 111px;
}

.landing-cols-2 {
    padding-top: 2% !important;
    padding-bottom: 5% !important;
    padding-left: 3% !important;
}

.ivan-button.primary-bg {
    background-color: #eb2f5b;
    border-color: #eb2f5b;
    color: #fff;
}

    .ivan-button.primary-bg:hover {
        background-color: #fed841;
        border-color: #fed841;
        color: #fff;
    }

.ivan-button {
    padding: 13px 6px;
    border-radius: 100px;
}

    .ivan-button .text-btn {
        display: inline-block;
        vertical-align: middle;
        padding: 0 25px 2px 25px;
        font-family: "Womby", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 800;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: 0.3px;
    }

.accent-color {
    color: #eb2f5b;
    -webkit-text-fill-color: #eb2f5b;
}

.wpb_content_element-h h3 {
    font-size: 28px;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #111;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.wpb_row {
    padding-left: 70px;
    padding-right: 70px;
}

.wpb_wrapper-div {
    padding-right: 4% !important;
    padding-bottom: 50px !important;
    padding-left: 4% !important;
}

.wpb_content_element-h p {
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #777;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: -0.1px;
    padding-right: 0px;
}

.landing-faq-heading h2 {
    margin: 25px 0 45px;
    color: #111;
    text-transform: uppercase;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    font-size: 36px;
}

.animate-heading h2, h3, h1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ffa53b, #ffa53b 50%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

.animate-heading-1 h3 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ffa53b, #ffa53b 50%, #222222 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

    .animate-heading-1 h3:hover {
        background-position: 0 100%;
        cursor: default;
    }

.animate-heading-2 h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ffa53b, #ffa53b 50%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

    .animate-heading-2 h2:hover {
        background-position: 0 100%;
        cursor: default;
    }

.animate-heading h2:hover {
    background-position: 0 100%;
    cursor: default;
}

.animate-heading h3:hover {
    background-position: 0 100%;
    cursor: default;
}

.animate-heading h1:hover {
    background-position: 0 100%;
    cursor: default;
}

header h3 {
    -webkit-text-fill-color: #222;
}

@media screen and (max-width:575px) {
    .landing-2 {
        flex-direction: column-reverse;
        max-width: -webkit-fill-available;
        margin-left: 0px;
        margin-right: 0px;
    }

    .landing-cols {
        padding-right: 17px;
        padding-left: 26px;
    }

    .wpb_row {
        padding-left: 20px;
        padding-right: 20px;
    }

    .landing-cols-2 {
        padding-left: 7% !important;
        padding-top: 8% !important;
    }

    .landing-cols iframe {
        margin-top: 0px;
    }

    .landing-cols .row {
        padding-left: 0px !important;
    }

    .bg-image {
        padding-bottom: 180px !important;
    }

    .landing-2-main {
        top: 0px;
    }
}

@media screen and (max-width:768px) and (min-width:566px) {
    .wpb_row {
        padding-left: 24px;
        padding-right: 24px;
    }

    .wpb_content_element-h h3 {
        font-size: 21px;
    }

    header .top-nav {
        padding: 24px 0 24px;
    }
}

.landing-workflow {
    max-width: 1300px;
    padding-top: 65px;
    padding-bottom: 64px;
}

    .landing-workflow img {
        width: -webkit-fill-available;
        max-width: 1024px;
    }


.landing-service h2 {
    margin: 0 0 40px;
    color: #111;
    text-transform: uppercase;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    font-size: 36px;
}

.landing-service p {
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-size: 18px;*/
    font-size: 23px;
    font-weight:1000;
    /*font-weight: 400;*/
    line-height: 1.8;
    color: #777;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: -0.1px;
}

.landing-workflow h2 {
    margin: 20px 0 80px;
    color: #111;
    text-transform: uppercase;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    font-size: 36px;
}

.landing-workflow p {
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #777;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: -0.1px;
    margin-bottom: 30px;
    margin-top: 85px;
}

.landing-service {
    max-width: 1300px;
    padding-top: 55px;
    padding-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.landing-5 {
    padding-top: 100px;
    padding-bottom: 45px;
}

.landing-service h2 {
    margin: 35px 0 40px;
    color: #111;
    text-transform: uppercase;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
    font-size: 36px;
}

.animate-heading-1 h2:hover {
    background-position: 0 100%;
    cursor: default;
}

.animate-heading-1 h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ffa53b, #ffa53b 50%, #222222 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

.faq-box-contain .faq-accordion .accordion .accordion-item .accordion-collapse .accordion-body p {
    font-size: 18px;
}

.faq-box-contain .faq-accordion .accordion {
    gap: calc(25px + (24 - 15) * ((100vw - 320px) / (1920 - 320)));
}

    .faq-box-contain .faq-accordion .accordion .accordion-item .accordion-header .accordion-button {
        padding: calc(17px + (16 - 12) * ((100vw - 320px) / (1920 - 320))) calc(12px + (20 - 12) * ((100vw - 320px) / (1920 - 320)));
    }

    .faq-box-contain .faq-accordion .accordion .accordion-item .accordion-header .accordion-button {
        font-size: calc(17px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    }

.slick-slider .slick-list .slick-slide > div, .slick-slider .slick-list .slick-slide > a {
    background-color: #f8f8f8;
}

.review-section {
    background-color: #ffffff;
}

@media screen and (max-width:767px) {
    header .top-nav {
        padding: 24px 0;
    }
}

.animate-heading-4 h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ffa53b, #ffa53b 50%, #0da487 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

    .animate-heading-4 h2:hover {
        background-position: 0 100%;
        cursor: default;
    }

.faq-box-contain {
    padding-bottom: 75px;
}

.landing-service-image {
    padding-top: 18px;
    /*padding-top: 30px;*/
    padding-bottom: 60px;
}

    .landing-service-image img {
        width: -webkit-fill-available;
        max-width: 440px;
        /*max-width: 665px;*/
        border-radius: 21px;
        transition: 0.5s ease-in-out;
        box-shadow: 2px 8px 12px #aaaaaa75;
    }
    .landing-service-image img:hover {
            box-shadow: 2px 8px 8px #aaaaaa75;
    }

@media screen and (max-width:1441px) {
    .dt-sc-button.button-3d {
        font-size: 11px;
        padding: 14px 25px;
        box-shadow: 0 6px 0 #fff;
    }

    .landing-service-image img {
        width: -webkit-fill-available;
        max-width: 455px;
    }
}

@media screen and (max-width:768px) {
    .land-service-row {
        flex-direction: column-reverse;
    }
}
