﻿
@import url('https://fonts.cdnfonts.com/css/womby');




.local-china-1 {
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #0da487;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.local-china-1-text h1 {
    font-size: 30px;
    line-height: 1.3;
    color: #fff;
    font-weight: 800;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1.9px;
    word-spacing: 3px;
}
@media screen and (min-width:1441px) {
    .local-china-1-text h1 {
        font-size: 50px;
    }
}

.animate-heading h1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ffa53b, #ffa53b 50%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.8s ease;
    text-decoration: none;
}

    .animate-heading h1:hover {
        background-position: 0 100%;
        cursor: default;
    }

.dt-sc-button.button-3d {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-top: 6px;
    padding: 18px 47px;
    height: 62px;
    background: #0d8dd6;
    border-radius: 0;
    box-shadow: 0 8px 0 #fff;
    position: relative;
    top: 0;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: all 0.05s ease-out;
    -moz-transition: all 0.05s ease-out;
    transition: all 0.05s ease-out;
    font-weight: 800;
}
@media screen and (max-width:1441px){
    .dt-sc-button.button-3d {
        font-size: 11px;
        padding: 14px 25px;
        box-shadow: 0 6px 0 #fff;
    }
    .landing-button {
        margin-top: 45px !important;
    }
}

    .dt-sc-button.button-3d:hover {
        color: white;
        box-shadow: 0 2px 0 #fff;
        top: 6px;
    }

.vc_1696599893716 a {
    color: #ffffff !important;
    background-color: #ff4f4f !important;
    border-color: #c94fea !important;
}

.dt-sc-button {
    border: medium none;
    border-radius: 3px;
    font-weight: bold;
    line-height: 50px;
    margin: 10px 0 0;
    overflow: visible;
    padding: 5px 30px;
    text-align: center;
    text-transform: uppercase;
}

.landing-button {
    margin-top: 60px;
}

.local-china-2 h2 {
    margin: 0 0 40px;
    color: #111;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.local-china-2 p {
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: #777;
    -webkit-font-smoothing: subpixel-antialiased;
    letter-spacing: -0.1px;
    padding-right: 0px;
    max-width: 1336px;
    margin-left: auto;
    margin-right: auto;
}

.animate-heading-2 h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ffa53b, #ffa53b 50%, #222222 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

    .animate-heading-2 h2:hover {
        background-position: 0 100%;
        cursor: default;
    }


.local-china-3 h2 {
    margin: 0 0 80px !important;
    color: #ff4f4f;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.local-china-3 {
    padding: 0px 0px 75px;
}

    .local-china-3 p {
        font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        color: #777;
        -webkit-font-smoothing: subpixel-antialiased;
        letter-spacing: -0.1px;
        padding-right: 0px;
    }

@media screen and (max-width:565px) {
    .local-china-1-text h1 {
        font-size: 40px;
    }

    .local-3-row {
        flex-direction: column;
    }
}

@media screen and (max-width:1024px) and (min-width:566px) {
    .local-china-1-text h1 {
        font-size: 50px;
    }
}

.local-3-row h2 {
    margin-bottom: -1px !important;
}

.local-3-row p {
    margin-bottom: 30px;
}

.local-china-2 {
    padding: 91px 15px 60px;
}


.fulfill-2-row p {
    font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #777;
    max-width: 690px;
    margin: 0px auto 0px;
}

.fulfill-2-row h2 {
    margin-bottom: 30px !important;
    color: #0da487;
}

.fulfill-2-row {
    margin-bottom: 50px;
}



.fulfill-h-p {
    padding-top: 90px;
    background-color: #f8f8f8;
}

.fulfill-3 h2 {
    color: #ffa53b;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Womby', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.fulfill-3 {
    padding: 90px 0 35px;
    background-color: #fff;
}
.animate-heading-4 h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #ffa53b, #ffa53b 50%, #0da487 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}
    .animate-heading-4 h2:hover {
        background-position: 0 100%;
        cursor: default;
        }

.animate-heading-5 h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #222222, #222222 50%, #ffa53b 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
}

    .animate-heading-5 h2:hover {
        background-position: 0 100%;
        cursor: default;
    }
.animate-heading-6 h1 {

    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #0da487, #0da487 50%, #4a5568 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.8s ease;
    text-decoration: none;
}
.animate-heading-6 h1:hover {
    background-position: 0 100%;
    cursor: default;
}
  
